.s {
   color: #D13D44;
}

.na {
   color: #2D78A4;
}

.nt {
    color: #285C86;
}

pre {
   border-radius: 4px;
   color: #333333;
   display: block;
   font-size: 13px;
   line-height: 1.42857143;
   margin: 0;
   padding: 9.5px;
   word-break: break-all;
   word-wrap: break-word;
}

pre code {
   background-color: transparent;
   border-radius: 0;
   color: inherit;
   font-size: inherit;
   padding: 0;
   white-space: pre-wrap;
}

.highlight pre {
   background-color: transparent;
   border: 0;
   margin-bottom: 0;
   margin-top: 0;
   padding: 0;
   white-space: nowrap;
   word-break: normal;
}
