node_modules
build
npm-debug.log
yarn-error.log
.astro
.idea
_site
.sass-cache
dist
.vscode
public
.cache
docs
.eslintcache
.DS_Store
package-lock.json
packages/envision-docs/static/sitevision

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
