@use 'sass:meta';
@use 'sass:string';
@use 'sass:color';
@use 'sass:math';

@function adjustLightness($color, $amount) {
   // Color should be adjusted lighter/darker
   // and then returned as a hex string
   $color: color.adjust($color, $lightness: $amount);
   @if (string.index('#{$color}', '#') == 1) {
      // Adjusted color is HEX
      @return $color;
   }
   @if (string.index('#{$color}', 'rgb(') == 1) {
      // Adjusted color is RGB
      @return string.unquote(
         '#' + string.to-lower-case(string.slice(color.ie-hex-str($color), 4))
      );
   }
   // Adjusted color is some other format (should not happen)
   @return $color;
}

@function str-replace($string, $search, $replace: '') {
   $index: string.index($string, $search);

   @if $index {
      @return string.slice($string, 1, $index - 1) + $replace +
         str-replace(
            string.slice($string, $index + string.length($search)),
            $search,
            $replace
         );
   }

   @return $string;
}

@function em($px, $base: 16px) {
   $em: math.div($px, $base) * 1em;
   @return $em;
}
