.env-border {
   border: $border-width $border-style css-var('border-color');

   &-none {
      border: none !important;
   }

   $logicalProps: 'block', 'inline', 'block-start', 'inline-end', 'block-end',
      'inline-start';

   @each $p in $logicalProps {
      &-#{$p} {
         border-#{$p}-width: $border-width;
         border-#{$p}-style: $border-style;
         border-#{$p}-color: css-var('border-color');
      }
   }

   &--05 {
      border-color: css-var('border-color-light');
   }
}

// ===== DEPRECATED =====
// Usage of --{p}-0-modifier is deprecated since 2023.11.1
// Usage of physical properties top, right etc. is deprecated since 2023.11.1

[class^='env-border--t-0'],
[class^='env-border--r-0'],
[class^='env-border--b-0'],
[class^='env-border--l-0'] {
   // Uses "starts with" selector for legacy reasons.
   border: $border-width $border-style css-var('border-color');
}

.env-border {
   &--0 {
      border: 0 !important;
   }

   &--t-0 {
      border-top: 0 !important;
   }

   &--r-0 {
      border-right: 0 !important;
   }

   &--b-0 {
      border-bottom: 0 !important;
   }

   &--l-0 {
      border-left: 0 !important;
   }

   $physicalProps: 'top', 'right', 'bottom', 'left';
   @each $p in $physicalProps {
      &-#{$p} {
         border-#{$p}: $border-width
            $border-style
            css-var('border-color') !important;
      }
   }
}
