[class^='env-border--'] {
   border: $border-width $border-style css-var('border-color');
}

.env-border--0 {
   border: 0 !important;
}
.env-border--t-0 {
   border-top: 0 !important;
}
.env-border--r-0 {
   border-right: 0 !important;
}
.env-border--b-0 {
   border-bottom: 0 !important;
}
.env-border--l-0 {
   border-left: 0 !important;
}

.env-border {
   border: $border-width $border-style css-var('border-color') !important;
}
.env-border-top {
   border-top: $border-width $border-style css-var('border-color') !important;
}
.env-border-right {
   border-right: $border-width $border-style css-var('border-color') !important;
}
.env-border-bottom {
   border-bottom: $border-width $border-style css-var('border-color') !important;
}
.env-border-left {
   border-left: $border-width $border-style css-var('border-color') !important;
}
