[class^="#{$prefix}-border--"] {
   border: $default-border;
}

.#{$prefix}-border--0 { border: 0 !important; }
.#{$prefix}-border--t-0 { border-top: 0 !important; }
.#{$prefix}-border--r-0 { border-right: 0 !important; }
.#{$prefix}-border--b-0 { border-bottom: 0 !important; }
.#{$prefix}-border--l-0 { border-left: 0 !important; }

.#{$prefix}-border { border: $default-border !important; }
.#{$prefix}-border-top { border-top: $default-border !important; }
.#{$prefix}-border-right { border-right: $default-border !important; }
.#{$prefix}-border-bottom { border-bottom: $default-border !important; }
.#{$prefix}-border-left { border-left: $default-border !important; }
