$variableNames: 'brand', 'success', 'warning', 'danger', 'info', 'base',
   'darker', 'dark', 'normal', 'light', 'lighter', 'lightest', 'hover';

@each $name in $variableNames {
   .env-color--#{$name} {
      color: css-var('color-#{$name}') !important;
   }
   .env-bg-color--#{$name},
   .env-bg-color--#{$name}--80,
   .env-bg-color--#{$name}--60,
   .env-bg-color--#{$name}--40,
   .env-bg-color--#{$name}--20,
   .env-bg-color--#{$name}--10 {
      background-color: css-var('color-#{$name}');
   }
}

.env-block {
   @include color-block();
}

.env-block-primary {
   @include color-block('primary');
}

.env-block-secondary {
   @include color-block('secondary');
}
