$flexDirectionValues: row-reverse column column-reverse;
@each $value in $flexDirectionValues {
   .#{$prefix}-flex--#{$value} {
      flex-direction: $value;
   }
}

@function getShortValue($value) {
   $start: str-index($value, '-');
   @return if($start, str-slice($value, $start + 1), $value);
}

$justifyContentValues: flex-end center space-between space-around;
@each $value in $justifyContentValues {
   $shortValue: getShortValue($value);
   .#{$prefix}-justify-content--#{$shortValue} {
      justify-content: $value;
   }
}

$alignItemsValues: stretch center flex-start flex-end baseline;
@each $value in $alignItemsValues {
   $shortValue: getShortValue($value);
   .#{$prefix}-align-items--#{$shortValue} {
      align-items: $value;
   }
}

$alignSelfValues: stretch center flex-start flex-end baseline;
@each $value in $alignSelfValues {
   $shortValue: getShortValue($value);
   .#{$prefix}-align-self--#{$shortValue} {
      align-self: $value;
   }
}

@for $i from 1 through 10 {
   .#{$prefix}-flex-length--#{$i} {
      flex: $i;
   }
}

@for $i from 1 through 10 {
   .#{$prefix}-flex-grow--#{$i} {
      flex-grow: $i;
   }
}

$flexWrapValues: nowrap wrap wrap-reverse;
@each $value in $flexWrapValues {
   .#{$prefix}-flex-wrap--#{$value} {
      flex-wrap: $value;
   }
}