.env-image {
   height: auto;
   max-width: 100%;
   border-radius: css-var('border-radius-medium');

   &--medium {
      width: 60px;
   }

   &--small {
      width: 40px;
   }

   &--tiny {
      width: 32px;
   }
}
