.#{$prefix}-shadow-small {
   box-shadow: css-var('box-shadow-small');
}

.#{$prefix}-shadow {
   box-shadow: css-var('box-shadow');
}

.#{$prefix}-shadow-large {
   box-shadow: css-var('box-shadow-large');
}
