$values: 25% 50% 75% 100%;
$properties: width height;
@each $value in $values {
   @each $property in $properties {
      $p: str-slice($property, 0, 1);
      $unitless: strip-unit($value);
      .env-#{$p}--#{$unitless} {
         #{$property}: $value !important;
      }
   }
}

.env-mw--100 {
   max-width: 100% !important;
}

.env-mh--100 {
   max-height: 100% !important;
}
