$properties: margin padding;
$specifiers: top right bottom left around;
$sizes: (
   0: 0,
   xxx-small: $spacing-xxx-small,
   xx-small: $spacing-xx-small,
   x-small: $spacing-x-small,
   small: $spacing-small,
   medium: $spacing-medium,
   large: $spacing-large,
   x-large: $spacing-x-large,
   xx-large: $spacing-xx-large,
   xxx-large: $spacing-xxx-large,
);
@each $size, $value in $sizes {
   @each $specifier in $specifiers {
      @each $property in $properties {
         $p: str-slice($property, 0, 1);
         $prop: if($specifier == around, $property, #{$property}-#{$specifier});
         .#{$prefix}-#{$p}-#{$specifier}--#{$size} {
            #{$prop}: $value !important;
         }
         @if ($property == margin and $size != 0) {
            .#{$prefix}-#{$p}-#{$specifier}--negative.#{$prefix}-#{$p}-#{$specifier}--#{$size} {
               #{$prop}: $value * -1 !important;
            }
         }
      }
   }
   @if ($size != 0) {
      .#{$prefix}-m-horizontal--#{$size} {
         margin-right: $value !important;
         margin-left: $value !important;
      }
      .#{$prefix}-m-horizontal--negative.#{$prefix}-m-horizontal--#{$size} {
         margin-right: $value * -1 !important;
         margin-left: $value * -1 !important;
      }
      .#{$prefix}-m-vertical--#{$size} {
         margin-top: $value !important;
         margin-bottom: $value !important;
      }
      .#{$prefix}-m-vertical--negative.#{$prefix}-m-horizontal--#{$size} {
         margin-top: $value * -1 !important;
         margin-bottom: $value * -1 !important;
      }
      .#{$prefix}-p-horizontal--#{$size} {
         padding-right: $value !important;
         padding-left: $value !important;
      }
   }
}

@each $specifier in $specifiers {
   $prop: if($specifier == around, margin, margin-#{$specifier});
   .#{$prefix}-m-#{$specifier}--a {
      #{$prop}: auto !important;
   }
}

.#{$prefix}-m-horizontal--a {
   margin-right: auto !important;
   margin-left: auto !important;
}

.#{$prefix}-m-vertical--a {
   margin-top: auto !important;
   margin-bottom: auto !important;
}
