.#{$prefix}-text {
   color: css-var('font-color');
   font-family: css-var('font-family');
   font-size: css-var('font-size-medium');
   font-weight: $font-weight-regular;

   &--muted {
      filter: opacity(0.625);
      font-weight: $font-weight-regular;
   }

   &--uppercase {
      text-transform: uppercase;
   }

   &--lowercase {
      text-transform: lowercase;
   }

   &--capitalize {
      text-transform: capitalize;
   }

   &--truncate {
      @include truncate-text();
   }

   &--strike {
      text-decoration: line-through;
   }

   // Text alignment
   &-align--left {
      text-align: left;
   }

   &-align--center {
      text-align: center;
   }

   &-align--right {
      text-align: right;
   }
}

.#{$prefix}-link,
a.#{$prefix}-text,
.#{$prefix}-text a:not([class^='#{$prefix}-']),
.#{$prefix}-text a:not([class*=' #{$prefix}-']) {
   @include link(
      'link-font-color',
      'link-text-decoration',
      'link-hover-text-decoration'
   );
}

.#{$prefix}-text .#{$prefix}-link-secondary,
.#{$prefix}-text a.#{$prefix}-link-secondary,
.#{$prefix}-link-secondary {
   @include link(
      'link-secondary-font-color',
      'link-secondary-text-decoration',
      'link-secondary-hover-text-decoration'
   );
   font-weight: $font-weight-semibold;
}

@include block-text-size(
   'h1',
   'font-size-xxxx-large',
   'spacing-xx-small',
   $font-weight-semibold
);
@include block-text-size(
   'h2',
   'font-size-xxx-large',
   'spacing-xx-small',
   $font-weight-semibold
);
@include block-text-size(
   'h3',
   'font-size-xx-large',
   'spacing-xx-small',
   $font-weight-semibold
);
@include block-text-size(
   'h4',
   'font-size-x-large',
   'spacing-xx-small',
   $font-weight-semibold
);
@include block-text-size(
   'h5',
   'font-size-large',
   'spacing-xx-small',
   $font-weight-semibold
);
@include block-text-size(
   'h6',
   'font-size-medium',
   'spacing-xx-small',
   $font-weight-semibold
);
@include block-text-size(
   'p',
   'font-size-medium',
   'spacing-xx-small',
   $font-weight-regular
);

// .env-text--small is not following BEM standards and have
// never been documented. Kept for backwards compatibility.
small.#{$prefix}-text,
.#{$prefix}-text small,
.#{$prefix}-text-small,
.#{$prefix}-text--small {
   font-size: smaller;
}

// Since we set .env-text to font-weight 400,
// We need to set it back to bold for strong and b.
b.#{$prefix}-text,
strong.#{$prefix}-text {
   font-weight: $font-weight-bold;
}
