.env-text {
   font-family: css-var('font-family');
   font-size: css-var('font-size-medium');
   font-weight: $font-weight-regular;
   text-size-adjust: 100%;
   text-align: start;
   line-height: $line-height-medium;
   color: css-var('font-color');

   &--muted {
      font-weight: $font-weight-regular;
      color: css-var('font-color-muted');
   }

   &--uppercase {
      text-transform: uppercase;
   }

   &--lowercase {
      text-transform: lowercase;
   }

   &--capitalize {
      text-transform: capitalize;
   }

   &--truncate {
      @include truncate-text();
   }

   &--strike {
      text-decoration: line-through;
   }

   &--attention {
      color: css-var('ui-color-status-attention-text') !important;
   }

   &--active {
      color: css-var('ui-color-status-active-text') !important;
   }

   &--error {
      color: css-var('ui-color-status-error-text') !important;
   }

   // Text alignment
   &-align--right {
      text-align: right;
   }

   &-align--center {
      text-align: center;
   }

   &-align--left {
      text-align: left;
   }

   &--rtl {
      direction: rtl;
      text-align: start;
   }

   &-align--start {
      text-align: start !important;
   }

   &-align--end {
      text-align: end !important;
   }
}

button:not(.env-button).env-link,
button:not(.env-button).env-link-secondary {
   appearance: none;
   display: inline;
   border: none;
   font-family: css-var('font-family');
   font-size: 1em !important;
   margin: 0;
   padding: 0;
   background-color: transparent;
   white-space: normal;
}

.env-link,
a.env-text,
.env-text a:not([class^='env-']):not([class*=' env-']) {
   @include link(
      'link-font-color',
      'link-text-decoration',
      'link-hover-font-color',
      'link-hover-text-decoration'
   );
}

.env-text .env-link-secondary,
.env-text a.env-link-secondary,
.env-link-secondary {
   @include link(
      'link-secondary-font-color',
      'link-secondary-text-decoration',
      'link-secondary-hover-font-color',
      'link-secondary-hover-text-decoration'
   );
}

@include block-text-size(
   'h1',
   'font-size-xxxx-large',
   'spacing-xx-small',
   $font-weight-semibold
);
@include block-text-size(
   'h2',
   'font-size-xxx-large',
   'spacing-xx-small',
   $font-weight-semibold
);
@include block-text-size(
   'h3',
   'font-size-xx-large',
   'spacing-xx-small',
   $font-weight-semibold
);
@include block-text-size(
   'h4',
   'font-size-x-large',
   'spacing-xx-small',
   $font-weight-semibold
);
@include block-text-size(
   'h5',
   'font-size-large',
   'spacing-xx-small',
   $font-weight-semibold
);
@include block-text-size(
   'h6',
   'font-size-medium',
   'spacing-xx-small',
   $font-weight-semibold
);
@include block-text-size(
   'p',
   'font-size-medium',
   'spacing-xx-small',
   $font-weight-regular,
   $line-height-wcag-min
);

// .env-text--small is not following BEM standards and have
// never been documented. Kept for backwards compatibility.
small.env-text,
.env-text small,
.env-text-small,
.env-text--small {
   font-size: smaller;
}

// Since we set .env-text to font-weight 400,
// We need to set it back to bold for strong and b.
b.env-text,
strong.env-text {
   font-weight: $font-weight-bold;
}
