.env-theme-default-brand {
   --env-ui-color-brand: #767676;
   --env-ui-color-brand-dark: #626262;
   --env-ui-color-brand-contrast: #ffffff;
   --env-ui-color-brand-05: #fafafa;
   --env-ui-color-brand-05-contrast: #6e6e6e;
   --env-ui-color-brand-10: #f5f5f5;
   --env-ui-color-brand-10-contrast: #6e6e6e;
   --env-ui-color-brand-15: #ebebeb;
   --env-ui-color-brand-15-contrast: #616161;
   --env-ui-color-brand-20: #dedede;
   --env-ui-color-brand-20-contrast: #616161;
   --env-ui-color-brand-25: #d1d1d1;
   --env-ui-color-brand-25-contrast: #545454;
   --env-ui-color-brand-30: #c4c4c4;
   --env-ui-color-brand-30-contrast: #474747;
   --env-ui-color-brand-35: #b8b8b8;
   --env-ui-color-brand-35-contrast: #474747;
   --env-ui-color-brand-40: #ababab;
   --env-ui-color-brand-40-contrast: #3d3d3d;
   --env-ui-color-brand-45: #9e9e9e;
   --env-ui-color-brand-45-contrast: #363636;
   --env-ui-color-brand-50: #919191;
   --env-ui-color-brand-50-contrast: #262626;
   --env-ui-color-brand-55: #7a7a7a;
   --env-ui-color-brand-55-contrast: #000000;
   --env-ui-color-brand-60: #6e6e6e;
   --env-ui-color-brand-60-contrast: #f5f5f5;
   --env-ui-color-brand-65: #616161;
   --env-ui-color-brand-65-contrast: #dedede;
   --env-ui-color-brand-70: #545454;
   --env-ui-color-brand-70-contrast: #d1d1d1;
   --env-ui-color-brand-75: #474747;
   --env-ui-color-brand-75-contrast: #b8b8b8;
   --env-ui-color-brand-80: #3d3d3d;
   --env-ui-color-brand-80-contrast: #ababab;
   --env-ui-color-brand-85: #363636;
   --env-ui-color-brand-85-contrast: #9e9e9e;
   --env-ui-color-brand-90: #2b2b2b;
   --env-ui-color-brand-90-contrast: #9e9e9e;
   --env-ui-color-brand-95: #262626;
   --env-ui-color-brand-95-contrast: #919191;
   --env-ui-color-brand-100: #212121;
   --env-ui-color-brand-100-contrast: #919191;
}

html:not([class^='doc-dark-mode']):not([class*=' doc-dark-mode'])
   .env-theme-example-brand {
   --env-ui-color-brand-20-contrast: #396b70;
   --env-ui-color-brand-30-contrast: #305b5f;
   --env-ui-color-brand-35-contrast: #294e51;
   --env-ui-color-brand-95: #1a3133;
   --env-ui-color-brand-55-contrast: #162a2c;
   --env-ui-color-brand-90: #1d373a;
   --env-ui-color-brand-dark: hsla(184.7, 32.7%, 30.4%, 1);
   --env-ui-color-brand-25-contrast: #305b5f;
   --env-ui-color-brand-85: #244447;
   --env-ui-color-brand-80: #294e51;
   --env-ui-color-brand-50-contrast: #1d373a;
   --env-ui-color-brand-100: #162a2c;
   --env-ui-color-brand-75: #305b5f;
   --env-ui-color-brand-70: #396b70;
   --env-ui-color-brand-60-contrast: #000000;
   --env-ui-color-brand-contrast: #ffffff;
   --env-ui-color-brand-65: #417c81;
   --env-ui-color-brand-60: #4a8c92;
   --env-ui-color-brand-55: #529ca2;
   --env-ui-color-brand-50: #6db0b5;
   --env-ui-color-brand-70-contrast: #d3e7e9;
   --env-ui-color-brand-95-contrast: #6db0b5;
   --env-ui-color-brand-45-contrast: #244447;
   --env-ui-color-brand-10-contrast: #396b70;
   --env-ui-color-brand-45: #7eb9be;
   --env-ui-color-brand-40: #8fc2c6;
   --env-ui-color-brand-90-contrast: #6db0b5;
   --env-ui-color-brand-35: #a0cbcf;
   --env-ui-color-brand-30: #b1d5d8;
   --env-ui-color-brand-25: #c2dee0;
   --env-ui-color-brand-20: #d3e7e9;
   --env-ui-color-brand-15: #e4f0f1;
   --env-ui-color-brand-10: #f1f8f8;
   --env-ui-color-brand-05: #f8fbfc;
   --env-ui-color-brand-80-contrast: #8fc2c6;
   --env-ui-color-brand-85-contrast: #7eb9be;
   --env-ui-color-brand-100-contrast: #529ca2;
   --env-ui-color-brand-05-contrast: #417c81;
   --env-ui-color-brand-75-contrast: #b1d5d8;
   --env-ui-color-brand-65-contrast: #f8fbfc;
   --env-ui-color-brand-40-contrast: #294e51;
   --env-ui-color-brand: #427d82;
   --env-ui-color-brand-15-contrast: #396b70;
   --env-ui-text-sectionheading-font-color: var(--env-ui-color-brand);
}
