.sv-theme-quicksand {
   background-color: var(--env-background-color) !important;
   color: var(--env-font-color);
   font-family: var(--env-font-family);
   --env-link-hover-font-color: #3170e6;
   --env-ui-color-brand-20-contrast: #8f4400;
   --env-modal-large-width: 900px;
   --env-block-secondary-font-color: #0d1d36;
   --env-modal-small-width: 300px;
   --env-background-color: #f9fbfc;
   --env-element-secondary-background-color-light: hsl(217, 61%, 16%);
   --env-font-color: #202330;
   --env-ui-text-overline-font-color: #202330;
   --env-collapse-icon-height: 3px;
   --env-element-secondary-background-color-dark: hsl(217, 61%, 5%);
   --env-modal-medium-width: 450px;
   --env-focus-outline-color: var(--env-font-color);
   --env-color-brand: var(--env-element-primary-background-color);
   --env-spacing-xx-large: 1.75em;
   --env-color-warning: var(--env-element-warning-background-color);
   --env-link-secondary-font-color: var(--env-font-color);
   --env-popover-width: 360px;
   --env-spacing-medium: 1em;
   --env-element-danger-font-color: #0d1d36;
   --env-breadcrumb-divider-color: #999999;
   --env-badge-border-radius: 3px;
   --env-block-primary-link-hover-font-color: var(--env-link-hover-font-color);
   --env-element-success-background-color-dark: hsl(92, 100%, 43%);
   --env-ui-color-brand-30-contrast: #7a3b00;
   --env-ui-color-brand-35-contrast: #7a3b00;
   --env-ui-text-heading-font-color: #0d1d36;
   --env-element-success-font-color: #0d1d36;
   --env-color-darker: #0d0d0d;
   --env-block-link-hover-font-color: var(--env-link-hover-font-color);
   --env-ui-text-overline-font-weight: 500;
   --env-ui-color-brand-95: #4d2500;
   --env-element-secondary-font-color: #ff7b02;
   --env-font-size-x-small: calc(var(--env-font-size-base) * 0.75);
   --env-ui-color-brand-55-contrast: #4d2500;
   --env-link-text-decoration: underline;
   --env-ui-color-brand-90: #572900;
   --env-ui-color-brand-dark: hsla(28.7, 100%, 42.4%, 1);
   --env-cardholder-column-spacing: var(--env-spacing-medium);
   --env-color-lightest: #e6e6e6;
   --env-block-link-font-color: var(--env-link-font-color);
   --env-block-secondary-background-color: #ff7b02;
   --env-ui-color-brand-25-contrast: #8f4400;
   --env-collapse-background-color: var(--env-element-background-color-light);
   --env-element-primary-background-color: #295bab;
   --env-spacing-x-large: 1.5em;
   --env-badge-font-size: 75%;
   --env-cardholder-grid-gap: var(--env-spacing-medium);
   --env-focus-offset: var(--env-focus-size);
   --env-element-danger-background-color-light: hsl(8, 100%, 57%);
   --env-font-size-small: calc(var(--env-font-size-base) * 0.875);
   --env-form-input-background-color: var(--env-section-background-color);
   --env-collapse-toggle-duration: 300ms;
   --env-ui-color-brand-85: #6b3300;
   --env-ui-color-brand-80: #7a3b00;
   --env-collapse-icon-color: var(--env-font-color);
   --env-border-color-light: #e6e6e6;
   --env-ui-color-brand-50-contrast: #572900;
   --env-border-success-color: #358156;
   --env-ui-text-sectionheading-font-family: var(--env-font-family);
   --env-ui-text-subheading-font-size: 1em;
   --env-ui-text-caption-font-color: var(--env-font-color-muted);
   --env-pagination-border-style: solid;
   --env-font-color-muted: hsla(229, 20%, 16%, 0.65);
   --env-block-border-color: #e7e7e7;
   --env-link-secondary-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-element-success-background-color: #7bff07;
   --env-element-background-color-light: #f8f9f9;
   --env-collapse-border-width: 1px;
   --env-progress-bar-poll-highlight-color: #4bc5f5;
   --env-ui-color-brand-100: #422000;
   --env-ui-color-brand-75: #8f4400;
   --env-spinner-color: #5cb3fd;
   --env-ui-text-heading-font-size: 1.82em;
   --env-ui-color-brand-70: #a85100;
   --env-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
   --env-ui-color-brand-60-contrast: #000000;
   --env-ui-color-brand-contrast: #0d1d36;
   --env-spacing-small: 0.75em;
   --env-ui-text-caption-letter-spacing: normal;
   --env-form-font-family: var(--env-font-family);
   --env-ui-text-overline-font-family: var(--env-font-family);
   --env-link-font-color: #3170e6;
   --env-ui-color-brand-65: #c25d00;
   --env-focus-box-shadow: 0 0 0 var(--env-focus-offset)
      var(--env-focus-inner-color);
   --env-ui-color-brand-60: #db6900;
   --env-element-danger-background-color-dark: hsl(8, 100%, 46%);
   --env-pagination-border-width: 1px;
   --env-font-color-lighter: #49506d;
   --env-color-info: var(--env-element-info-background-color);
   --env-ui-text-subheading-font-color: var(--env-font-color);
   --env-ui-color-brand-55: #f57500;
   --env-ui-color-brand-50: #ff8d24;
   --env-ui-color-brand-70-contrast: #ffead6;
   --env-block-secondary-border-color: #ff7b02;
   --env-ui-color-brand-95-contrast: #f57500;
   --env-collapse-border-color: var(--env-element-background-color);
   --env-element-primary-font-color: #ffffff;
   --env-color-normal: #666666;
   --env-badge-font-family: var(--env-font-family);
   --env-font-family: quicksand;
   --env-form-input-border-color: #949494;
   --env-box-shadow-large: 0 1em 3em rgba(0, 0, 0, 0.175);
   --env-ui-text-subheading-font-weight: 700;
   --env-ui-color-brand-45-contrast: #6b3300;
   --env-ui-color-brand-10-contrast: #a85100;
   --env-link-hover-text-decoration: underline;
   --env-ui-text-overline-letter-spacing: 0.15em;
   --env-ui-color-brand-45: #ff9a3d;
   --env-block-primary-border-color: #ccc;
   --env-ui-color-brand-40: #ffa757;
   --env-box-shadow-small: 0 0.125em 0.25em rgba(0, 0, 0, 0.075);
   --env-ui-text-sectionheading-letter-spacing: normal;
   --env-color-base: #000000;
   --env-font-size-medium: var(--env-font-size-base);
   --env-color-element-bg: #ffffff;
   --env-border-warning-color: #ffbf12;
   --env-element-warning-background-color-dark: hsl(49, 100%, 44%);
   --env-color-brand-dark: var(--env-element-primary-background-color-dark);
   --env-element-background-color-dark: #dadddf;
   --env-link-secondary-text-decoration: var(--env-link-text-decoration);
   --env-spacing-xx-small: 0.25em;
   --env-focus-size: 2px;
   --env-ui-color-brand-90-contrast: #ff8d24;
   --env-ui-color-brand-35: #ffb570;
   --env-border-radius-medium: var(--env-border-radius);
   --env-ui-color-brand-30: #ffc28a;
   --env-color-light: #999999;
   --env-form-input-font-color: var(--env-font-color);
   --env-modal-backdrop-background-color: #000;
   --env-button-border-radius: 0.375em;
   --env-element-info-background-color-dark: hsl(217, 65%, 44%);
   --env-focus-color: #5cb3fd;
   --env-ui-text-sectionheading-font-size: 1.25em;
   --env-font-size-large: calc(var(--env-font-size-base) * 1.25);
   --env-element-danger-background-color: #ff3212;
   --env-cardholder-column-max-width: 400px;
   --env-ui-color-brand-25: #ffcfa3;
   --env-ui-color-brand-20: #ffdcbd;
   --env-pagination-font-family: var(--env-font-family);
   --env-element-info-background-color-light: hsl(217, 65%, 55%);
   --env-spacing-large: 1.25em;
   --env-element-background-color: #f0f1f2;
   --env-ui-text-subheading-text-transform: none;
   --env-font-size-xxxx-large: calc(var(--env-font-size-base) * 2.5);
   --env-element-primary-background-color-light: hsl(217, 61%, 45%);
   --env-spacing-x-small: 0.5em;
   --env-ui-color-brand-15: #ffead6;
   --env-cardholder-column-min-width: 240px;
   --env-collapse-expanded-border-color: var(
      --env-element-background-color-dark
   );
   --env-profile-image-border-radius: 50%;
   --env-ui-text-subheading-font-family: var(--env-font-family);
   --env-ui-color-brand-10: #fff4eb;
   --env-font-color-invert: #ffffff;
   --env-color-success: var(--env-element-success-background-color);
   --env-border-danger-color: #c15252;
   --env-element-warning-background-color-light: hsl(49, 100%, 55%);
   --env-ui-text-sectionheading-text-transform: none;
   --env-font-size-x-large: calc(var(--env-font-size-base) * 1.5);
   --env-ui-text-caption-text-transform: none;
   --env-color-hover: #f7f7f7;
   --env-block-primary-background-color: #f7f7f7;
   --env-block-secondary-link-font-color: #0d1d36;
   --env-collapse-expanded-background-color: var(
      --env-element-background-color
   );
   --env-ui-color-brand-05: #fffaf5;
   --env-ui-color-brand-80-contrast: #ffb570;
   --env-element-warning-background-color: #ffd209;
   --env-font-size-xxx-large: calc(var(--env-font-size-base) * 2);
   --env-ui-text-overline-text-transform: uppercase;
   --env-element-info-background-color: #3371d4;
   --env-border-radius-large: calc(var(--env-border-radius) * 1.5);
   --env-focus-inner-color: var(--env-section-background-color);
   --env-ui-color-brand-85-contrast: #ff9a3d;
   --env-block-font-color: #202330;
   --env-ui-color-brand-100-contrast: #f57500;
   --env-ui-text-heading-text-transform: none;
   --env-image-control-color: #fff;
   --env-font-size-xx-large: calc(var(--env-font-size-base) * 1.75);
   --env-spacing-xxx-small: 0.125em;
   --env-element-success-background-color-light: hsl(92, 100%, 54%);
   --env-block-primary-link-font-color: var(--env-link-font-color);
   --env-ui-color-brand-05-contrast: #a85100;
   --env-ui-text-caption-font-weight: 400;
   --env-link-secondary-hover-font-color: var(--env-link-font-color);
   --env-ui-text-caption-font-family: var(--env-font-family);
   --env-ui-text-heading-font-weight: 300;
   --env-ui-color-brand-75-contrast: #ffcfa3;
   --env-element-secondary-background-color: #0d1d36;
   --env-ui-text-caption-font-size: 0.875em;
   --env-alert-font-color: var(--env-font-color);
   --env-alert-border-radius: 2px;
   --env-alert-background-color: var(--env-section-background-color);
   --env-collapse-border-style: solid;
   --env-color-warning-dark: var(--env-element-warning-background-color-dark);
   --env-block-primary-font-color: #202330;
   --env-ui-color-brand-65-contrast: #000000;
   --env-cardholder-grid-column-width: 20em;
   --env-button-font-family: var(--env-font-family);
   --env-border-radius-small: calc(var(--env-border-radius) * 0.5);
   --env-modal-backdrop-opacity: 0.5;
   --env-ui-text-sectionheading-font-color: #202330;
   --env-color-dark: #333333;
   --env-ui-text-heading-letter-spacing: normal;
   --env-element-common-background-color: #f2f2f2;
   --env-color-danger: var(--env-element-danger-background-color);
   --env-form-input-border-radius: var(--env-border-radius-medium);
   --env-ui-text-subheading-letter-spacing: normal;
   --env-section-background-color: #ffffff;
   --env-collapse-icon-width: 15px;
   --env-element-warning-font-color: #0d1d36;
   --env-ui-text-sectionheading-font-weight: 500;
   --env-font-color-light: #34394f;
   --env-ui-text-overline-font-size: 0.75em;
   --env-border-radius: 6px;
   --env-focus-background-color: rgba(0, 0, 0, 0.2);
   --env-focus-outline: var(--env-focus-size) solid
      var(--env-focus-outline-color);
   --env-ui-color-brand-40-contrast: #6b3300;
   --env-spacing-xxx-large: 2em;
   --env-element-info-font-color: #f9fbfc;
   --env-color-lighter: #cccccc;
   --env-element-primary-background-color-dark: hsl(217, 61%, 34%);
   --env-ui-text-heading-font-family: var(--env-font-family);
   --env-border-color: #ccc;
   --env-color-brand-light: var(--env-element-primary-background-color-light);
   --env-ui-color-brand: #ff7b02;
   --env-element-font-color: #202330;
   --env-block-secondary-link-hover-font-color: #0d1d36;
   --env-ui-color-brand-15-contrast: #a85100;
   --env-block-background-color: #fff;
   --env-color-page-bg: #ffffff;
   --env-alert-font-family: var(--env-font-family);
   --env-font-size-base: 1em;
}
