.sv-theme-fancy {
   background-color: var(--env-background-color) !important;
   color: var(--env-font-color);
   font-family: var(--env-font-family);
   --env-link-hover-font-color: #472975;
   --env-ui-color-brand-20-contrast: #6e40b5;
   --env-modal-large-width: 900px;
   --env-block-secondary-font-color: #ffb5d4;
   --env-modal-small-width: 300px;
   --env-background-color: #f0f0f0;
   --env-element-secondary-background-color-light: hsl(335, 100%, 88%);
   --env-font-color: #212330;
   --env-ui-text-overline-font-color: #472975;
   --env-collapse-icon-height: 3px;
   --env-element-secondary-background-color-dark: hsl(335, 100%, 77%);
   --env-modal-medium-width: 450px;
   --env-focus-outline-color: var(--env-font-color);
   --env-block-primary-link-text-decoration: var(--env-link-text-decoration);
   --env-color-brand: var(--env-element-primary-background-color);
   --env-spacing-xx-large: 1.75em;
   --env-color-warning: var(--env-element-warning-background-color);
   --env-link-secondary-font-color: var(--env-font-color);
   --env-popover-width: 360px;
   --env-spacing-medium: 1em;
   --env-element-danger-font-color: #13141c;
   --env-breadcrumb-divider-color: #999999;
   --env-badge-border-radius: 1em;
   --env-block-primary-link-hover-font-color: var(--env-link-hover-font-color);
   --env-element-success-background-color-dark: hsl(93, 61%, 61%);
   --env-ui-color-brand-30-contrast: #4c2c7d;
   --env-tooltip-background-color: #472975;
   --env-ui-color-brand-35-contrast: #40256a;
   --env-tooltip-border-radius: 8px;
   --env-ui-text-heading-font-color: var(--env-font-color);
   --env-element-success-font-color: #212330;
   --env-color-darker: #0d0d0d;
   --env-block-link-hover-font-color: var(--env-link-hover-font-color);
   --env-ui-text-overline-font-weight: 400;
   --env-ui-color-brand-95: #221439;
   --env-element-secondary-font-color: #472975;
   --env-font-size-x-small: calc(var(--env-font-size-base) * 0.75);
   --env-ui-color-brand-55-contrast: #dbceee;
   --env-link-text-decoration: underline;
   --env-ui-color-brand-90: #271640;
   --env-ui-color-brand-dark: hsla(263.7, 48.1%, 23%, 1);
   --env-block-secondary-link-text-decoration: underline;
   --env-cardholder-column-spacing: var(--env-spacing-medium);
   --env-color-lightest: #e6e6e6;
   --env-block-link-font-color: var(--env-link-font-color);
   --env-block-secondary-background-color: #472975;
   --env-ui-color-brand-25-contrast: #573290;
   --env-collapse-background-color: var(--env-element-background-color-light);
   --env-element-primary-background-color: #306096;
   --env-spacing-x-large: 1.5em;
   --env-badge-font-size: 0.7em;
   --env-cardholder-grid-gap: var(--env-spacing-medium);
   --env-focus-offset: var(--env-focus-size);
   --env-element-danger-background-color-light: hsl(324, 57%, 59%);
   --env-font-size-small: calc(var(--env-font-size-base) * 0.875);
   --env-form-input-background-color: var(--env-section-background-color);
   --env-collapse-toggle-duration: 300ms;
   --env-ui-color-brand-85: #301c4f;
   --env-ui-color-brand-80: #37205b;
   --env-collapse-icon-color: var(--env-font-color);
   --env-border-color-light: #e6e6e6;
   --env-ui-color-brand-50-contrast: #ffffff;
   --env-border-success-color: #358156;
   --env-ui-text-sectionheading-font-family: Merriweather;
   --env-ui-text-subheading-font-size: 1em;
   --env-ui-text-caption-font-color: #472975;
   --env-pagination-border-style: solid;
   --env-font-color-muted: hsla(232, 19%, 16%, 0.65);
   --env-block-border-color: #e7e7e7;
   --env-link-secondary-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-element-success-background-color: #aae07e;
   --env-element-background-color-light: hsl(0, 0%, 92%);
   --env-collapse-border-width: 1px;
   --env-progress-bar-poll-highlight-color: #4bc5f5;
   --env-ui-color-brand-100: #1e1131;
   --env-ui-color-brand-75: #40256a;
   --env-spinner-color: #5cb3fd;
   --env-ui-text-heading-font-size: 1.82em;
   --env-ui-color-brand-70: #4c2c7d;
   --env-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
   --env-ui-color-brand-60-contrast: #dbceee;
   --env-ui-color-brand-contrast: #ffb5d4;
   --env-spacing-small: 0.75em;
   --env-ui-text-caption-letter-spacing: normal;
   --env-form-font-family: var(--env-font-family);
   --env-ui-text-overline-font-family: var(--env-font-family);
   --env-link-font-color: #472975;
   --env-ui-color-brand-65: #573290;
   --env-ui-color-status-attention-contrast: #ffffff;
   --env-focus-box-shadow: 0 0 0 var(--env-focus-offset)
      var(--env-focus-inner-color);
   --env-tooltip-font-weight: 100;
   --env-ui-color-brand-60: #6339a2;
   --env-element-danger-background-color-dark: hsl(324, 57%, 48%);
   --env-pagination-border-width: 1px;
   --env-font-color-lighter: #49506d;
   --env-color-info: var(--env-element-info-background-color);
   --env-ui-color-status-active-contrast: #363636;
   --env-ui-text-subheading-font-color: var(--env-font-color);
   --env-ui-color-brand-55: #6e40b5;
   --env-ui-color-brand-50: #865dc6;
   --env-ui-color-brand-70-contrast: #bea8e1;
   --env-block-secondary-border-color: #472975;
   --env-ui-color-brand-95-contrast: #a282d3;
   --env-collapse-border-color: var(--env-element-background-color);
   --env-element-primary-font-color: #ffd6f3;
   --env-tooltip-font-family: var(--env-font-family);
   --env-color-normal: #666666;
   --env-badge-font-family: var(--env-font-family);
   --env-font-family: heinemann;
   --env-form-input-border-color: #949494;
   --env-box-shadow-large: 0 1em 3em rgba(0, 0, 0, 0.175);
   --env-ui-text-subheading-font-weight: 500;
   --env-ui-color-brand-45-contrast: #1e1131;
   --env-ui-color-brand-10-contrast: #6e40b5;
   --env-link-hover-text-decoration: underline;
   --env-ui-text-overline-letter-spacing: 0.15em;
   --env-ui-color-brand-45: #946fcd;
   --env-block-primary-border-color: #ccc;
   --env-ui-color-brand-40: #a282d3;
   --env-box-shadow-small: 0 0.125em 0.25em rgba(0, 0, 0, 0.075);
   --env-ui-text-sectionheading-letter-spacing: normal;
   --env-color-base: #000000;
   --env-font-size-medium: var(--env-font-size-base);
   --env-color-element-bg: #ffffff;
   --env-ui-color-status-active: #aae07e;
   --env-border-warning-color: #ffbf12;
   --env-element-warning-background-color-dark: hsl(23, 100%, 75%);
   --env-color-brand-dark: var(--env-element-primary-background-color-dark);
   --env-element-background-color-dark: hsl(0, 0%, 81%);
   --env-link-secondary-text-decoration: var(--env-link-text-decoration);
   --env-spacing-xx-small: 0.25em;
   --env-focus-size: 2px;
   --env-ui-color-brand-90-contrast: #a282d3;
   --env-ui-color-brand-35: #b095da;
   --env-border-radius-medium: var(--env-border-radius);
   --env-ui-color-brand-30: #bea8e1;
   --env-ui-color-status-attention: #c24891;
   --env-color-light: #999999;
   --env-form-input-font-color: var(--env-font-color);
   --env-modal-backdrop-background-color: #000;
   --env-button-border-radius: 0.375em;
   --env-element-info-background-color-dark: hsl(195, 100%, 77%);
   --env-focus-color: #5cb3fd;
   --env-ui-text-sectionheading-font-size: 1.25em;
   --env-font-size-large: calc(var(--env-font-size-base) * 1.25);
   --env-element-danger-background-color: #cf509c;
   --env-cardholder-column-max-width: 400px;
   --env-ui-color-brand-25: #ccbbe7;
   --env-ui-color-brand-20: #dbceee;
   --env-pagination-font-family: var(--env-font-family);
   --env-element-info-background-color-light: hsl(195, 100%, 88%);
   --env-spacing-large: 1.25em;
   --env-element-background-color: #e3e3e3;
   --env-ui-text-subheading-text-transform: none;
   --env-font-size-xxxx-large: calc(var(--env-font-size-base) * 2.5);
   --env-element-primary-background-color-light: hsl(212, 52%, 42%);
   --env-spacing-x-small: 0.5em;
   --env-tooltip-font-color: #ffb5d4;
   --env-ui-color-brand-15: #e9e1f4;
   --env-cardholder-column-min-width: 240px;
   --env-collapse-expanded-border-color: var(
      --env-element-background-color-dark
   );
   --env-profile-image-border-radius: 50%;
   --env-ui-text-subheading-font-family: Merriweather;
   --env-ui-color-brand-10: #f4f0fa;
   --env-font-color-invert: #ffffff;
   --env-color-success: var(--env-element-success-background-color);
   --env-border-danger-color: #c15252;
   --env-element-warning-background-color-light: hsl(23, 100%, 86%);
   --env-ui-text-sectionheading-text-transform: none;
   --env-font-size-x-large: calc(var(--env-font-size-base) * 1.5);
   --env-ui-text-caption-text-transform: none;
   --env-color-hover: #f7f7f7;
   --env-block-primary-background-color: #f7f7f7;
   --env-block-secondary-link-font-color: #ffb5d4;
   --env-collapse-expanded-background-color: var(
      --env-element-background-color
   );
   --env-ui-color-brand-05: #f9f7fc;
   --env-ui-color-brand-80-contrast: #b095da;
   --env-element-warning-background-color: #ffc9a7;
   --env-font-size-xxx-large: calc(var(--env-font-size-base) * 2);
   --env-ui-color-status-neutral: #472975;
   --env-ui-text-overline-text-transform: uppercase;
   --env-element-info-background-color: #b1ecff;
   --env-border-radius-large: calc(var(--env-border-radius) * 1.5);
   --env-focus-inner-color: var(--env-section-background-color);
   --env-ui-color-brand-85-contrast: #a282d3;
   --env-block-font-color: #202330;
   --env-ui-color-brand-100-contrast: #946fcd;
   --env-ui-text-heading-text-transform: none;
   --env-image-control-color: #ffffff;
   --env-font-size-xx-large: calc(var(--env-font-size-base) * 1.75);
   --env-spacing-xxx-small: 0.125em;
   --env-element-success-background-color-light: hsl(93, 61%, 72%);
   --env-block-primary-link-font-color: var(--env-link-font-color);
   --env-ui-color-brand-05-contrast: #6e40b5;
   --env-block-secondary-link-hover-text-decoration: underline;
   --env-ui-text-caption-font-weight: 300;
   --env-link-secondary-hover-font-color: var(--env-link-font-color);
   --env-ui-text-caption-font-family: var(--env-font-family);
   --env-ui-text-heading-font-weight: 600;
   --env-ui-color-brand-75-contrast: #b095da;
   --env-element-secondary-background-color: #ffb5d4;
   --env-ui-text-caption-font-size: 0.875em;
   --env-alert-font-color: var(--env-font-color);
   --env-alert-border-radius: var(--env-border-radius-medium);
   --env-alert-background-color: var(--env-section-background-color);
   --env-collapse-border-style: solid;
   --env-color-warning-dark: var(--env-element-warning-background-color-dark);
   --env-block-primary-font-color: #202330;
   --env-ui-color-brand-65-contrast: #ccbbe7;
   --env-cardholder-grid-column-width: 20em;
   --env-button-font-family: var(--env-font-family);
   --env-border-radius-small: calc(var(--env-border-radius) * 0.5);
   --env-block-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-modal-backdrop-opacity: 0.5;
   --env-ui-text-sectionheading-font-color: #472975;
   --env-color-dark: #333333;
   --env-ui-text-heading-letter-spacing: normal;
   --env-element-common-background-color: #f2f2f2;
   --env-color-danger: var(--env-element-danger-background-color);
   --env-form-input-border-radius: var(--env-border-radius-medium);
   --env-ui-text-subheading-letter-spacing: normal;
   --env-section-background-color: #ffffff;
   --env-collapse-icon-width: 15px;
   --env-element-warning-font-color: #212330;
   --env-ui-text-sectionheading-font-weight: 500;
   --env-font-color-light: #34394f;
   --env-ui-text-overline-font-size: 0.75em;
   --env-block-primary-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-border-radius: 0.25em;
   --env-focus-background-color: rgba(0, 0, 0, 0.2);
   --env-focus-outline: var(--env-focus-size) solid
      var(--env-focus-outline-color);
   --env-block-link-text-decoration: var(--env-link-text-decoration);
   --env-ui-color-brand-40-contrast: #301c4f;
   --env-tooltip-font-size: 13px;
   --env-spacing-xxx-large: 2em;
   --env-ui-color-status-neutral-contrast: #ffffff;
   --env-element-info-font-color: #13141c;
   --env-color-lighter: #cccccc;
   --env-element-primary-background-color-dark: hsl(212, 52%, 31%);
   --env-ui-text-heading-font-family: Merriweather;
   --env-border-color: #ccc;
   --env-color-brand-light: var(--env-element-primary-background-color-light);
   --env-ui-color-brand: #472975;
   --env-element-font-color: #363636;
   --env-block-secondary-link-hover-font-color: #ffb5d4;
   --env-ui-color-brand-15-contrast: #6e40b5;
   --env-block-background-color: #ffffff;
   --env-color-page-bg: #ffffff;
   --env-alert-font-family: var(--env-font-family);
   --env-font-size-base: 1em;
}
