.sv-theme-dark {
   background-color: var(--env-background-color) !important;
   color: var(--env-font-color);
   font-family: var(--env-font-family);
   --env-link-hover-font-color: #ffffff;
   --env-ui-color-brand-20-contrast: #94a0a8;
   --env-modal-large-width: 900px;
   --env-block-secondary-font-color: #ffffff;
   --env-modal-small-width: 300px;
   --env-background-color: #272b30;
   --env-element-secondary-background-color-light: hsl(205, 5%, 57%);
   --env-font-color: #aaaaaa;
   --env-ui-text-overline-font-color: #d4d4d4;
   --env-collapse-icon-height: 3px;
   --env-element-secondary-background-color-dark: hsl(205, 5%, 46%);
   --env-modal-medium-width: 450px;
   --env-focus-outline-color: #e0eaff;
   --env-block-primary-link-text-decoration: underline;
   --env-color-brand: var(--env-element-primary-background-color);
   --env-spacing-xx-large: 1.75em;
   --env-color-warning: var(--env-element-warning-background-color);
   --env-link-secondary-font-color: var(--env-font-color);
   --env-popover-width: 360px;
   --env-spacing-medium: 1em;
   --env-element-danger-font-color: #101113;
   --env-breadcrumb-divider-color: #999999;
   --env-badge-border-radius: 4px;
   --env-block-primary-link-hover-font-color: #ffffff;
   --env-element-success-background-color-dark: hsl(119, 45%, 52%);
   --env-ui-color-brand-30-contrast: #b0b9bf;
   --env-tooltip-background-color: #101113;
   --env-ui-color-brand-35-contrast: #cdd2d6;
   --env-tooltip-border-radius: 3px;
   --env-ui-text-heading-font-color: var(--env-font-color);
   --env-element-success-font-color: #101113;
   --env-color-darker: #0d0d0d;
   --env-block-link-hover-font-color: #e0eaff;
   --env-ui-text-overline-font-weight: 500;
   --env-ui-color-brand-95: #f4f5f6;
   --env-element-secondary-font-color: #101113;
   --env-font-size-x-small: calc(var(--env-font-size-base) * 0.75);
   --env-ui-color-brand-55-contrast: #272c30;
   --env-link-text-decoration: underline;
   --env-ui-color-brand-90: #e9ebed;
   --env-ui-color-brand-dark: hsla(203.2, 62.9%, 33.2%, 1);
   --env-block-secondary-link-text-decoration: underline;
   --env-cardholder-column-spacing: var(--env-spacing-medium);
   --env-color-lightest: #e6e6e6;
   --env-block-link-font-color: #e0eaff;
   --env-block-secondary-background-color: #2778ab;
   --env-ui-color-brand-25-contrast: #a2adb3;
   --env-collapse-background-color: #272b30;
   --env-element-primary-background-color: #494d51;
   --env-spacing-x-large: 1.5em;
   --env-badge-font-size: 0.8em;
   --env-cardholder-grid-gap: var(--env-spacing-medium);
   --env-focus-offset: var(--env-focus-size);
   --env-element-danger-background-color-light: hsl(2, 81%, 68%);
   --env-font-size-small: calc(var(--env-font-size-base) * 0.875);
   --env-form-input-background-color: #272b30;
   --env-collapse-toggle-duration: 300ms;
   --env-ui-color-brand-85: #dbdfe1;
   --env-ui-color-brand-80: #cdd2d6;
   --env-box-shadow-color: #101113;
   --env-collapse-icon-color: var(--env-font-color);
   --env-border-color-light: hsl(220, 9%, -3%);
   --env-ui-color-brand-50-contrast: #000000;
   --env-border-success-color: #358156;
   --env-ui-text-sectionheading-font-family: var(--env-font-family);
   --env-ui-text-subheading-font-size: 1em;
   --env-ui-text-caption-font-color: var(--env-font-color-muted);
   --env-pagination-border-style: solid;
   --env-font-color-muted: hsla(0, 0%, 67%, 0.65);
   --env-block-border-color: #101113;
   --env-link-secondary-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-element-success-background-color: #6cc76b;
   --env-element-background-color-light: hsl(213, 10%, 20%);
   --env-collapse-border-width: 1px;
   --env-progress-bar-poll-highlight-color: #4bc5f5;
   --env-ui-color-brand-100: #f9fafa;
   --env-ui-color-brand-75: #bec6ca;
   --env-spinner-color: #5cb3fd;
   --env-ui-text-heading-font-size: 1.82em;
   --env-ui-color-brand-70: #b0b9bf;
   --env-box-shadow: 0 0.5em 1em var(--env-box-shadow-color);
   --env-ui-color-brand-60-contrast: #30373b;
   --env-ui-color-brand-contrast: #ffffff;
   --env-brand-palette-muting: 85%;
   --env-spacing-small: 0.75em;
   --env-ui-text-caption-letter-spacing: normal;
   --env-form-font-family: var(--env-font-family);
   --env-ui-text-overline-font-family: var(--env-font-family);
   --env-link-font-color: #ffffff;
   --env-ui-color-brand-65: #a2adb3;
   --env-ui-color-status-attention-contrast: #1f1d1f;
   --env-focus-box-shadow: 0 0 0 var(--env-focus-offset)
      var(--env-focus-inner-color);
   --env-tooltip-font-weight: 200;
   --env-ui-color-brand-60: #94a0a8;
   --env-element-danger-background-color-dark: hsl(2, 81%, 57%);
   --env-pagination-border-width: 1px;
   --env-font-color-lighter: #49506d;
   --env-color-info: var(--env-element-info-background-color);
   --env-ui-color-status-active-contrast: #161718;
   --env-ui-text-subheading-font-color: var(--env-font-color);
   --env-ui-color-brand-55: #86949c;
   --env-ui-color-brand-50: #6e7d87;
   --env-ui-color-brand-70-contrast: #40494f;
   --env-block-secondary-border-color: #2778ab;
   --env-ui-color-brand-95-contrast: #637079;
   --env-collapse-border-color: #101113;
   --env-element-primary-font-color: #ffffff;
   --env-tooltip-font-family: var(--env-font-family);
   --env-color-normal: #666666;
   --env-badge-font-family: var(--env-font-family);
   --env-font-family: 'encode sans';
   --env-form-input-border-color: #838a8f;
   --env-box-shadow-large: 0 1em 3em var(--env-box-shadow-color);
   --env-ui-text-subheading-font-weight: 500;
   --env-ui-color-brand-45-contrast: #f4f5f6;
   --env-ui-color-brand-10-contrast: #86949c;
   --env-link-hover-text-decoration: underline;
   --env-ui-text-overline-letter-spacing: 0.15em;
   --env-ui-color-brand-45: #637079;
   --env-block-primary-border-color: #84898c;
   --env-ui-color-brand-40: #57636b;
   --env-box-shadow-small: 0 0.125em 0.25em var(--env-box-shadow-color);
   --env-ui-text-sectionheading-letter-spacing: normal;
   --env-color-base: #000000;
   --env-font-size-medium: var(--env-font-size-base);
   --env-color-element-bg: #ffffff;
   --env-ui-color-status-active: #6cc76a;
   --env-border-warning-color: #ffbf12;
   --env-element-warning-background-color-dark: hsl(35, 96%, 42%);
   --env-color-brand-dark: var(--env-element-primary-background-color-dark);
   --env-element-background-color-dark: hsl(213, 10%, 9%);
   --env-link-secondary-text-decoration: var(--env-link-text-decoration);
   --env-spacing-xx-small: 0.25em;
   --env-focus-size: 2px;
   --env-ui-color-brand-90-contrast: #57636b;
   --env-ui-color-brand-35: #4c565d;
   --env-border-radius-medium: var(--env-border-radius);
   --env-ui-color-brand-30: #40494f;
   --env-ui-color-status-attention: #f06863;
   --env-color-light: #999999;
   --env-form-input-font-color: #aaaaaa;
   --env-modal-backdrop-background-color: #000;
   --env-button-border-radius: 4px;
   --env-element-info-background-color-dark: hsl(193, 67%, 54%);
   --env-focus-color: #5cb3fd;
   --env-ui-text-sectionheading-font-size: 1.25em;
   --env-font-size-large: calc(var(--env-font-size-base) * 1.25);
   --env-element-danger-background-color: #ee615d;
   --env-cardholder-column-max-width: 400px;
   --env-ui-color-brand-25: #373f43;
   --env-ui-color-brand-20: #30373b;
   --env-pagination-font-family: var(--env-font-family);
   --env-element-info-background-color-light: hsl(193, 67%, 65%);
   --env-spacing-large: 1.25em;
   --env-element-background-color: #272b30;
   --env-ui-text-subheading-text-transform: none;
   --env-font-size-xxxx-large: calc(var(--env-font-size-base) * 2.5);
   --env-element-primary-background-color-light: hsl(210, 5%, 33%);
   --env-spacing-x-small: 0.5em;
   --env-tooltip-font-color: #ffffff;
   --env-ui-color-brand-15: #272c30;
   --env-cardholder-column-min-width: 240px;
   --env-collapse-expanded-border-color: #101113;
   --env-profile-image-border-radius: 50%;
   --env-ui-text-subheading-font-family: var(--env-font-family);
   --env-ui-color-brand-10: #22272a;
   --env-font-color-invert: #ffffff;
   --env-color-success: var(--env-element-success-background-color);
   --env-border-danger-color: #c15252;
   --env-element-warning-background-color-light: hsl(35, 96%, 53%);
   --env-ui-text-sectionheading-text-transform: none;
   --env-font-size-x-large: calc(var(--env-font-size-base) * 1.5);
   --env-ui-text-caption-text-transform: none;
   --env-color-hover: #f7f7f7;
   --env-block-primary-background-color: #101113;
   --env-block-secondary-link-font-color: #ffffff;
   --env-collapse-expanded-background-color: #101113;
   --env-ui-color-brand-05: #1e2224;
   --env-ui-color-brand-80-contrast: #4c565d;
   --env-element-warning-background-color: #fa9507;
   --env-font-size-xxx-large: calc(var(--env-font-size-base) * 2);
   --env-ui-color-status-neutral: #626262;
   --env-ui-text-overline-text-transform: uppercase;
   --env-element-info-background-color: #5dc2df;
   --env-border-radius-large: calc(var(--env-border-radius) * 1.5);
   --env-focus-inner-color: var(--env-section-background-color);
   --env-ui-color-brand-85-contrast: #57636b;
   --env-block-font-color: #aaaaaa;
   --env-ui-color-brand-100-contrast: #637079;
   --env-ui-text-heading-text-transform: none;
   --env-image-control-color: #ffffff;
   --env-font-size-xx-large: calc(var(--env-font-size-base) * 1.75);
   --env-spacing-xxx-small: 0.125em;
   --env-element-success-background-color-light: hsl(119, 45%, 63%);
   --env-block-primary-link-font-color: #ffffff;
   --env-ui-color-brand-05-contrast: #86949c;
   --env-block-secondary-link-hover-text-decoration: underline;
   --env-ui-text-caption-font-weight: 400;
   --env-link-secondary-hover-font-color: var(--env-link-font-color);
   --env-ui-text-caption-font-family: var(--env-font-family);
   --env-ui-text-heading-font-weight: 500;
   --env-ui-color-brand-75-contrast: #40494f;
   --env-element-secondary-background-color: #838a8f;
   --env-ui-text-caption-font-size: 0.875em;
   --env-alert-font-color: var(--env-font-color);
   --env-alert-border-radius: var(--env-border-radius-medium);
   --env-alert-background-color: var(--env-section-background-color);
   --env-collapse-border-style: solid;
   --env-color-warning-dark: var(--env-element-warning-background-color-dark);
   --env-block-primary-font-color: #aaaaaa;
   --env-ui-color-brand-65-contrast: #373f43;
   --env-cardholder-grid-column-width: 20em;
   --env-button-font-family: var(--env-font-family);
   --env-border-radius-small: calc(var(--env-border-radius) * 0.5);
   --env-block-link-hover-text-decoration: underline;
   --env-modal-backdrop-opacity: 0.5;
   --env-ui-text-sectionheading-font-color: #d4d4d4;
   --env-color-dark: #333333;
   --env-ui-text-heading-letter-spacing: normal;
   --env-element-common-background-color: #454545;
   --env-color-danger: var(--env-element-danger-background-color);
   --env-form-input-border-radius: var(--env-border-radius-medium);
   --env-ui-text-subheading-letter-spacing: normal;
   --env-section-background-color: #32383f;
   --env-form-label-font-family: var(--env-font-family);
   --env-collapse-icon-width: 15px;
   --env-element-warning-font-color: #101113;
   --env-ui-text-sectionheading-font-weight: 500;
   --env-font-color-light: #34394f;
   --env-ui-text-overline-font-size: 0.75em;
   --env-block-primary-link-hover-text-decoration: underline;
   --env-border-radius: 0.25em;
   --env-focus-background-color: rgba(0, 0, 0, 0.2);
   --env-focus-outline: var(--env-focus-size) solid
      var(--env-focus-outline-color);
   --env-block-link-text-decoration: underline;
   --env-ui-color-brand-40-contrast: #dbdfe1;
   --env-tooltip-font-size: 11px;
   --env-spacing-xxx-large: 2em;
   --env-ui-color-status-neutral-contrast: #ffffff;
   --env-element-info-font-color: #101113;
   --env-color-lighter: #cccccc;
   --env-element-primary-background-color-dark: hsl(210, 5%, 22%);
   --env-ui-text-heading-font-family: var(--env-font-family);
   --env-form-label-font-weight: 300;
   --env-border-color: #101113;
   --env-color-brand-light: var(--env-element-primary-background-color-light);
   --env-ui-color-brand: #2778ab;
   --env-element-font-color: #ffffff;
   --env-block-secondary-link-hover-font-color: #ffffff;
   --env-ui-color-brand-15-contrast: #86949c;
   --env-block-background-color: #32383f;
   --env-color-page-bg: #ffffff;
   --env-alert-font-family: var(--env-font-family);
   --env-font-size-base: 1em;
}
