.sv-theme-dark {
   background-color: var(--env-background-color) !important;
   color: var(--env-font-color);
   font-family: var(--env-font-family);
   --env-link-hover-font-color: #9ab8fe;
   --env-ui-color-brand-20-contrast: #8eaf9b;
   --env-modal-large-width: 900px;
   --env-block-secondary-font-color: #dfeee5;
   --env-modal-small-width: 300px;
   --env-background-color: #161718;
   --env-element-secondary-background-color-light: hsl(268, 96%, 82%);
   --env-font-color: #ededed;
   --env-ui-text-overline-font-color: #53a272;
   --env-collapse-icon-height: 3px;
   --env-element-secondary-background-color-dark: hsl(268, 96%, 71%);
   --env-modal-medium-width: 450px;
   --env-focus-outline-color: #dfeee5;
   --env-color-brand: var(--env-element-primary-background-color);
   --env-spacing-xx-large: 1.75em;
   --env-color-warning: var(--env-element-warning-background-color);
   --env-link-secondary-font-color: var(--env-font-color);
   --env-popover-width: 360px;
   --env-spacing-medium: 1em;
   --env-element-danger-font-color: #2d3237;
   --env-breadcrumb-divider-color: #999999;
   --env-badge-border-radius: var(--env-border-radius-medium);
   --env-block-primary-link-hover-font-color: var(--env-link-hover-font-color);
   --env-element-success-background-color-dark: hsl(152, 63%, 64%);
   --env-ui-color-brand-30-contrast: #bacec2;
   --env-ui-color-brand-35-contrast: #c9d9cf;
   --env-ui-text-heading-font-color: var(--env-font-color);
   --env-element-success-font-color: #2d3237;
   --env-color-darker: #0d0d0d;
   --env-block-link-hover-font-color: var(--env-link-hover-font-color);
   --env-ui-text-overline-font-weight: 500;
   --env-ui-color-brand-95: #f3f7f4;
   --env-element-secondary-font-color: #dfeee5;
   --env-font-size-x-small: calc(var(--env-font-size-base) * 0.75);
   --env-ui-color-brand-55-contrast: #24332a;
   --env-link-text-decoration: none;
   --env-ui-color-brand-90: #e7eeea;
   --env-ui-color-brand-dark: hsla(143.5, 32.2%, 40%, 1);
   --env-cardholder-column-spacing: var(--env-spacing-medium);
   --env-color-lightest: #e6e6e6;
   --env-block-link-font-color: var(--env-link-font-color);
   --env-block-secondary-background-color: #53a272;
   --env-ui-color-brand-25-contrast: #9db9a8;
   --env-collapse-background-color: var(--env-element-background-color-light);
   --env-element-primary-background-color: #53a272;
   --env-spacing-x-large: 1.5em;
   --env-badge-font-size: 75%;
   --env-cardholder-grid-gap: var(--env-spacing-medium);
   --env-focus-offset: var(--env-focus-size);
   --env-element-danger-background-color-light: hsl(344, 82%, 81%);
   --env-font-size-small: calc(var(--env-font-size-base) * 0.875);
   --env-form-input-background-color: var(--env-section-background-color);
   --env-collapse-toggle-duration: 300ms;
   --env-ui-color-brand-85: #d8e3dd;
   --env-ui-color-brand-80: #c9d9cf;
   --env-collapse-icon-color: var(--env-font-color);
   --env-border-color-light: hsl(200, 1%, 31%);
   --env-ui-color-brand-50-contrast: #000000;
   --env-border-success-color: #358156;
   --env-ui-text-sectionheading-font-family: var(--env-font-family);
   --env-ui-text-subheading-font-size: 1em;
   --env-ui-text-caption-font-color: var(--env-font-color-muted);
   --env-pagination-border-style: solid;
   --env-font-color-muted: hsla(0, 0%, 93%, 0.65);
   --env-block-border-color: #666869;
   --env-link-secondary-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-element-success-background-color: #8be5bb;
   --env-element-background-color-light: hsl(60, 1%, 24%);
   --env-collapse-border-width: 1px;
   --env-progress-bar-poll-highlight-color: #4bc5f5;
   --env-ui-color-brand-100: #f9fbfa;
   --env-ui-color-brand-75: #bacec2;
   --env-spinner-color: #5cb3fd;
   --env-ui-text-heading-font-size: 1.82em;
   --env-ui-color-brand-70: #abc4b5;
   --env-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
   --env-ui-color-brand-60-contrast: #2c3f34;
   --env-ui-color-brand-contrast: #dfeee5;
   --env-brand-palette-muting: 50%;
   --env-spacing-small: 0.75em;
   --env-ui-text-caption-letter-spacing: normal;
   --env-form-font-family: var(--env-font-family);
   --env-ui-text-overline-font-family: var(--env-font-family);
   --env-link-font-color: #9ab8fe;
   --env-ui-color-brand-65: #9db9a8;
   --env-focus-box-shadow: 0 0 0 var(--env-focus-offset)
      var(--env-focus-inner-color);
   --env-ui-color-brand-60: #8eaf9b;
   --env-element-danger-background-color-dark: hsl(344, 82%, 70%);
   --env-pagination-border-width: 1px;
   --env-font-color-lighter: #49506d;
   --env-color-info: var(--env-element-info-background-color);
   --env-ui-text-subheading-font-color: var(--env-font-color);
   --env-ui-color-brand-55: #7fa48d;
   --env-ui-color-brand-50: #668f76;
   --env-ui-color-brand-70-contrast: #33483b;
   --env-block-secondary-border-color: #3f734f;
   --env-ui-color-brand-95-contrast: #50715d;
   --env-collapse-border-color: var(--env-element-background-color);
   --env-element-primary-font-color: #dfeee5;
   --env-color-normal: #666666;
   --env-badge-font-family: var(--env-font-family);
   --env-font-family: 'encode sans';
   --env-form-input-border-color: #737373;
   --env-box-shadow-large: 0 1em 3em rgba(0, 0, 0, 0.175);
   --env-ui-text-subheading-font-weight: 500;
   --env-ui-color-brand-45-contrast: #000000;
   --env-ui-color-brand-10-contrast: #7fa48d;
   --env-link-hover-text-decoration: underline;
   --env-ui-text-overline-letter-spacing: 0.15em;
   --env-ui-color-brand-45: #5b806a;
   --env-block-primary-border-color: #84898c;
   --env-ui-color-brand-40: #50715d;
   --env-box-shadow-small: 0 0.125em 0.25em rgba(0, 0, 0, 0.075);
   --env-ui-text-sectionheading-letter-spacing: normal;
   --env-color-base: #000000;
   --env-font-size-medium: var(--env-font-size-base);
   --env-color-element-bg: #ffffff;
   --env-border-warning-color: #ffbf12;
   --env-element-warning-background-color-dark: hsl(63, 100%, 74%);
   --env-color-brand-dark: var(--env-element-primary-background-color-dark);
   --env-element-background-color-dark: hsl(60, 1%, 13%);
   --env-link-secondary-text-decoration: var(--env-link-text-decoration);
   --env-spacing-xx-small: 0.25em;
   --env-focus-size: 2px;
   --env-ui-color-brand-90-contrast: #50715d;
   --env-ui-color-brand-35: #466251;
   --env-border-radius-medium: var(--env-border-radius);
   --env-ui-color-brand-30: #3b5445;
   --env-color-light: #999999;
   --env-form-input-font-color: var(--env-font-color);
   --env-modal-backdrop-background-color: #000;
   --env-button-border-radius: 0.375em;
   --env-element-info-background-color-dark: hsl(222, 98%, 72%);
   --env-focus-color: #5cb3fd;
   --env-ui-text-sectionheading-font-size: 1.25em;
   --env-font-size-large: calc(var(--env-font-size-base) * 1.25);
   --env-element-danger-background-color: #f599b2;
   --env-cardholder-column-max-width: 400px;
   --env-ui-color-brand-25: #33483b;
   --env-ui-color-brand-20: #2c3f34;
   --env-pagination-font-family: var(--env-font-family);
   --env-element-info-background-color-light: hsl(222, 98%, 83%);
   --env-spacing-large: 1.25em;
   --env-element-background-color: #363635;
   --env-ui-text-subheading-text-transform: none;
   --env-font-size-xxxx-large: calc(var(--env-font-size-base) * 2.5);
   --env-element-primary-background-color-light: hsl(144, 32%, 51%);
   --env-spacing-x-small: 0.5em;
   --env-ui-color-brand-15: #24332a;
   --env-cardholder-column-min-width: 240px;
   --env-collapse-expanded-border-color: var(
      --env-element-background-color-dark
   );
   --env-profile-image-border-radius: 50%;
   --env-ui-text-subheading-font-family: var(--env-font-family);
   --env-ui-color-brand-10: #202d25;
   --env-font-color-invert: #ffffff;
   --env-color-success: var(--env-element-success-background-color);
   --env-border-danger-color: #c15252;
   --env-element-warning-background-color-light: hsl(63, 100%, 85%);
   --env-ui-text-sectionheading-text-transform: none;
   --env-font-size-x-large: calc(var(--env-font-size-base) * 1.5);
   --env-ui-text-caption-text-transform: none;
   --env-color-hover: #f7f7f7;
   --env-block-primary-background-color: #666869;
   --env-block-secondary-link-font-color: #ffffff;
   --env-collapse-expanded-background-color: var(
      --env-element-background-color
   );
   --env-ui-color-brand-05: #1c2720;
   --env-ui-color-brand-80-contrast: #466251;
   --env-element-warning-background-color: #faffa4;
   --env-font-size-xxx-large: calc(var(--env-font-size-base) * 2);
   --env-ui-text-overline-text-transform: uppercase;
   --env-element-info-background-color: #9ab8fe;
   --env-border-radius-large: calc(var(--env-border-radius) * 1.5);
   --env-focus-inner-color: var(--env-section-background-color);
   --env-ui-color-brand-85-contrast: #466251;
   --env-block-font-color: #e3e3e3;
   --env-ui-color-brand-100-contrast: #50715d;
   --env-ui-text-heading-text-transform: none;
   --env-image-control-color: #fff;
   --env-font-size-xx-large: calc(var(--env-font-size-base) * 1.75);
   --env-spacing-xxx-small: 0.125em;
   --env-element-success-background-color-light: hsl(152, 63%, 75%);
   --env-block-primary-link-font-color: var(--env-link-font-color);
   --env-ui-color-brand-05-contrast: #7fa48d;
   --env-ui-text-caption-font-weight: 400;
   --env-link-secondary-hover-font-color: var(--env-link-font-color);
   --env-ui-text-caption-font-family: var(--env-font-family);
   --env-ui-text-heading-font-weight: 500;
   --env-ui-color-brand-75-contrast: #3b5445;
   --env-element-secondary-background-color: #c594fd;
   --env-ui-text-caption-font-size: 0.875em;
   --env-alert-font-color: var(--env-font-color);
   --env-alert-border-radius: var(--env-border-radius-medium);
   --env-alert-background-color: var(--env-section-background-color);
   --env-collapse-border-style: solid;
   --env-color-warning-dark: var(--env-element-warning-background-color-dark);
   --env-block-primary-font-color: #e8e8e8;
   --env-ui-color-brand-65-contrast: #33483b;
   --env-cardholder-grid-column-width: 20em;
   --env-button-font-family: var(--env-font-family);
   --env-border-radius-small: calc(var(--env-border-radius) * 0.5);
   --env-modal-backdrop-opacity: 0.5;
   --env-ui-text-sectionheading-font-color: #53a272;
   --env-color-dark: #333333;
   --env-ui-text-heading-letter-spacing: normal;
   --env-element-common-background-color: #2e2e2e;
   --env-color-danger: var(--env-element-danger-background-color);
   --env-form-input-border-radius: var(--env-border-radius-medium);
   --env-ui-text-subheading-letter-spacing: normal;
   --env-section-background-color: #222221;
   --env-collapse-icon-width: 15px;
   --env-element-warning-font-color: #2d3237;
   --env-ui-text-sectionheading-font-weight: 500;
   --env-font-color-light: #34394f;
   --env-ui-text-overline-font-size: 0.75em;
   --env-border-radius: 0.25em;
   --env-focus-background-color: rgba(0, 0, 0, 0.2);
   --env-focus-outline: var(--env-focus-size) solid
      var(--env-focus-outline-color);
   --env-ui-color-brand-40-contrast: #e7eeea;
   --env-spacing-xxx-large: 2em;
   --env-element-info-font-color: #2d3237;
   --env-color-lighter: #cccccc;
   --env-element-primary-background-color-dark: hsl(144, 32%, 40%);
   --env-ui-text-heading-font-family: var(--env-font-family);
   --env-border-color: #666869;
   --env-color-brand-light: var(--env-element-primary-background-color-light);
   --env-ui-color-brand: #53a272;
   --env-element-font-color: #e3e3e3;
   --env-block-secondary-link-hover-font-color: #ffffff;
   --env-ui-color-brand-15-contrast: #7fa48d;
   --env-block-background-color: #2d3237;
   --env-color-page-bg: #ffffff;
   --env-alert-font-family: var(--env-font-family);
   --env-font-size-base: 1em;
}
