.sv-theme-dark {
   background-color: var(--env-background-color) !important;
   color: var(--env-font-color);
   font-family: var(--env-font-family);
   --env-link-hover-font-color: #9f8494;
   --env-ui-color-brand-20-contrast: #b4a2ad;
   --env-modal-large-width: 900px;
   --env-block-secondary-font-color: #1f1d1f;
   --env-modal-small-width: 300px;
   --env-background-color: #161718;
   --env-element-secondary-background-color-light: hsl(0, 0%, 22%);
   --env-font-color: #9f8494;
   --env-ui-text-overline-font-color: #df4ea7;
   --env-collapse-icon-height: 3px;
   --env-element-secondary-background-color-dark: hsl(0, 0%, 11%);
   --env-modal-medium-width: 450px;
   --env-focus-outline-color: #dfeee5;
   --env-color-brand: var(--env-element-primary-background-color);
   --env-spacing-xx-large: 1.75em;
   --env-color-warning: var(--env-element-warning-background-color);
   --env-link-secondary-font-color: var(--env-font-color);
   --env-popover-width: 360px;
   --env-spacing-medium: 1em;
   --env-element-danger-font-color: #ffffff;
   --env-breadcrumb-divider-color: #999999;
   --env-badge-border-radius: var(--env-border-radius-medium);
   --env-block-primary-link-hover-font-color: #e8e8e8;
   --env-element-success-background-color-dark: hsl(147, 30%, 16%);
   --env-ui-color-brand-30-contrast: #bfb0b9;
   --env-tooltip-background-color: #666869;
   --env-ui-color-brand-35-contrast: #d6ccd2;
   --env-tooltip-border-radius: var(--env-border-radius);
   --env-ui-text-heading-font-color: var(--env-font-color);
   --env-element-success-font-color: #ffffff;
   --env-color-darker: #0d0d0d;
   --env-block-link-hover-font-color: #9f8494;
   --env-ui-text-overline-font-weight: 500;
   --env-ui-color-brand-95: #f6f4f5;
   --env-element-secondary-font-color: #ffffff;
   --env-font-size-x-small: calc(var(--env-font-size-base) * 0.75);
   --env-ui-color-brand-55-contrast: #2a2227;
   --env-link-text-decoration: underline;
   --env-ui-color-brand-90: #ede8eb;
   --env-ui-color-brand-dark: hsla(323.2, 69.4%, 51%, 1);
   --env-cardholder-column-spacing: var(--env-spacing-medium);
   --env-color-lightest: #e6e6e6;
   --env-block-link-font-color: #9f8494;
   --env-block-secondary-background-color: #df4ea7;
   --env-ui-color-brand-25-contrast: #b4a2ad;
   --env-collapse-background-color: var(--env-element-background-color-light);
   --env-element-primary-background-color: #2d4863;
   --env-spacing-x-large: 1.5em;
   --env-badge-font-size: 75%;
   --env-cardholder-grid-gap: var(--env-spacing-medium);
   --env-focus-offset: var(--env-focus-size);
   --env-element-danger-background-color-light: hsl(0, 32%, 36%);
   --env-font-size-small: calc(var(--env-font-size-base) * 0.875);
   --env-form-input-background-color: var(--env-section-background-color);
   --env-collapse-toggle-duration: 300ms;
   --env-ui-color-brand-85: #e1dadf;
   --env-ui-color-brand-80: #d6ccd2;
   --env-collapse-icon-color: var(--env-font-color);
   --env-border-color-light: hsl(328, 9%, 18%);
   --env-ui-color-brand-50-contrast: #ffffff;
   --env-border-success-color: #358156;
   --env-ui-text-sectionheading-font-family: var(--env-font-family);
   --env-ui-text-subheading-font-size: 1em;
   --env-ui-text-caption-font-color: var(--env-font-color-muted);
   --env-pagination-border-style: solid;
   --env-font-color-muted: hsla(324, 12%, 57%, 0.65);
   --env-block-border-color: #4d4047;
   --env-link-secondary-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-element-success-background-color: #2b4f3b;
   --env-element-background-color-light: hsl(0, 0%, 41%);
   --env-collapse-border-width: 1px;
   --env-progress-bar-poll-highlight-color: #4bc5f5;
   --env-ui-color-brand-100: #faf9fa;
   --env-ui-color-brand-75: #cbbec6;
   --env-spinner-color: #5cb3fd;
   --env-ui-text-heading-font-size: 1.82em;
   --env-ui-color-brand-70: #bfb0b9;
   --env-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
   --env-ui-color-brand-60-contrast: #30272c;
   --env-ui-color-brand-contrast: #1f1d1f;
   --env-brand-palette-muting: 85%;
   --env-spacing-small: 0.75em;
   --env-ui-text-caption-letter-spacing: normal;
   --env-form-font-family: var(--env-font-family);
   --env-ui-text-overline-font-family: var(--env-font-family);
   --env-link-font-color: #9f8494;
   --env-ui-color-brand-65: #b4a2ad;
   --env-ui-color-status-attention-contrast: #1f1d1f;
   --env-focus-box-shadow: 0 0 0 var(--env-focus-offset)
      var(--env-focus-inner-color);
   --env-tooltip-font-weight: 700;
   --env-ui-color-brand-60: #a993a1;
   --env-element-danger-background-color-dark: hsl(0, 32%, 25%);
   --env-pagination-border-width: 1px;
   --env-font-color-lighter: #49506d;
   --env-color-info: var(--env-element-info-background-color);
   --env-ui-color-status-active-contrast: #161718;
   --env-ui-text-subheading-font-color: var(--env-font-color);
   --env-ui-color-brand-55: #9d8594;
   --env-ui-color-brand-50: #886d7d;
   --env-ui-color-brand-70-contrast: #4f4049;
   --env-block-secondary-border-color: #df4ea7;
   --env-ui-color-brand-95-contrast: #7a6270;
   --env-collapse-border-color: var(--env-element-background-color);
   --env-element-primary-font-color: #ffffff;
   --env-tooltip-font-family: var(--env-font-family);
   --env-color-normal: #666666;
   --env-badge-font-family: var(--env-font-family);
   --env-font-family: 'encode sans';
   --env-form-input-border-color: #737373;
   --env-box-shadow-large: 0 1em 3em rgba(0, 0, 0, 0.175);
   --env-ui-text-subheading-font-weight: 500;
   --env-ui-color-brand-45-contrast: #ede8eb;
   --env-ui-color-brand-10-contrast: #9d8594;
   --env-link-hover-text-decoration: underline;
   --env-ui-text-overline-letter-spacing: 0.15em;
   --env-ui-color-brand-45: #7a6270;
   --env-block-primary-border-color: #84898c;
   --env-ui-color-brand-40: #6c5663;
   --env-box-shadow-small: 0 0.125em 0.25em rgba(0, 0, 0, 0.075);
   --env-ui-text-sectionheading-letter-spacing: normal;
   --env-color-base: #000000;
   --env-font-size-medium: var(--env-font-size-base);
   --env-color-element-bg: #ffffff;
   --env-ui-color-status-active: #5ae063;
   --env-border-warning-color: #ffbf12;
   --env-element-warning-background-color-dark: hsl(44, 46%, 28%);
   --env-color-brand-dark: var(--env-element-primary-background-color-dark);
   --env-element-background-color-dark: hsl(0, 0%, 30%);
   --env-link-secondary-text-decoration: var(--env-link-text-decoration);
   --env-spacing-xx-small: 0.25em;
   --env-focus-size: 2px;
   --env-ui-color-brand-90-contrast: #7a6270;
   --env-ui-color-brand-35: #5d4b56;
   --env-border-radius-medium: var(--env-border-radius);
   --env-ui-color-brand-30: #4f4049;
   --env-ui-color-status-attention: #df4ea7;
   --env-color-light: #999999;
   --env-form-input-font-color: var(--env-font-color);
   --env-modal-backdrop-background-color: #000;
   --env-button-border-radius: 0.375em;
   --env-element-info-background-color-dark: hsl(188, 39%, 16%);
   --env-focus-color: #5cb3fd;
   --env-ui-text-sectionheading-font-size: 1.25em;
   --env-font-size-large: calc(var(--env-font-size-base) * 1.25);
   --env-element-danger-background-color: #6e3939;
   --env-cardholder-column-max-width: 400px;
   --env-ui-color-brand-25: #44363f;
   --env-ui-color-brand-20: #3b3037;
   --env-pagination-font-family: var(--env-font-family);
   --env-element-info-background-color-light: hsl(188, 39%, 27%);
   --env-spacing-large: 1.25em;
   --env-element-background-color: #626262;
   --env-ui-text-subheading-text-transform: none;
   --env-font-size-xxxx-large: calc(var(--env-font-size-base) * 2.5);
   --env-element-primary-background-color-light: hsl(210, 38%, 31%);
   --env-spacing-x-small: 0.5em;
   --env-tooltip-font-color: #ffffff;
   --env-ui-color-brand-15: #30272c;
   --env-cardholder-column-min-width: 240px;
   --env-collapse-expanded-border-color: var(
      --env-element-background-color-dark
   );
   --env-profile-image-border-radius: 50%;
   --env-ui-text-subheading-font-family: var(--env-font-family);
   --env-ui-color-brand-10: #2a2227;
   --env-font-color-invert: #ffffff;
   --env-color-success: var(--env-element-success-background-color);
   --env-border-danger-color: #c15252;
   --env-element-warning-background-color-light: hsl(44, 46%, 39%);
   --env-ui-text-sectionheading-text-transform: none;
   --env-font-size-x-large: calc(var(--env-font-size-base) * 1.5);
   --env-ui-text-caption-text-transform: none;
   --env-color-hover: #f7f7f7;
   --env-block-primary-background-color: #666869;
   --env-block-secondary-link-font-color: #1f1d1f;
   --env-collapse-expanded-background-color: var(
      --env-element-background-color
   );
   --env-ui-color-brand-05: #251e22;
   --env-ui-color-brand-80-contrast: #5d4b56;
   --env-element-warning-background-color: #866f31;
   --env-font-size-xxx-large: calc(var(--env-font-size-base) * 2);
   --env-ui-color-status-neutral: #626262;
   --env-ui-text-overline-text-transform: uppercase;
   --env-element-info-background-color: #254f55;
   --env-border-radius-large: calc(var(--env-border-radius) * 1.5);
   --env-focus-inner-color: var(--env-section-background-color);
   --env-ui-color-brand-85-contrast: #6c5663;
   --env-block-font-color: #9f8494;
   --env-ui-color-brand-100-contrast: #7a6270;
   --env-ui-text-heading-text-transform: none;
   --env-image-control-color: #ffffff;
   --env-font-size-xx-large: calc(var(--env-font-size-base) * 1.75);
   --env-spacing-xxx-small: 0.125em;
   --env-element-success-background-color-light: hsl(147, 30%, 27%);
   --env-block-primary-link-font-color: #e8e8e8;
   --env-ui-color-brand-05-contrast: #9d8594;
   --env-ui-text-caption-font-weight: 400;
   --env-link-secondary-hover-font-color: var(--env-link-font-color);
   --env-ui-text-caption-font-family: var(--env-font-family);
   --env-ui-text-heading-font-weight: 500;
   --env-ui-color-brand-75-contrast: #4f4049;
   --env-element-secondary-background-color: #303030;
   --env-ui-text-caption-font-size: 0.875em;
   --env-alert-font-color: var(--env-font-color);
   --env-alert-border-radius: var(--env-border-radius-medium);
   --env-alert-background-color: var(--env-section-background-color);
   --env-collapse-border-style: solid;
   --env-color-warning-dark: var(--env-element-warning-background-color-dark);
   --env-block-primary-font-color: #e8e8e8;
   --env-ui-color-brand-65-contrast: #44363f;
   --env-cardholder-grid-column-width: 20em;
   --env-button-font-family: var(--env-font-family);
   --env-border-radius-small: calc(var(--env-border-radius) * 0.5);
   --env-modal-backdrop-opacity: 0.5;
   --env-ui-text-sectionheading-font-color: #df4ea7;
   --env-color-dark: #333333;
   --env-ui-text-heading-letter-spacing: normal;
   --env-element-common-background-color: #2b2b2b;
   --env-color-danger: var(--env-element-danger-background-color);
   --env-form-input-border-radius: var(--env-border-radius-medium);
   --env-ui-text-subheading-letter-spacing: normal;
   --env-section-background-color: #1f1d1f;
   --env-collapse-icon-width: 15px;
   --env-element-warning-font-color: #ffffff;
   --env-ui-text-sectionheading-font-weight: 500;
   --env-font-color-light: #34394f;
   --env-ui-text-overline-font-size: 0.75em;
   --env-border-radius: 0.25em;
   --env-focus-background-color: rgba(0, 0, 0, 0.2);
   --env-focus-outline: var(--env-focus-size) solid
      var(--env-focus-outline-color);
   --env-ui-color-brand-40-contrast: #e1dadf;
   --env-tooltip-font-size: 12px;
   --env-spacing-xxx-large: 2em;
   --env-ui-color-status-neutral-contrast: #ffffff;
   --env-element-info-font-color: #ffffff;
   --env-color-lighter: #cccccc;
   --env-element-primary-background-color-dark: hsl(210, 38%, 20%);
   --env-ui-text-heading-font-family: var(--env-font-family);
   --env-border-color: #4d4047;
   --env-color-brand-light: var(--env-element-primary-background-color-light);
   --env-ui-color-brand: #df4ea7;
   --env-element-font-color: #ffffff;
   --env-block-secondary-link-hover-font-color: #1f1d1f;
   --env-ui-color-brand-15-contrast: #a993a1;
   --env-block-background-color: #1f1d1f;
   --env-color-page-bg: #ffffff;
   --env-alert-font-family: var(--env-font-family);
   --env-font-size-base: 1em;
}
