.sv-theme-dark {
   background-color: var(--env-background-color) !important;
   color: var(--env-font-color);
   font-family: var(--env-font-family);
   --env-text-heading-02-font-style: normal;
   --env-text-heading-01-letter-spacing: normal;
   --env-ui-color-brand-20-contrast: #61abdb;
   --env-text-heading-04-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-modal-small-width: 300px;
   --env-root-font-size: 16;
   --env-text-caption-01-font-style: normal;
   --env-font-color: #e8e8e8;
   --env-text-quotation-02-margin-block-start: 1em;
   --env-collapse-icon-height: 3px;
   --env-text-quotation-01-letter-spacing: normal;
   --env-element-secondary-background-color-dark: hsl(0, 0%, 55%);
   --env-modal-medium-width: 450px;
   --env-text-table-caption-01-font-size: 0.8125em;
   --env-text-display-03-margin-block-start: 1em;
   --env-text-body-02-font-style: normal;
   --env-focus-outline-color: var(--env-font-color);
   --env-text-body-03-font-color: var(--env-font-color);
   --env-color-brand: var(--env-element-primary-background-color);
   --env-text-table-heading-01-font-weight: 700;
   --env-color-warning: var(--env-element-warning-background-color);
   --env-popover-width: 360px;
   --env-element-danger-font-color: #272b30;
   --env-text-summary-01-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-tooltip-background-color: #000000;
   --env-text-body-02-link-hover-font-color: var(--env-link-hover-font-color);
   --env-tooltip-border-radius: var(--env-border-radius);
   --env-text-heading-04-margin-block-start: 1.5em;
   --env-color-darker: #0d0d0d;
   --env-text-summary-01-margin-block-start: 1em;
   --env-text-body-01-line-height: 1.6;
   --env-text-heading-03-font-color: var(--env-font-color);
   --env-ui-text-overline-font-weight: 600;
   --env-ui-color-brand-95: #eef6fb;
   --env-font-size-x-small: calc(var(--env-font-size-base) * 0.75);
   --env-text-quotation-02-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-link-text-decoration: underline;
   --env-ui-color-brand-90: #deedf7;
   --env-text-table-caption-01-font-family: var(--env-font-family);
   --env-text-heading-03-margin-block-end: 0.5em;
   --env-block-secondary-background-color: #2778ac;
   --env-block-link-font-color: #ffffff;
   --env-ui-color-brand-25-contrast: #76b6e0;
   --env-collapse-background-color: #323840;
   --env-element-primary-background-color: #81a6ca;
   --env-spacing-x-large: 1.5em;
   --env-text-table-data-01-text-transform: none;
   --env-form-input-background-color: var(--env-section-background-color);
   --env-text-heading-05-font-color: var(--env-font-color);
   --env-text-heading-04-link-hover-font-color: var(--env-link-font-color);
   --env-ui-color-brand-85: #c9e2f3;
   --env-text-heading-06-font-weight: 800;
   --env-text-display-01-font-family: var(--env-font-family);
   --env-text-summary-01-font-weight: 400;
   --env-text-caption-01-font-family: var(--env-font-family);
   --env-text-display-02-font-size: 1.952em;
   --env-ui-color-brand-80: #b4d7ee;
   --env-box-shadow-color: rgba(5, 5, 5, 0.7);
   --env-text-display-02-font-family: var(--env-font-family);
   --env-text-heading-03-font-weight: 800;
   --env-text-body-01-font-weight: 400;
   --env-text-heading-04-font-weight: 800;
   --env-text-heading-02-font-weight: 800;
   --env-text-display-03-font-family: var(--env-font-family);
   --env-text-heading-05-font-weight: 800;
   --env-text-heading-01-font-weight: 800;
   --env-text-body-04-font-weight: 400;
   --env-ui-text-subheading-font-size: 1em;
   --env-ui-text-caption-font-color: var(--env-font-color-muted);
   --env-pagination-border-style: solid;
   --env-font-color-muted: hsla(0, 0%, 91%, 0.65);
   --env-text-body-03-font-weight: 400;
   --env-block-border-color: #101113;
   --env-text-body-02-font-weight: 400;
   --env-text-summary-01-text-transform: none;
   --env-text-heading-03-line-height: 1.2;
   --env-text-table-heading-01-font-color: var(--env-font-color);
   --env-text-heading-05-line-height: 1.2;
   --env-text-heading-01-line-height: 1.2;
   --env-ui-color-brand-100: #f7fbfd;
   --env-ui-color-brand-75: #9fcce9;
   --env-spinner-color: #5cb3fd;
   --env-ui-color-brand-70: #8bc1e5;
   --env-ui-text-heading-font-size: 1.82em;
   --env-ui-color-brand-60-contrast: #143d57;
   --env-ui-color-brand-contrast: #ffffff;
   --env-ui-text-caption-letter-spacing: normal;
   --env-text-heading-03-letter-spacing: normal;
   --env-text-table-caption-01-text-transform: none;
   --env-text-body-03-text-transform: none;
   --env-link-font-color: #ffffff;
   --env-ui-color-brand-65: #76b6e0;
   --env-text-display-02-text-transform: none;
   --env-focus-box-shadow: 0 0 0 var(--env-focus-offset)
      var(--env-focus-inner-color);
   --env-tooltip-font-weight: 400;
   --env-ui-color-brand-60: #61abdb;
   --env-text-heading-06-link-text-decoration: var(--env-link-text-decoration);
   --env-text-heading-02-font-size: 2.5em;
   --env-pagination-border-width: 1px;
   --env-text-heading-05-margin-block-end: 0.5em;
   --env-font-color-lighter: #49506d;
   --env-text-body-03-line-height: 1.6;
   --env-ui-color-brand-55: #4ca0d6;
   --env-ui-color-brand-50: #2d8bc8;
   --env-text-body-03-link-font-color: var(--env-link-font-color);
   --env-text-display-01-font-color: var(--env-font-color);
   --env-collapse-border-color: #000000;
   --env-color-normal: #666666;
   --env-font-family: helvetica, arial, sans-serif;
   --env-text-table-data-01-font-weight: 400;
   --env-form-input-border-color: #949494;
   --env-box-shadow-large: 0 1em 3em var(--env-box-shadow-color);
   --env-dynamic-font-scale: 1.25;
   --env-ui-color-brand-45-contrast: #000000;
   --env-text-table-caption-01-link-text-decoration: var(
      --env-link-text-decoration
   );
   --env-ui-text-overline-letter-spacing: 0.15em;
   --env-text-body-04-margin-block-start: 0;
   --env-text-body-01-margin-block-start: 0;
   --env-ui-color-brand-45: #297db3;
   --env-block-primary-border-color: #aaaaaa;
   --env-text-quotation-01-font-color: var(--env-font-color);
   --env-ui-color-brand-40: #246e9e;
   --env-box-shadow-small: 0 0.125em 0.25em var(--env-box-shadow-color);
   --env-text-quotation-01-font-size: 1.2em;
   --env-color-base: #000000;
   --env-font-size-medium: var(--env-font-size-base);
   --env-color-element-bg: #ffffff;
   --env-text-body-03-margin-block-end: 1em;
   --env-text-heading-04-link-text-decoration: var(--env-link-text-decoration);
   --env-text-caption-01-letter-spacing: normal;
   --env-border-warning-color: #ffbf12;
   --env-text-caption-01-font-size: 0.8125em;
   --env-color-brand-dark: var(--env-element-primary-background-color-dark);
   --env-text-heading-03-link-hover-font-color: var(--env-link-font-color);
   --env-text-summary-01-font-color: var(--env-font-color);
   --env-text-display-03-font-color: var(--env-font-color);
   --env-spacing-xx-small: 0.25em;
   --env-focus-size: 2px;
   --env-text-body-02-link-text-decoration: var(--env-link-text-decoration);
   --env-text-display-02-link-font-color: var(--env-font-color);
   --env-ui-color-brand-90-contrast: #246e9e;
   --env-border-radius-medium: var(--env-border-radius);
   --env-text-body-01-link-hover-font-color: var(--env-link-hover-font-color);
   --env-ui-color-status-attention: #ed8178;
   --env-button-border-radius: 0.375em;
   --env-dialog-medium-width: 450px;
   --env-element-info-background-color-dark: hsl(204, 71%, 53%);
   --env-cardholder-column-max-width: 400px;
   --env-text-body-02-margin-block-end: 1em;
   --env-text-body-02-letter-spacing: normal;
   --env-text-display-01-letter-spacing: normal;
   --env-pagination-font-family: var(--env-font-family);
   --env-text-summary-01-line-height: 1.6;
   --env-text-quotation-01-font-family: var(--env-font-family);
   --env-text-quotation-02-font-style: normal;
   --env-spacing-large: 1.25em;
   --env-font-size-xxxx-large: calc(var(--env-font-size-base) * 2.5);
   --env-text-heading-03-margin-block-start: 1.5em;
   --env-text-table-heading-01-margin-block-end: 0;
   --env-text-heading-04-text-transform: none;
   --env-tooltip-font-color: #eeeeee;
   --env-spacing-x-small: 0.5em;
   --env-text-heading-02-link-text-decoration: var(--env-link-text-decoration);
   --env-cardholder-column-min-width: 240px;
   --env-text-caption-01-text-transform: none;
   --env-dynamic-font-from-width: 400;
   --env-ui-color-status-attention-text: #f39d12;
   --env-text-quotation-02-font-size: 1em;
   --env-element-warning-background-color-light: hsl(37, 90%, 54%);
   --env-ui-text-sectionheading-text-transform: none;
   --env-text-display-02-margin-block-start: 1em;
   --env-font-size-x-large: calc(var(--env-font-size-base) * 1.5);
   --env-collapse-expanded-background-color: #000000;
   --env-text-heading-06-font-size: 1.1875em;
   --env-text-heading-04-font-style: normal;
   --env-text-heading-01-link-text-decoration: var(--env-link-text-decoration);
   --env-text-heading-02-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-text-display-02-margin-block-end: 0.25em;
   --env-text-body-01-link-text-decoration: var(--env-link-text-decoration);
   --env-ui-color-brand-80-contrast: #1a5174;
   --env-text-body-01-font-size: 1.2em;
   --env-text-table-data-01-font-size: 1em;
   --env-text-table-caption-01-link-font-color: var(--env-link-font-color);
   --env-font-size-xxx-large: calc(var(--env-font-size-base) * 2);
   --env-text-heading-06-font-color: var(--env-font-color);
   --env-element-info-background-color: #55aae2;
   --env-focus-inner-color: var(--env-section-background-color);
   --env-text-summary-01-link-hover-font-color: var(
      --env-link-hover-font-color
   );
   --env-text-quotation-01-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-ui-color-brand-85-contrast: #1f6089;
   --env-text-heading-04-line-height: 1.2;
   --env-text-heading-01-link-hover-font-color: var(--env-link-font-color);
   --env-ui-text-heading-text-transform: none;
   --env-text-body-02-font-size: 1em;
   --env-text-heading-02-link-hover-font-color: var(--env-link-font-color);
   --env-text-heading-05-link-text-decoration: var(--env-link-text-decoration);
   --env-text-quotation-02-link-font-color: var(--env-link-font-color);
   --env-text-heading-03-text-transform: none;
   --env-block-primary-link-font-color: #ffffff;
   --env-block-secondary-link-hover-text-decoration: underline;
   --env-link-secondary-hover-font-color: var(--env-link-font-color);
   --env-text-body-01-link-font-color: var(--env-link-font-color);
   --env-ui-text-heading-font-weight: 600;
   --env-text-heading-04-font-size: 1.75em;
   --env-ui-color-brand-75-contrast: #1a5174;
   --env-text-body-04-link-font-color: var(--env-link-font-color);
   --env-text-body-03-font-size: 0.8125em;
   --env-element-secondary-background-color: #a1a1a1;
   --env-alert-font-color: var(--env-font-color);
   --env-text-heading-01-link-font-color: var(--env-font-color);
   --env-text-quotation-02-margin-block-end: 1em;
   --env-color-warning-dark: var(--env-element-warning-background-color-dark);
   --env-text-caption-01-link-text-decoration: var(--env-link-text-decoration);
   --env-ui-color-brand-65-contrast: #174664;
   --env-text-quotation-01-line-height: 1.6;
   --env-text-body-02-font-family: var(--env-font-family);
   --env-text-heading-04-link-font-color: var(--env-font-color);
   --env-border-radius-small: calc(var(--env-border-radius) * 0.5);
   --env-block-link-hover-text-decoration: underline;
   --env-modal-backdrop-opacity: 0.5;
   --env-text-body-03-letter-spacing: normal;
   --env-text-heading-01-margin-block-start: 0;
   --env-text-heading-01-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-ui-text-sectionheading-font-color: var(--env-font-color);
   --env-color-dark: #333333;
   --env-text-table-caption-01-font-style: normal;
   --env-text-heading-05-font-size: 1.4375em;
   --env-ui-text-heading-letter-spacing: normal;
   --env-element-common-background-color: #464646;
   --env-form-input-border-radius: var(--env-border-radius-medium);
   --env-text-display-02-letter-spacing: normal;
   --env-text-heading-05-margin-block-start: 1.5em;
   --env-text-body-02-line-height: 1.6;
   --env-text-quotation-02-font-color: var(--env-font-color);
   --env-element-warning-font-color: #272b30;
   --env-ui-text-sectionheading-font-weight: 600;
   --env-text-summary-01-letter-spacing: normal;
   --env-text-summary-01-font-style: normal;
   --env-block-primary-link-hover-text-decoration: underline;
   --env-border-radius: 0.25em;
   --env-text-heading-02-letter-spacing: normal;
   --env-text-display-03-text-transform: none;
   --env-text-table-data-01-line-height: 1.5;
   --env-text-table-heading-01-text-transform: none;
   --env-text-body-04-text-transform: none;
   --env-text-heading-04-margin-block-end: 0.5em;
   --env-tooltip-font-size: var(--env-font-size-small);
   --env-spacing-xxx-large: 2em;
   --env-ui-color-status-neutral-contrast: #ffffff;
   --env-element-info-font-color: #272b30;
   --env-ui-text-heading-font-family: var(--env-font-family);
   --env-color-lighter: #cccccc;
   --env-text-quotation-01-link-text-decoration: var(
      --env-link-text-decoration
   );
   --env-color-brand-light: var(--env-element-primary-background-color-light);
   --env-text-display-01-font-style: normal;
   --env-block-secondary-link-hover-font-color: #ffffff;
   --env-block-background-color: #323840;
   --env-text-heading-01-margin-block-end: 0.5em;
   --env-text-table-caption-01-line-height: 1.5;
   --env-text-body-01-font-color: var(--env-font-color);
   --env-alert-font-family: var(--env-font-family);
   --env-link-hover-font-color: #ffffff;
   --env-text-body-04-margin-block-end: 1em;
   --env-modal-large-width: 900px;
   --env-text-table-heading-01-font-family: var(--env-font-family);
   --env-block-secondary-font-color: #ffffff;
   --env-text-table-heading-01-link-hover-font-color: var(
      --env-link-hover-font-color
   );
   --env-text-quotation-02-link-text-decoration: var(
      --env-link-text-decoration
   );
   --env-background-color: #272b30;
   --env-text-heading-04-font-color: var(--env-font-color);
   --env-element-secondary-background-color-light: hsl(0, 0%, 66%);
   --env-text-table-data-01-letter-spacing: normal;
   --env-ui-text-overline-font-color: var(--env-font-color);
   --env-text-heading-03-link-font-color: var(--env-font-color);
   --env-text-heading-06-link-font-color: var(--env-font-color);
   --env-text-display-01-link-text-decoration: var(--env-link-text-decoration);
   --env-block-primary-link-text-decoration: underline;
   --env-text-table-data-01-link-hover-font-color: var(
      --env-link-hover-font-color
   );
   --env-text-heading-02-font-family: var(--env-font-family);
   --env-text-heading-01-font-family: var(--env-font-family);
   --env-spacing-xx-large: 1.75em;
   --env-link-secondary-font-color: var(--env-font-color);
   --env-text-heading-03-font-family: var(--env-font-family);
   --env-text-heading-06-font-family: var(--env-font-family);
   --env-text-heading-05-font-family: var(--env-font-family);
   --env-text-body-04-font-color: var(--env-font-color);
   --env-text-table-heading-01-font-style: normal;
   --env-text-display-02-font-weight: 200;
   --env-spacing-medium: 1em;
   --env-text-heading-04-font-family: var(--env-font-family);
   --env-text-display-02-link-text-decoration: var(--env-link-text-decoration);
   --env-badge-border-radius: var(--env-border-radius-medium);
   --env-breadcrumb-divider-color: #999999;
   --env-text-body-01-font-style: normal;
   --env-text-table-caption-01-link-hover-font-color: var(
      --env-link-hover-font-color
   );
   --env-text-display-01-font-weight: 200;
   --env-block-primary-link-hover-font-color: #ffffff;
   --env-element-success-background-color-dark: hsl(165, 100%, 29%);
   --env-ui-color-brand-30-contrast: #9fcce9;
   --env-ui-color-brand-35-contrast: #c9e2f3;
   --env-text-display-03-font-weight: 200;
   --env-ui-text-heading-font-color: var(--env-font-color);
   --env-element-success-font-color: #272b30;
   --env-text-body-04-letter-spacing: normal;
   --env-block-link-hover-font-color: #ffffff;
   --env-text-body-04-font-size: 0.6875em;
   --env-text-table-caption-01-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-text-table-data-01-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-text-table-heading-01-link-font-color: var(--env-link-font-color);
   --env-text-table-heading-01-letter-spacing: normal;
   --env-element-secondary-font-color: #272b30;
   --env-text-heading-06-link-hover-font-color: var(--env-link-font-color);
   --env-text-display-03-letter-spacing: normal;
   --env-ui-color-brand-55-contrast: #103147;
   --env-ui-color-brand-dark: hsla(203.5, 63%, 33.4%, 1);
   --env-block-secondary-link-text-decoration: underline;
   --env-text-display-03-link-text-decoration: var(--env-link-text-decoration);
   --env-cardholder-column-spacing: var(--env-spacing-medium);
   --env-text-quotation-01-link-font-color: var(--env-link-font-color);
   --env-color-lightest: #e6e6e6;
   --env-text-heading-01-font-style: normal;
   --env-text-display-03-link-font-color: var(--env-font-color);
   --env-badge-font-size: 75%;
   --env-cardholder-grid-gap: var(--env-spacing-medium);
   --env-focus-offset: var(--env-focus-size);
   --env-text-caption-01-link-font-color: var(--env-link-font-color);
   --env-text-heading-02-text-transform: none;
   --env-text-table-data-01-font-family: var(--env-font-family);
   --env-element-danger-background-color-light: hsl(5, 76%, 73%);
   --env-font-size-small: calc(var(--env-font-size-base) * 0.875);
   --env-collapse-toggle-duration: 300ms;
   --env-collapse-icon-color: var(--env-font-color);
   --env-text-quotation-02-text-transform: none;
   --env-border-color-light: hsl(220, 9%, -3%);
   --env-ui-color-brand-50-contrast: #000000;
   --env-text-heading-03-font-size: 2.0625em;
   --env-border-success-color: #358156;
   --env-ui-text-sectionheading-font-family: var(--env-font-family);
   --env-text-heading-03-font-style: normal;
   --env-text-caption-01-link-hover-font-color: var(
      --env-link-hover-font-color
   );
   --env-text-caption-01-margin-block-start: 0.25em;
   --env-link-secondary-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-ui-color-status-error: var(--env-element-danger-background-color);
   --env-element-success-background-color: #00bc8c;
   --env-element-background-color-light: hsl(214, 11%, 74%);
   --env-collapse-border-width: 1px;
   --env-progress-bar-poll-highlight-color: #4bc5f5;
   --env-text-body-02-font-color: var(--env-font-color);
   --env-box-shadow: 0 0.5em 1em var(--env-box-shadow-color);
   --env-text-display-01-font-size: 3.05em;
   --env-spacing-small: 0.75em;
   --env-text-body-03-font-style: normal;
   --env-text-heading-03-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-form-font-family: var(--env-font-family);
   --env-ui-color-status-error-contrast: var(--env-element-danger-font-color);
   --env-ui-text-overline-font-family: var(--env-font-family);
   --env-text-quotation-02-line-height: 1.6;
   --env-ui-color-status-attention-contrast: #272b30;
   --env-text-body-01-font-family: var(--env-font-family);
   --env-element-danger-background-color-dark: hsl(5, 76%, 62%);
   --env-text-body-03-font-family: var(--env-font-family);
   --env-text-table-data-01-margin-block-start: 0;
   --env-text-heading-02-font-color: var(--env-font-color);
   --env-text-table-caption-01-font-weight: 400;
   --env-text-display-01-link-hover-font-color: var(--env-link-font-color);
   --env-text-summary-01-font-family: var(--env-font-family);
   --env-text-table-caption-01-font-color: var(--env-font-color);
   --env-color-info: var(--env-element-info-background-color);
   --env-ui-color-status-active-contrast: #272b30;
   --env-text-caption-01-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-text-display-03-line-height: 1.2;
   --env-text-display-01-line-height: 1.2;
   --env-ui-text-subheading-font-color: var(--env-font-color);
   --env-text-quotation-01-font-weight: 300;
   --env-ui-color-brand-70-contrast: #174664;
   --env-text-table-caption-01-margin-block-end: 0.25em;
   --env-ui-color-brand-95-contrast: #246e9e;
   --env-block-secondary-border-color: #2778ac;
   --env-element-primary-font-color: #272b30;
   --env-tooltip-font-family: var(--env-font-family);
   --env-text-heading-01-font-size: 3em;
   --env-text-display-01-margin-block-end: 0.25em;
   --env-text-table-data-01-margin-block-end: 0;
   --env-text-caption-01-font-weight: 400;
   --env-text-display-02-font-style: normal;
   --env-badge-font-family: var(--env-font-family);
   --env-ui-text-subheading-font-weight: 600;
   --env-text-body-03-margin-block-start: 0;
   --env-ui-color-brand-10-contrast: #4ca0d6;
   --env-link-hover-text-decoration: underline;
   --env-text-body-02-margin-block-start: 0;
   --env-text-quotation-01-text-transform: none;
   --env-ui-text-sectionheading-letter-spacing: normal;
   --env-text-heading-01-text-transform: none;
   --env-ui-color-status-active: #00bc8c;
   --env-text-body-04-link-text-decoration: var(--env-link-text-decoration);
   --env-text-heading-05-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-element-warning-background-color-dark: hsl(37, 90%, 43%);
   --env-element-background-color-dark: hsl(214, 11%, 63%);
   --env-link-secondary-text-decoration: var(--env-link-text-decoration);
   --env-ui-color-brand-35: #1f6089;
   --env-text-heading-06-margin-block-end: 0.5em;
   --env-ui-color-brand-30: #1a5174;
   --env-color-light: #999999;
   --env-form-input-font-color: var(--env-font-color);
   --env-modal-backdrop-background-color: #000;
   --env-ui-color-status-error-text: #ed8178;
   --env-text-heading-05-font-style: normal;
   --env-text-heading-01-font-color: var(--env-font-color);
   --env-focus-color: #5cb3fd;
   --env-ui-text-sectionheading-font-size: 1.25em;
   --env-font-size-large: calc(var(--env-font-size-base) * 1.25);
   --env-text-body-03-link-text-decoration: var(--env-link-text-decoration);
   --env-element-danger-background-color: #ed8178;
   --env-text-heading-05-text-transform: none;
   --env-ui-color-brand-25: #174664;
   --env-text-heading-06-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-ui-color-brand-20: #143d57;
   --env-text-heading-04-letter-spacing: normal;
   --env-element-info-background-color-light: hsl(204, 71%, 64%);
   --env-text-body-03-link-hover-font-color: var(--env-link-hover-font-color);
   --env-text-table-data-01-link-text-decoration: var(
      --env-link-text-decoration
   );
   --env-text-quotation-02-font-family: var(--env-font-family);
   --env-element-background-color: #aeb5be;
   --env-ui-text-subheading-text-transform: none;
   --env-text-display-03-margin-block-end: 0.25em;
   --env-text-body-02-text-transform: none;
   --env-text-display-01-text-transform: none;
   --env-text-display-02-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-ui-color-status-active-text: #00bc8c;
   --env-element-primary-background-color-light: hsl(210, 41%, 68%);
   --env-text-heading-05-letter-spacing: normal;
   --env-text-heading-06-margin-block-start: 1.5em;
   --env-ui-color-brand-15: #103147;
   --env-text-heading-05-link-font-color: var(--env-font-color);
   --env-text-body-01-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-collapse-expanded-border-color: #000000;
   --env-text-body-04-font-style: normal;
   --env-ui-color-brand-10: #0e2b3e;
   --env-profile-image-border-radius: 50%;
   --env-ui-text-subheading-font-family: var(--env-font-family);
   --env-dynamic-font-to-width: 750;
   --env-dialog-small-width: 300px;
   --env-text-heading-02-margin-block-end: 0.5em;
   --env-text-table-data-01-font-style: normal;
   --env-font-color-invert: #ffffff;
   --env-color-success: var(--env-element-success-background-color);
   --env-border-danger-color: #c15252;
   --env-text-summary-01-margin-block-end: 1em;
   --env-text-heading-06-font-style: normal;
   --env-text-body-01-letter-spacing: normal;
   --env-ui-text-caption-text-transform: none;
   --env-color-hover: #f7f7f7;
   --env-text-body-01-margin-block-end: 1em;
   --env-block-primary-background-color: #000000;
   --env-text-summary-01-link-text-decoration: var(--env-link-text-decoration);
   --env-block-secondary-link-font-color: #ffffff;
   --env-text-quotation-02-link-hover-font-color: var(
      --env-link-hover-font-color
   );
   --env-ui-color-brand-05: #0c2636;
   --env-text-table-heading-01-line-height: 1.5;
   --env-element-warning-background-color: #f39d12;
   --env-ui-color-status-neutral: #444444;
   --env-text-body-02-link-font-color: var(--env-link-font-color);
   --env-text-quotation-01-margin-block-end: 1em;
   --env-ui-text-overline-text-transform: uppercase;
   --env-text-heading-02-link-font-color: var(--env-font-color);
   --env-text-table-heading-01-font-size: 1em;
   --env-border-radius-large: calc(var(--env-border-radius) * 1.5);
   --env-block-font-color: #aaaaaa;
   --env-text-quotation-01-font-style: normal;
   --env-ui-color-brand-100-contrast: #246e9e;
   --env-image-control-color: #ffffff;
   --env-text-display-01-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-text-summary-01-link-font-color: var(--env-link-font-color);
   --env-font-size-xx-large: calc(var(--env-font-size-base) * 1.75);
   --env-text-caption-01-margin-block-end: 0;
   --env-text-heading-06-line-height: 1.2;
   --env-spacing-xxx-small: 0.125em;
   --env-element-success-background-color-light: hsl(165, 100%, 40%);
   --env-text-heading-06-letter-spacing: normal;
   --env-text-display-03-font-style: normal;
   --env-ui-color-brand-05-contrast: #4ca0d6;
   --env-ui-text-caption-font-weight: 400;
   --env-text-heading-06-text-transform: none;
   --env-text-body-04-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-ui-text-caption-font-family: var(--env-font-family);
   --env-text-display-03-link-hover-font-color: var(--env-link-font-color);
   --env-text-display-01-margin-block-start: 1em;
   --env-ui-text-caption-font-size: 0.875em;
   --env-alert-border-radius: var(--env-border-radius-medium);
   --env-alert-background-color: var(--env-section-background-color);
   --env-collapse-border-style: solid;
   --env-block-primary-font-color: #aaaaaa;
   --env-text-table-caption-01-letter-spacing: normal;
   --env-text-table-heading-01-link-text-decoration: var(
      --env-link-text-decoration
   );
   --env-text-display-02-link-hover-font-color: var(--env-link-font-color);
   --env-cardholder-grid-column-width: 20em;
   --env-button-font-family: var(--env-font-family);
   --env-text-caption-01-font-color: var(--env-font-color);
   --env-text-body-02-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-text-body-04-font-family: var(--env-font-family);
   --env-text-table-heading-01-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-text-display-03-font-size: 1.24928em;
   --env-text-heading-02-margin-block-start: 0;
   --env-color-danger: var(--env-element-danger-background-color);
   --env-text-heading-02-line-height: 1.2;
   --env-text-table-data-01-font-color: var(--env-font-color);
   --env-text-table-heading-01-margin-block-start: 0;
   --env-ui-text-subheading-letter-spacing: normal;
   --env-section-background-color: #323840;
   --env-form-label-font-family: var(--env-font-family);
   --env-text-quotation-02-letter-spacing: normal;
   --env-collapse-icon-width: 15px;
   --env-text-body-01-text-transform: none;
   --env-text-body-04-line-height: 1.6;
   --env-font-color-light: #34394f;
   --env-ui-text-overline-font-size: 0.75em;
   --env-text-quotation-02-font-weight: 300;
   --env-focus-background-color: rgba(0, 0, 0, 0.2);
   --env-focus-outline: var(--env-focus-size) solid
      var(--env-focus-outline-color);
   --env-text-quotation-01-link-hover-font-color: var(
      --env-link-hover-font-color
   );
   --env-text-summary-01-font-size: 1.125em;
   --env-block-link-text-decoration: underline;
   --env-text-caption-01-line-height: 1.6;
   --env-text-heading-05-link-hover-font-color: var(--env-link-font-color);
   --env-text-heading-03-link-text-decoration: var(--env-link-text-decoration);
   --env-text-quotation-01-margin-block-start: 1em;
   --env-text-body-04-link-hover-font-color: var(--env-link-hover-font-color);
   --env-ui-color-brand-40-contrast: #deedf7;
   --env-text-display-02-font-color: var(--env-font-color);
   --env-text-body-03-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-element-primary-background-color-dark: hsl(210, 41%, 57%);
   --env-form-label-font-weight: 500;
   --env-border-color: #101113;
   --env-text-display-03-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-ui-color-brand: #2778ac;
   --env-text-table-caption-01-margin-block-start: 1em;
   --env-element-font-color: #272b30;
   --env-ui-color-brand-15-contrast: #4ca0d6;
   --env-dialog-large-width: 900px;
   --env-color-page-bg: #ffffff;
   --env-text-table-data-01-link-font-color: var(--env-link-font-color);
   --env-text-display-01-link-font-color: var(--env-font-color);
   --env-font-size-base: 1em;
   --env-text-display-02-line-height: 1.2;
}
