
@mixin button-size($padding-y, $padding-x, $font-size, $line-height) {
   font-size: css-var($font-size);
   line-height: $line-height;
   padding: css-var($padding-y) css-var($padding-x);
}

@mixin button-color-variant($color, $background-color, $border-color, $active-background-color, $active-border-color) {
   //$active-background-color: darken($background-color, 10%);
   //$active-border-color: darken($border-color, 12%);

   background-color: css-var($background-color);
   border-color: css-var($border-color);
   color: css-var($color);

   &:hover,
   &:active,
   &:focus {
      background-color: css-var($active-background-color);
   }

   &:hover,
   &:active {
      border-color: css-var($active-border-color);
   }

   &:active {
      box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, .3);
   }

}
