@mixin squareIconButton {
   &.#{$prefix}-button--icon:not(.#{$prefix}-button--icon-after):not(.#{$prefix}-button--icon-before) {
      @content;
   }
}

@mixin button-color-variant($name: '') {
   @if ($name != '') {
      $name: '-#{$name}';
   }
   $color: 'element#{$name}-font-color';
   $background-color: 'element#{$name}-background-color';
   $active-background-color: 'element#{$name}-background-color-dark';
   background-color: css-var($background-color);
   border-color: css-var($background-color);
   color: css-var($color);

   &.env-button--ghost {
      background-color: transparent;
      color: css-var($active-background-color);
      border-color: css-var($active-background-color);

      &:hover,
      &:active,
      &:focus {
         color: css-var($color);
      }
   }

   &:hover,
   &:active,
   &:focus {
      background-color: css-var($active-background-color);
   }

   &:hover,
   &:active {
      border-color: css-var($active-background-color);
   }

   &:active {
      box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
   }
}

@mixin button-size($size) {
   $paddingsX: (
      small: 'spacing-x-small',
      medium: 'spacing-x-small',
      large: 'spacing-small',
   );
   $paddingsY: (
      small: 'spacing-xx-small',
      medium: 'spacing-xx-small',
      large: 'spacing-x-small',
   );
   // Icon size in em: 1em / [relative-button-font-size] * [icon-size in px] / [base-font-size in px]
   $iconSizes: (
      small: 1em / 0.875 * 13 / 16,
      medium: 1em / 1 * 15 / 16,
      large: 1em / 1.25 * 21 / 16,
   );

   $padding-x: map-get($paddingsX, $size);
   $padding-y: map-get($paddingsY, $size);
   $icon-size: map-get($iconSizes, $size);

   font-size: css-var('font-size-#{$size}');
   padding: css-var($padding-y) css-var($padding-x);

   @include squareIconButton {
      height: 0;
      width: calc(#{css-var($padding-y)} * 2 + 1.4em + 2px);
      padding: calc(#{css-var($padding-y)} * 2 + 1.4em) 0 0;
   }

   &.#{$prefix}-button--icon .env-icon {
      width: #{$icon-size};
      height: #{$icon-size};
      margin: #{($icon-size / -2)} 0 0 0;
   }

   &.#{$prefix}-button--icon-before {
      padding-left: calc(
         #{css-var($padding-x)} + #{$icon-size} + #{css-var('spacing-x-small')}
      );

      .env-icon {
         left: calc(#{css-var($padding-x)});
      }
   }

   &.#{$prefix}-button--icon-after {
      padding-right: calc(
         #{css-var($padding-x)} + #{$icon-size} + #{css-var('spacing-x-small')}
      );

      .env-icon {
         right: calc(#{css-var($padding-x)});
      }
   }

   @include squareIconButton {
      .env-icon {
         margin: #{($icon-size / -2)} 0 0 #{($icon-size / -2)};
      }
   }
}
