@mixin color-block($blockName: '') {
   @if ($blockName != '') {
      // Add slash if name is set, Otherwise it's default with no name and no slash.
      $blockName: '#{$blockName}-';
   }

   --env-font-color: #{css-var('block-#{$blockName}font-color')};
   --env-link-font-color: #{css-var('block-#{$blockName}link-font-color')};
   --env-link-hover-font-color: #{css-var(
         'block-#{$blockName}link-hover-font-color'
      )};

   color: css-var('block-#{$blockName}font-color');

   &,
   *:not([class^='env-']):not([class*=' env-']):not(a),
   .env-button--link,
   .env-link-secondary,
   a.env-link-secondary,
   .env-text {
      color: css-var('block-#{$blockName}font-color');
   }

   .env-link,
   a.env-text,
   a:not([class^='env-']):not([class*=' env-']) {
      @include link(
         'block-#{$blockName}link-font-color',
         'link-text-decoration',
         'block-#{$blockName}link-hover-font-color',
         'link-hover-text-decoration'
      );
   }

   background-color: css-var('block-#{$blockName}background-color');
   border-color: css-var('block-#{$blockName}border-color');

   &--border {
      border: {
         style: solid;
         width: 1px;
      }
   }
}
