@mixin focus($color: 'element-primary-background-color-light') {
   border-color: css-var($color);
   box-shadow: 0 0 5px css-var($color);
   outline: 0;
}

@mixin focus-shadow($color: 'element-primary-background-color-light') {
   box-shadow: 0 0 5px css-var($color);
   outline: 0;
}

@mixin focus-outline() {
   box-shadow: css-var('focus-box-shadow');
   outline: css-var('focus-outline');
}
