@mixin focus($color: 'color-primary-light') {
   border-color: css-var($color);
   box-shadow: 0 0 5px css-var($color);
   outline: 0;
}

@mixin focus-shadow($color: 'color-primary-light') {
   box-shadow: 0 0 5px css-var($color);
   outline: 0;
}
