@mixin deprecated-fake-radio-checkbox-fix {
   // Checkbox and Radio used to use fake elements to create the styled checkbox/radio.
   // Since 2024.07.1, fake elements are no longer used.
   // Old fake markup is supported but deprecated.
   // `env-checkbox` and `env-form-radio` will now use native element styling, and
   // fake elements are mostly ignored.
   //
   // Fake markup has been removed from the docs and is deprecated:
   //
   // <div class="env-checkbox">
   //   <input type="checkbox" checked="" name="options" id="cb1">
   //   <label class="env-form-element__label" for="cb1">
   //     <span class="env-checkbox__fake"></span>
   //     <span class="env-checkbox__label">Checked</span>
   //   </label>
   // </div>
   //
   // <div class="env-form-radio">
   //   <input id="radio1" type="radio" name="radios">
   //   <label for="radio1" class="env-form-element__label">
   //     <span class="env-form-radio__fake"></span>
   //     <span class="env-form-radio__label">Alternative 1</span>
   //   </label>
   // </div>

   .env-form-element__label {
      font-size: 1em;
   }

   &__fake {
      vertical-align: middle;
   }

   &__label {
      display: inline;
      vertical-align: bottom;
   }
}

@mixin deprecated-fake-switch-fix {
   // Switch used to use fake elements to create the styled checkbox.
   // Since 2024.07.1, fake elements are no longer used.
   // Old fake markup is supported but deprecated.
   // `env-switch` will now use native element styling, and
   // fake elements are mostly ignored.
   //
   // Fake markup has been removed from the docs and is deprecated:
   //
   // <div class="env-switch">
   //   <label class="env-switch__label">
   //     <input type="checkbox" checked />
   //     <span class="env-switch__text">On</span>
   //     <span class="env-switch__slider"></span>
   //   </label>
   // </div>

   &__slider {
      display: none;
   }
}
