@mixin input-validation-state($colorName) {
   &,
   .#{$prefix}-form-element__help,
   .env-select__item__remove {
      color: css-var('element-#{$colorName}-background-color');
   }

   .#{$prefix}-form-input,
   .#{$prefix}-checkbox__fake,
   .#{$prefix}-form-radio__fake,
   .#{$prefix}-select__input {
      border-color: css-var(
         'element-#{$colorName}-background-color'
      ) !important;
   }

   .#{$prefix}-form-input:focus,
   .#{$prefix}-checkbox__fake:focus,
   .#{$prefix}-form-radio__fake:focus,
   .#{$prefix}-select__input.focus {
      @include focus('element-#{$colorName}-background-color');
   }

   .#{$prefix}-select__item {
      background-color: css-var(
         'element-#{$colorName}-background-color'
      ) !important;
   }

   .#{$prefix}-select__item,
   .#{$prefix}-select__item__remove {
      color: css-var('element-#{$colorName}-font-color');
   }
}

@mixin disabled($grayscale: true) {
   @if ($grayscale) {
      filter: opacity(0.5) grayscale(100%);
   } @else {
      filter: opacity(0.5);
   }
}

@mixin placeholder() {
   &[contenteditable='']:empty:before,
   &[contenteditable='true']:empty:before {
      content: attr(data-placeholder);
      pointer-events: none;
      display: block; /* For Firefox */
      @content;
   }
   &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      @content;
   }
   &::-moz-placeholder {
      /* Firefox 19+ */
      @content;
   }
   &:-ms-input-placeholder {
      /* IE 10+ */
      @content;
   }
   &:-moz-placeholder {
      /* Firefox 18- */
      @content;
   }
}
