@mixin filled-nav-states() {
   &:hover {
      background-color: css-var('element-primary-background-color-dark');
      color: css-var('element-primary-font-color');
   }

   &[aria-current='page'],
   &--active {
      background-color: css-var('element-primary-background-color');
      color: css-var('element-primary-font-color');
   }
}

@mixin nav-link() {
   color: css-var('link-font-color');
   display: block;
   text-decoration: none;
   transition:
      background-color 0.25s ease,
      color 0.25s ease;

   &:hover {
      color: css-var('link-hover-font-color');
   }

   @include focus-visible;

   &[aria-current='page'],
   &--active {
      color: css-var('link-hover-font-color');
   }
}
