@mixin filled-nav-states() {
   &:hover {
      background-color: css-var('color-primary-dark');
      color: css-var('font-color-invert');
   }

   &--active {
      background-color: css-var('color-primary');
      color: css-var('font-color-invert');
   }
}

@mixin nav-link() {
   color: css-var('color-primary-dark');
   display: block;
   text-decoration: none;
   transition: background-color 0.25s ease, color 0.25s ease;

   &:hover {
      color: css-var('color-primary-dark');
   }

   &:focus {
      @include focus();
   }

   &--active {
      color: css-var('color-primary-light');
   }
}
