@use 'sass:math';

@mixin popout-menu($horizontalPadding: 1.125em) {
   $menu-item-min-height: math.div(52, $BROWSER_FONT_SIZE) * 1em;
   $menu-item-padding: $horizontalPadding;
   $menu-inner-spacing: 0.75em;
   // $icon-size: Icon 20 x 20 px at browser default font size (16px)
   $icon-size: math.div(20, $BROWSER_FONT_SIZE) * 1em;

   &__menu {
      font-family: css-var('font-family');
      font-size: css-var('font-size-medium');
      list-style: none;
      margin: 0;
      padding: $menu-inner-spacing 0;

      > ul {
         list-style: none;
         margin: 0;
         padding: 0;
      }
   }

   &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      appearance: none;
      width: 100%;
      min-height: $menu-item-min-height;
      margin: 0;
      padding: 0 $menu-item-padding;
      font-family: css-var('font-family');
      font-size: 1em;
      line-height: 1;
      text-align: left;
      color: css-var('font-color');
      background-color: transparent;
      border: {
         style: none;
         width: 0;
         radius: 0;
      }
      box-shadow: none;
      text-shadow: none;
      text-decoration: none;
      cursor: pointer;

      &--active,
      &:active,
      &:hover {
         background-color: css-var('section-background-color-05');
         color: css-var('font-color');
      }

      &[aria-disabled='true'] {
         background-color: transparent;
         @include disabled(true);
         cursor: default;
      }

      @include focus-visible;

      .env-icon {
         flex: 0 0 $icon-size;
         width: $icon-size;
         height: $icon-size;
         margin: 0 calc($menu-item-padding / 2) 0 0;
      }
   }

   &--divider {
      border-bottom: $border-width $border-style css-var('border-color-05');
      margin: $menu-inner-spacing 0;
   }
}
