@mixin radioCheckboxCommon($type) {
   $radius: var(--env-form-input-border-radius);
   @if ($type == 'radio') {
      $radius: 50%;
   }

   & {
      box-sizing: border-box;
      font-family: var(--env-form-label-font-family);
      font-size: var(--env-font-size-medium);
      font-weight: var(--env-form-label-font-weight);
      margin-bottom: var(--env-spacing-x-small);
   }

   @at-root label#{&} {
      display: inline-flex;
      gap: 0;
      justify-content: flex-start;
      align-items: center;
   }

   @at-root [type='#{$type}']#{&},
      #{&} [type='#{$type}'] {
      box-sizing: border-box;
      clip-path: none;
      appearance: none;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      width: 1.375em;
      height: 1.375em;
      margin: 0 var(--env-spacing-xx-small) 0 0;
      padding: 0;
      font-size: var(--env-font-size-medium);
      background-color: var(--env-form-input-background-color);
      border: $border-width $border-style var(--env-form-input-border-color);
      border-radius: $radius;
   }

   @at-root [type='#{$type}']#{&}:focus-visible,
      #{&} [type='#{$type}']:focus-visible {
      @include focus-outline;
   }

   @at-root fieldset:disabled [type='#{$type}']#{&},
      [type='#{$type}']#{&}:disabled,
      #{&}:has([type='#{$type}']:disabled) {
      @include disabled;
   }
}
