@mixin slide-indicator {
   position: absolute;
   right: 0;
   bottom: 10px;
   left: 0;
   z-index: 15;
   display: flex;
   justify-content: center;
   margin: 0;
   list-style: none; // keep, legacy image slider <ol>
   padding: 15px;

   li, // keep, legacy image slider
   button {
      cursor: pointer;
      width: 30px;
      height: 3px;
      margin-right: 3px;
      margin-left: 3px;
      border: none;
      background-color: css-var('image-control-color');
      filter: opacity(0.5);

      &.#{$prefix}-is-active {
         filter: opacity(1);
      }
   }

   button {
      @include focus-visible;
   }
}
