@mixin slide-indicator {
   position: absolute;
   right: 0;
   bottom: 10px;
   left: 0;
   z-index: 15;
   display: flex;
   justify-content: center;
   margin: 0;
   list-style: none; // keep, legacy image slider <ol>
   padding: 15px;

   li, // keep, legacy image slider
   button {
      cursor: pointer;
      width: 30px;
      height: 3px;
      margin-right: 3px;
      margin-left: 3px;
      background-color: $image-control-color-inactive;
      border: none;

      &.#{$prefix}-is-active {
         background-color: $image-control-color;
      }
   }

   button:focus:not(:focus-visible) {
      outline: none;
   }
}
