@mixin is-disabled(
   $color: 'element-font-color',
   $background-color: 'element-background-color'
) {
   background-color: css-var($background-color);
   color: css-var($color);
   pointer-events: none;
   filter: opacity(0.5) grayscale(100%);
}
