@mixin block-text-size($element, $font-size, $margin-bottom, $font-weight) {
   #{$element}.#{$prefix}-text,
   .#{$prefix}-text #{$element},
   .#{$prefix}-text-#{$element},
      // This last one is not following BEM standards and have never been documented. Kept for backwards compatibility reasons
   .#{$prefix}-text--#{$element} {
      font-size: css-var($font-size);
      font-weight: $font-weight;
      margin: 0 0 css-var($margin-bottom);
   }
}

@mixin link(
   $font-color: 'font-color',
   $text-decoration: false,
   $hover-font-color: false,
   $hover-text-decoration: false
) {
   color: css-var($font-color);

   @if ($text-decoration) {
      text-decoration: css-var($text-decoration);
   }
   @if ($hover-font-color) {
      &:hover {
         color: css-var($hover-font-color);
      }
   }
   @if ($hover-text-decoration) {
      &:hover {
         text-decoration: css-var($hover-text-decoration);
      }
   }

   @include focus-visible;
}
