@mixin block-text-size($element, $font-size, $margin-bottom, $font-weight) {
   #{$element}.#{$prefix}-text,
   .#{$prefix}-text #{$element},
   .#{$prefix}-text-#{$element},
   // This last one is not following BEM standards and have never been documented. Kept for backwards compatibility reasons
   .#{$prefix}-text--#{$element} {
      font-size: css-var($font-size);
      font-weight: $font-weight;
      margin: 0 0 css-var($margin-bottom);
   }
}

@mixin inline-text-size($element, $font-size, $font-weight) {
   #{$element}.#{$prefix}-text,
   .#{$prefix}-text #{$element},
   .#{$prefix}-text-#{$element},
   // This last one is not following BEM standards and have never been documented. Kept for backwards compatibility reasons
   .#{$prefix}-text--#{$element} {
      font-size: $font-size;
      font-weight: $font-weight;
   }
}

@mixin link($font-color: 'font-color') {
   color: css-var($font-color);
   font-weight: $font-weight-semibold;
   text-decoration: none;
}
