@mixin sitevision-site-font-override(
   $font-size: css-var('font-size-medium'),
   $font-style: normal,
   $font-weight: 400,
   $line-height: normal,
   $font-family: css-var('font-family'),
   $color: css-var('font-color')
) {
   font-family: $font-family;
   font-weight: $font-weight;
   font-style: $font-style;
   font-size: $font-size;
   color: $color;
   line-height: $line-height;
}

@mixin block-text-size($element, $font-size, $margin-bottom, $font-weight) {
   #{$element}.env-text,
   .env-text #{$element},
   .env-text-#{$element},
      // This last one is not following BEM standards and have never been documented. Kept for backwards compatibility reasons
   .env-text--#{$element} {
      @include sitevision-site-font-override(
         css-var($font-size),
         normal,
         $font-weight,
         $line-height-medium
      );
      margin: 0 0 css-var($margin-bottom);
   }
}

@mixin link(
   $font-color: 'font-color',
   $text-decoration: false,
   $hover-font-color: false,
   $hover-text-decoration: false
) {
   color: css-var($font-color);

   @if ($text-decoration) {
      text-decoration: css-var($text-decoration);
   }
   @if ($hover-font-color) {
      &:hover {
         color: css-var($hover-font-color);
      }
   }
   @if ($hover-text-decoration) {
      &:hover {
         text-decoration: css-var($hover-text-decoration);
      }
   }

   @include focus-visible;
}
