[class^="#{$prefix}-border--"] {
   border: 1px solid $border-color;
}

.#{$prefix}-border--0 { border: 0 !important; }
.#{$prefix}-border--t-0 { border-top: 0 !important; }
.#{$prefix}-border--r-0 { border-right: 0 !important; }
.#{$prefix}-border--b-0 { border-bottom: 0 !important; }
.#{$prefix}-border--l-0 { border-left: 0 !important; }

.#{$prefix}-border { border: 1px solid $border-color !important; }
.#{$prefix}-border-top { border-top: 1px solid $border-color !important; }
.#{$prefix}-border-right { border-right: 1px solid $border-color !important; }
.#{$prefix}-border-bottom { border-bottom: 1px solid $border-color !important; }
.#{$prefix}-border-left { border-left: 1px solid $border-color !important; }
