$colors: (
   brand: $color-brand,
   success: $color-success,
   warning: $color-warning,
   info: $color-info,
   danger: $color-danger,
   base: $color-base,
   darker: $color-darker,
   dark: $color-dark,
   normal: $color-normal,
   light: $color-light,
   lighter: $color-lighter,
   lightest: $color-lightest,
   hover: $color-hover
);

$transparency: (
   80: .8,
   60: .6,
   40: .4,
   20: .2,
   10: .1
);

@each $state, $color in $colors {
   .#{$prefix}-color--#{$state} {
      color: $color !important;
   }

   .#{$prefix}-bg-color--#{$state} {
      background-color: $color;
   }

   @each $opacity, $value in $transparency {
      .#{$prefix}-bg-color--#{$state}--#{$opacity} {
         background-color: $color;
         opacity: $value;
      }
   }

}


