@function strip-unit($value) {
   @return $value / ($value * 0 + 1);
}

$values: 25% 50% 75% 100%;
$properties: width height;
@each $value in $values {
   @each $property in $properties {
      $p: str-slice($property, 0, 1);
      $unitless: strip-unit($value);
      .#{$prefix}-#{$p}--#{$unitless} {
         #{$property}: $value !important;
      }
   }
}

.#{$prefix}-mw--100 {
   max-width: 100% !important;
}

.#{$prefix}-mh--100 {
   max-height: 100% !important;
}
