$properties: margin padding;
$specifiers: top right bottom left around;
$sizes: (
   0: 0,
   xxx-small: $spacing-xxx-small,
   xx-small: $spacing-xx-small,
   x-small: $spacing-x-small,
   small: $spacing-small,
   medium: $spacing-medium,
   large: $spacing-large,
   x-large: $spacing-x-large,
   xx-large: $spacing-xx-large,
   xxx-large: $spacing-xxx-large
);
@each $size, $value in $sizes {
   @each $specifier in $specifiers {
      @each $property in $properties {
         $p: str-slice($property, 0, 1);
         $prop: if($specifier == around, $property, #{$property}-#{$specifier});
         .#{$prefix}-#{$p}-#{$specifier}--#{$size} {
            #{$prop}: $value !important;
         }
      }
   }
}

@each $specifier in $specifiers {
   $prop: if($specifier == around, margin, margin-#{$specifier});
   .#{$prefix}-m-#{$specifier}--a {
      #{$prop}: auto !important;
   }
}
