.banner {
   grid-area: banner;
   display: block;
   padding: 1em $site-padding;

   @include dark-mode-status-override;

   &--deprecated {
      background-color: var(--env-ui-color-status-attention);
      color: var(--env-ui-color-status-attention-contrast);
   }

   &--since {
      background-color: var(--env-ui-color-status-neutral);
      color: var(--env-ui-color-status-neutral-contrast);
   }
   &--beta {
      background-color: var(--env-ui-color-status-active);
      color: var(--env-ui-color-status-active-contrast);
   }

   .container {
      display: flex;
      align-items: center;
      gap: 2em;
   }

   .icon {
      display: inline-flex;
      align-items: center;
      gap: 1em;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 1.35em / 50%;
      padding: 3px 2em 3px 3px;
   }
}
