html {
   font-family: Inter, sans-serif;

   --doc-font-family: Inter, sans-serif;
   --doc-code-font-family: 'JetBrains Mono', monospace;

   --doc-background-color: #e7faf1;
   --doc-section-background-color: #fff;
   --doc-font-color: #000;
   --doc-link-font-color: #445ee3;
   --doc-link-text-decoration: none;
   --doc-border-color: #ccc;

   --doc-header-background-color: var(--doc-section-background-color);
   --doc-header-font-color: #202330;
   --doc-footer-background-color: #2d3237;
   --doc-footer-font-color: #aba3a3;
   --doc-sidenav-background-color: var(--doc-section-background-color);
   --doc-sidenav-font-color: #202330;
   --doc-color-brand: #17cc78;

   --doc-color-brand-05-contrast: #000000;
   --doc-color-brand-05: #f6fefa;
   --doc-color-brand-10-contrast: #000000;
   --doc-color-brand-10: #edfdf5;
   --doc-color-brand-100-contrast: #ffffff;
   --doc-color-brand-100: #073c23;
   --doc-color-brand-15-contrast: #000000;
   --doc-color-brand-15: #dafbec;
   --doc-color-brand-20-contrast: #000000;
   --doc-color-brand-20: #c3f8e0;
   --doc-color-brand-25-contrast: #000000;
   --doc-color-brand-25: #adf6d4;
   --doc-color-brand-30-contrast: #000000;
   --doc-color-brand-30: #96f3c8;
   --doc-color-brand-35-contrast: #000000;
   --doc-color-brand-35: #7ff1bc;
   --doc-color-brand-40-contrast: #000000;
   --doc-color-brand-40: #68eeb0;
   --doc-color-brand-45-contrast: #000000;
   --doc-color-brand-45: #51eba4;
   --doc-color-brand-50-contrast: #000000;
   --doc-color-brand-50: #3ae998;
   --doc-color-brand-55-contrast: #000000;
   --doc-color-brand-55: #19dc82;
   --doc-color-brand-60-contrast: #000000;
   --doc-color-brand-60: #16c574;
   --doc-color-brand-65-contrast: #000000;
   --doc-color-brand-65: #14ae67;
   --doc-color-brand-70-contrast: #000000;
   --doc-color-brand-70: #119759;
   --doc-color-brand-75-contrast: #ffffff;
   --doc-color-brand-75: #0e804c;
   --doc-color-brand-80-contrast: #ffffff;
   --doc-color-brand-80: #0c6e41;
   --doc-color-brand-85-contrast: #ffffff;
   --doc-color-brand-85: #0b6039;
   --doc-color-brand-90-contrast: #ffffff;
   --doc-color-brand-90: #094e2e;
   --doc-color-brand-95-contrast: #ffffff;
   --doc-color-brand-95: #084528;
   --doc-color-brand-contrast: #000000;

   @include dark-mode {
      --doc-background-color: hsl(153, 14%, 15%);
      --doc-section-background-color: #000;
      --doc-font-color: #fff;
      --doc-link-font-color: #fff;
      --doc-link-text-decoration: underline;
      --doc-border-color: #555;
      --doc-header-font-color: #dfdccf;
      --doc-footer-background-color: #000;
      --doc-footer-font-color: #dfdccf;
      --doc-color-brand-100-contrast: #000000;
      --doc-color-brand-100: #f6fefa;
      --doc-color-brand-95-contrast: #000000;
      --doc-color-brand-95: #edfdf5;
      --doc-color-brand-05-contrast: #ffffff;
      --doc-color-brand-05: #073c23;
      --doc-color-brand-90-contrast: #000000;
      --doc-color-brand-90: #dafbec;
      --doc-color-brand-85-contrast: #000000;
      --doc-color-brand-85: #c3f8e0;
      --doc-color-brand-80-contrast: #000000;
      --doc-color-brand-80: #adf6d4;
      --doc-color-brand-75-contrast: #000000;
      --doc-color-brand-75: #96f3c8;
      --doc-color-brand-70-contrast: #000000;
      --doc-color-brand-70: #7ff1bc;
      --doc-color-brand-65-contrast: #000000;
      --doc-color-brand-65: #68eeb0;
      --doc-color-brand-60-contrast: #000000;
      --doc-color-brand-60: #51eba4;
      --doc-color-brand-55-contrast: #000000;
      --doc-color-brand-55: #3ae998;
      --doc-color-brand-50-contrast: #000000;
      --doc-color-brand-50: #19dc82;
      --doc-color-brand-45-contrast: #000000;
      --doc-color-brand-45: #16c574;
      --doc-color-brand-40-contrast: #000000;
      --doc-color-brand-40: #14ae67;
      --doc-color-brand-35-contrast: #000000;
      --doc-color-brand-35: #119759;
      --doc-color-brand-30-contrast: #ffffff;
      --doc-color-brand-30: #0e804c;
      --doc-color-brand-25-contrast: #ffffff;
      --doc-color-brand-25: #0c6e41;
      --doc-color-brand-20-contrast: #ffffff;
      --doc-color-brand-20: #0b6039;
      --doc-color-brand-15-contrast: #ffffff;
      --doc-color-brand-15: #094e2e;
      --doc-color-brand-10-contrast: #ffffff;
      --doc-color-brand-10: #084528;
      --doc-color-brand-contrast: #000000;
      --doc-sidenav-font-color: #dfdccf;
   }
}

.sidenav {
   --env-font-family: var(--doc-font-family);
   --env-element-background-color-light: #f8f9f9;
   --env-element-background-color-dark: #dadddf;
   --env-element-background-color: #f0f1f2;
   --env-element-font-color: #202330;

   --env-element-primary-background-color: #3a71aa;
   --env-element-primary-font-color: #ffffff;
   --env-element-primary-background-color-light: #3e79b5;
   --env-element-primary-background-color-dark: #305d8c;

   --env-element-secondary-background-color-light: #56595b;
   --env-element-secondary-background-color-dark: #3b3d3e;
   --env-element-secondary-font-color: #ffffff;
   --env-element-secondary-background-color: #4f5153;

   --env-element-danger-font-color: #ffffff;
   --env-element-danger-background-color-light: #c55d5d;
   --env-element-danger-background-color-dark: #ac3e3e;
   --env-element-danger-background-color: #c15252;

   --env-element-success-background-color-dark: #296443;
   --env-element-success-font-color: #ffffff;
   --env-element-success-background-color: #358156;
   --env-element-success-background-color-light: #398c5d;

   --env-element-warning-background-color-dark: #ffc21c;
   --env-element-warning-background-color-light: #ffd154;
   --env-element-warning-background-color: #ffcd45;
   --env-element-warning-font-color: #202330;

   --env-element-info-background-color-dark: #20646d;
   --env-element-info-background-color-light: #2c8c99;
   --env-element-info-background-color: #29818d;
   --env-element-info-font-color: #ffffff;

   --env-element-common-background-color: #f2f2f2;
}

body {
   font-family: var(--doc-font-family);
   background: var(--doc-background-color);
   color: var(--doc-font-color);
   padding: 0;
   margin: 0;
   overscroll-behavior: none;
   --env-font-family: Helvetica, Arial, sans-serif;
}

.env-dashboard-theme .main-body *,
.env-dashboard-theme .main-body *::before,
.env-dashboard-theme .main-body *::after {
   // Same box sizing as dashboard in Sitevision
   box-sizing: border-box;
}

figure {
   margin: 0;
   padding: 0;
}

img {
   display: block;
   max-width: 100%;
}

.offset-anchor {
   display: block;
   position: relative;
   top: -120px;
   visibility: hidden;
}
