.mobileNav {
   display: none;
   position: fixed;
   z-index: 2147483646;
   inset: 0;
   padding: 4.5em 0.5em 0.5em;
   overflow-x: hidden;
   overflow-y: auto;
   --env-font-color: var(--doc-font-color);

   width: auto;
   height: auto;
   margin: 0;
   border: none;

   @include dark-mode-element-override;

   background-color: var(--doc-section-background-color);
   color: var(--doc-font-color);

   &.show {
      display: block;
   }

   &__header {
      box-sizing: border-box;
      position: fixed;
      z-index: 2147483647;
      top: 0;
      right: 0;
      left: 0;
      height: 3.75em;
      padding: 0.5em;
      background-color: var(--doc-section-background-color);
      color: var(--doc-font-color);
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::before {
         content: '';
         position: absolute;
         z-index: 2147483646;
         top: 100%;
         left: 0;
         width: 100%;
         height: 0.5em;
         background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.1) 30%,
            rgba(0, 0, 0, 0.025) 70%,
            rgba(0, 0, 0, 0) 100%
         );
      }

      .env-ui-text-sectionheading {
         line-height: 1;
      }
   }

   .env-nav__item {
      position: relative;

      .env-button {
         position: absolute !important;
         inset: 0 0 auto auto;
         border-radius: 0;
      }

      .env-button[aria-expanded='true'] .env-icon {
         transform: rotate(180deg);
      }
   }
   .env-nav__link {
      border-bottom: 1px solid var(--doc-border-color);
      color: var(--doc-font-color);
      padding: 0.75em 0.875em;
      border-left: 2px solid transparent;

      &:hover {
         color: var(--doc-color-brand);
      }

      &.level-1 {
         font-weight: 700;
         border-left: 2px solid transparent;
         padding-left: 0.875em;
      }

      &.level-2 {
         font-weight: 500;
         padding-left: 2.5em;
         border-left: 2px solid transparent;
      }

      &.level-2[aria-current='page'],
      &--active.level-2 {
         border-left: 2px solid var(--doc-color-brand);
         padding-left: 2.5em;
      }

      .doc-badge {
         margin-left: 0.5em;
      }
   }
   .env-nav__item .env-nav__item:last-child .level-2 {
      border-bottom-color: var(--doc-sidenav-font-color);
   }
}
