@use 'variables';

.sidenav {
   --env-font-color: var(--doc-font-color);
   font-family: var(--doc-font-family);

   @include variables.dark-mode-element-override;

   background-color: var(--doc-sidenav-background-color);
   color: var(--doc-sidenav-font-color);

   &__heading {
      font-family: var(--doc-font-family);
      font-size: var(--env-font-size-large);
      font-style: normal;
      font-weight: 500;
      line-height: 1;
      color: var(--env-font-color);
      display: block;
      padding: 1em 0.625em;
      text-decoration: none;
      border-bottom: 6px solid var(--env-font-color);
   }

   a {
      color: var(--env-font-color);
      text-decoration: none;

      @include variables.focus-visible;
   }

   &__items {
      list-style-type: none;
      margin: 0;
      padding: 0;
   }
   &__item {
      position: relative;
      font-size: 1em;

      &__link {
         display: block;
         border-bottom: 1px solid var(--doc-border-color);
         color: var(--doc-sidenav-font-color);
         padding: 1.15em 1.875em;
         border-left: 2px solid transparent;

         &:hover {
            color: var(--doc-color-brand);
         }

         &[aria-current='page'] {
            border-left: 2px solid var(--doc-color-brand);
         }

         .doc-badge {
            margin-left: 0.5em;
            font-size: 0.6em;
            vertical-align: middle;
         }
      }
   }

   .env-nav__item .env-nav__item:last-child .level-2 {
      border-bottom-color: var(--doc-sidenav-font-color);
   }
}
