.doc-theme-switch {
   position: relative;
   z-index: 1;

   width: fit-content;

   --fg: var(--doc-header-font-color);
   --bg: var(--doc-header-background-color);
   --sw: var(--doc-color-brand);
   --ch: var(--doc-color-brand-contrast); //var(--bg);

   @include dark-mode {
      --ch: #ddd4ff; // var(--doc-header-background-color);
      --bg: #6539f8; // var(--doc-header-background-color);
      --sw: #1f2a4d; // var(--doc-header-background-color);
   }

   &__sun,
   &__moon {
      pointer-events: none;
      display: block;
      position: absolute;
      z-index: 3;
      height: 0.8em;
      width: 0.8em;
      inset: 50% auto auto 0.45em;
      transform: translateY(-50%);
      fill: var(--fg) !important;
   }

   &__moon {
      inset: 50% 0.5em auto auto;
      fill: var(--ch) !important;
   }

   &__checkbox {
      font-family: var(--doc-font-family);
      font-size: 1em;
      font-weight: normal;
      appearance: none;
      position: relative;
      z-index: 3;
      height: 1.5em;
      display: inline-block;
      vertical-align: middle;
      border-radius: 0.75em;
      background-color: var(--bg);
      margin: 0;
      padding: 0;

      border: 1px solid var(--sw);
      box-sizing: content-box;
      border-radius: 0.8em / 50%;
      width: 3em;

      &:before {
         content: '';
         display: block;
         position: absolute;
         z-index: 3;
         height: 1.25em;
         width: 1.25em;
         border-radius: 50%;
         inset: 0.125em auto auto 0.125em;
         background-color: var(--sw);
         transition: 0.3s;
         transform: translateX(1.45em);
      }

      ~ .doc-theme-switch__sun {
         fill: var(--fg);
         display: block;
      }
      ~ .doc-theme-switch__moon {
         fill: var(--ch);
         display: none;
      }

      &:checked {
         &:before {
            //transform: translateX(1.125em);
            transform: translateX(0);
         }

         ~ .doc-theme-switch__sun {
            fill: var(--ch);
            display: none;
         }
         ~ .doc-theme-switch__moon {
            fill: var(--fg);
            display: block;
         }
      }

      &:focus-visible {
         @include focus-outline;
      }
   }
}
