// -----------------------------------------------------------------------------
// This file contains Sass variables for the documentation website.
// -----------------------------------------------------------------------------

$helvetica: Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$frank-ruhl: 'Frank Ruhl Libre', serif;
$roboto: Roboto, sans-serif;
$source-sans: 'Source Sans Pro', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$site-width: 1280px;
$site-padding: 15px;

$bp-mobile: 520px;
$bp-tablet: 768px;

@mixin desktop {
   @media (min-width: #{$bp-tablet}) {
      @content;
   }
}

@mixin tablet {
   @media (min-width: #{$bp-mobile}) and (max-width: #{$bp-tablet - 1}) {
      @content;
   }
}

@mixin mobile-and-tablet {
   @media (max-width: #{$bp-tablet - 1}) {
      @content;
   }
}

@mixin mobile {
   @media (max-width: #{$bp-mobile - 1}) {
      @content;
   }
}
