// -----------------------------------------------------------------------------
// This file contains Sass variables for the documentation website.
// -----------------------------------------------------------------------------

$site-width: 1280px;
$site-padding: 1em;

$bp-mobile: 520px;
$bp-tablet: 768px;

$BRAND_COLOR_VARIANTS: '05', '10', '15', '20', '25', '30', '35', '40', '45',
   '50', '55', '60', '65', '70', '75', '80', '85', '90', '95', '100';

@mixin main-layout-break {
   @media (min-width: 48em) {
      // 768px = 48em
      @content;
   }
}

@mixin dark-mode {
   @media (prefers-color-scheme: dark) {
      @content;
   }
}

@mixin dark-mode-element-override {
   @media (prefers-color-scheme: dark) {
      --env-element-primary-font-color: #272b30;
      --env-element-primary-background-color: #81a6ca;
      --env-element-danger-font-color: #272b30;
      --env-element-danger-background-color: #ed8178;
      --env-element-success-font-color: #272b30;
      --env-element-success-background-color: #00bc8c;
   }
}

@mixin dark-mode-status-override {
   @media (prefers-color-scheme: dark) {
      --env-ui-color-status-active: #00bc8c;
      --env-ui-color-status-active-contrast: #272b30;
      --env-ui-color-status-active-text: #00bc8c;
      --env-ui-color-status-attention: #ed8178;
      --env-ui-color-status-attention-contrast: #272b30;
      --env-ui-color-status-attention-text: #f39d12;
      --env-ui-color-status-error: #ed8178;
      --env-ui-color-status-error-text: #ed8178;
      --env-ui-color-status-error-contrast: #272b30;
      --env-ui-color-status-neutral: #444444;
      --env-ui-color-status-neutral-contrast: #ffffff;
   }
}

@mixin focus-outline() {
   box-shadow: 0 0 0 var(--env-focus-offset) var(--env-focus-inner-color);
   outline: var(--env-focus-size) solid var(--env-focus-outline-color);
   outline-offset: var(--env-focus-offset);
}

@mixin focus-visible {
   &:focus-visible {
      @include focus-outline;
   }
}
