// -----------------------------------------------------------------------------
// This file contains Sass variables for the documentation website.
// -----------------------------------------------------------------------------

$helvetica: Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$frank-ruhl: 'Frank Ruhl Libre', serif;
$roboto: Roboto, sans-serif;
$source-sans: 'Source Sans Pro', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$site-width: 1280px;
$site-padding: 15px;

$bp-mobile: 520px;
$bp-tablet: 768px;

@mixin desktop {
   @media (min-width: #{$bp-tablet}) {
      @content;
   }
}

@mixin tablet {
   @media (min-width: #{$bp-mobile}) and (max-width: #{$bp-tablet - 1}) {
      @content;
   }
}

@mixin mobile-and-tablet {
   @media (max-width: #{$bp-tablet - 1}) {
      @content;
   }
}

@mixin mobile {
   @media (max-width: #{$bp-mobile - 1}) {
      @content;
   }
}

@mixin focus-outline() {
   box-shadow: var(--env-focus-box-shadow);
   outline: var(--env-focus-outline);
   outline-offset: var(--env-focus-size);
}

@mixin focus-visible {
   // Support browsers without focus-visible (Safari)
   // Todo: Clean up when Safari gets support for focus-visible
   &:focus {
      // Set focus style for all
      @include focus-outline;
   }
   &:focus-visible {
      // Set focus style for all that supports focus-visible
      @include focus-outline;
   }
   &:focus:not(:focus-visible) {
      // Remove regular focus style for all that supports focus-visible
      box-shadow: none;
      outline: none;
   }
}
