.env-modal-dialog.doc-demo__modal {
   border-color: #e5e5e5 #eeeeee #eeeeee;
   border-style: solid;
   border-width: 1px 0;
   box-shadow: inset 0 3px 6px rgba(0,0,0,1);
   max-width: 900px;
   background-color: rgba(0,0,0,.5);
   display: block;
   visibility: visible;
   padding: 45px 15px;
   position: relative;
   z-index: 900;
   opacity: 1;
}

.example-progress > div {
   + div {
      margin-top: 10px;
   }
}

.example-tabs,
.example-tabs1,
.example-tabs2,
.example-tabs3 {
   margin-bottom: 15px;
}

.example-panel {
   align-items: center;
   display: flex;
   justify-content: center;
   height: 200px;
   width: 200px;
   background-color: #eee;
}

.example-sizing > div,
.example-sizing-h > div {
   background-color: #eee;
}

.example-sizing-h {
   height: 100px;
}

.example-alignment-container,
.example-direction-container {
   display: flex;
   height: 70px;
   background-color: #eee;
   margin-bottom: 10px;
   border: 1px solid rgba(0, 0, 0, .1);

   > div {
      border: 1px solid rgba(0,0,0,.5);
      margin-top: -1px;
      margin-left: -1px;
   }
}

.example-direction-container {
   height: auto;
}

.example-color {
   text-align: center;

   > * {
      padding: 1em 0 1em 1em;
      margin-bottom: .5em;
   }
}

.example-display > div {
   background-color: #eee;
   margin-top: 20px;
}

.example-list-item {
   background-color: #eee;
   border: 1px solid #666;
   box-sizing: border-box;
   margin-top: -1px;
   margin-left: -1px;
   padding: 1em;
   text-align: center;
}

.example-list-item-responsive {
   background-color: #eee;
   border: 1px solid #666;
   height: 100px;
   line-height: 100px;
   margin-top: -1px;
   margin-left: -1px;
   padding: 1em;
   text-align: center;
   width: 150px;
}

.example-border-util span {
   display: inline-block;
   width: 6rem;
   height: 6rem;
   background-color: #F2F2F2;
   margin: 5px;
}

.example-vertical-alignment {
   height: 100px;
}

.example-color-size {
   padding: 1.5em !important;
   margin-top: .75em !important;
   margin-bottom: .75em !important;
}

.example-color-size-large {
   padding: 3em !important;
   margin-top: .75em !important;
   margin-bottom: .75em !important;
}
