.example-demo-dark,
.env-modal-dialog.example-demo__modal {
   background-color: var(--env-element-common-background-color);
   border-color: var(--env-border-color) var(--env-border-color-light)
      var(--env-border-color-light);
   border-width: 1px 0;
   box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
   display: block;
   visibility: visible;
   padding: 45px 15px;
   position: relative;
   z-index: 900;
   opacity: 1;
}

.example-progress > div {
   + div {
      margin-top: 10px;
   }
}

.example-tabs,
.example-tabs1,
.example-tabs2,
.example-tabs3 {
   margin-bottom: 15px;
}

.example-panel {
   align-items: center;
   display: flex;
   justify-content: center;
   height: 200px;
   width: 200px;
   color: #000;
   background-color: #f2f2f2;
   text-decoration: none;
}

.example-sizing > div,
.example-sizing-h > div {
   background-color: var(--env-element-common-background-color);
}

.example-sizing-h {
   height: 100px;
}

.example-flex {
   background-color: var(--env-element-common-background-color);
   margin-bottom: 10px;

   .env-flex__item {
      border: 1px solid var(--env-border-color);
      margin-top: -1px;
      margin-left: -1px;
      padding: 0.5em;
      text-align: center;
   }

   &--align {
      height: 70px;
   }
}

.example-link {
   margin: 1em 0;
}

.example-color {
   text-align: center;

   > * {
      padding: 1em 0 1em 1em;
      margin-bottom: 0.5em;
   }
}

.example-display > div {
   background-color: var(--env-element-common-background-color);
   margin-top: 20px;
}

.example-list-item {
   background-color: var(--env-element-common-background-color);
   border: 1px solid var(--env-border-color);
   box-sizing: border-box;
   margin-top: -1px;
   margin-left: -1px;
   padding: 1em;
   text-align: center;
}

.example-list-item-responsive {
   background-color: var(--env-element-common-background-color);
   border: 1px solid var(--env-border-color);
   height: 100px;
   line-height: 100px;
   margin-top: -1px;
   margin-left: -1px;
   padding: 1em;
   text-align: center;
   width: 150px;
}

.example-border-util span {
   display: inline-block;
   width: 6rem;
   height: 6rem;
   background-color: var(--env-element-common-background-color);
   margin: 5px;
}

.example-shadow-util {
   display: flex;
   justify-content: space-between;
}

.example-shadow-util span {
   display: inline-block;
   width: 12rem;
   height: 6rem;
   background-color: var(--env-section-background-color);
   margin: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.example-vertical-alignment {
   height: 100px;
}

.example-color-size {
   padding: 1.5em !important;
   margin-top: 0.75em !important;
   margin-bottom: 0.75em !important;
}

.example-color-size-large {
   padding: 3em !important;
   margin-top: 0.75em !important;
   margin-bottom: 0.75em !important;
}

.example-profile-images {
   height: 260px;
   position: relative;

   &--resizeable {
      width: 260px;
      max-width: 260px;
      border: 1px dashed var(--env-border-color);
      resize: horizontal;
      overflow: hidden;
   }

   img.env-profile-image {
      border: 1px solid #aaa;
   }

   [data-demo-size] {
      display: inline-block;
      position: absolute;
      top: 0;

      $xxl: 256px;
      $xl: 224px;
      $l: 128px;
      $m: 96px;
      $s: 64px;
      $xs: 48px;
      $xxs: 32px;

      &:nth-child(1) {
         top: 0;
         left: 0;
      }

      &:nth-child(2) {
         top: ($xxl - $xl);
         left: $xxl - $xl * 0.25;
      }

      &:nth-child(3) {
         top: ($xxl - $l);
         left: $xxl + $xl - ($xl + $l) * 0.25;
      }

      &:nth-child(4) {
         top: ($xxl - $m);
         left: $xxl + $xl + $l - ($xl + $l + $m) * 0.25;
      }

      &:nth-child(5) {
         top: ($xxl - $s);
         left: $xxl + $xl + $l + $m - ($xl + $l + $m + $s) * 0.25;
      }

      &:nth-child(6) {
         top: ($xxl - $xs);
         left: $xxl + $xl + $l + $m + $s - ($xl + $l + $m + $s + $xs) * 0.25;
      }

      &:nth-child(7) {
         top: ($xxl - $xxs);
         left: $xxl + $xl + $l + $m + $s + $xs -
            ($xl + $l + $m + $s + $xs + $xxs) * 0.25;
      }
   }

   [data-demo-size] {
      &:after {
         position: absolute;
         bottom: -14px;
         left: 0;
         right: 0;
         text-align: center;
         font-size: 10px;
         color: #666;
         content: attr(data-demo-size);
      }
   }

   [data-demo-size][data-demo-size-inside] {
      &:after {
         bottom: 14px;
         color: #000;
      }
   }
}

.example-element-color-variants,
.example-variants {
   display: flex;
}

.example-element-color-variant,
.example-variant {
   flex: 1 1 50%;
   padding: 1em;
   text-align: center;

   h2,
   p {
      margin: 0 0 0.5em;
   }
}

.example-element-color p,
.example-ui-color-status p {
   padding: 1em;
   margin: 0;
   text-align: center;
}

.example-element-header {
   text-align: center;

   h2 {
      margin: 0;
   }
}

.example-ui-color-status-heading {
   margin: 0 0 1em !important;
   border-bottom: 1px dotted var(--env-border-color-light);

   &:not(:first-child) {
      margin-top: 2em !important;
   }
}

.example-element {
   margin: 2em 0;
   text-align: center;

   &--left > :not(.example-element-label) {
      text-align: left;
   }

   .env-nav,
   .env-pagination {
      justify-content: center;
   }
}

.example-element-label {
   font-weight: bold;
   text-align: center;
   margin: 0 0 0.5em;
}

$variableNames: 'primary', 'secondary', 'success', 'warning', 'danger', 'info';

.example-element-color {
   color: var(--env-element-font-color);
   background-color: var(--env-element-background-color);

   .example-element-color-variant--light {
      background-color: var(--env-element-background-color-light);
   }

   .example-element-color-variant--dark {
      background-color: var(--env-element-background-color-dark);
   }
}

@each $name in $variableNames {
   .example-element-color--#{$name} {
      color: var(--env-element-#{$name}-font-color);
      background-color: var(--env-element-#{$name}-background-color);

      .example-element-color-variant--light {
         background-color: var(--env-element-#{$name}-background-color-light);
      }

      .example-element-color-variant--dark {
         background-color: var(--env-element-#{$name}-background-color-dark);
      }
   }
}

$variableNames: 'neutral', 'active', 'attention';

@each $name in $variableNames {
   .example-ui-color-status--#{$name} {
      color: var(--env-ui-color-status-#{$name}-contrast);
      background-color: var(--env-ui-color-status-#{$name});
   }
}

.example-grid {
   display: flex;
   flex-wrap: wrap;
   margin: 2em -0.5em;
   box-sizing: border-box;
   align-content: stretch;
   justify-content: center;
   align-items: stretch;
   justify-items: stretch;

   .code-example > &,
   .example-grid {
      margin: 0;
   }

   &__col {
      box-sizing: border-box;
      min-width: 25%;
      flex: 1 1 25%;
      padding: 0.5em;

      &--33 {
         flex: 1 1 33.3333%;
      }

      &--50 {
         flex: 1 1 50%;
      }

      &--100 {
         flex: 1 1 100%;
      }
   }

   &__box {
      box-sizing: border-box;
      border: 1px solid var(--env-border-color-light);
      background-color: var(--env-section-background-color);
      padding: 1em;
      height: 100%;
   }
}

.example-card,
.example-card-parts {
   margin: 0 auto 2em;
   max-width: 400px;

   &:last-child {
      margin: 0 auto;
   }
}

.example-card-parts {
   header,
   footer,
   div {
      border: 1px dashed #ccc;
      margin: 0 0.5em 0.5em !important;
      padding: 0.25em 1em !important;
   }

   header {
      margin: 0.5em !important;
   }
}

.demo-cardholder-grid,
.demo-cardholder-flex {
   h4 {
      font-weight: bold;
      margin: 1em 0 0.25em;
   }

   p {
      margin: 0 0 0.5em;
      font-size: 0.7em;
   }

   .env-card {
      height: 20px;
      background-color: #eee;
      border: 1px dashed #ccc;
   }

   &__resizeable {
      box-sizing: border-box;
      width: 320px;
      max-width: 100%;
      border: 1px dashed var(--env-border-color);
      resize: horizontal;
      overflow: hidden;
   }
}

.demo-cardholder-flex {
   --env-cardholder-column-min-width: 48px;
   --env-cardholder-column-max-width: 80px;
   --env-cardholder-column-spacing: 6px;

   &__resizeable {
      padding: 4px 8px;
   }
}

.demo-cardholder-grid {
   &__resizeable {
      font-size: 0.1815em; // (font-size controls column width and gap scale)
      padding: 8px;
   }
}

.example-spacing {
   color: #000;
   border: 1px dotted #5f6368;
   margin: 2em 0;
   padding: 2em;

   &__margin {
      position: relative;
      background-color: #f9cc9d;
      border: 1px dashed #303942;

      &:before {
         content: 'margin';
         position: absolute;
         top: 1px;
         left: 1px;
         font-size: 9px;
      }
   }

   &__padding {
      position: relative;
      line-height: 1;
      background-color: #c3d08a;
      border: 1px dashed #80868b;

      &:before {
         content: 'padding';
         position: absolute;
         top: 1px;
         left: 1px;
         font-size: 9px;
      }
   }

   &__content {
      line-height: 1;
      font-size: 12px;
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      background-color: #8cb6c0;
      border: 1px solid #80868b;
   }
}

.example-input-fields {
   .env-form-element {
      max-width: 400px;
   }
}

.example-brand-color-list {
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;

   li {
      flex: 1 1 25%;
      font-size: 0.8em;
      font-weight: 400;

      &:first-child {
         flex: 1 1 100%;
      }

      > div {
         padding: 1em 1em;
      }
   }
}

.example-section {
   &-brand {
      background-color: var(--env-ui-color-brand);
      color: var(--env-ui-color-brand-contrast);

      @each $variant in $BRAND_COLOR_VARIANTS {
         &-#{$variant} {
            background-color: var(--env-ui-color-brand-#{$variant});
            color: var(--env-ui-color-brand-#{$variant}-contrast);
         }
      }
   }
}

.example-badges {
   margin: 0 -0.25em;

   .env-badge {
      margin: 0.25em;
   }
}

.code-example {
   // Demo positioning for arrow in static no popper popovers
   [data-popper-placement='top'] .env-popover__arrow,
   [data-popper-placement='bottom'] .env-popover__arrow {
      left: 50%;
      margin-left: -10px;
   }

   [data-popper-placement='right'] .env-popover__arrow,
   [data-popper-placement='left'] .env-popover__arrow {
      top: 50%;
      margin-top: -10px;
   }
}
