.env-modal-dialog.doc-demo__modal {
   background-color: var(--env-element-common-background-color);
   border-color: var(--env-border-color) var(--env-border-color-light)
      var(--env-border-color-light);
   border-style: solid;
   border-width: 1px 0;
   box-shadow: inset 0 3px 6px rgba(0, 0, 0, 1);
   max-width: 900px;
   display: block;
   visibility: visible;
   padding: 45px 15px;
   position: relative;
   z-index: 900;
   opacity: 1;
}

.example-progress > div {
   + div {
      margin-top: 10px;
   }
}

.example-tabs,
.example-tabs1,
.example-tabs2,
.example-tabs3 {
   margin-bottom: 15px;
}

.example-panel {
   align-items: center;
   display: flex;
   justify-content: center;
   height: 200px;
   width: 200px;
   background-color: var(--env-element-common-background-color);
}

.example-sizing > div,
.example-sizing-h > div {
   background-color: var(--env-element-common-background-color);
}

.example-sizing-h {
   height: 100px;
}

.example-alignment-container,
.example-direction-container {
   display: flex;
   height: 70px;
   background-color: var(--env-element-common-background-color);
   border: 1px solid var(--env-border-color-light);
   margin-bottom: 10px;

   > div {
      border: 1px solid var(--env-border-color);
      margin-top: -1px;
      margin-left: -1px;
   }
}

.example-direction-container {
   height: auto;
}

.example-color {
   text-align: center;

   > * {
      padding: 1em 0 1em 1em;
      margin-bottom: 0.5em;
   }
}

.example-display > div {
   background-color: var(--env-element-common-background-color);
   margin-top: 20px;
}

.example-list-item {
   background-color: var(--env-element-common-background-color);
   border: 1px solid var(--env-border-color);
   box-sizing: border-box;
   margin-top: -1px;
   margin-left: -1px;
   padding: 1em;
   text-align: center;
}

.example-list-item-responsive {
   background-color: var(--env-element-common-background-color);
   border: 1px solid var(--env-border-color);
   height: 100px;
   line-height: 100px;
   margin-top: -1px;
   margin-left: -1px;
   padding: 1em;
   text-align: center;
   width: 150px;
}

.example-border-util span {
   display: inline-block;
   width: 6rem;
   height: 6rem;
   background-color: var(--env-element-common-background-color);
   margin: 5px;
}

.example-vertical-alignment {
   height: 100px;
}

.example-color-size {
   padding: 1.5em !important;
   margin-top: 0.75em !important;
   margin-bottom: 0.75em !important;
}

.example-color-size-large {
   padding: 3em !important;
   margin-top: 0.75em !important;
   margin-bottom: 0.75em !important;
}

.example-profile-images {
   height: 260px;
   position: relative;

   img {
      border: 1px solid #aaa;
   }

   a {
      display: inline-block;
      position: absolute;
      top: 0;

      $xxl: 256px;
      $xl: 224px;
      $l: 128px;
      $m: 96px;
      $s: 64px;
      $xs: 48px;
      $xxs: 32px;

      &:nth-child(1) {
         top: 0;
         left: 0;
      }

      &:nth-child(2) {
         top: ($xxl - $xl);
         left: $xxl - $xl / 4;
      }

      &:nth-child(3) {
         top: ($xxl - $l);
         left: $xxl + $xl - ($xl + $l) / 4;
      }

      &:nth-child(4) {
         top: ($xxl - $m);
         left: $xxl + $xl + $l - ($xl + $l + $m) / 4;
      }

      &:nth-child(5) {
         top: ($xxl - $s);
         left: $xxl + $xl + $l + $m - ($xl + $l + $m + $s) / 4;
      }

      &:nth-child(6) {
         top: ($xxl - $xs);
         left: $xxl + $xl + $l + $m + $s - ($xl + $l + $m + $s + $xs) / 4;
      }

      &:nth-child(7) {
         top: ($xxl - $xxs);
         left: $xxl + $xl + $l + $m + $s + $xs -
            ($xl + $l + $m + $s + $xs + $xxs) / 4;
      }
   }

   [data-demo-size] {
      &:after {
         position: absolute;
         bottom: -14px;
         left: 0;
         right: 0;
         text-align: center;
         font-size: 10px;
         color: #666;
         content: attr(data-demo-size);
      }
   }
}

.example-element-color-variants,
.example-variants {
   display: flex;
}

.example-element-color-variant,
.example-variant {
   flex: 1 1 50%;
   padding: 1em;
   text-align: center;

   h2,
   p {
      margin: 0 0 0.5em;
   }
}

.example-element-color p {
   padding: 1em;
   margin: 0;
   text-align: center;
}

.example-element-header {
   text-align: center;

   h2 {
      margin: 0;
   }
}

.example-element {
   margin: 2em 0;
   text-align: center;

   &--left > :not(.example-element-label) {
      text-align: left;
   }

   .env-nav,
   .env-pagination {
      justify-content: center;
   }
}

.example-element-label {
   font-weight: bold;
   text-align: center;
   margin: 0 0 0.5em;
}

$variableNames: 'primary', 'secondary', 'success', 'warning', 'danger', 'info';

.example-element-color {
   color: var(--env-element-font-color);
   background-color: var(--env-element-background-color);

   .example-element-color-variant--light {
      background-color: var(--env-element-background-color-light);
   }

   .example-element-color-variant--dark {
      background-color: var(--env-element-background-color-dark);
   }
}

@each $name in $variableNames {
   .example-element-color--#{$name} {
      color: var(--env-element-#{$name}-font-color);
      background-color: var(--env-element-#{$name}-background-color);

      .example-element-color-variant--light {
         background-color: var(--env-element-#{$name}-background-color-light);
      }

      .example-element-color-variant--dark {
         background-color: var(--env-element-#{$name}-background-color-dark);
      }
   }
}

.example-grid {
   display: flex;
   flex-wrap: wrap;
   margin: 2em -0.5em;
   box-sizing: border-box;

   .code-example > &,
   .example-grid {
      margin: 0;
   }

   &__col {
      box-sizing: border-box;
      max-width: 25%;
      flex: 1 1 25%;
      padding: 0.5em;

      &--33 {
         max-width: 33.3333%;
         flex: 1 1 33.3333%;
      }

      &--50 {
         max-width: 50%;
         flex: 1 1 50%;
      }

      &--100 {
         max-width: 100%;
         flex: 1 1 100%;
      }
   }

   &__box {
      box-sizing: border-box;
      border: 1px solid #ccc;
      padding: 1em;
      height: 100%;
   }
}
