@import 'variables';
@import 'webfonts';
@import 'highlight';
@import 'nav-top';
@import 'footer';
@import 'header';
@import 'demo';
@import 'icons';
@import 'home';
@import 'env-themes';

html {
   font-family: Helvetica, Arial, sans-serif;
   text-size-adjust: 100%;
}

body {
   background: var(--env-background-color);
   color: var(--env-font-color);
   padding: 0;
   margin: 0;
   min-height: 100%;
   position: relative;
   transition: all 0.3s;
}

body {
   font-family: var(--env-font-family);
}

//----- SITEVISION SITE FONT ISSUES DETECTION START -----

// This here to avoid issues in Sitevision
// by making sure we add the CSS needed for
// misc components.
// Simulates setting in BODY font and default H1-H6-font.
//
// 1. Set ugly pink font with same specificity as Sitevision sets font styles.
// 2. Override documenation style to always look nice.
// 3. If we get a CSS leak from SV in Envision components, we'll see the ugly font.

body a {
   color: deeppink;
   text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   // Set ugly pink font so we catch it in documentation site
   font-family: cursive;
   font-weight: 900;
   font-style: italic;
   font-size: 30px;
   color: deeppink;
   line-height: 2;

   // Restore apperance for documentation headings
   &[class^='doc-'],
   &[class*=' doc-'] {
      font-family: var(--env-font-family);
      color: var(--env-font-color);
      font-weight: 500;
      font-style: normal;
      line-height: normal;

      .code-example & {
         color: currentColor;
      }
   }
}

//----- SITEVISION SITE FONT ISSUES DETECTION END -----

//----- SITEVISION THEME CUSTOM ADJUSTMENTS START -----

.example-brand-color-palette {
   body:not([class^='sv-theme-']):not([class*=' sv-theme-']) & {
   }
}

.hide-when-has-theme {
   body[class^='sv-theme-'] &,
   body[class*=' sv-theme-'] & {
      display: none;
   }
}

.show-when-has-theme {
   body:not([class^='sv-theme-']):not([class*=' sv-theme-']) & {
      display: none;
   }
}

.sv-theme-dark {
   // No settings in Sitevision:
   --env-element-common-background-color: #444;
   --env-element-common-background-color-dark: #333;
   --env-box-shadow: 0 0.5em 1em rgba(255, 255, 255, 0.15);
   --env-box-shadow-small: 0 0.125em 0.25em rgba(255, 255, 255, 0.075);
   --env-box-shadow-large: 0 1em 3em rgba(255, 255, 255, 0.175);
}

body[class^='sv-theme-'],
body[class*=' sv-theme-'] {
   // Custom demo site fixes
   .gatsby-highlight {
      opacity: 0.85;
   }

   .code-example {
      border-color: var(--env-section-background-color);
   }

   :not(pre) > code[class*='language-'] {
      background-color: var(--env-section-background-color);
      color: var(--env-font-color);
   }
}

//----- SITEVISION THEME CUSTOM ADJUSTMENTS END -----

//----- STYLE FOR MARKDOWN GENERATED MARKUP ELEMENTS START -----

.doc-link,
.doc-link-secondary {
   color: var(--env-link-font-color);
   text-decoration: var(--env-link-text-decoration);
   transition: box-shadow 0.2s ease-in-out;

   &:hover {
      color: var(--env-link-hover-font-color);
      text-decoration: var(--env-link-hover-text-decoration);
   }

   @include focus-visible;
}

.doc-heading-1 {
   font-family: $roboto;
   font-size: 46px;
   font-size: clamp(2.1rem, #{'-0.7857rem + 8.1633vw'}, 2.9rem);
   line-height: 1;
   font-weight: 500;
   margin: 0 0 1em;

   &--main {
      font-family: $roboto;
      line-height: 1;
      margin: 0 0 0.25em;
   }
}

.doc-heading-2 {
   font-family: $roboto;
   font-weight: 500;
   font-size: 26px;
   font-size: clamp(1.2rem, #{'-0.7857rem + 8.1633vw'}, 2rem);
   margin: 1em 0 0.5em;
}

.doc-heading-3 {
   font-family: $roboto;
   font-size: 22px;
   font-size: clamp(1.1rem, #{'-0.7857rem + 8.1633vw'}, 1.4rem);
   margin: 1em 0 0.5em;
}

.doc-heading-4,
.doc-heading-5,
.doc-heading-6 {
   font-family: $roboto;
   font-size: 18px;
   margin: 1em 0 0.5em;
}

.doc-p {
   font-family: $roboto;
   margin: 0 0 1em;
}

blockquote.doc-blockquote {
   margin: 2em 0;
   padding: 1em 1em;
   border-left: 4px solid var(--env-font-color);
   font-style: italic;
}

.doc-list {
   list-style-type: square;
   margin: 2em 0;
   padding: 0 0 0 1.5em;

   &__item {
      margin: 0 0 0.5em;
   }
}

[class^='doc-'],
[class*=' doc-'],
.gatsby-highlight {
   // Use doc font for envision components that are part of docs.
   --env-font-family: #{$roboto};
   --env-badge-font-family: #{$roboto};
   --env-button-font-family: #{$roboto};
}

//----- STYLE FOR MARKDOWN GENERATED MARKUP ELEMENTS END -----

:not(pre) > code[class*='language-'] {
   font-size: 0.85em;
   text-shadow: none;
}

.offset-anchor {
   display: block;
   position: relative;
   top: -120px;
   visibility: hidden;
}

.docs-text,
.sidenav,
.sidenav *,
.sv-header *,
.footer-wrapper {
   font-family: $roboto;
   --env-font-family: #{$roboto};
}

.docs-text,
.sidenav,
.sidenav *,
.sv-header *,
.footer-wrapper {
   font-family: $roboto;
   --env-font-family: #{$roboto};
}

.main-container {
   box-sizing: border-box;
   max-width: $site-width;
   margin: 0 auto;
   padding: 90px $site-padding;

   @include desktop {
      display: flex;
      justify-content: space-between;
      padding: 120px $site-padding;
   }
}

main {
   display: block;
   max-width: 800px;

   @include mobile-and-tablet {
      margin: 0 auto $site-padding * 4;
   }

   @include desktop {
      flex: 1 1 74%;
      order: 2;
      width: 74%;
      margin: 0 auto 0 0;
      padding: 0 0 $site-padding 0;
   }
}

.sidenav {
   flex: 1;

   @include desktop {
      max-width: 232px;
      padding-right: $site-padding * 2;
   }

   @include mobile-and-tablet {
      padding-top: $site-padding * 2;

      border-top: 1px solid var(--env-border-color);

      > div {
         padding: $site-padding;

         > ul {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            margin: 0 $site-padding * -1;

            li {
               box-sizing: border-box;
               flex: 1 1 33%;
               width: 33%;
               padding: $site-padding;
            }
         }
      }
   }

   @include mobile {
      > div > ul li {
         flex: 1 1 50%;
         width: 50%;
      }
   }
}

img {
   display: block;
   max-width: 100%;
}

.highlighter-rouge {
   background-color: rgba(0, 0, 0, 0.05);
   padding: 4px 8px;
   border-radius: 3px;
   margin: 0 2px;
   font-size: 14px;
}

.code-example {
   padding: 20px;
   box-sizing: border-box;
   border: 4px solid rgba(0, 0, 0, 0.02);
   border-radius: 3px 3px 0 0;
}

.gatsby-highlight {
   border: 4px solid transparent;
   border-radius: 0 0 3px 3px;
}

.sidenav {
   --env-link-font-color: var(--env-link-secondary-font-color);
   --env-link-secondary-hover-font-color: var(--env-link-secondary-font-color);
   --env-link-secondary-hover-text-decoration: none;
   flex: 1;

   a {
      color: var(--env-font-color);

      @include focus-visible;
   }

   > div {
      margin-bottom: 10px;

      > a {
         padding: 0 0 10px 0;
         display: inline-block;
         font-weight: 400;
         font-size: 17px;
      }
   }

   ul {
      margin: 0;
      list-style: none;
      padding: 0;

      li {
         padding: 0 0 10px 0;
      }
   }

   ul li a,
   .theme-picker .doc-link-secondary {
      font-weight: 300;
      font-size: 16px;
      color: var(--env-link-secondary-font-color);

      @include desktop {
         white-space: nowrap;
      }

      &:hover {
         color: var(--env-link-secondary-font-color);
      }

      &.active {
         border-bottom: 2px solid #6892d5;

         &:hover {
            text-decoration: none;
         }
      }
   }
}

.theme-picker {
   //border-top: 1px solid var(--env-border-color);
   margin: 0 1em;

   .env-form-element {
      margin: 0;
      padding: 0;
   }
}
