.env-theme-darkmode {
   --env-alert-background-color: var(--env-section-background-color);
   --env-alert-font-color: var(--env-font-color);
   --env-alert-border-radius: var(--env-border-radius-small);
   --env-alert-font-family: var(--env-font-family);
   --env-background-color: #2b323c;
   --env-badge-border-radius: var(--env-border-radius-medium);
   --env-badge-font-family: var(--env-font-family);
   --env-badge-font-size: 75%;
   --env-block-background-color: #333c48;
   --env-block-border-color: #98a4b9;
   --env-block-font-color: #98a4b9;
   --env-block-link-font-color: #03a2b3;
   --env-block-link-hover-font-color: #03a2b3;
   --env-block-primary-background-color: #121923;
   --env-block-primary-border-color: #98a4b9;
   --env-block-primary-font-color: #98a4b9;
   --env-block-primary-link-font-color: #03a2b3;
   --env-block-primary-link-hover-font-color: #03a2b3;
   --env-block-secondary-background-color: #5fa291;
   --env-block-secondary-border-color: #333c48;
   --env-block-secondary-font-color: #ffffff;
   --env-block-secondary-link-font-color: #f8f9fa;
   --env-block-secondary-link-hover-font-color: #f8f9fa;
   --env-border-color-light: hsl(218, 19%, 76%);
   --env-border-color: #98a4b9;
   --env-border-danger-color: #c15252;
   --env-border-radius-large: calc(var(--env-border-radius) * 1.5);
   --env-border-radius-medium: var(--env-border-radius);
   --env-border-radius-small: calc(var(--env-border-radius) * 0.5);
   --env-border-radius: 0.25em;
   --env-border-success-color: #358156;
   --env-border-warning-color: #987013;
   --env-box-shadow-large: 0 1em 3em rgba(0, 0, 0, 0.175);
   --env-box-shadow-small: 0 0.125em 0.25em rgba(0, 0, 0, 0.075);
   --env-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
   --env-breadcrumb-divider-color: #999;
   --env-button-border-radius: 0.375em;
   --env-button-font-family: var(--env-font-family);
   --env-cardholder-column-max-width: 400px;
   --env-cardholder-column-min-width: 240px;
   --env-cardholder-column-spacing: var(--env-spacing-medium);
   --env-collapse-background-color: var(--env-element-background-color-light);
   --env-collapse-border-color: var(--env-element-background-color);
   --env-collapse-border-style: solid;
   --env-collapse-border-width: 1px;
   --env-collapse-expanded-background-color: var(
      --env-element-background-color
   );
   --env-collapse-expanded-border-color: var(
      --env-element-background-color-dark
   );
   --env-collapse-icon-color: var(--env-font-color);
   --env-collapse-icon-height: 3px;
   --env-collapse-icon-width: 15px;
   --env-collapse-toggle-duration: 300ms;
   --env-color-base: #000;
   --env-color-brand-dark: var(--env-element-primary-background-color-dark);
   --env-color-brand-light: var(--env-element-primary-background-color-light);
   --env-color-brand: var(--env-element-primary-background-color);
   --env-color-danger: var(--env-element-danger-background-color);
   --env-color-dark: #333;
   --env-color-darker: #0d0d0d;
   --env-color-element-bg: #fff;
   --env-color-hover: #f7f7f7;
   --env-color-info: var(--env-element-info-background-color);
   --env-color-light: #999;
   --env-color-lighter: #ccc;
   --env-color-lightest: #e6e6e6;
   --env-color-normal: #666;
   --env-color-page-bg: #fff;
   --env-color-success: var(--env-element-success-background-color);
   --env-color-warning-dark: var(--env-element-warning-background-color-dark);
   --env-color-warning: var(--env-element-warning-background-color);
   --env-element-background-color-dark: hsl(210, 17%, 93%);
   --env-element-background-color-light: hsl(210, 17%, 101%);
   --env-element-background-color: #f8f9fa;
   --env-element-common-background-color-dark: #909090;
   --env-element-common-background-color: #f2f2f2;
   --env-element-danger-background-color-dark: hsl(0, 73%, 59%);
   --env-element-danger-background-color-light: hsl(0, 73%, 67%);
   --env-element-danger-background-color: #e66060;
   --env-element-danger-font-color: #ffffff;
   --env-element-font-color: #222529;
   --env-element-info-background-color-dark: hsl(202, 97%, 39%);
   --env-element-info-background-color-light: hsl(202, 97%, 47%);
   --env-element-info-background-color: #038edd;
   --env-element-info-font-color: #ffffff;
   --env-element-primary-background-color-dark: hsl(186, 97%, 31%);
   --env-element-primary-background-color-light: hsl(186, 97%, 39%);
   --env-element-primary-background-color: #03a2b3;
   --env-element-primary-font-color: #ffffff;
   --env-element-secondary-background-color-dark: hsl(215, 32%, 5%);
   --env-element-secondary-background-color-light: hsl(215, 32%, 13%);
   --env-element-secondary-background-color: #121923;
   --env-element-secondary-font-color: #ffffff;
   --env-element-success-background-color-dark: hsl(91, 98%, 37%);
   --env-element-success-background-color-light: hsl(91, 98%, 45%);
   --env-element-success-background-color: #66d202;
   --env-element-success-font-color: #ffffff;
   --env-element-warning-background-color-dark: hsl(43, 100%, 45%);
   --env-element-warning-background-color-light: hsl(43, 100%, 53%);
   --env-element-warning-background-color: #ffb602;
   --env-element-warning-font-color: #ffffff;
   --env-focus-background-color: rgba(0, 0, 0, 0.2);
   --env-focus-color: #5cb3fd;
   --env-focus-size: 2px;
   --env-focus-box-shadow: 0 0 0 var(--env-focus-size)
      var(--env-section-background-color);
   --env-focus-outline: var(--env-focus-size) solid var(--env-font-color);
   --env-font-color-invert: #fff;
   --env-font-color-light: #34394f;
   --env-font-color-lighter: #49506d;
   --env-font-color: #98a4b9;
   --env-font-family: Helvetica, sans-serif;
   --env-font-size-base: 1em;
   --env-font-size-large: calc(var(--env-font-size-base) * 1.25);
   --env-font-size-medium: var(--env-font-size-base);
   --env-font-size-small: calc(var(--env-font-size-base) * 0.875);
   --env-font-size-x-large: calc(var(--env-font-size-base) * 1.5);
   --env-font-size-x-small: calc(var(--env-font-size-base) * 0.75);
   --env-font-size-xx-large: calc(var(--env-font-size-base) * 1.75);
   --env-font-size-xxx-large: calc(var(--env-font-size-base) * 2);
   --env-font-size-xxxx-large: calc(var(--env-font-size-base) * 2.5);
   --env-form-font-family: var(--env-font-family);
   --env-form-input-background-color: var(--env-section-background-color);
   --env-form-input-border-color: var(--env-border-color);
   --env-form-input-border-radius: var(--env-border-radius-medium);
   --env-form-input-font-color: var(--env-font-color);
   --env-image-control-color: #fff;
   --env-image-control-inactive-color: #fff;
   --env-link-font-color: #03a2b3;
   --env-link-hover-font-color: #03a2b3;
   --env-link-hover-text-decoration: underline;
   --env-link-secondary-font-color: var(--env-font-color);
   --env-link-secondary-hover-font-color: var(--env-link-font-color);
   --env-link-secondary-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-link-secondary-text-decoration: var(--env-link-text-decoration);
   --env-link-text-decoration: none;
   --env-modal-backdrop-background-color: #000;
   --env-modal-backdrop-opacity: 0.5;
   --env-modal-large-width: 900px;
   --env-modal-medium-width: 450px;
   --env-modal-small-width: 300px;
   --env-pagination-border-style: solid;
   --env-pagination-border-width: 1px;
   --env-pagination-font-family: var(--env-font-family);
   --env-popover-width: 360px;
   --env-profile-image-border-radius: 50%;
   --env-progress-bar-poll-highlight-color: #4bc5f5;
   --env-section-background-color: #333c48;
   --env-spacing-large: 1.25em;
   --env-spacing-medium: 1em;
   --env-spacing-small: 0.75em;
   --env-spacing-x-large: 1.5em;
   --env-spacing-x-small: 0.5em;
   --env-spacing-xx-large: 1.75em;
   --env-spacing-xx-small: 0.25em;
   --env-spacing-xxx-large: 2em;
   --env-spacing-xxx-small: 0.125em;
   --env-spinner-color: #5cb3fd;
   background-color: var(--env-background-color) !important;

   // No settings in Sitevision:
   --env-element-common-background-color: #121923;
   --env-element-common-background-color-dark: #050c16;
   --env-box-shadow: 0 0.5em 1em rgba(255, 255, 255, 0.15);
   --env-box-shadow-small: 0 0.125em 0.25em rgba(255, 255, 255, 0.075);
   --env-box-shadow-large: 0 1em 3em rgba(255, 255, 255, 0.175);

   // Custom demo site fixes
   .gatsby-highlight {
      opacity: 0.85;
   }

   .code-example {
      border-color: var(--env-section-background-color);
   }

   :not(pre) > code[class*='language-'] {
      background-color: var(--env-section-background-color);
      color: var(--env-font-color);
   }
}
