.footer-wrapper {
   width: 100%;
   position: fixed;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #202332;
   text-align: center;
   z-index: 1035;
}

.footer {
   max-width: 1000px;
   display: flex;
   margin: 10px auto;
}

.footer a {
   color: #ffffff;
   font-size: 14px;
}
