.footer-wrapper {
   background-color: #444;
   text-align: center;
   z-index: 1035;
}

.footer {
   max-width: $site-width;
   display: flex;
   margin: 0 auto;
   padding: $site-padding;
   align-items: center;
   justify-content: space-between;

   @include mobile-and-tablet {
      padding: $site-padding / 2 $site-padding;
   }

   ul {
      margin: 0 -5px;
      padding: 0;
      list-style: none;
   }

   li {
      margin: 0 5px;

      &:first-child {
         display: none;
      }
   }
}

.footer a {
   color: #ffffff;
   font-size: 14px;

   @include focus-visible;
}
