.sv-header {
   overflow: hidden;
   background-color: #F6F6F6;
   position: fixed;
   top: 0;
   width: 100%;
   border-bottom: 1px solid #d3d3d3;
   z-index: 1035;
}

.header {
   max-width: 1000px;
   display: flex;
   margin: 0 auto;
   height: 40px;
   align-items: center;
   justify-content: space-between;

   .logo {
      width: 25px;
      display: inherit;
   }

   .header-nav {

      ul {
         margin: 0;
         padding: 0;
         list-style: none;

         li {
            display: inline-block;
            margin-left: 10px;

            a {
               margin: .25em;
               outline: 0;
            }

            a:hover {
               border-bottom: 2px solid #6892d5;;
            }
         }
      }
   }

   .active {
      font-weight: 500;
      border-bottom: 2px solid #6892d5;
   }
}
