.sv-header {
   overflow: hidden;
   background-color: #f6f6f6;
   position: fixed;
   top: 0;
   width: 100%;
   border-bottom: 1px solid #d3d3d3;
   z-index: 10000;
}

.header {
   max-width: $site-width;
   display: flex;
   margin: 0 auto;
   padding: $site-padding;
   height: 40px;
   align-items: center;
   justify-content: space-between;

   @include mobile-and-tablet {
      padding: $site-padding / 2 $site-padding;
      height: auto;
   }

   .logo {
      display: block;

      @include focus-visible;

      &__img {
         display: block;
         width: 160px;
         height: auto;

         @include mobile-and-tablet {
            width: 120px;
         }
      }
   }

   .header-nav {
      ul {
         margin: 0 -5px;
         padding: 0;
         list-style: none;

         li {
            display: inline-block;
            margin: 0 5px;

            a {
               color: #040404;
               margin: 0.25em;
               text-decoration: none;

               @include focus-visible;
            }

            a:hover {
               border-bottom: 2px solid #6892d5;
            }

            @include mobile-and-tablet {
               display: none;
            }
         }
      }
   }

   .active {
      font-weight: 500;
      border-bottom: 2px solid #6892d5;
   }
}
