.sv-home__content {
   //margin-top: 8%;
}

.sv-home__item {
   max-width: 800px;
   margin: 0 auto;
   padding: 3em 1em;

   @include mobile {
      padding: 0 1em;
   }
}

p.sv-home__text {
   line-height: 1.375em;
   font-weight: 300;
   margin: 0;
}

.sv-home__env-logo {
   float: right;
   width: 50%;
   max-width: 268px;
   padding: 0;
   margin: 50px -120px 15px 15px;

   @include mobile-and-tablet {
      width: auto;
      max-width: 35%;
      margin: 0 0 15px 15px;
   }
}

.sv-home__title {
   font-weight: bold;
   margin: 0 0 0.25em;
}

.sv-home__subheader {
   font-size: 1.125em;
   font-weight: 400;
   margin: 0 0 2em;
}

p.sv-home__text {
   margin: 2em 0;
}
