.sv-home__content {
   margin-top: 8%;
}

.sv-home__item {
   flex-basis: 35%;
}

p.sv-home__text {
   color: #212333;
   line-height:1.375em;
   font-weight: 300;
   margin: 0;
}

.sv-home__env-logo {
   margin-top: 12%;
}

.sv-home__title {
   font-weight: bold;
   letter-spacing: 3px;
}

.sv-home__subheader {
   font-size: 1.125em;
   font-weight: 400;
   margin: 0;
}

p.sv-home-media__text {
   color: #212333;
   font-size: .75em;
   line-height: 1.3em;
   margin: .125em 0;
}

.sv-home-button__size {
   border-radius: .2em;
   font-size: 1em;
   line-height: 1.625em;
   padding: .25em .5em;
}
