.icons-demo {
   li {
      background-color: var(--env-element-common-background-color);
      padding: 1.5em;
      text-align: center;

      &:hover {
         background-color: var(--env-element-common-background-color);
      }
   }
}
