.nav-top {
   padding-top: 40px;
   background-color: rgba(0,0,0,0.1);

   h1 {
      max-width: 1000px;
      margin: 0 auto;
      margin-bottom: 30px;
      font-size: 64px;
      font-weight: 500;
   }

   &__menu a {
      text-decoration: none;
      font-size: 17px;
      margin-right: 5px;
      background-color: rgba(255,255,255,.4);
      padding: 10px;
      border-radius: 3px 3px 0 0;
      display: inline-block;
      color: #040404;
   }

   ul {
      list-style: none;
      padding: 0;
      max-width: 1000px;
      margin: 0 auto;
      width: 100%;
   }

   li {
      display: inline;
   }

   .active {
      background-color: #fff;
   }
}
