@mixin font-face($familyName, $style, $weight, $fileName) {
   @font-face {
      font-display: swap;
      font-family: $familyName;
      font-style: $style;
      font-weight: $weight;
      src: url('#{$fileName}.woff2') format('woff2');
   }
}

@include font-face('Roboto', normal, 100, '/fonts/roboto/roboto-v20-latin-100');
@include font-face(
   'Roboto',
   italic,
   100,
   '/fonts/roboto/roboto-v20-latin-100italic'
);
@include font-face('Roboto', normal, 300, '/fonts/roboto/roboto-v20-latin-300');
@include font-face(
   'Roboto',
   italic,
   300,
   '/fonts/roboto/roboto-v20-latin-300italic'
);
@include font-face(
   'Roboto',
   normal,
   400,
   '/fonts/roboto/roboto-v20-latin-regular'
);
@include font-face(
   'Roboto',
   italic,
   400,
   '/fonts/roboto/roboto-v20-latin-italic'
);
@include font-face('Roboto', normal, 500, '/fonts/roboto/roboto-v20-latin-500');
@include font-face(
   'Roboto',
   italic,
   500,
   '/fonts/roboto/roboto-v20-latin-500italic'
);
@include font-face('Roboto', normal, 700, '/fonts/roboto/roboto-v20-latin-700');
@include font-face(
   'Roboto',
   italic,
   700,
   '/fonts/roboto/roboto-v20-latin-700italic'
);
@include font-face('Roboto', normal, 900, '/fonts/roboto/roboto-v20-latin-900');
@include font-face(
   'Roboto',
   italic,
   900,
   '/fonts/roboto/roboto-v20-latin-900italic'
);

@include font-face(
   'Encode Sans',
   normal,
   100,
   '/fonts/encode-sans/encode-sans-100'
);
@include font-face(
   'Encode Sans',
   normal,
   200,
   '/fonts/encode-sans/encode-sans-200'
);
@include font-face(
   'Encode Sans',
   normal,
   300,
   '/fonts/encode-sans/encode-sans-300'
);
@include font-face(
   'Encode Sans',
   normal,
   400,
   '/fonts/encode-sans/encode-sans-400'
);
@include font-face(
   'Encode Sans',
   normal,
   500,
   '/fonts/encode-sans/encode-sans-500'
);
@include font-face(
   'Encode Sans',
   normal,
   600,
   '/fonts/encode-sans/encode-sans-600'
);
@include font-face(
   'Encode Sans',
   normal,
   700,
   '/fonts/encode-sans/encode-sans-700'
);
@include font-face(
   'Encode Sans',
   normal,
   800,
   '/fonts/encode-sans/encode-sans-800'
);
@include font-face(
   'Encode Sans',
   normal,
   900,
   '/fonts/encode-sans/encode-sans-900'
);

@include font-face('Heinemann', normal, 400, '/fonts/heinemann/heinemann-400');
@include font-face('Heinemann', normal, 700, '/fonts/heinemann/heinemann-700');
@include font-face('Heinemann', normal, 900, '/fonts/heinemann/heinemann-900');

@include font-face(
   'Merriweather',
   normal,
   300,
   '/fonts/merriweather/merriweather-300'
);
@include font-face(
   'Merriweather',
   normal,
   400,
   '/fonts/merriweather/merriweather-400'
);
@include font-face(
   'Merriweather',
   normal,
   700,
   '/fonts/merriweather/merriweather-700'
);
@include font-face(
   'Merriweather',
   normal,
   900,
   '/fonts/merriweather/merriweather-900'
);

@include font-face('Quicksand', normal, 300, '/fonts/quicksand/quicksand-300');
@include font-face('Quicksand', normal, 400, '/fonts/quicksand/quicksand-400');
@include font-face('Quicksand', normal, 500, '/fonts/quicksand/quicksand-500');
@include font-face('Quicksand', normal, 600, '/fonts/quicksand/quicksand-600');
@include font-face('Quicksand', normal, 700, '/fonts/quicksand/quicksand-700');

@include font-face('Inter', normal, 100, '/fonts/inter/inter-v13-latin-100');
@include font-face('Inter', normal, 200, '/fonts/inter/inter-v13-latin-200');
@include font-face('Inter', normal, 300, '/fonts/inter/inter-v13-latin-300');
@include font-face(
   'Inter',
   normal,
   400,
   '/fonts/inter/inter-v13-latin-regular'
);
@include font-face('Inter', normal, 500, '/fonts/inter/inter-v13-latin-500');
@include font-face('Inter', normal, 600, '/fonts/inter/inter-v13-latin-600');
@include font-face('Inter', normal, 700, '/fonts/inter/inter-v13-latin-700');
@include font-face('Inter', normal, 800, '/fonts/inter/inter-v13-latin-800');
@include font-face('Inter', normal, 900, '/fonts/inter/inter-v13-latin-900');
