div.sv-demo__modal--default {
   border-color: #e5e5e5 #eeeeee #eeeeee;
   border-style: solid;
   border-width: 1px 0;
   box-shadow: inset 0 3px 6px rgba(0,0,0,1);
   max-width: 900px;
   background-color: rgba(0,0,0,.5);
   display: block;
   visibility: visible;
   padding: 45px 15px;
   position: relative;
   opacity: 1;
}

.example-tabs div[role="tabpanel"] {
   margin-top: 10px;
}

