@use 'variables';

.doc-badge {
   border-radius: 0.25em;
   display: inline-block;
   font-family: var(--doc-font-family);
   font-size: 0.875em;
   font-weight: 700;
   padding-block: 0.125em;
   padding-inline: 0.25em;
   vertical-align: baseline;
   color: #000;
   background-color: #80c5ff;
   text-decoration: none !important;

   @include variables.dark-mode-status-override;

   &--success {
      background-color: var(--env-ui-color-status-active);
      color: var(--env-ui-color-status-active-contrast);
   }

   &--info {
      background-color: var(--env-element-info-background-color);
      color: var(--env-element-info-font-color);
   }

   &--danger {
      background-color: var(--env-ui-color-status-attention);
      color: var(--env-ui-color-status-attention-contrast);
   }

   .doc-main-heading & {
      border-radius: 0.95em / 50%;
      font-size: 0.35em;
      vertical-align: middle;
      padding-block: 0.4em;
      padding-inline: 0.7em;
      margin-block-start: 0;
      margin-inline-end: 0;
      margin-block-end: 0;
      margin-inline-start: 0.5em;
   }
}
