@use 'variables';

.banner {
   grid-area: banner;
   display: block;
   padding-block-start: 7.5em;
   padding-inline: 1em;
   padding-block-end: variables.$site-padding;

   @include variables.dark-mode-status-override;

   &--deprecated {
      background-color: var(--env-ui-color-status-attention);
      color: var(--env-ui-color-status-attention-contrast);
   }

   &--since {
      background-color: var(--env-ui-color-status-neutral);
      color: var(--env-ui-color-status-neutral-contrast);

      .icon svg {
         transform: rotate(180deg);
      }
   }
   &--beta {
      background-color: var(--env-ui-color-status-active);
      color: var(--env-ui-color-status-active-contrast);

      .icon {
         padding-block-start: 3px;
         padding-inline-end: 1.5em;
         padding-block-end: 3px;
         padding-inline-start: 3px;
      }
      .icon svg {
         width: 30px;
         margin-block-start: 0;
         margin-inline-end: 0;
         margin-block-end: 0;
         margin-inline-start: 10px;
      }
   }

   .container {
      display: flex;
      align-items: center;
      gap: 2em;
      flex-wrap: wrap;
   }

   .icon {
      display: inline-flex;
      align-items: center;
      gap: 1em;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 1.35em / 50%;
      padding-block-start: 3px;
      padding-inline-end: 2em;
      padding-block-end: 3px;
      padding-inline-start: 3px;
   }
}
