@use 'variables';

.doc-skip-link {
   box-sizing: border-box;
   display: block;
   position: fixed;
   z-index: 2147483647;
   top: 1em;
   padding: 1em;
   @include variables.focus-visible;
   transition: transform 0.05s;
   left: 1em;
   transform: translate(0, calc(-100% - 3em));
   font-family: var(--env-tooltip-font-family);
   background-color: var(--env-tooltip-background-color);
   color: var(--env-tooltip-font-color);
   font-weight: var(--env-tooltip-font-weight);
   border-radius: var(--env-tooltip-border-radius);

   &:focus-visible {
      transform: translate(0, 0);
   }
}

.header {
   position: relative;
   --env-font-color: var(--doc-header-font-color);
   color: var(--doc-header-font-color);
   background-color: var(--doc-header-background-color);

   @include variables.max-header-layout-break {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10000;
   }

   .header-logo {
      display: block;

      @include variables.focus-visible;
      color: var(--doc-header-font-color);

      .doc-svg-logo {
         @include variables.max-header-mobile-break {
            width: 111px;
            height: 42px;
         }
      }
   }

   .header-grid-item-search {
      @include variables.max-header-layout-break {
         display: none;

         &.show {
            display: block;
         }
      }
   }

   .doc-search {
      flex: 1 1 auto;
      max-width: 42em;
   }

   .header-nav .env-nav,
   .header-grid {
      padding: variables.$site-padding;
      max-width: variables.$layout-gap + variables.$layout-col-sidenav +
         variables.$layout-col-main;
      margin: 0 auto;
   }

   .header-nav {
      display: none;

      @include variables.header-layout-break {
         flex: 1;
         display: block;
         border-top: 4px solid var(--doc-background-color);
      }
   }

   .mobile-nav-button,
   .mobile-search-button {
      @include variables.header-layout-break {
         display: none;
      }
   }

   .env-nav--menubar {
      justify-content: flex-start;
      align-items: center;
      gap: 1em;
   }

   .env-nav__link {
      font-family: var(--doc-font-family);
      font-size: 1rem;
      font-weight: 500;
      color: var(--doc-header-font-color);
      line-height: 1.2;
      text-align: left;
      padding: var(--env-spacing-x-small) 0;
      @include variables.focus-visible;
      border-bottom: 2px solid transparent;

      &:hover {
         color: var(--doc-header-font-color) !important;
         border-bottom-color: var(--doc-color-brand) !important;
      }

      &[aria-current='page'] {
         border-bottom-color: var(--doc-color-brand) !important;
         color: var(--doc-header-font-color) !important;
      }
   }
}
