@use 'variables';

.doc-skip-link {
   box-sizing: border-box;
   display: block;
   position: fixed;
   z-index: 2147483647;
   top: 1em;
   padding: 1em;
   @include variables.focus-visible;
   transition: transform 0.05s;
   left: 1em;
   transform: translate(0, calc(-100% - 3em));
   font-family: var(--env-tooltip-font-family);
   background-color: var(--env-tooltip-background-color);
   color: var(--env-tooltip-font-color);
   font-weight: var(--env-tooltip-font-weight);
   border-radius: var(--env-tooltip-border-radius);

   &:focus-visible {
      transform: translate(0, 0);
   }
}

.header {
   --env-font-color: var(--doc-header-font-color);
   color: var(--doc-header-font-color);
   background-color: var(--doc-header-background-color);
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 10000;

   .container {
      position: relative;
      display: flex;
      padding: variables.$site-padding;
      height: 68px;
      align-items: center;
      justify-content: space-between;
   }

   .logo {
      display: block;

      @include variables.focus-visible;
      color: var(--doc-header-font-color);
   }

   nav {
      display: none;

      @include variables.header-layout-break {
         display: block;
         padding: 0 1em 0 2em;
      }
   }

   .mobile-nav-button {
      visibility: visible;
      display: flex;
      align-items: center;
      gap: 0.25em;

      pagefind-modal-trigger {
         --pf-text: var(--doc-header-font-color);
         --pf-background: transparent;
         --pf-border: transparent;
         --pf-border-focus: var(--doc-color-brand);
         --pf-outline-focus: var(--env-focus-outline-color);
      }

      .theme-picker {
         position: static;
         transform: none;
         padding: 0;
         display: block;
      }

      @include variables.header-layout-break {
         display: none;
      }
   }

   .env-nav--menubar {
      justify-content: center;
      align-items: center;
      gap: 1em;
   }

   .env-nav__link {
      font-family: var(--doc-font-family);
      font-size: 1rem;
      font-weight: 500;
      color: var(--doc-header-font-color);
      line-height: 1.2;
      text-align: left;
      padding: var(--env-spacing-x-small) 0;
      @include variables.focus-visible;
      border-bottom: 2px solid transparent;

      &:hover {
         color: var(--doc-header-font-color) !important;
         border-bottom-color: var(--doc-color-brand) !important;
      }

      &[aria-current='page'] {
         border-bottom-color: var(--doc-color-brand) !important;
         color: var(--doc-header-font-color) !important;
      }
   }

   .header-actions {
      display: none;

      @include variables.header-layout-break {
         display: flex;
         flex-direction: row;
         align-items: center;
         gap: 0.75em;
         margin-left: auto;
      }
   }

   pagefind-modal-trigger {
      --pf-text: var(--doc-header-font-color);
      --pf-text-secondary: var(--doc-header-font-color);
      --pf-text-muted: var(--doc-header-font-color);
      --pf-background: transparent;
      --pf-border: var(--doc-header-font-color);
      --pf-border-focus: var(--doc-color-brand);
      --pf-hover: var(--doc-background-color);
      --pf-outline-focus: var(--env-focus-outline-color);
      --pf-input-height: 40px;
      --pf-border-radius: var(--env-button-border-radius);
   }

   .theme-picker {
      display: none;
      margin: 0;
      padding: 0;

      @include variables.header-layout-break {
         display: flex;
         align-items: center;
      }

      &__label {
         text-transform: uppercase;
         font-size: 9px;
         margin: 0 0 4px;

         @include variables.header-layout-break {
            display: block;
         }
      }
   }
}
