@use 'variables';

.doc-skip-link {
   box-sizing: border-box;
   display: block;
   position: fixed;
   z-index: 2147483647;
   inset-block-start: 1em;
   padding-block: 1em;
   padding-inline: 1em;
   @include variables.focus-visible;
   transition: transform 0.05s;
   inset-inline-start: 1em;
   transform: translate(0, calc(-100% - 3em));
   font-family: var(--env-tooltip-font-family);
   background-color: var(--env-tooltip-background-color);
   color: var(--env-tooltip-font-color);
   font-weight: var(--env-tooltip-font-weight);
   border-radius: var(--env-tooltip-border-radius);

   &:focus-visible {
      transform: translate(0, 0);
   }
}

.header {
   --env-font-color: var(--doc-header-font-color);
   color: var(--doc-header-font-color);
   background-color: var(--doc-header-background-color);
   position: fixed;
   inset-block-start: 0;
   width: 100%;
   z-index: 10000;

   .container {
      position: relative;
      display: flex;
      padding-block: variables.$site-padding;
      padding-inline: variables.$site-padding;
      height: 68px;
      align-items: center;
      justify-content: space-between;
   }

   .logo {
      display: block;

      @include variables.focus-visible;
      color: var(--doc-header-font-color);
   }

   nav {
      display: none;

      @include variables.header-layout-break {
         flex: 1;
         display: block;
         padding-block: 0;
         padding-inline: 1em;
      }
   }

   .mobile-nav-button {
      visibility: visible;

      @include variables.header-layout-break {
         visibility: hidden;
      }
   }

   .env-nav--menubar {
      justify-content: center;
      align-items: center;
      gap: 1em;
   }

   .env-nav__link {
      font-family: var(--doc-font-family);
      font-size: 1rem;
      font-weight: 500;
      color: var(--doc-header-font-color);
      line-height: 1.2;
      text-align: start;
      padding-block: var(--env-spacing-x-small);
      padding-inline: 0;
      @include variables.focus-visible;
      border-block-end: 2px solid transparent;

      &:hover {
         color: var(--doc-header-font-color) !important;
         border-block-end-color: var(--doc-color-brand) !important;
      }

      &[aria-current='page'] {
         border-block-end-color: var(--doc-color-brand) !important;
         color: var(--doc-header-font-color) !important;
      }
   }

   .theme-picker {
      position: absolute;
      inset-block-start: 50%;
      inset-inline-end: calc(#{variables.$site-padding} + 0.5em + 2.75em);
      margin-block: 0;
      margin-inline: 0;
      padding-block-start: 0;
      padding-inline-end: 0;
      padding-block-end: 0;
      padding-inline-start: 1em;
      transform: translateY(-50%);

      @include variables.header-layout-break {
         inset-inline-end: variables.$site-padding;
      }

      &__label {
         text-transform: uppercase;
         font-size: 9px;
         margin-block-start: 0;
         margin-inline: 0;
         margin-block-end: 4px;

         @include variables.header-layout-break {
            display: block;
         }
      }
   }
}
