.icons-demo {
   color: var(--env-font-color);
   background-color: var(--env-section-background-color);
   margin: 2em 0;
   backdrop-filter: invert(3%);

   li {
      backdrop-filter: invert(3%);
      padding: 1.5em;
      text-align: center;

      &:hover {
         backdrop-filter: invert(5%);
      }
   }
}

.doc-md-icon {
   display: flex;
   width: 44px;
   height: 44px;
   position: absolute !important;
   top: 0.5em;
   right: 1em;
   color: var(--doc-font-color);

   svg {
      width: 44px !important;
      margin: -9px 0 0 -22px !important;
   }
}
