.icons-demo {
   color: var(--env-font-color);
   background-color: var(--env-section-background-color);
   margin-block: 2em;
   margin-inline: 0;
   backdrop-filter: invert(3%);

   li {
      backdrop-filter: invert(3%);
      padding-block: 1.5em;
      padding-inline: 1.5em;
      text-align: center;

      &:hover {
         backdrop-filter: invert(5%);
      }
   }
}
