@use 'variables';

$layout-gap: 2em;
$layout-col-sidenav: 19em;
$layout-col-main: 59em;

.layout {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   height: 100%;
}

.header {
   grid-area: header;

   .container {
      display: flex;
      justify-content: space-between;
   }
}

.body {
   box-sizing: border-box;
   flex: 1 1 100%;
   grid-area: body;
   margin-block: 0;
   margin-inline: auto;
   padding-block-start: 7.5em;
   padding-inline: #{'min(2.6666vw,' + variables.$site-padding + ')'};
   padding-block-end: 0;
   width: 100%;
   max-width: 80em;

   @include variables.main-layout-break {
      display: grid;
      margin-block: 0;
      margin-inline: auto;
      padding-block-start: 9.5em;
      padding-inline: #{'min(2.6666vw,' + variables.$site-padding + ')'};
      padding-block-end: 0;
      gap: 2em;
      grid-template-areas: 'sidenav main';
      grid-template-columns: min($layout-col-sidenav, 23.75vw) min(
            $layout-col-main,
            calc(100vw - 2em - 2em - 23.75vw)
         );
   }

   .banner + & {
      padding-inset-block-start: 2em;
   }
}

.main {
   grid-area: main;
   container-type: inline-size;
   margin-inset-block-end: 2em;
   font-family: Helvetica, Arial, sans-serif;
}

.content-wrapper {
   background-color: var(--doc-section-background-color);
   box-sizing: border-box;
   padding-block: #{'max(10px, 5.0847cqw)'};
   padding-inline: #{'max(10px, 5.0847cqw)'};
   height: 100%;
}

.sidenav {
   grid-area: sidenav;
   margin-inset-block-end: 2em;
}

.footer {
   grid-area: footer;
}

.container {
   max-width: $layout-gap + $layout-col-sidenav + $layout-col-main;
   margin-block: 0;
   margin-inline: auto;
}
