@use 'variables';

.doc-md-link {
   // Ghost button text & border
   --env-element-primary-background-color: var(--env-font-color);
   // Ghost button text on hover
   --env-element-primary-font-color: var(--env-section-background-color);
   // Ghost button bg on hover
   --env-element-primary-background-color-dark: var(--env-font-color);

   @container (max-width: 44.999em) {
      position: relative;
      margin: 4em 0 0;
      padding: 2em 0 0;
      border-top: 1px solid var(--doc-border-color);
   }

   @container (min-width: 45em) {
      position: absolute;
      top: 0;
      right: 0;
   }

   &__button__text {
      @container (min-width: 45em) {
         @include variables.visually-hidden();
      }
   }

   &__button {
      @container (min-width: 45em) {
         width: 2.75em;
         margin: 1em 1em 0 0;
         padding: 0 1.3125em !important;
      }
   }

   &__icon {
      width: auto !important;
      height: 1.625em !important;
      margin: -0.8125em 0 0 -0.5em !important;

      @container (min-width: 45em) {
         inset: 50% 0 0 50% !important;
         width: auto !important;
         height: 1.75em !important;
         margin: 0 !important;
         transform: translate(-50%, -50%);
      }
   }
}
