@use 'variables';

//----- STYLE FOR MARKDOWN GENERATED MARKUP ELEMENTS START -----

@mixin restore-doc-font {
   // Font issue detection - restore apperance for documentation headings
   font-family: var(--doc-font-family);
   color: var(--doc-font-color);
   font-weight: 600;
   font-style: normal;
   line-height: normal;

   .code-example & {
      color: currentColor;
   }
}

.doc-main-heading,
.doc-heading-1,
.doc-heading-2,
.doc-heading-3,
.doc-heading-4,
.doc-heading-5,
.doc-heading-6,
.doc-p,
.doc-summary,
.doc-list,
.doc-table {
   // Custom dynamic font sizing for markdown generated content.
   --df-root: 16;
   --df-from-width: 375;
   --df-to-width: 720;
   --df-slope: calc(
      (
         (var(--df-to-font-size) - var(--df-from-font-size)) /
            (
               (var(--df-to-width) / var(--env-root-font-size)) - var(
                     --df-from-width
                  ) /
                  var(--env-root-font-size)
            )
      )
   );
   --df-yaxis: calc(
      (
            var(--df-from-width) / var(--env-root-font-size) * -1 *
               var(--df-slope) + var(--df-from-font-size)
         ) *
         1rem
   );
   box-sizing: border-box;
   font-size: clamp(
      var(--df-from-font-size) * 1em,
      var(--df-yaxis) + var(--df-slope) * 100cqw,
      var(--df-to-font-size) * 1em
   );
}

.doc-link,
.doc-link-secondary {
   color: var(--doc-link-font-color);
   text-decoration: var(--doc-link-text-decoration);

   &:hover {
      color: var(--doc-link-font-color);
      text-decoration: underline;
   }

   @include variables.focus-visible;
}

.doc-link-secondary--new,
.doc-link-secondary--deprecated {
   .doc-badge {
      font-size: 0.5em;
      font-weight: 400;
      text-transform: uppercase;
      padding-block: 0.1em;
      padding-inline: 0.25em;
      margin-block-start: 0;
      margin-inline-end: 0;
      margin-block-end: 0;
      margin-inline-start: 0.5em;
      transform: translateY(-0.15em);
   }
}

.doc-link-secondary--deprecated {
   font-style: italic;
}

.doc-main-heading {
   @include restore-doc-font;
   --df-from-font-size: 2;
   --df-to-font-size: 3;
   line-height: 1;
   margin-block-start: 0;
   margin-inline: 0;
   margin-block-end: 0.75em;
}

.doc-heading-1 {
   @include restore-doc-font;
   --df-from-font-size: 2;
   --df-to-font-size: 3;
   line-height: 1;
   margin-block-start: 0;
   margin-inline: 0;
   margin-block-end: 1em;
}

.doc-heading-2 {
   @include restore-doc-font;
   --df-from-font-size: 1.5;
   --df-to-font-size: 2;
   margin-block-start: 1em;
   margin-inline: 0;
   margin-block-end: 0.5em;

   &--main {
      font-size: 24px;
      line-height: 1;
      margin-block: 1em;
      margin-inline: 0;

      .doc-badge {
         margin-inset-inline-end: 0.125em;
      }
   }
}

.doc-heading-3 {
   @include restore-doc-font;
   --df-from-font-size: 1.25;
   --df-to-font-size: 1.5;
   margin-block-start: 1em;
   margin-inline: 0;
   margin-block-end: 0.5em;
}

.doc-heading-4,
.doc-heading-5,
.doc-heading-6 {
   @include restore-doc-font;
   --df-from-font-size: 1.25;
   --df-to-font-size: 1;
   margin-block-start: 1em;
   margin-inline: 0;
   margin-block-end: 0.5em;
}

.doc-p {
   font-family: var(--doc-font-family);
   color: var(--doc-font-color);
   --df-from-font-size: 1;
   --df-to-font-size: 1.1;
   font-weight: 400;
   line-height: 1.5;
   margin-block-start: 0;
   margin-inline: 0;
   margin-block-end: 1em;
}

.doc-summary {
   font-family: var(--doc-font-family);
   color: var(--doc-font-color);
   --df-from-font-size: 1.1;
   --df-to-font-size: 1.3;
   font-weight: 500;
   line-height: 1.5;
   margin-block-start: 0;
   margin-inline: 0;
   margin-block-end: 1em;
}

.doc-strong {
   font-weight: 600;
}

blockquote.doc-blockquote {
   font-family: var(--doc-font-family);
   color: var(--doc-font-color);
   margin-block: 2em;
   margin-inline: 0;
   padding-block-start: 1em;
   padding-inline: 1em;
   padding-block-end: 0;
   border-inline-start: 4px solid var(--doc-color-brand);
   font-style: italic;

   &::after {
      content: '';
      display: table;
   }
}

.doc-list {
   font-family: var(--doc-font-family);
   color: var(--doc-font-color);
   --df-from-font-size: 1;
   --df-to-font-size: 1.1;
   list-style-type: square;
   margin-block: 2em;
   margin-inline: 0;
   padding-block-start: 0;
   padding-inline-end: 0;
   padding-block-end: 0;
   padding-inline-start: 1.5em;

   &__item {
      margin-block-start: 0;
      margin-inline: 0;
      margin-block-end: 0.5em;
   }
}

.doc-table {
   border-collapse: collapse;
   margin-block-start: 1em;
   margin-inline: 0;
   margin-block-end: 2em;
   color: var(--doc-font-color);
   --df-from-font-size: 0.9;
   --df-to-font-size: 1;

   caption {
      font-size: 1.25em;
      font-weight: 700;
      text-align: start;
      margin-block-start: 0;
      margin-inline: 0;
      margin-block-end: 0.5em;
      padding-block: 0;
      padding-inline: 0.675em;
   }

   thead th {
      vertical-align: bottom;
   }

   th {
      text-align: start;
   }

   th,
   td {
      font-size: 1em;

      font-weight: 400;
      border-block-start: 1px solid var(--doc-border-color);
      padding-block: 0.5em;
      padding-inline: 0.5em;
      vertical-align: top;
   }

   th {
      font-weight: 600;
   }
}

//----- STYLE FOR MARKDOWN GENERATED MARKUP ELEMENTS END -----
