@use 'variables';

.mobileNav {
   display: none;
   position: fixed;
   z-index: 2147483646;
   inset: 0;
   padding-block-start: 4.5em;
   padding-inline: 0.5em;
   padding-block-end: 0.5em;
   overflow-x: hidden;
   overflow-y: auto;
   --env-font-color: var(--doc-font-color);

   width: auto;
   height: auto;
   margin-block: 0;
   margin-inline: 0;
   border: none;

   @include variables.dark-mode-element-override;

   background-color: var(--doc-section-background-color);
   color: var(--doc-font-color);

   &.show {
      display: block;
   }

   &__header {
      box-sizing: border-box;
      position: fixed;
      z-index: 2147483647;
      inset-block-start: 0;
      inset-inline-end: 0;
      inset-inline-start: 0;
      height: 3.75em;
      padding-block: 0.5em;
      padding-inline: 0.5em;
      background-color: var(--doc-section-background-color);
      color: var(--doc-font-color);
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::before {
         content: '';
         position: absolute;
         z-index: 2147483646;
         inset-block-start: 100%;
         inset-inline-start: 0;
         width: 100%;
         height: 0.5em;
         background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.1) 30%,
            rgba(0, 0, 0, 0.025) 70%,
            rgba(0, 0, 0, 0) 100%
         );
      }

      .env-ui-text-sectionheading {
         line-height: 1;
      }
   }

   .env-nav__item {
      position: relative;

      .env-button {
         position: absolute !important;
         inset: 0 0 auto auto;
         border-radius: 0;
      }

      .env-button[aria-expanded='true'] .env-icon {
         transform: rotate(180deg);
      }
   }
   .env-nav__link {
      border-block-end: 1px solid var(--doc-border-color);
      color: var(--doc-font-color);
      padding-block: 0.75em;
      padding-inline: 0.875em;

      &:not([aria-current='page']) {
         border-inline-start: 2px solid transparent;
      }

      &:hover {
         color: var(--doc-color-brand);
      }

      &.level-1 {
         font-weight: 700;
         padding-inset-inline-start: 0.875em;

         &:not([aria-current='page']) {
            border-inline-start: 2px solid transparent;
         }
      }

      &.level-2 {
         font-weight: 500;
         padding-inset-inline-start: 2.5em;

         &:not([aria-current='page']) {
            border-inline-start: 2px solid transparent;
         }
      }

      &.level-2[aria-current='page'],
      &--active.level-2 {
         border-inline-start: 2px solid var(--doc-color-brand);
         padding-inset-inline-start: 2.5em;
      }

      .doc-badge {
         margin-inset-inline-start: 0.5em;
      }
   }
   .env-nav__item .env-nav__item:last-child .level-2 {
      border-block-end-color: var(--doc-sidenav-font-color);
   }
}
