@use 'variables';

.sidenav {
   --env-font-color: var(--doc-font-color);
   font-family: var(--doc-font-family);

   @include variables.dark-mode-element-override;

   background-color: var(--doc-sidenav-background-color);
   color: var(--doc-sidenav-font-color);

   &__heading {
      font-family: var(--doc-font-family);
      font-size: var(--env-font-size-large);
      font-style: normal;
      font-weight: 500;
      line-height: 1;
      color: var(--env-font-color);
      display: block;
      padding-block: 1em;
      padding-inline: 0.625em;
      text-decoration: none;
      border-block-end: 6px solid var(--env-font-color);
   }

   a {
      color: var(--env-font-color);
      text-decoration: none;

      @include variables.focus-visible;
   }

   &__items {
      list-style-type: none;
      margin-block: 0;
      margin-inline: 0;
      padding-block: 0;
      padding-inline: 0;
   }
   &__item {
      position: relative;
      font-size: 1em;

      &__link {
         display: block;
         border-block-end: 1px solid var(--doc-border-color);
         color: var(--doc-sidenav-font-color);
         padding-block: 1.15em;
         padding-inline: 1.875em;
         border-inline-start: 2px solid transparent;

         &:hover {
            color: var(--doc-color-brand);
         }

         &[aria-current='page'] {
            border-inline-start: 2px solid var(--doc-color-brand);
         }

         .doc-badge {
            margin-inset-inline-start: 0.5em;
            font-size: 0.6em;
            vertical-align: middle;
         }
      }
   }

   .env-nav__item .env-nav__item:last-child .level-2 {
      border-block-end-color: var(--doc-sidenav-font-color);
   }
}
