@use 'variables';

.teaserNav {
   --env-cardholder-grid-gap: 2em;
   --env-cardholder-grid-column-width: 16em;

   margin-block: 3em;
   margin-inline: 0;

   &--start {
      --env-cardholder-grid-column-width: 14em;
      max-width: min(66em, calc(100vw - 2em - 2em));
      margin-block-start: -8em;
      margin-inline: auto;
      margin-block-end: 4em;
   }

   &__link {
      color: var(--doc-font-color);
      text-decoration: none;

      &:hover .env-ui-text-sectionheading {
         text-decoration: underline;
      }

      @include variables.focus-visible;
   }

   .env-cardholder-grid {
      margin-block: 0;
      margin-inline: 0;
      padding-block: 0;
      padding-inline: 0;
   }

   .env-card {
      background-color: var(--doc-section-background-color);
      border-radius: var(--env-border-radius-small);
   }

   &__icon {
      background-color: var(--doc-teasernav-header-background-color);
      color: var(--doc-teasernav-header-contrast-color);
      width: 100%;
      height: 170px;
      border-radius: var(--env-border-radius);
      position: relative;

      .teaserNav--start & {
         height: 155px;
      }

      svg {
         position: absolute;
         inset-block-start: 50%;
         inset-inline-start: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: auto;
         max-width: 88%;
         margin-block: 0;
         margin-inline: auto;
         display: block;

         .teaserNav--start & {
            width: 64px;
            height: 64px;
         }
      }
   }

   &__description {
      margin-block-start: 0.5em;
      margin-inline: 0;
      margin-block-end: 0;
   }

   .env-ui-text-sectionheading .env-icon {
      vertical-align: center;
      margin-block-start: 0;
      margin-inline-end: 0;
      margin-block-end: 0;
      margin-inline-start: 0.25em;
   }
}
