@use '../abstracts/mixins/colors';

$variableNames:
   'brand', 'success', 'warning', 'danger', 'info', 'base', 'darker', 'dark',
   'normal', 'light', 'lighter', 'lightest', 'hover';

@each $name in $variableNames {
   .env-color--#{$name} {
      color: var(--env-color-#{$name}) !important;
   }
   .env-bg-color--#{$name},
   .env-bg-color--#{$name}--80,
   .env-bg-color--#{$name}--60,
   .env-bg-color--#{$name}--40,
   .env-bg-color--#{$name}--20,
   .env-bg-color--#{$name}--10 {
      background-color: var(--env-color-#{$name});
   }
}

.env-block {
   @include colors.color-block();
}

.env-block-primary {
   @include colors.color-block('primary');
}

.env-block-secondary {
   @include colors.color-block('secondary');
}
