@use 'sass:string';
@function getShortValue($value) {
   $start: string.index($value, '-');
   @return if($start, string.slice($value, $start + 1), $value);
}

// Deprecated, 9.1
$flexDirectionValues: row-reverse column column-reverse;
@each $value in $flexDirectionValues {
   .env-flex--#{$value} {
      flex-direction: $value;
   }
}

// Deprecated, 9.1
$justifyContentValues: flex-end center space-between space-around;
@each $value in $justifyContentValues {
   $shortValue: getShortValue($value);
   .env-justify-content--#{$shortValue} {
      justify-content: $value;
   }
}

// Deprecated, 9.1
$alignItemsValues: stretch center flex-start flex-end baseline;
@each $value in $alignItemsValues {
   $shortValue: getShortValue($value);
   .env-align-items--#{$shortValue} {
      align-items: $value;
   }
}

// Deprecated, 9.1
$alignSelfValues: stretch center flex-start flex-end baseline;
@each $value in $alignSelfValues {
   $shortValue: getShortValue($value);
   .env-align-self--#{$shortValue} {
      align-self: $value;
   }
}

// Deprecated, 9.1
@for $i from 1 through 10 {
   .env-flex-length--#{$i} {
      flex: $i;
   }
}

// Deprecated, 9.1
@for $i from 1 through 10 {
   .env-flex-grow--#{$i} {
      flex-grow: $i;
   }
}

// Deprecated, 9.1
$flexWrapValues: nowrap wrap wrap-reverse;
@each $value in $flexWrapValues {
   .env-flex-wrap--#{$value} {
      flex-wrap: $value;
   }
}

// New version (Sitevision 9.1)
.env-flex {
   display: flex;

   $flexDirectionValues: row-reverse column column-reverse;
   @each $value in $flexDirectionValues {
      &--direction-#{$value} {
         flex-direction: $value;
      }
   }

   $justifyContentValues: flex-end center space-between space-around;
   @each $value in $justifyContentValues {
      $shortValue: getShortValue($value);
      &--justify-content-#{$shortValue} {
         justify-content: $value;
      }
   }

   $flexWrapValues: wrap wrap-reverse;
   @each $value in $flexWrapValues {
      &--#{$value} {
         flex-wrap: $value;
      }
   }

   $alignItemsValues: stretch center flex-start flex-end baseline;
   @each $value in $alignItemsValues {
      $shortValue: getShortValue($value);
      &--align-items-#{$shortValue} {
         align-items: $value;
      }
   }

   // Flex gap added in Sitevision 2025.07.1
   $gap-sizes: (
      'xxx-small': 0.125em,
      'xx-small': 0.25em,
      'x-small': 0.5em,
      'small': 0.75em,
      'medium': 1em,
      'large': 1.5em,
      'x-large': 2em,
      'xx-large': 3em,
      'xxx-large': 4em,
   );

   @each $name, $gap in $gap-sizes {
      &--gap-#{$name} {
         gap: #{$gap};
      }
      &--column-gap-#{$name} {
         column-gap: #{$gap};
      }
      &--row-gap-#{$name} {
         row-gap: #{$gap};
      }
   }

   &__item {
      box-sizing: border-box;

      $alignSelfValues: stretch center flex-start flex-end baseline;
      @each $value in $alignSelfValues {
         $shortValue: getShortValue($value);
         &--align-#{$shortValue} {
            align-self: $value;
         }
      }

      @for $i from 1 through 10 {
         &--length-#{$i} {
            flex: $i;
         }
      }

      @for $i from 1 through 10 {
         &--grow-#{$i} {
            flex-grow: $i;
         }
      }
   }
}
