@use 'sass:string';

$values: 25 50 75 100;
$properties: width height;
@each $value in $values {
   @each $property in $properties {
      $p: string.slice($property, 0, 1);
      .env-#{$p}--#{$value} {
         #{$property}: #{$value}#{'%'} !important; /* KEEP */
      }
   }
}

.env-mw--100 {
   max-width: 100% !important; /* KEEP */
}

.env-mh--100 {
   max-height: 100% !important; /* KEEP */
}
