$values: 25 50 75 100;

$properties: (
   w: inline-size,
   h: block-size,
);

@each $propKey, $property in $properties {
   @each $value in $values {
      .env-#{$propKey}--#{$value} {
         #{$property}: #{$value}#{'%'} !important;
      }
   }
   .env-m#{$propKey}--100 {
      max-#{$property}: 100% !important;
   }
}
