@use 'sass:list';

$propertyMap: (
   // Physical props
   'top': top,
   'right': right,
   'bottom': bottom,
   'left': left,

   // Logical props
   'inline': inline,
   'block': block,
   'block-start': block-start,
   'inline-end': inline-end,
   'block-end': block-end,
   'inline-start': inline-start,

   // Custom props (deprecated)
   'vertical': top bottom,
   'horizontal': right left
);

$sizes:
   'xxx-small', 'xx-small', 'x-small', 'small', 'medium', 'large', 'x-large',
   'xx-large', 'xxx-large';

@mixin spacing-declaration(
   $type,
   $propModifier,
   $props,
   $size,
   $value,
   $includeNegative: false
) {
   $typeModifier: 'm';
   @if $type == 'padding' {
      $typeModifier: 'p';
   }
   $p1: list.nth($props, 1);
   $p2: null;
   @if list.length($props) > 1 {
      $p2: list.nth($props, 2);
   }

   &-#{$typeModifier}-#{$propModifier}--#{$size} {
      #{$type}-#{$p1}: $value !important;
      @if $p2 {
         #{$type}-#{$p2}: $value !important;
      }
   }
   @if $includeNegative {
      &-#{$typeModifier}-#{$propModifier}--#{$size}.env-#{$typeModifier}-#{$propModifier}--negative {
         #{$type}-#{$p1}: calc(#{$value} * -1) !important;
         @if $p2 {
            #{$type}-#{$p2}: calc(#{$value} * -1) !important;
         }
      }
   }
}

.env {
   // Shorthand (all sides)
   // ---------------------
   // Around is deprecated, replaced by shorthand

   &-m-around--0,
   &-m--0 {
      margin: 0 !important;
   }

   &-m-around--a,
   &-m--a {
      margin: auto !important;
   }

   &-p-around--0,
   &-p--0 {
      padding: 0 !important;
   }

   @each $size in $sizes {
      &-m-around--#{$size},
      &-m--#{$size} {
         margin: var(--env-spacing-#{$size}) !important;
      }
      &-m-around--#{$size}.env-m-around--negative,
      &-m--#{$size}.env-m--negative {
         margin: calc(var(--env-spacing-#{$size}) * -1) !important;
      }
      &-p-around--#{$size},
      &-p--#{$size} {
         padding: var(--env-spacing-#{$size}) !important;
      }
   }

   @each $propName, $props in $propertyMap {
      // Zero and auto
      // -------------

      @include spacing-declaration(margin, $propName, $props, 0, 0);
      @include spacing-declaration(margin, $propName, $props, 'a', auto);
      @include spacing-declaration(padding, $propName, $props, 0, 0);

      // All regular sizes
      // -----------------

      @each $size in $sizes {
         @include spacing-declaration(
            margin,
            $propName,
            $props,
            $size,
            var(--env-spacing-#{$size}),
            true
         );
         @include spacing-declaration(
            padding,
            $propName,
            $props,
            $size,
            var(--env-spacing-#{$size})
         );
      }
   }
}
