// Logical props map - value is deprecated physical prop
$logicalProps: (
   'block': 'vertical',
   'inline': 'horizontal',
   'block-start': 'top',
   'inline-end': 'right',
   'block-end': 'bottom',
   'inline-start': 'left',
);

$sizes:
   'xxx-small', 'xx-small', 'x-small', 'small', 'medium', 'large', 'x-large',
   'xx-large', 'xxx-large';

.env {
   // Shorthand (all sides)
   // ---------------------
   // Around is deprecated, replaced by shorthand

   &-m-around--0,
   &-m--0 {
      margin-block: 0 !important;
      margin-inline: 0 !important;
   }

   &-m-around--a,
   &-m--a {
      margin-block: auto !important;
      margin-inline: auto !important;
   }

   &-p-around--0,
   &-p--0 {
      padding-block: 0 !important;
      padding-inline: 0 !important;
   }

   @each $size in $sizes {
      &-m-around--#{$size}, // Around is deprecated, replaced by shorthand
      &-m--#{$size} {
         margin-block: var(--env-spacing-#{$size}) !important;
         margin-inline: var(--env-spacing-#{$size}) !important;
      }
      &-m-around--#{$size}.env-m-around--negative, // Around is deprecated, replaced by shorthand
      &-m--#{$size}.env-m--negative {
         margin-block: calc(var(--env-spacing-#{$size}) * -1) !important;
         margin-inline: calc(var(--env-spacing-#{$size}) * -1) !important;
      }
      &-p-around--#{$size}, // Around is deprecated, replaced by shorthand
      &-p--#{$size} {
         padding-block: var(--env-spacing-#{$size}) !important;
         padding-inline: var(--env-spacing-#{$size}) !important;
      }
   }

   // Logical props
   // -------------
   // Top is deprecated, replaced by "block-start"
   // Right is deprecated, replaced by "inline-end"
   // Bottom is deprecated, replaced by "block-end"
   // Left is deprecated, replaced by "inline-start"

   // Shorthand (block and inline)
   // ----------------------------
   // Horizontal is deprecated, replaced by "inline"
   // Vertical is deprecated, replaced by "block

   @each $logicalProp, $legacyProp in $logicalProps {
      &-m-#{$legacyProp}--0,
      &-m-#{$logicalProp}--0 {
         margin-#{$logicalProp}: 0 !important;
      }
      &-m-#{$legacyProp}--a,
      &-m-#{$logicalProp}--a {
         margin-#{$logicalProp}: auto !important;
      }
      &-p-#{$legacyProp}--0,
      &-p-#{$logicalProp}--0 {
         padding-#{$logicalProp}: 0 !important;
      }

      @each $size in $sizes {
         &-m-#{$legacyProp}--#{$size},
         &-m-#{$logicalProp}--#{$size} {
            margin-#{$logicalProp}: var(--env-spacing-#{$size}) !important;
         }
         &-m-#{$legacyProp}--negative.env-m-#{$legacyProp}--#{$size},
         &-m-#{$logicalProp}--negative.env-m-#{$logicalProp}--#{$size} {
            margin-#{$logicalProp}: calc(
               var(--env-spacing-#{$size}) * -1
            ) !important;
         }
         &-p-#{$legacyProp}--#{$size},
         &-p-#{$logicalProp}--#{$size} {
            padding-#{$logicalProp}: var(--env-spacing-#{$size}) !important;
         }
      }
   }
}
