//@use 'sizing';

$properties: margin padding;
$specifiers: top right bottom left;
$sizes: (
   xxx-small: 'spacing-xxx-small',
   xx-small: 'spacing-xx-small',
   x-small: 'spacing-x-small',
   small: 'spacing-small',
   medium: 'spacing-medium',
   large: 'spacing-large',
   x-large: 'spacing-x-large',
   xx-large: 'spacing-xx-large',
   xxx-large: 'spacing-xxx-large',
);

.env {
   @each $specifier in $specifiers {
      &-m-#{$specifier}--0 {
         margin-#{$specifier}: 0 !important; /* KEEP */
      }
      &-m-#{$specifier}--a {
         margin-#{$specifier}: auto !important; /* KEEP */
      }
      &-p-#{$specifier}--0 {
         padding-#{$specifier}: 0 !important; /* KEEP */
      }
   }

   &-m-around--0 {
      margin: 0 !important; /* KEEP */
   }

   &-m-around--a {
      margin: auto !important; /* KEEP */
   }

   &-m-horizontal--0 {
      margin-right: 0 !important; /* KEEP */
      margin-left: 0 !important; /* KEEP */
   }

   &-m-horizontal--a {
      margin-right: auto !important; /* KEEP */
      margin-left: auto !important; /* KEEP */
   }

   &-m-vertical--0 {
      margin-top: 0 !important; /* KEEP */
      margin-bottom: 0 !important; /* KEEP */
   }

   &-m-vertical--a {
      margin-top: auto !important; /* KEEP */
      margin-bottom: auto !important; /* KEEP */
   }

   &-p-around--0 {
      padding: 0 !important; /* KEEP */
   }

   &-p-horizontal--0 {
      padding-right: 0 !important; /* KEEP */
      padding-left: 0 !important; /* KEEP */
   }

   &-p-vertical--0 {
      padding-top: 0 !important; /* KEEP */
      padding-bottom: 0 !important; /* KEEP */
   }

   @each $size, $variableName in $sizes {
      @each $specifier in $specifiers {
         &-m-#{$specifier}--#{$size} {
            margin-#{$specifier}: var(
               --env-#{$variableName}
            ) !important; /* KEEP */
         }
         &-m-#{$specifier}--#{$size}.env-m-#{$specifier}--negative {
            margin-#{$specifier}: calc(
               var(--env-#{$variableName}) * -1
            ) !important; /* KEEP */
         }
         &-p-#{$specifier}--#{$size} {
            padding-#{$specifier}: var(
               --env-#{$variableName}
            ) !important; /* KEEP */
         }
      }
      &-m-around--#{$size} {
         margin: var(--env-#{$variableName}) !important; /* KEEP */
      }
      &-m-around--#{$size}.env-m-around--negative {
         margin: calc(var(--env-#{$variableName}) * -1) !important; /* KEEP */
      }
      &-p-around--#{$size} {
         padding: var(--env-#{$variableName}) !important; /* KEEP */
      }
      &-m-horizontal--#{$size} {
         margin-right: var(--env-#{$variableName}) !important; /* KEEP */
         margin-left: var(--env-#{$variableName}) !important; /* KEEP */
      }
      &-m-horizontal--negative.env-m-horizontal--#{$size} {
         margin-right: calc(
            var(--env-#{$variableName}) * -1
         ) !important; /* KEEP */
         margin-left: calc(
            var(--env-#{$variableName}) * -1
         ) !important; /* KEEP */
      }
      &-m-vertical--#{$size} {
         margin-top: var(--env-#{$variableName}) !important; /* KEEP */
         margin-bottom: var(--env-#{$variableName}) !important; /* KEEP */
      }
      &-m-vertical--negative.env-m-horizontal--#{$size} {
         margin-top: calc(
            var(--env-#{$variableName}) * -1
         ) !important; /* KEEP */
         margin-bottom: calc(
            var(--env-#{$variableName}) * -1
         ) !important; /* KEEP */
      }
      &-p-horizontal--#{$size} {
         padding-right: var(--env-#{$variableName}) !important; /* KEEP */
         padding-left: var(--env-#{$variableName}) !important; /* KEEP */
      }
      &-p-vertical--#{$size} {
         padding-top: var(--env-#{$variableName}) !important; /* KEEP */
         padding-bottom: var(--env-#{$variableName}) !important; /* KEEP */
      }
   }
}
