.s {
  color: #D13D44; }

.na {
  color: #2D78A4; }

.nt {
  color: #285C86; }

pre {
  border-radius: 4px;
  color: #333333;
  display: block;
  font-size: 13px;
  line-height: 1.42857143;
  margin: 0;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word; }

pre code {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  font-size: inherit;
  padding: 0;
  white-space: pre-wrap; }

.highlight pre {
  background-color: transparent;
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  white-space: nowrap;
  word-break: normal; }

.nav-top {
  padding-top: 40px;
  background-color: rgba(0, 0, 0, 0.1); }
  .nav-top h1 {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 64px;
    font-weight: 500; }
  .nav-top__menu a {
    text-decoration: none;
    font-size: 17px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 3px 3px 0 0;
    display: inline-block;
    color: #040404; }
  .nav-top ul {
    list-style: none;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%; }
  .nav-top li {
    display: inline; }
  .nav-top .active {
    background-color: #fff; }

.footer-wrapper {
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #202332;
  text-align: center;
  z-index: 1035; }

.footer {
  max-width: 1000px;
  display: flex;
  margin: 10px auto; }

.footer a {
  color: #ffffff;
  font-size: 14px; }

.sv-header {
  overflow: hidden;
  background-color: #F6F6F6;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  z-index: 1035; }

.header {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  height: 40px;
  align-items: center;
  justify-content: space-between; }
  .header .logo {
    width: 25px;
    display: inherit; }
  .header .header-nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .header .header-nav ul li {
      display: inline-block;
      margin-left: 10px; }
      .header .header-nav ul li a {
        margin: .25em;
        outline: 0; }
      .header .header-nav ul li a:hover {
        border-bottom: 2px solid #6892d5; }
  .header .active {
    font-weight: 500;
    border-bottom: 2px solid #6892d5; }

.env-modal-dialog.doc-demo__modal {
  border-color: #e5e5e5 #eeeeee #eeeeee;
  border-style: solid;
  border-width: 1px 0;
  box-shadow: inset 0 3px 6px black;
  max-width: 900px;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  visibility: visible;
  padding: 45px 15px;
  position: relative;
  z-index: 900;
  opacity: 1; }

.example-progress > div + div {
  margin-top: 10px; }

.example-tabs,
.example-tabs1,
.example-tabs2 {
  margin-bottom: 15px; }

.example-panel {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
  background-color: #eee; }

.example-sizing > div,
.example-sizing-h > div {
  background-color: #eee; }

.example-sizing-h {
  height: 100px; }

.example-alignment-container,
.example-direction-container {
  display: flex;
  height: 70px;
  background-color: #eee;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .example-alignment-container > div,
  .example-direction-container > div {
    border: 1px solid rgba(0, 0, 0, 0.5); }

.example-direction-container {
  height: auto; }

.example-color {
  text-align: center; }
  .example-color > * {
    padding: 1em 0em 1em 1em;
    margin-bottom: .5em; }

.example-display > div {
  background-color: #eee;
  margin-top: 20px; }

.example-list-item {
  background-color: #eee;
  border: 1px solid #666;
  padding: 1em;
  text-align: center; }

.example-list-item-responsive {
  background-color: #eee;
  border: 1px solid #666;
  height: 100px;
  line-height: 100px;
  padding: 1em;
  text-align: center;
  width: 150px; }

.example-border-util span {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  background-color: #F2F2F2;
  margin: 5px; }

.example-vertical-alignment {
  height: 100px; }

.example-color-size {
  padding: 1.5em !important;
  margin-top: .75em !important;
  margin-bottom: .75em !important; }

.example-color-size-large {
  padding: 3em !important;
  margin-top: .75em !important;
  margin-bottom: .75em !important; }

.icons-demo li {
  background-color: rgba(0, 0, 0, 0.02);
  padding: 1.5em;
  text-align: center; }
  .icons-demo li:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.sv-home__content {
  margin-top: 8%; }

.sv-home__item {
  flex-basis: 35%; }

p.sv-home__text {
  color: #212333;
  line-height: 1.375em;
  font-weight: 300;
  margin: 0; }

.sv-home__env-logo {
  margin-top: 12%; }

.sv-home__title {
  font-weight: bold;
  letter-spacing: 3px; }

.sv-home__subheader {
  font-size: 1.125em;
  font-weight: 400;
  margin: 0; }

p.sv-home-media__text {
  color: #212333;
  font-size: .75em;
  line-height: 1.3em;
  margin: .125em 0; }

.sv-home-button__size {
  border-radius: .2em;
  font-size: 1em;
  line-height: 1.625em;
  padding: .25em .5em; }

body {
  background-color: #FFFFFF;
  color: #040404;
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100%;
  position: relative; }

main {
  max-width: 1000px;
  display: flex;
  margin: 40px auto 80px auto; }

.main-container {
  max-width: 1000px;
  display: flex;
  margin: 0 auto; }

h1 {
  font-size: 46px;
  font-weight: 500; }

h2 {
  font-weight: 500;
  font-size: 26px; }

p {
  line-height: 25px; }

a {
  text-decoration: none;
  color: #040404; }

main {
  flex: 4;
  display: block; }

.highlighter-rouge {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 4px 8px;
  border-radius: 3px;
  margin: 0 2px;
  font-size: 14px; }

.code-example {
  padding: 20px;
  box-sizing: border-box;
  border: 4px solid rgba(0, 0, 0, 0.02);
  border-radius: 3px 3px 0 0; }

.highlight {
  background-color: rgba(0, 0, 0, 0.02);
  border: 4px solid transparent;
  padding: 20px;
  border-radius: 0 0 3px 3px; }
  .highlight pre {
    line-height: 1.4;
    font-size: 14px; }

.sidenav {
  flex: 1;
  margin-top: 80px; }
  .sidenav > div {
    margin-bottom: 10px; }
    .sidenav > div > a {
      padding: 0 0 10px 0;
      display: inline-block;
      font-weight: 400;
      font-size: 17px; }
  .sidenav ul {
    margin: 0;
    list-style: none;
    padding: 0; }
    .sidenav ul li {
      padding: 0 0 10px 0; }
      .sidenav ul li a {
        font-weight: 300;
        font-size: 16px; }
      .sidenav ul li.active a {
        border-bottom: 2px solid #6892d5; }
