@mixin alert-color-variant($color, $border-color, $font-color) {
   background-color: lighten($color, 20%);   
   color: $font-color;
   border-left: 6px solid $border-color;

   &:hover {
      border-color: lighten($border-color, 5%);
   }

   .#{$prefix}-alert__close {
      color: $font-color;
   }
}