@mixin alert-color-variant($color) {
   background-color: $color;

   &:hover {
      border-color: darken($color, 15%);
   }
}

@mixin alert-border-left($color) {
   border-left: 6px solid $color;
}
