@mixin basis-value($i) {
   flex-basis: 100/$i+%;
}

@mixin border-divider($property, $thickness: 1px, $border-color: $color-lighter) {
   #{$property}: $thickness solid $border-color;
}

@mixin dot-divider() {
   background-color: $color-dark;
   content: "";
   display: inline-block;
   height: $space;
   vertical-align: middle;
   width: $space;
   margin-left: $space1;
   margin-right: $space1;
   border-radius: 50%;
}

