@mixin basis-value($i) {
   flex-basis: percentage(1/$i);
}

@mixin border-divider($property, $thickness: 1px, $border-color: $color-lighter) {
   #{$property}: $thickness $border-style $border-color;
}

@mixin dot-divider() {
   background-color: $color-dark;
   content: "";
   display: inline-block;
   height: $spacing-xxx-small;
   vertical-align: middle;
   width: $spacing-xxx-small;
   margin-left: $spacing-x-small;
   margin-right: $spacing-x-small;
   border-radius: 50%;
}

@mixin reset-list() {
   list-style: none;
   margin: 0;
   padding: 0;
}
