@mixin block-text-size($element, $font-size, $margin-bottom, $font-weight) {
   #{$element}.#{$prefix}-text,
   .#{$prefix}-text #{$element},
   .#{$prefix}-text--#{$element} {
      font-size: $font-size;
      font-weight: $font-weight;
      margin: 0 0 $margin-bottom;
   }
}

@mixin inline-text-size($element, $font-size, $font-weight) {
   #{$element}.#{$prefix}-text,
   .#{$prefix}-text #{$element},
   .#{$prefix}-text--#{$element} {
      font-size: $font-size;
      font-weight: $font-weight;
   }
}

@mixin link() {
   border-radius: $radius-small;
   color: $font-color;
   font-weight: $font-weight-semibold;
   text-decoration: none;
}
