.env-dashboard-theme {
   background-color: var(--env-background-color); /* !important; */
   color: var(--env-font-color);
   font-family: var(--env-font-family);
   --env-link-hover-font-color: #1866e3;
   --env-ui-color-brand-20-contrast: #616161;
   --env-modal-large-width: 900px;
   --env-block-secondary-font-color: #dedfe0;
   --env-modal-small-width: 300px;
   --env-background-color: #f7f7f9;
   --env-element-secondary-background-color-light: hsl(228, 12%, 27%);
   --env-font-color: #202330;
   --env-ui-text-overline-font-color: var(--env-font-color);
   --env-collapse-icon-height: 3px;
   --env-element-secondary-background-color-dark: hsl(228, 12%, 16%);
   --env-modal-medium-width: 450px;
   --env-focus-outline-color: var(--env-font-color);
   --env-block-primary-link-text-decoration: underline;
   --env-color-brand: var(--env-element-primary-background-color);
   --env-spacing-xx-large: 1.75em;
   --env-color-warning: var(--env-element-warning-background-color);
   --env-link-secondary-font-color: var(--env-font-color);
   --env-popover-width: 360px;
   --env-spacing-medium: 1em;
   --env-element-danger-font-color: #ffffff;
   --env-breadcrumb-divider-color: #999999;
   --env-badge-border-radius: var(--env-border-radius-medium);
   --env-block-primary-link-hover-font-color: var(--env-link-hover-font-color);
   --env-element-success-background-color-dark: hsl(152, 70%, 23%);
   --env-ui-color-brand-30-contrast: #474747;
   --env-tooltip-background-color: #000;
   --env-ui-color-brand-35-contrast: #474747;
   --env-tooltip-border-radius: var(--env-border-radius);
   --env-ui-text-heading-font-color: var(--env-font-color);
   --env-element-success-font-color: #ffffff;
   --env-color-darker: #0d0d0d;
   --env-block-link-hover-font-color: var(--env-link-hover-font-color);
   --env-ui-text-overline-font-weight: 400;
   --env-ui-color-brand-95: #262626;
   --env-element-secondary-font-color: #ffffff;
   --env-font-size-x-small: calc(var(--env-font-size-base) * 0.75);
   --env-ui-color-brand-55-contrast: #000000;
   --env-link-text-decoration: underline;
   --env-ui-color-brand-90: #2b2b2b;
   --env-ui-color-brand-dark: hsla(0, 0%, 38.3%, 1);
   --env-block-secondary-link-text-decoration: underline;
   --env-cardholder-column-spacing: var(--env-spacing-medium);
   --env-color-lightest: #e6e6e6;
   --env-block-link-font-color: var(--env-link-font-color);
   --env-block-secondary-background-color: #363945;
   --env-ui-color-brand-25-contrast: #545454;
   --env-collapse-background-color: var(--env-element-background-color-light);
   --env-element-primary-background-color: #417aaf;
   --env-spacing-x-large: 1.5em;
   --env-badge-font-size: 75%;
   --env-cardholder-grid-gap: var(--env-spacing-medium);
   --env-focus-offset: var(--env-focus-size);
   --env-element-danger-background-color-light: hsl(9, 53%, 53%);
   --env-font-size-small: calc(var(--env-font-size-base) * 0.875);
   --env-form-input-background-color: var(--env-section-background-color);
   --env-collapse-toggle-duration: 300ms;
   --env-ui-color-brand-85: #363636;
   --env-ui-color-brand-80: #3d3d3d;
   --env-box-shadow-color: rgba(0, 0, 0, 0.15);
   --env-collapse-icon-color: var(--env-font-color);
   --env-border-color-light: hsl(210, 3%, 97%);
   --env-border-color-05: hsl(210, 3%, 97%);
   --env-ui-color-brand-50-contrast: #262626;
   --env-border-success-color: #358156;
   --env-ui-text-sectionheading-font-family: Inter;
   --env-ui-text-subheading-font-size: 0.975em;
   --env-ui-text-caption-font-color: hsla(229, 20%, 16%, 0.65);
   --env-pagination-border-style: solid;
   --env-font-color-muted: hsla(229, 20%, 16%, 0.65);
   --env-block-border-color: #e7e7e7;
   --env-link-secondary-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-ui-color-status-error: var(--env-element-danger-background-color);
   --env-element-success-background-color: #188653;
   --env-element-background-color-light: hsl(210, 3%, 90%);
   --env-collapse-border-width: 1px;
   --env-progress-bar-poll-highlight-color: #4bc5f5;
   --env-ui-color-brand-100: #212121;
   --env-ui-color-brand-75: #474747;
   --env-spinner-color: #5cb3fd;
   --env-ui-text-heading-font-size: 1.82em;
   --env-ui-color-brand-70: #545454;
   --env-box-shadow: 0 0.5em 1em var(--env-box-shadow-color);
   --env-ui-color-brand-60-contrast: #f5f5f5;
   --env-ui-color-brand-contrast: #ffffff;
   --env-spacing-small: 0.75em;
   --env-ui-text-caption-letter-spacing: normal;
   --env-form-font-family: var(--env-font-family);
   --env-ui-color-status-error-contrast: var(--env-element-danger-font-color);
   --env-ui-text-overline-font-family: var(--env-font-family);
   --env-link-font-color: #3e75a8;
   --env-ui-color-brand-65: #616161;
   --env-ui-color-status-attention-contrast: #ffffff;
   --env-focus-box-shadow: 0 0 0 var(--env-focus-offset)
      var(--env-focus-inner-color);
   --env-tooltip-font-weight: 400;
   --env-ui-color-brand-60: #6e6e6e;
   --env-element-danger-background-color-dark: hsl(9, 53%, 42%);
   --env-pagination-border-width: 1px;
   --env-font-color-lighter: #49506d;
   --env-color-info: var(--env-element-info-background-color);
   --env-ui-color-status-active-contrast: #202330;
   --env-ui-text-subheading-font-color: var(--env-font-color);
   --env-ui-color-brand-55: #7a7a7a;
   --env-ui-color-brand-50: #919191;
   --env-ui-color-brand-70-contrast: #d1d1d1;
   --env-block-secondary-border-color: #000000;
   --env-ui-color-brand-95-contrast: #919191;
   --env-collapse-border-color: var(--env-element-background-color);
   --env-element-primary-font-color: #ffffff;
   --env-tooltip-font-family: var(--env-font-family);
   --env-color-normal: #666666;
   --env-badge-font-family: var(--env-font-family);
   --env-font-family: inter;
   --env-form-input-border-color: #949494;
   --env-box-shadow-large: 0 1em 3em var(--env-box-shadow-color);
   --env-ui-text-subheading-font-weight: 500;
   --env-ui-color-brand-45-contrast: #363636;
   --env-ui-color-brand-10-contrast: #6e6e6e;
   --env-link-hover-text-decoration: underline;
   --env-ui-text-overline-letter-spacing: 0.15em;
   --env-ui-color-brand-45: #9e9e9e;
   --env-block-primary-border-color: #ccc;
   --env-ui-color-brand-40: #ababab;
   --env-box-shadow-small: 0 0.125em 0.25em var(--env-box-shadow-color);
   --env-ui-text-sectionheading-letter-spacing: normal;
   --env-color-base: #000000;
   --env-font-size-medium: var(--env-font-size-base);
   --env-color-element-bg: #ffffff;
   --env-ui-color-status-active: #58a978;
   --env-border-warning-color: #ffbf12;
   --env-element-warning-background-color-dark: hsl(54, 97%, 56%);
   --env-color-brand-dark: var(--env-element-primary-background-color-dark);
   --env-element-background-color-dark: hsl(210, 3%, 79%);
   --env-link-secondary-text-decoration: var(--env-link-text-decoration);
   --env-spacing-xx-small: 0.25em;
   --env-focus-size: 2px;
   --env-ui-color-brand-90-contrast: #9e9e9e;
   --env-ui-color-brand-35: #b8b8b8;
   --env-border-radius-medium: var(--env-border-radius);
   --env-ui-color-brand-30: #c4c4c4;
   --env-ui-color-status-attention: #ce2e7e;
   --env-color-light: #999999;
   --env-form-input-font-color: var(--env-font-color);
   --env-modal-backdrop-background-color: #000;
   --env-button-border-radius: 0.375em;
   --env-ui-color-status-error-text: var(--env-element-danger-background-color);
   --env-dialog-medium-width: 450px;
   --env-element-info-background-color-dark: hsl(174, 73%, 22%);
   --env-focus-color: #5cb3fd;
   --env-ui-text-sectionheading-font-size: 1.125em;
   --env-font-size-large: calc(var(--env-font-size-base) * 1.25);
   --env-element-danger-background-color: #c3503c;
   --env-cardholder-column-max-width: 400px;
   --env-ui-color-brand-25: #d1d1d1;
   --env-ui-color-brand-20: #dedede;
   --env-pagination-font-family: var(--env-font-family);
   --env-element-info-background-color-light: hsl(174, 73%, 33%);
   --env-spacing-large: 1.25em;
   --env-element-background-color: #dedfe0;
   --env-ui-text-subheading-text-transform: none;
   --env-font-size-xxxx-large: calc(var(--env-font-size-base) * 2.5);
   --env-ui-color-status-active-text: #44835d;
   --env-element-primary-background-color-light: hsl(209, 46%, 50%);
   --env-spacing-x-small: 0.5em;
   --env-tooltip-font-color: #eeeeee;
   --env-ui-color-brand-15: #ebebeb;
   --env-cardholder-column-min-width: 240px;
   --env-collapse-expanded-border-color: var(
      --env-element-background-color-dark
   );
   --env-profile-image-border-radius: 50%;
   --env-ui-text-subheading-font-family: Inter;
   --env-ui-color-brand-10: #f5f5f5;
   --env-dialog-small-width: 300px;
   --env-ui-color-status-attention-text: #ce2e7e;
   --env-font-color-invert: #ffffff;
   --env-color-success: var(--env-element-success-background-color);
   --env-border-danger-color: #c15252;
   --env-element-warning-background-color-light: hsl(54, 97%, 67%);
   --env-ui-text-sectionheading-text-transform: none;
   --env-font-size-x-large: calc(var(--env-font-size-base) * 1.5);
   --env-ui-text-caption-text-transform: none;
   --env-color-hover: #f7f7f7;
   --env-block-primary-background-color: #dedfe0;
   --env-block-secondary-link-font-color: #95c9f3;
   --env-collapse-expanded-background-color: var(
      --env-element-background-color
   );
   --env-ui-color-brand-05: #fafafa;
   --env-ui-color-brand-80-contrast: #ababab;
   --env-element-warning-background-color: #fcea4c;
   --env-font-size-xxx-large: calc(var(--env-font-size-base) * 2);
   --env-ui-color-status-neutral: #393939;
   --env-ui-text-overline-text-transform: uppercase;
   --env-element-info-background-color: #158479;
   --env-border-radius-large: calc(var(--env-border-radius) * 1.5);
   --env-focus-inner-color: var(--env-section-background-color);
   --env-ui-color-brand-85-contrast: #9e9e9e;
   --env-block-font-color: #202330;
   --env-ui-color-brand-100-contrast: #919191;
   --env-ui-text-heading-text-transform: none;
   --env-image-control-color: #ffffff;
   --env-font-size-xx-large: calc(var(--env-font-size-base) * 1.75);
   --env-spacing-xxx-small: 0.125em;
   --env-element-success-background-color-light: hsl(152, 70%, 34%);
   --env-block-primary-link-font-color: var(--env-link-font-color);
   --env-ui-color-brand-05-contrast: #6e6e6e;
   --env-block-secondary-link-hover-text-decoration: underline;
   --env-ui-text-caption-font-weight: 400;
   --env-link-secondary-hover-font-color: var(--env-link-font-color);
   --env-ui-text-caption-font-family: Inter;
   --env-ui-text-heading-font-weight: 500;
   --env-ui-color-brand-75-contrast: #b8b8b8;
   --env-element-secondary-background-color: #363945;
   --env-ui-text-caption-font-size: 0.875em;
   --env-alert-font-color: var(--env-font-color);
   --env-alert-border-radius: var(--env-border-radius-medium);
   --env-alert-background-color: var(--env-section-background-color);
   --env-collapse-border-style: solid;
   --env-color-warning-dark: var(--env-element-warning-background-color-dark);
   --env-block-primary-font-color: #202330;
   --env-ui-color-brand-65-contrast: #dedede;
   --env-cardholder-grid-column-width: 20em;
   --env-button-font-family: var(--env-font-family);
   --env-border-radius-small: calc(var(--env-border-radius) * 0.5);
   --env-block-link-hover-text-decoration: var(
      --env-link-hover-text-decoration
   );
   --env-modal-backdrop-opacity: 0.5;
   --env-ui-text-sectionheading-font-color: #202330;
   --env-color-dark: #333333;
   --env-ui-text-heading-letter-spacing: normal;
   --env-element-common-background-color: #f2f2f2;
   --env-color-danger: var(--env-element-danger-background-color);
   --env-form-input-border-radius: var(--env-border-radius-medium);
   --env-ui-text-subheading-letter-spacing: normal;
   --env-section-background-color: #ffffff;
   --env-section-background-color-05: #f2f2f2;
   --env-form-label-font-family: var(--env-font-family);
   --env-collapse-icon-width: 15px;
   --env-element-warning-font-color: #202330;
   --env-ui-text-sectionheading-font-weight: 700;
   --env-font-color-light: #34394f;
   --env-ui-text-overline-font-size: 0.875em;
   --env-block-primary-link-hover-text-decoration: underline;
   --env-border-radius: 0.5em;
   --env-focus-background-color: rgba(0, 0, 0, 0.2);
   --env-focus-outline: var(--env-focus-size) solid
      var(--env-focus-outline-color);
   --env-block-link-text-decoration: var(--env-link-text-decoration);
   --env-ui-color-brand-40-contrast: #3d3d3d;
   --env-tooltip-font-size: var(--env-font-size-small);
   --env-spacing-xxx-large: 2em;
   --env-ui-color-status-neutral-contrast: #ffffff;
   --env-element-info-font-color: #ffffff;
   --env-color-lighter: #cccccc;
   --env-element-primary-background-color-dark: hsl(209, 46%, 39%);
   --env-ui-text-heading-font-family: var(--env-font-family);
   --env-form-label-font-weight: 500;
   --env-border-color: #dedfe0;
   --env-color-brand-light: var(--env-element-primary-background-color-light);
   --env-ui-color-brand: #767676;
   --env-element-font-color: #202330;
   --env-block-secondary-link-hover-font-color: #e4f2fc;
   --env-ui-color-brand-15-contrast: #616161;
   --env-dialog-large-width: 900px;
   --env-block-background-color: #ffffff;
   --env-color-page-bg: #ffffff;
   --env-alert-font-family: var(--env-font-family);
   --env-font-size-base: 1em;
   --env-ui-text-value-font-color: var(--env-ui-text-caption-font-color);
   --env-ui-text-label-font-color: var(--env-font-color);
   --env-ui-text-kpi-number-font-color: var(--env-font-color);
}
