.env-dashboard-widget {
   background-color: var(--env-section-background-color);
   border: 1px solid var(--env-border-color-light);
   border-radius: var(--env-border-radius-medium);
   box-shadow: var(--env-box-shadow);
}

.env-badge--positive {
   color: var(--env-dashboard-color-green-90);
   background-color: var(--env-dashboard-color-green-05);
}

.env-badge--negative {
   color: var(--env-dashboard-color-pink-90);
   background-color: var(--env-dashboard-color-pink-05);
}

.env-badge--unchanged {
   color: var(--env-dashboard-color-light-blue-90);
   background-color: var(--env-dashboard-color-light-blue-05);
}

.env-dynamic-font {
   $fromSizes: '524', '813', '1072';
   $toSizes: '342', '523', '708', '812', '1071', '1440';

   @each $fromSize in $fromSizes {
      &--from-#{$fromSize} {
         --df-from-width: #{$fromSize};
      }
   }
   @each $toSize in $toSizes {
      &--to-#{$toSize} {
         --df-to-width: #{$toSize};
      }
   }
}
