$line-height-medium: 1.4 !default;

@include to-css-custom-property(
   (
      'ui-text-label-font-family': css-var('font-family'),
      'ui-text-label-font-color': css-var('font-color'),
      'ui-text-label-font-size': 0.8125em,
      'ui-text-label-font-weight': 600,
      'ui-text-label-text-transform': none,
      'ui-text-label-letter-spacing': normal,
      'ui-text-value-font-family': css-var('font-family'),
      'ui-text-value-font-color': css-var('font-color-muted'),
      'ui-text-value-font-size': 0.75em,
      'ui-text-value-font-weight': 400,
      'ui-text-value-text-transform': none,
      'ui-text-value-letter-spacing': normal,
   )
);

@include to-css-custom-property(
   (
      'ui-text-kpi-number-font-family': css-var('font-family'),
      'ui-text-kpi-number-font-color': css-var('font-color'),
      'ui-text-kpi-number-font-size':
         css-var('ui-text-kpi-number-font-size-medium'),
      'ui-text-kpi-number-font-weight': 800,
      'ui-text-kpi-number-text-transform': none,
      'ui-text-kpi-number-letter-spacing': -0.05em,
   )
);

@include to-css-custom-property(
   (
      'ui-text-kpi-number-font-size-x-small': 1.5em,
      'ui-text-kpi-number-font-size-small': 2em,
      'ui-text-kpi-number-font-size-medium': 4em,
      'ui-text-kpi-number-font-size-large': 6em,
      'ui-text-kpi-number-font-size-x-large': 8em,
   )
);

$DASHBOARD_UI_TEXT_NAMES: 'label', 'value', 'kpi-number';

.env-ui-text {
   @each $name in $DASHBOARD_UI_TEXT_NAMES {
      &-#{$name} {
         font-family: css-var('ui-text-#{$name}-font-family');
         font-size: css-var('ui-text-#{$name}-font-size');
         font-weight: css-var('ui-text-#{$name}-font-weight');
         font-style: normal;
         text-transform: css-var('ui-text-#{$name}-text-transform');
         letter-spacing: css-var('ui-text-#{$name}-letter-spacing');
         line-height: $line-height-medium;
         color: css-var('ui-text-#{$name}-font-color');
         margin: 0 !important;
      }
   }
}

@each $name in $DASHBOARD_UI_TEXT_NAMES {
   a.env-ui-text-#{$name},
   .env-ui-text-#{$name} a:not([class^='env-']):not([class*=' env-']) {
      @extend %ui-text-link;
   }
}

%ui-text-link {
   color: inherit;
   text-decoration: none;

   &:hover {
      text-decoration: underline;
   }
}
