@use '../scss-variables' as *;

@mixin backdrop {
   background-color: var(--env-modal-backdrop-background-color);
   inset-block-end: 0;
   inset-inline-start: 0;
   opacity: 0;
   position: fixed;
   inset-inline-end: 0;
   inset-block-start: 0;
   transition: opacity 0.3s linear;
   z-index: $zindex-modal-backdrop;
}

@mixin backdrop-in {
   animation: env-fade 0.3s;
   opacity: var(--env-modal-backdrop-opacity);
}
