@use '../scss-variables' as *;
@use 'text';

@mixin color-block($blockName: '') {
   @if ($blockName != '') {
      // Add slash if name is set, Otherwise it's default with no name and no slash.
      $blockName: '#{$blockName}-';
   }

   --env-font-color: #{var(--env-block-#{$blockName}font-color)};
   --env-font-color-muted: #{var(--env-block-#{$blockName}font-color)};
   @each $name in $UI_TEXT_NAMES {
      --env-ui-text-#{$name}-font-color: #{var(
            --env-block-#{$blockName}font-color
         )};
   }

   @each $name in $CONTENT_TEXT_NAMES {
      --env-text-#{$name}-font-color: #{var(
            --env-block-#{$blockName}font-color
         )};
      --env-text-#{$name}-link-font-color: #{var(
            --env-block-#{$blockName}link-font-color
         )};
      --env-text-#{$name}-link-hover-font-color: #{var(
            --env-block-#{$blockName}link-hover-font-color
         )};
      --env-text-#{$name}-link-text-decoration: #{var(
            --env-block-#{$blockName}link-text-decoration
         )};
      --env-text-#{$name}-link-hover-text-decoration: #{var(
            --env-block-#{$blockName}link-hover-text-decoration
         )};
   }

   --env-link-font-color: #{var(--env-block-#{$blockName}link-font-color)};
   --env-link-hover-font-color: #{var(
         --env-block-#{$blockName}link-hover-font-color
      )};
   --env-link-text-decoration: #{var(
         --env-block-#{$blockName}link-text-decoration
      )};
   --env-link-hover-text-decoration: #{var(
         --env-block-#{$blockName}link-hover-text-decoration
      )};
   --env-link-secondary-font-color: #{var(--env-block-#{$blockName}font-color)};
   --env-link-secondary-hover-font-color: #{var(
         --env-block-#{$blockName}link-hover-font-color
      )};
   --env-link-secondary-text-decoration: #{var(
         --env-block-#{$blockName}link-text-decoration
      )};
   --env-link-secondary-hover-text-decoration: #{var(
         --env-block-#{$blockName}link-hover-text-decoration
      )};

   background-color: var(--env-block-#{$blockName}background-color);
   color: var(--env-block-#{$blockName}font-color);

   &--border {
      border: {
         color: var(--env-block-#{$blockName}border-color);
         style: solid;
         width: 1px;
      }
   }

   a:not([class^='env-']):not([class*=' env-']) {
      @include text.link(
         'block-#{$blockName}link-font-color',
         'block-#{$blockName}link-text-decoration',
         'block-#{$blockName}link-hover-font-color',
         'block-#{$blockName}link-hover-text-decoration'
      );
   }
}
