@mixin deprecated-input-element-color($colorName) {
   // DEPRECATED - DO NOT USE!
   &,
   .env-form-element__label,
   .env-form-element__help,
   .env-select__item,
   .env-select__item__remove {
      color: var(--env-element-#{$colorName}-background-color);
   }

   .env-form-input,
   .env-checkbox__fake,
   .env-form-radio__fake,
   .env-select__input {
      border-color: var(
         --env-element-#{$colorName}-background-color
      ) !important; /* DEPRECATED - KEEP! */
   }

   .env-select__item {
      background-color: var(
         --env-element-#{$colorName}-background-color
      ) !important; /* DEPRECATED - KEEP! */
   }
}
