@use 'form-legacy-input-state';

@mixin deprecated-form-element {
   margin-inset-block-end: var(--env-spacing-medium);

   &__control {
      position: relative;

      & {
         // Fieldset reset
         margin-block: 0;
         margin-inline: 0;
         padding-block: 0;
         padding-inline: 0;
         border: none;
      }
   }
   &__label {
      display: inline-block;
      font-family: var(--env-form-label-font-family);
      font-size: var(--env-font-size-medium);
      font-weight: var(--env-form-label-font-weight);
      margin-inset-block-end: var(--env-spacing-xx-small);

      // Legend reset
      padding-block: 0;
      padding-inline: 0;
   }

   &__help,
   &__feedback {
      display: block;
      font-size: var(--env-font-size-small);
      font-style: italic;
      margin-inset-block-end: var(--env-spacing-x-small);
      margin-inset-block-start: var(--env-spacing-x-small);
   }

   &__help {
      color: var(--env-font-color-muted);
      font-size: var(--env-font-size-small);
   }

   &--success {
      @include form-legacy-input-state.deprecated-input-element-color(
         'success'
      );
   }

   &--warning {
      @include form-legacy-input-state.deprecated-input-element-color(
         'warning'
      );
   }

   &--danger {
      @include form-legacy-input-state.deprecated-input-element-color('danger');
   }

   &--error {
      &,
      .env-form-element__label,
      .env-form-element__help {
         color: var(--env-ui-color-status-error-text);
      }

      .env-form-input,
      .env-checkbox__fake,
      .env-form-radio__fake,
      .env-select__input {
         border-color: var(--env-ui-color-status-error-text) !important;
      }

      .env-select__item,
      .env-select__item__remove {
         // Tag select item
         background-color: var(--env-ui-color-status-error) !important;
         color: var(--env-ui-color-status-error-contrast);
      }
   }

   &[type='file'] {
      display: block;
   }
}
