@use '../scss-variables' as *;

@mixin pagination-size($padding-y, $padding-x, $font-size) {
   font-size: var(--env-#{$font-size});
   line-height: $line-height-medium;
   padding: var(--env-#{$padding-y}) var(--env-#{$padding-x});
}
