@use '../abstracts/mixins/focus';
@use '../abstracts/scss-variables' as *;

.env-alert {
   border: $border-width $border-style transparent;
   margin: var(--env-spacing-medium);
   padding: var(--env-spacing-medium);
   font-family: var(--env-alert-font-family);
   background-color: var(--env-alert-background-color);
   color: var(--env-alert-font-color);
   border-radius: var(--env-alert-border-radius);

   a:not([class^='env-']):not([class*=' env-']),
   a.env-text,
   .env-text a {
      color: var(--env-alert-font-color);
      text-decoration: underline;
   }

   .env-text,
   .env-alert__close {
      color: var(--env-alert-font-color);
   }

   $variableNames: 'success', 'warning', 'danger', 'info';

   @each $name in $variableNames {
      &--#{$name} {
         border: 2px solid var(--env-element-#{$name}-background-color);
         border-left: 10px solid var(--env-element-#{$name}-background-color);
      }
   }

   &__link {
      color: var(--env-font-color);
      font-weight: $font-weight-bold;
      text-decoration: none;

      &:hover {
         text-decoration: underline;
      }
   }

   &__close {
      appearance: none;
      background: 0 0;
      border: 0;
      float: right;
      font-family: var(--env-alert-font-family);
      font-size: var(--env-font-size-medium);
      font-weight: $font-weight-bold;
      padding: var(--env-spacing-small) var(--env-spacing-medium);
      position: relative;
      right: calc(var(--env-spacing-medium) * -1);
      top: calc(var(--env-spacing-small) * -1);

      @include focus.focus-visible;
   }
}
