@use '../abstracts/scss-variables' as *;

.env-breadcrumb {
   list-style: none;
   margin: 0;
   padding: 0;

   &__item {
      display: inline-block;

      &:nth-child(1n + 2)::before {
         color: var(--env-breadcrumb-divider-color);
         content: '#{$breadcrumb-divider}';
         display: inline-block;
         padding-left: var(--env-spacing-x-small);
         padding-right: var(--env-spacing-x-small);
      }
   }

   &:has(.env-breadcrumb__separator) {
      .env-breadcrumb__item:nth-child(1n + 2)::before {
         display: none;
         content: '';
      }
   }

   &__separator {
      color: var(--env-breadcrumb-divider-color);
      content: '#{$breadcrumb-divider}';
      display: inline-block;
      padding-left: var(--env-spacing-x-small);
      padding-right: var(--env-spacing-x-small);
   }
}
