@use '../abstracts/scss-variables' as *;

.env-breadcrumb {
   list-style: none;
   margin-block: 0;
   margin-inline: 0;
   padding-block: 0;
   padding-inline: 0;

   &__item {
      display: inline-block;

      &:nth-child(1n + 2)::before {
         color: var(--env-breadcrumb-divider-color);
         content: '#{$breadcrumb-divider}';
         display: inline-block;
         padding-inset-inline-start: var(--env-spacing-x-small);
         padding-inset-inline-end: var(--env-spacing-x-small);
      }
   }

   &:has(.env-breadcrumb__separator) {
      .env-breadcrumb__item:nth-child(1n + 2)::before {
         display: none;
         content: '';
      }
   }

   &__separator {
      color: var(--env-breadcrumb-divider-color);
      content: '#{$breadcrumb-divider}';
      display: inline-block;
      padding-inset-inline-start: var(--env-spacing-x-small);
      padding-inset-inline-end: var(--env-spacing-x-small);
   }
}
