@use '../abstracts/mixins/button';
@use '../abstracts/mixins/focus';
@use '../abstracts/mixins/text';
@use '../abstracts/scss-variables' as *;

.env-button {
   @include button.button-base;
   font-family: var(--env-button-font-family);
   font-weight: var(--env-button-font-weight);
   line-height: $button-line-height;
   letter-spacing: var(--env-button-letter-spacing);
   text-transform: var(--env-button-text-transform);
   border: $border-width $border-style;

   & {
      @include button.button-size('medium');
   }

   // ----- BUTTON COLORS & TYPES -----

   @include button.button-color-variant();

   @include focus.focus-visible;

   // Variants

   $buttonNames: 'primary', 'secondary', 'success', 'danger', 'info', 'warning';

   @each $name in $buttonNames {
      &--#{$name} {
         @include button.button-color-variant($name);
      }
   }

   &--brand {
      @include button.button-color-variant(
         'brand',
         'ui-color-brand',
         'ui-color-brand-dark',
         'ui-color-brand-contrast'
      );
   }

   &--invert {
      // DEPRECATED since 10.0
      background-color: transparent;
      border-color: transparent;
      color: var(--env-element-primary-background-color-dark);

      &:hover,
      &:active,
      &:focus,
      &:active {
         background-color: transparent;
         border-color: transparent;
         backdrop-filter: invert(4%);
      }
   }

   &--link {
      &,
      &:hover,
      &:active,
      &:focus {
         background-color: transparent;
         border-color: transparent;
         color: var(--env-font-color);
      }
   }

   &.env-link,
   &.env-link-secondary {
      // This is a combo of env-button and env-link
      background-color: transparent;
      border-color: transparent;

      &:hover,
      &:active,
      &:focus {
         background-color: transparent;
         border-color: transparent;
      }
   }

   &.env-link {
      @include text.link(
         'link-font-color',
         'link-text-decoration',
         'link-hover-font-color',
         'link-hover-text-decoration'
      );
   }

   &.env-link-secondary {
      @include text.link(
         'link-secondary-font-color',
         'link-secondary-text-decoration',
         'link-secondary-hover-font-color',
         'link-secondary-hover-text-decoration'
      );
   }

   &--block {
      display: flex;
      width: 100%;
      white-space: normal;
   }

   &--icon {
      position: relative;

      .env-icon {
         position: absolute;
         inset-block-start: 50%;
      }
   }

   @include button.squareIconButton {
      position: relative;
      display: inline-block;
      line-height: 1;
      overflow: hidden;

      @at-root button.env-button--icon:before {
         // Insert spacing before text to avoid
         // certain letters showing in button.
         content: '';
         speak: never;
         display: inline-block;
         height: 1em;
      }

      .env-icon {
         inset-inline-start: 50%;
      }
   }

   &--disabled,
   &[disabled] {
      opacity: 0.55;
      pointer-events: none;
   }

   // ----- BUTTON & ICON SIZING -----

   &--large {
      @include button.button-size('large');
   }

   &--small {
      @include button.button-size('small');
   }

   &--slim {
      @include button.button-size('slim');
   }
}
