@use '../abstracts/mixins/focus';
@use '../abstracts/scss-variables' as *;

.env-dialog {
   z-index: $zindex-modal;
   background-color: var(--env-section-background-color);
   color: var(--env-font-color);
   box-shadow: var(--env-box-shadow);
   width: var(--env-dialog-medium-width);
   max-width: calc(100% - 2em);
   max-height: calc(100% - 2em);
   padding-block: 0;
   padding-inline: 0;
   text-align: start;
   vertical-align: middle;
   overflow-wrap: anywhere;
   word-break: normal;
   white-space: normal;
   border: $border-width $border-style var(--env-border-color);
   border-radius: var(--env-border-radius-medium);
   overflow: hidden;
   transition: opacity 0.2s linear;

   &--fade {
      opacity: 0;
   }

   &--in {
      opacity: 1;
   }

   &:focus,
   &:focus-visible,
   &:focus-within {
      outline: none !important;
   }

   &--large {
      width: var(--env-dialog-large-width);
   }

   &--small {
      width: var(--env-dialog-small-width);
   }

   &__title {
      display: block;
      padding-block: var(--env-spacing-small);
      padding-inline: 1.5rem;
      border-block-end: $border-width $border-style var(--env-border-color-05);
      border-radius: var(--env-border-radius-medium)
         var(--env-border-radius-medium) 0 0;
      font-family: var(--env-font-family);
      font-weight: $font-weight-semibold;
      font-style: normal;
      font-size: var(--env-font-size-large);
      text-align: start;
      line-height: $line-height-medium;
      color: var(--env-font-color);
      margin-block: 0;
      margin-inline: 0;
   }

   &__main {
      padding-block: var(--env-spacing-small);
      padding-inline: 1.5rem;
      // Margin + header + footer height = 180px = 11.25em
      max-height: min(calc(100vh - 11.25em), 50vh);
      min-height: 3em;
      overflow-y: auto;
   }

   &__controls {
      padding-block: var(--env-spacing-small);
      padding-inline: 1.5rem;
      border-block-start: $border-width $border-style var(--env-border-color-05);
      border-radius: 0 0 var(--env-border-radius-medium)
         var(--env-border-radius-medium);
      text-align: start;

      &--end {
         text-align: end !important;
      }
   }

   &::backdrop {
      background: rgba(0, 0, 0, 0.5);
   }

   &[role='alertdialog'] {
      border: none;
      border-radius: 0;
      border-block-start: 6px $border-style
         var(--env-element-primary-background-color);

      .env-dialog__title,
      .env-dialog__controls {
         border: none;
      }

      .env-dialog__controls {
         padding-inset-block-end: 1.5rem;
      }
   }

   &__icon {
      color: var(--env-element-primary-background-color);
      margin-block-start: 1em;
      margin-inline: 0;
      margin-block-end: 0;
      padding-block: 0.5em;
      padding-inline: 0;
      text-align: center;
   }

   &.env-dialog--error[role='alertdialog'] {
      border-block-start-color: var(--env-ui-color-status-error-text);

      .env-dialog__icon {
         color: var(--env-ui-color-status-error-text);
      }
   }

   $variableNames: 'success', 'warning', 'info';
   @each $name in $variableNames {
      &.env-dialog--#{$name}[role='alertdialog'] {
         border-block-start-color: var(--env-element-#{$name}-background-color);

         .env-dialog__icon {
            color: var(--env-element-#{$name}-background-color);
         }
      }
   }
}
