@use '../abstracts/mixins/popout-menu';
@use '../abstracts/scss-variables' as *;

@use 'sass:math';

.env-dropdown {
   position: relative;

   @include popout-menu.popout-menu;

   &__menu {
      display: none;
      background-color: var(--env-section-background-color);
      border: $border-width $border-style var(--env-border-color-05);
      border-radius: var(--env-border-radius-medium);
      box-shadow: var(--env-box-shadow);
      left: 0;
      max-width: (math.div(240, $BROWSER_FONT_SIZE) * 1em);
      min-width: (math.div(180, $BROWSER_FONT_SIZE) * 1em);
      position: fixed;
      top: 100%;
      z-index: $zindex-dropdown;

      &[data-env-dropdown] {
         display: block;
      }
   }

   &-icon {
      vertical-align: middle;
   }
}
