.env-embedded {
   color: var(--env-block-primary-font-color);
   background-color: var(--env-block-primary-background-color);
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   border-radius: var(--env-border-radius-medium);

   &--horizontal {
      display: flex;
      flex-direction: row;
   }

   &__img-container {
      flex: 1;
      order: 1;

      &--right {
         order: 3;

         .env-embedded__img {
            float: inline-end;
         }
      }
   }

   &__title,
   &__text {
      // Todo: Set deprecated?
      padding-inset-block-start: var(--env-spacing-x-small);
   }

   &__block {
      flex: 3;
      flex-grow: 2;
      order: 2;
      padding-block: var(--env-spacing-medium);
      padding-inline: var(--env-spacing-medium);

      button {
         margin-inset-block-start: var(--env-spacing-medium);
         border-radius: var(--env-button-border-radius);
      }
   }

   &__block--overlay {
      inset-inline-start: 15%;
      position: absolute;
      text-align: center;
      inset-block-start: 15%;
      width: 70%;

      @media screen and (max-width: 769px) {
         inset-inline-start: 5%;
         padding-inset-block-end: var(--env-spacing-small);
         position: relative;
         width: 90%;
      }

      &--right {
         text-align: end;
      }

      &--left {
         text-align: start;
      }
   }

   &__img {
      display: block;
      height: auto;
      max-width: 100%;
   }
}
