.env-post {
   overflow-wrap: anywhere;
   word-break: normal;
   border-radius: var(--env-border-radius-medium);

   &__header,
   &__entry,
   &__attachment,
   &__shared {
      border-block-end: 1px solid transparent;
   }

   &__shared {
      .env-post {
         border-inline-start: 3px solid
            var(--env-element-primary-background-color);
         border-radius: 0;

         &__entry {
            padding-block: var(--env-spacing-x-small);
            padding-inline: var(--env-spacing-x-small);
         }
      }
   }

   > :not(:last-child) {
      padding-block: var(--env-spacing-x-small);
      padding-inline: var(--env-spacing-x-small);
   }
}

.env-comments {
   border-block-start: 1px solid transparent;

   &__wrapper {
      padding-block: var(--env-spacing-x-small);
      padding-inline: var(--env-spacing-x-small);
   }

   &__comment {
      align-items: center;
      padding-inset-block-start: var(--env-spacing-x-small);
   }
}

.env-comment {
   border-block-end: 1px solid transparent;
   padding-block: var(--env-spacing-x-small);
   padding-inline: 0;
   border-radius: var(--env-border-radius-medium);
}

.env-feed {
   &__item:not(:last-child) {
      padding-inset-block-end: var(--env-spacing-x-small);
   }
}
