@use '../abstracts/scss-variables' as *;

.env-icon {
   display: inline-block;
   width: calc(var(--env-font-size-base) * #{$icon-size-x-small});
   height: calc(var(--env-font-size-base) * #{$icon-size-x-small});
   stroke-width: 0;
   stroke: currentColor;
   fill: currentColor;

   &--attention {
      stroke: var(--env-ui-color-status-attention);
      fill: var(--env-ui-color-status-attention);
   }
}

$sizes: (
   xx-small: calc(var(--env-font-size-base) * #{$icon-size-xx-small}),
   x-small: calc(var(--env-font-size-base) * #{$icon-size-x-small}),
   small: calc(var(--env-font-size-base) * #{$icon-size-small}),
   medium: calc(var(--env-font-size-base) * #{$icon-size-medium}),
   large: calc(var(--env-font-size-base) * #{$icon-size-large}),
   x-large: calc(var(--env-font-size-base) * #{$icon-size-x-large}),
   xx-large: calc(var(--env-font-size-base) * #{$icon-size-xx-large}),
);

@each $size, $value in $sizes {
   .env-icon--#{$size} {
      width: $value;
      height: $value;
   }
}

.env-icon--inactive {
   opacity: 0.3;

   &:hover {
      opacity: 0.6;
   }
}
