@use '../abstracts/mixins/backdrop';
@use '../abstracts/mixins/focus';
@use '../abstracts/mixins/sliders';
@use '../abstracts/scss-variables' as *;

.env-image-viewer {
   position: relative;
   text-align: center;

   &__modal {
      display: block;
      inset-block-end: 0;
      inset-inline-start: 0;
      opacity: 1;
      margin-block: 3%;
      margin-inline: 0;
      position: fixed;
      inset-inline-end: 0;
      text-align: center;
      inset-block-start: 0;
      z-index: $zindex-modal;
   }

   &__dialog {
      cursor: default;
      display: inline-block;
      position: relative;
   }

   &__modal-container {
      position: relative;
      text-align: center;
      margin-block: 0;
      margin-inline: auto;
   }

   &__backdrop {
      @include backdrop.backdrop();

      &--in {
         @include backdrop.backdrop-in();
      }
   }

   &__item--prev,
   &__item--next {
      display: flex;
      justify-content: center;
   }

   &--next,
   &--prev {
      appearance: none;
      align-items: center;
      inset-block-end: 0;
      cursor: pointer;
      display: flex;
      font-size: 2em;
      position: absolute;
      inset-block-start: 0;
      width: 33%;
      z-index: $zindex-imageslider-indicator;
      border: none;
      background: transparent;

      @include focus.focus-visible;
   }

   &--next {
      justify-content: flex-end;
      inset-inline-end: 0;
   }

   &--prev {
      justify-content: flex-start;
      inset-inline-start: 0;
   }

   &__item--next,
   &__item--prev {
      position: absolute;
      inset-block-start: 0;
   }

   &__prev-icon,
   &__next-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
      color: var(--env-image-control-color);
      fill: currentColor;
   }

   &__next-icon {
      margin-inset-inline-end: var(--env-spacing-xxx-small);
   }

   &__prev-icon {
      margin-inset-inline-start: var(--env-spacing-xxx-small);
   }

   &__thumbnails {
      inset-block-end: 0;
      display: flex;
      justify-content: center;
      inset-inline-start: 0;
      list-style: none;
      margin-inset-block-start: var(--env-spacing-x-small);
      padding-inset-inline-start: 0;
      inset-inline-end: 0;
      z-index: $zindex-imageslider-indicator;

      li {
         cursor: pointer;
         margin-inset-inline-end: var(--env-spacing-x-small);
         position: relative;
      }
   }

   &__thumbnail {
      display: block;
      object-fit: cover;
      border: $border-width $border-style transparent;
      max-width: 80px;
      opacity: 0.9;
      border-radius: var(--env-border-radius-medium);

      &:active {
         border: $border-width $border-style
            var(--env-element-primary-background-color-light);
         opacity: 1;
      }
   }

   &__indicators {
      @include sliders.slide-indicator;
   }

   &__images {
      display: block;
      @include focus.focus-visible;
   }

   &__img {
      max-width: 100%;
      @include focus.focus-visible;
      border-radius: var(--env-border-radius-medium);

      .env-image-viewer__modal-container & {
         border-radius: 0;
      }
   }

   &--hidden {
      visibility: hidden;
   }
}
