@use '../abstracts/mixins/focus';
@use '../abstracts/mixins/sliders';
@use '../abstracts/scss-variables' as *;

.env-image-slider {
   position: relative;

   &__inner {
      overflow: hidden;
      position: relative;
      width: 100%;
      border-radius: var(--env-border-radius-medium);
   }

   &__item {
      align-items: center;
      backface-visibility: hidden;
      display: none;
      perspective: 1000px;
      position: relative;
      transition: transform 0.5s ease;
      width: 100%;
   }

   &__item--active,
   &__item--prev,
   &__item--next {
      display: flex;
   }

   &--next,
   &--prev {
      appearance: none;
      border: none;
      background: transparent;
      align-items: center;
      inset-block-end: 0;
      display: flex;
      font-size: 2em;
      justify-content: center;
      opacity: 0.5;
      position: absolute;
      text-align: center;
      text-decoration: none;
      inset-block-start: 0;
      width: 15%;

      @include focus.focus-visible;
   }

   &--next {
      inset-inline-end: 0;
   }

   &--prev {
      inset-inline-start: 0;
   }

   &__item--next,
   &__item--prev {
      position: absolute;
      inset-block-start: 0;

      @include focus.focus-visible;
   }

   &__previous-icon,
   &__next-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
      color: var(--env-image-control-color);
      fill: currentColor;
   }

   &__item--next.env-image-slider__item--left,
   &__item--prev.env-image-slider__item--right {
      transform: translate3d(0, 0, 0);
      z-index: 1;
   }

   &__item--next,
   &__item--active.env-image-slider__item--right {
      transform: translate3d(100%, 0, 0);
      z-index: 2;
   }

   &__item--prev,
   &__item--active.env-image-slider__item--left {
      transform: translate3d(-100%, 0, 0);
      z-index: 2;
   }

   &__thumbnails {
      inset-block-end: 0;
      display: flex;
      justify-content: flex-start;
      inset-inline-start: 0;
      list-style: none;
      margin-inset-block-start: var(--env-spacing-x-small);
      overflow: auto;
      padding-inset-inline-start: 0;
      inset-inline-end: 0;
      z-index: $zindex-imageslider-indicator;

      li {
         cursor: pointer;
         margin-inset-inline-end: var(--env-spacing-x-small);
         position: relative;
      }

      .env-image-slider__thumbnail {
         max-width: 90px;
         opacity: 0.4;
         border-radius: var(--env-border-radius-medium);
      }

      .env-image-slider__item--active {
         opacity: 1;
      }
   }

   &__indicators {
      @include sliders.slide-indicator;
   }

   &__caption {
      inset-block-end: var(--env-spacing-large);
      color: rgba(255, 255, 255, 1);
      inset-inline-start: ((100% - 70%) * 0.5);
      padding-inset-block-end: var(--env-spacing-large);
      padding-inset-block-start: var(--env-spacing-large);
      position: absolute;
      inset-inline-end: ((100% - 70%) * 0.5);
      text-align: center;
      z-index: $zindex-imageslider-indicator;
   }
}
