@use '../abstracts/mixins/list';
@use '../abstracts/scss-variables' as *;

.env-list {
   @include list.reset-list();

   &--horizontal {
      display: flex;

      &.env-list-dividers {
         &--left > .env-list__item,
         &--right > .env-list__item {
            align-items: center;
            display: flex;
         }
         &--left > .env-list__item:before {
            @include list.dot-divider();
         }
         &--left > .env-list__item:first-child:before {
            content: none;
         }
         &--right > .env-list__item:after {
            @include list.dot-divider();
         }
         &--right > .env-list__item:last-child:after {
            content: none;
         }
      }

      &--fixed {
         display: flex;
         flex-wrap: wrap;

         @for $i from 1 through 12 {
            &--#{$i} > .env-list__item {
               @include list.basis-value($i);
               box-sizing: border-box;
            }
         }
      }

      &--responsive {
         flex-flow: row wrap;
      }
   }

   &.env-list-dividers {
      &--top > .env-list__item {
         border-top: $border-width $border-style var(--env-border-color-05);
      }
      &--bottom > .env-list__item {
         border-bottom: $border-width $border-style var(--env-border-color-05);
      }
      &--around > .env-list__item {
         border: $border-width $border-style var(--env-border-color-05);
         + .env-list__item {
            margin-top: var(--env-spacing-xxx-small);
         }
      }
   }

   .env-list-item-divider {
      &--top {
         border-top: $border-width $border-style var(--env-border-color-05);
      }
      &--bottom {
         border-bottom: $border-width $border-style var(--env-border-color-05);
      }
      &--around {
         border: $border-width $border-style var(--env-border-color-05);
      }
   }
}

.env-definition-list {
   dd {
      margin: 0;
      padding: 0 0 var(--env-spacing-small);
   }

   &--horizontal {
      $dl-title-width: 9em;

      dt {
         clear: left;
         float: left;
         text-align: right;
         width: $dl-title-width;
      }

      dd {
         margin: 0 0 0 #{$dl-title-width + $spacing-medium}; // Keep
         padding: 0 0 var(--env-spacing-small);
      }
   }
}
