.env-media {
   display: flex;

   > :not(:last-child) {
      margin-block-start: 0;
      margin-inline-end: var(--env-spacing-x-small);
      margin-block-end: 0;
      margin-inline-start: 0;
   }

   &__body {
      flex: 1 1 auto;

      &--inline {
         display: inline;

         > * {
            display: inline;
         }
      }
   }

   &__figure {
      flex: 0 0 auto;

      > a {
         display: block;
      }
   }

   &__body,
   &__figure {
      &--center {
         align-self: center;
      }

      &--bottom {
         align-self: flex-end;
      }
   }

   &--column {
      flex-direction: column;

      > :not(:last-child) {
         margin-block-start: 0;
         margin-inline: 0;
         margin-block-end: var(--env-spacing-x-small);
      }
   }

   &--center {
      align-items: center;
   }

   &--bottom {
      align-items: flex-end;
   }

   &--reverse {
      flex-direction: row-reverse;

      > :not(:last-child) {
         margin-block-start: 0;
         margin-inline-end: 0;
         margin-block-end: 0;
         margin-inline-start: var(--env-spacing-x-small);
      }
   }

   & & {
      // Nested media
      margin-inset-block-start: var(--env-spacing-x-small);
   }
}
