.env-news-item {
   background-color: var(--env-section-background-color);
   color: var(--env-font-color);
   display: flex;
   flex-direction: column;
   margin-block: var(--env-spacing-xxx-small);
   margin-inline: var(--env-spacing-xxx-small);
   overflow-wrap: break-word;
   border-radius: var(--env-border-radius-medium);

   &__headline {
      padding-block: 0;
      padding-inline: var(--env-spacing-x-small);
   }

   &__media,
   &__preamble,
   &__footer {
      padding-block: var(--env-spacing-x-small);
      padding-inline: var(--env-spacing-x-small);
   }
}
