@use '../abstracts/mixins/css-vars';
@use '../abstracts/mixins/popout-menu';
@use '../abstracts/mixins/popover';
@use '../abstracts/scss-variables' as *;

@use 'sass:math';

.env-popover {
   $arrow-size: 11px;

   background-color: var(--env-section-background-color);
   border: $border-width $border-style var(--env-border-color-05);
   border-radius: var(--env-border-radius-medium);
   box-shadow: var(--env-box-shadow);
   font-family: var(--env-font-family);
   color: var(--env-font-color);
   margin: 0;
   max-width: var(--env-popover-width);
   position: relative;
   text-align: left;
   z-index: $zindex-popover;
   overflow-wrap: anywhere;
   word-break: normal;

   &__header {
      border-radius: var(--env-border-radius-medium)
         var(--env-border-radius-medium) 0 0;
      display: block;
      padding: var(--env-spacing-large) var(--env-spacing-x-large)
         var(--env-spacing-small);

      &__title {
         margin-bottom: 0 !important;
      }
   }

   &__content {
      display: block;
      padding: var(--env-spacing-x-large);

      .env-popover__header + & {
         padding-top: var(--env-spacing-small);
      }
   }

   @include popout-menu.popout-menu(#{var(--env-spacing-x-large)});

   &__menu {
      min-width: (math.div(180, $BROWSER_FONT_SIZE) * 1em);
   }

   &__arrow {
      @include popover.arrowBase($arrow-size);
   }

   $arrowLocations: 'top', 'right', 'bottom', 'left';
   $branded-border-width: 4px;

   @each $location in $arrowLocations {
      @include popover.arrow($location, $arrow-size, $branded-border-width);
   }

   &--tooltip {
      // Override theme colors for tooltip class
      @at-root {
         @include css-vars.add-declaration(
            (
               'font-color': var(--env-tooltip-font-color),
               'link-font-color': var(--env-tooltip-font-color),
               'link-hover-font-color': var(--env-tooltip-font-color),
               'link-text-decoration': underline,
               'link-hover-text-decoration': underline,
            ),
            '.env-popover--tooltip'
         );
      }

      & {
         color: var(--env-tooltip-font-color);
         background-color: var(--env-tooltip-background-color);
         border: none !important;
      }

      [class^='env-ui-text-'],
      [class*=' env-ui-text-'] {
         color: var(--env-tooltip-font-color);
      }

      .env-text--muted,
      .env-ui-text-caption {
         color: var(--env-tooltip-font-color);
         filter: opacity(0.65);
      }

      @each $location in $arrowLocations {
         @include popover.arrow(
            $location,
            $arrow-size,
            0,
            var(--env-tooltip-background-color)
         );
      }
   }
}
