@mixin image-size($s) {
   width: $s;
   height: $s;
}

@mixin container-size($s) {
   width: 100%;
   height: 0;
   max-width: $s;
   padding: min(100%, $s) 0 0 0;
}

img.env-profile-image {
   display: block;
   @include image-size(96px);
   object-fit: cover;
   border-radius: var(--env-profile-image-border-radius);

   &--xx-large {
      @include image-size(256px);
   }

   &--x-large {
      @include image-size(224px);
   }

   &--large {
      @include image-size(128px);
   }

   &--medium {
      // Default size, 96 x 96
   }

   &--small {
      @include image-size(64px);
   }

   &--x-small {
      @include image-size(48px);
   }

   &--xx-small {
      @include image-size(32px);
   }
}

div.env-profile-image {
   display: block;
   position: relative;
   @include container-size(96px);
   overflow: hidden;

   img {
      display: block;
      object-fit: cover;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--env-profile-image-border-radius);
   }

   &--w-100 {
      width: 100%;
      height: 0;
      max-width: 100%;
      padding: 100% 0 0 0;
   }

   &--xx-large {
      @include container-size(256px);
   }

   &--x-large {
      @include container-size(224px);
   }

   &--large {
      @include container-size(128px);
   }

   &--medium {
      // Default size, 96 x 96
   }

   &--small {
      @include container-size(64px);
   }

   &--x-small {
      @include container-size(48px);
   }

   &--xx-small {
      @include container-size(32px);
   }

   .env-status-badge {
      position: absolute;
      white-space: nowrap;
      display: block;
      margin: 0; /* !important; */
      padding: 60% 0 0;
      width: 60%;
      height: 0;
      left: auto;
      right: -12%;
      bottom: -12%;
      top: auto;
      overflow: hidden;
      background-color: var(--env-section-background-color);
      border-radius: 50%;

      &:after {
         content: '';
         position: absolute;
         top: 20%;
         left: 20%;
         width: 60%;
         height: 60%;
         margin-top: 0;
         border-radius: 50%;
         border: none;
         background-color: var(--env-font-color);
      }

      &:before {
         content: '';
         position: absolute;
         z-index: 2;
         top: 30%;
         left: 30%;
         width: 40%;
         height: 40%;
         margin-top: 0;
         border-radius: 50%;
         border: none;
         background-color: var(--env-section-background-color);
      }

      &--active {
         &:after {
            background-color: var(--env-ui-color-status-active);
         }

         &:before {
            display: none;
         }
      }
   }
}
