.env-spinner {
   --delay: 0s;
   display: flex;
   justify-content: center;
   height: 60px;
   min-width: 42px;
   font-size: 10px;
   text-align: center;

   &--hide {
      display: none;
      animation-name: none;

      > div {
         animation-name: none;
      }
   }

   > div {
      display: inline-block;
      height: 100%;
      width: 6px;
      margin-block: 0;
      margin-inline: 1px;
      background-color: var(--env-spinner-color);
      transform: scaleY(0.4);
      animation-name: env-stretchdelay;
      animation-duration: 1.2s;
      animation-delay: calc(-0.9s + var(--delay));
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
   }

   .env-rect1 {
      animation-delay: calc(-0.9s + var(--delay));
   }

   .env-rect2 {
      animation-delay: calc(-0.8s + var(--delay));
   }

   .env-rect3 {
      animation-delay: calc(-0.7s + var(--delay));
   }

   .env-rect4 {
      animation-delay: calc(-0.6s + var(--delay));
   }

   .env-rect5 {
      animation-delay: calc(-0.5s + var(--delay));
   }
}

@keyframes env-stretchdelay {
   0%,
   40%,
   100% {
      transform: scaleY(0.4);
   }
   20% {
      transform: scaleY(1);
   }
}

.env-spinner-bounce {
   --delay: 0s;
   min-width: 63px;
   text-align: center;

   &--hide {
      display: none;

      > div {
         animation-name: none;
      }
   }

   > div {
      display: inline-block;
      padding-block: 9px;
      padding-inline: 9px;
      border-radius: 100%;
      background-color: var(--env-spinner-color);
      transform: scaleY(0);
      animation-name: env-loader;
      animation-duration: 1.4s;
      animation-delay: var(--delay);
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
   }

   .env-bounce1 {
      animation-delay: calc(-0.32s + var(--delay));
   }

   .env-bounce2 {
      animation-delay: calc(-0.16s + var(--delay));
   }

   .env-bounce3 {
      animation-delay: var(--delay);
   }
}

@keyframes env-loader {
   0%,
   80%,
   100% {
      transform: scale(0);
   }

   40% {
      transform: scale(1);
   }
}

.env-spinner,
.env-spinner-bounce {
   animation-play-state: paused;

   &--fade-in {
      --delay: 0.5s;
      animation-name: env-fadein;
      animation-duration: 0.5s;
      animation-delay: var(--delay);
      animation-iteration-count: 1;
      animation-play-state: running;
      animation-fill-mode: both;

      &[data-delay='short'] {
         --delay: 0.25s;
      }

      &[data-delay='long'] {
         --delay: 1s;
      }
   }
}

@keyframes env-fadein {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
