@use '../abstracts/mixins/focus';
@use '../abstracts/mixins/list';
@use '../abstracts/mixins/nav';
@use '../abstracts/scss-variables' as *;

.env-tabs {
   $radius: min(var(--env-border-radius-medium), 1em);
   &__nav {
      @include list.reset-list();
      display: flex;

      &--border-bottom {
         border-block-end: $tab-bottom-width $border-style
            var(--env-ui-color-brand);
      }

      :first-child > a {
         margin-inset-inline-start: 0;
      }

      :last-child > a {
         margin-inset-inline-end: 0;
      }
   }

   &__link,
   [role='tab'] {
      display: block;
      align-items: center;
      box-sizing: border-box;
      appearance: none;
      font-family: var(--env-font-family);
      font-size: var(--env-font-size-medium);
      line-height: 1;
      text-align: start;
      color: var(--env-font-color);
      background-color: transparent;
      border: {
         style: none;
         width: 0;
         radius: 0;
      }
      box-shadow: none;
      text-shadow: none;
      text-decoration: none;
      cursor: pointer;
      transition:
         background-color 0.25s ease,
         color 0.25s ease;
      border-radius: $radius $radius 0 0;
      margin-block: 0;
      margin-inline: var(--env-spacing-xxx-small);
      padding-block: var(--env-spacing-x-small);
      padding-inline: var(--env-spacing-medium);

      &[aria-selected='true'] {
         background-color: var(--env-ui-color-brand);
         color: var(--env-ui-color-brand-contrast);
      }

      @include focus.focus-visible;
   }

   &__panel[role='tabpanel'] {
      @include focus.focus-visible;
   }

   &--simple {
      @include list.reset-list();
      display: flex;

      .env-tabs__link,
      [role='tab'] {
         background-color: transparent;
         border-color: transparent;
         color: var(--env-font-color);
         margin-block: 0;
         margin-inline: var(--env-spacing-xx-small);
         padding-block: var(--env-spacing-x-small);
         padding-inline: var(--env-spacing-x-small);
         transition: border-color 0.5s ease;

         &[aria-selected='true'] {
            border-block-end: $tab-bottom-width $border-style
               var(--env-ui-color-brand);
         }

         &:hover {
            border-block-end: $tab-bottom-width $border-style
               var(--env-ui-color-brand);
         }

         @include focus.focus-visible;
      }
   }

   &--hover-fill {
      .env-tabs__link {
         @include nav.nav-link();
         @include nav.filled-nav-states();
      }
   }

   &--column {
      display: block;
      width: 100%;
   }

   &--column [role='tab'] {
      border-radius: $radius;
      margin-block: 0;
      margin-inline: 0;
   }
}
