@use '../abstracts/functions';
@use '../abstracts/mixins/focus';
@use '../abstracts/mixins/form';
@use '../abstracts/scss-variables' as *;

@use 'sass:math';

.env-select {
   position: relative;

   &.single {
      // Single select version
      .env-select__input {
         padding: 0.25em 2em 0.25em 0.5em;

         > input {
            min-width: 0;
         }
      }

      .env-select__item {
         font-size: 1em;
         background-color: transparent;
         color: var(--env-form-input-font-color);
         padding: 0.5625em 0.25em;
      }

      > .env-icon {
         pointer-events: none;
         display: block;
         position: absolute;
         top: 50%;
         right: 0.9375em;
         transform: translateY(-50%);
         width: 0.875em;
         height: 0.875em;
      }
   }

   &__input {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      font-family: inherit;
      background-color: var(--env-form-input-background-color);
      background-image: none;
      border: $border-width $border-style var(--env-form-input-border-color);
      border-radius: var(--env-form-input-border-radius);
      box-sizing: border-box;
      color: var(--env-form-input-font-color);
      font-size: var(--env-font-size-medium);
      line-height: 1;
      margin: 0;
      padding: 0.25em;
      gap: 0.25em;
      transition:
         border-color 0.2s ease-in-out,
         box-shadow 0.2s ease-in-out;
      width: 100%;
      min-height: (math.div($form-input-height, $BROWSER_FONT_SIZE) * 1em);
      cursor: text;
      overflow: hidden;

      .env-select.plugin-clear_button.has-items & {
         padding-right: 3.2em;
      }

      > * {
         vertical-align: baseline;
         display: inline-flex;
      }

      .env-select.focus & {
         @include focus.focus-outline();
      }

      .env-select--locked &,
      .env-select.locked &,
      .env-select.disabled & {
         @include form.disabled;

         .env-select__input__clear {
            display: none !important;
         }
      }

      .env-select--locked &,
      .env-select.locked & {
         &,
         .env-select__item,
         a,
         button {
            cursor: default !important;
         }
      }

      .env-select.disabled & {
         * {
            cursor: default !important;
         }
      }

      &__clear {
         display: none;
         appearance: none;
         box-sizing: border-box;
         cursor: pointer;
         position: absolute;
         top: 50%;
         right: 1em;
         transform: translateY(-50%);
         min-height: 2em;
         margin: 0;
         padding: 0;
         text-align: center;
         line-height: 1.2;
         border: none; // 1px solid;
         font-family: var(--env-button-font-family);
         font-weight: var(--env-button-font-weight);
         letter-spacing: var(--env-button-letter-spacing);
         text-transform: var(--env-button-text-transform);
         border-radius: calc(var(--env-button-border-radius) * 1);
         font-size: var(--env-font-size-x-small);
         background-color: transparent;
         color: var(--env-link-font-color);
         text-decoration: var(--env-link-text-decoration);

         @include focus.focus-visible();
      }

      .env-select.has-items & .env-select__input__clear {
         display: block;
      }
   }

   &__item {
      cursor: pointer;
      align-items: center;
      display: flex;
      border-radius: var(--env-border-radius-medium);
      font-size: functions.em(14px);
      line-height: 1;
      padding: functions.em(10px, 14px);
      color: var(--env-element-primary-font-color);
      background-color: var(--env-element-primary-background-color);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .env-select.plugin-remove_button & {
         padding: 0 0 0 functions.em(10px, 14px);
      }

      &__remove {
         text-decoration: none !important;
         color: var(--env-element-primary-font-color);
         padding: functions.em(10px, 14px) functions.em(7px, 14px);
      }
   }

   &__dropdown {
      display: none;
      background-color: var(--env-section-background-color);
      color: var(--env-font-color);
      border: $border-width $border-style var(--env-border-color-05);
      border-radius: var(--env-border-radius-medium);
      box-shadow: var(--env-box-shadow-small);
      position: absolute;
      top: calc(100% + 4px);
      right: 0;
      left: 0;
      z-index: $zindex-tagselect;
      font-size: var(--env-font-size-medium);

      &__content {
         padding: var(--env-spacing-x-small) 0;
         max-height: 200px;
         overflow-x: hidden;
         overflow-y: auto;
         scroll-behavior: smooth;
      }

      .create,
      .no-results,
      &__option {
         padding: var(--env-spacing-x-small);
      }

      .create,
      &__option {
         &:hover,
         &.active {
            background-color: var(--env-section-background-color-05);
            color: var(--env-font-color);
         }
      }
   }

   &__spinner {
      display: inline-block;
      margin: var(--env-spacing-small) auto 0 0;
      padding: 0 0 0 var(--env-spacing-x-small);
   }
}

.env-select__input > input {
   background: none;
   color: var(--env-form-input-font-color);
   border: 0;
   box-shadow: none;
   display: inline-block;
   font-size: 1em;
   line-height: math.div(34, $BROWSER_FONT_SIZE);
   max-height: none;
   max-width: 100%;
   min-height: 0;
   min-width: 1rem;
   padding: 0 0 0 0.25em;
   text-indent: 0;
   user-select: auto;

   .env-select.full & {
      position: absolute;
      top: -99999px;
      left: -99999px;
      opacity: 0;
   }

   &:last-child,
   .env-select.plugin-clear_button &:nth-last-child(2) {
      // Grow input only if placed last (not moved by user)
      flex: 1 1 auto;
      min-width: 7rem;
   }

   .env-select:not(.plugin-clear_button) &:not(:last-child),
   .env-select.plugin-clear_button &:not(:nth-last-child(2)) {
      // Clear button or No clear button + input moved left by using arrow keys.
      // Placeholder might not fit. We will hide it.
      @include form.placeholder {
         color: transparent;
      }
   }

   @include form.placeholder {
      color: var(--env-form-input-font-color);
      filter: opacity(0.65);
   }

   &:focus {
      @include focus.wcagSafeOutlineNone;
   }
}
