ul.env-text-list {
   list-style: var(--env-text-list-ul-style-type);
}
ol.env-text-list {
   list-style: var(--env-text-list-ol-style-type);
}

.env-text-list:is(ul, ol) {
   padding-block-start: var(--env-text-list-padding-block-start);
   padding-inline-end: var(--env-text-list-padding-inline-end);
   padding-block-end: var(--env-text-list-padding-block-end);
   padding-inline-start: var(--env-text-list-padding-inline-start);

   margin-block-start: var(--env-text-list-margin-block-start);
   margin-inline-end: var(--env-text-list-margin-inline-end);
   margin-block-end: var(--env-text-list-margin-block-end);
   margin-inline-start: var(--env-text-list-margin-inline-start);

   :is(ul, ol) {
      margin-block-start: 0;
      margin-block-end: 0;
   }

   li {
      padding-block-start: var(--env-text-list-item-padding-block-start);
      padding-inline-end: var(--env-text-list-item-padding-inline-end);
      padding-block-end: var(--env-text-list-item-padding-block-end);
      padding-inline-start: var(--env-text-list-item-padding-inline-start);

      margin-block-start: var(--env-text-list-item-margin-block-start);
      margin-inline-end: var(--env-text-list-item-margin-inline-end);
      margin-block-end: var(--env-text-list-item-margin-block-end);
      margin-inline-start: var(--env-text-list-item-margin-inline-start);
   }
}
