@use '../abstracts/scss-variables' as *;

.env-tooltip {
   $arrow-size: 6px;

   &--inline {
      display: inline-block;
   }

   [role='tooltip'] {
      display: none;
      background-color: var(--env-tooltip-background-color);
      color: var(--env-tooltip-font-color);
      padding-block: 0.25em;
      padding-inline: 0.75em;
      border-radius: var(--env-tooltip-border-radius);
      font-family: var(--env-tooltip-font-family);
      font-size: var(--env-tooltip-font-size);
      font-weight: var(--env-tooltip-font-weight);
      line-height: $line-height-medium !important;
      text-align: center;
      white-space: nowrap;

      &::after {
         display: block;
         position: absolute;
         content: '';
         width: 0;
         height: 0;
         border: $arrow-size solid transparent;
      }

      &[data-popper-placement^='top']::after {
         inset-inline-start: calc(50% - #{$arrow-size});
         inset-block-end: $arrow-size * -1;
         border-block-start: $arrow-size solid
            var(--env-tooltip-background-color);
         border-block-end: none;
      }

      &[data-popper-placement^='bottom']::after {
         inset-inline-start: calc(50% - #{$arrow-size});
         inset-block-start: $arrow-size * -1;
         border-block-end: $arrow-size solid var(--env-tooltip-background-color);
         border-block-start: none;
      }

      &[data-popper-placement^='right']::after {
         inset-block-start: calc(50% - #{$arrow-size});
         inset-inline-start: $arrow-size * -1;
         border-inline-end: $arrow-size solid
            var(--env-tooltip-background-color);
         border-inline-start: none;
      }

      &[data-popper-placement^='left']::after {
         inset-block-start: calc(50% - #{$arrow-size});
         inset-inline-end: $arrow-size * -1;
         border-inline-start: $arrow-size solid
            var(--env-tooltip-background-color);
         border-inline-end: none;
      }
   }
}
