.env-ui-section {
   background-color: var(--env-section-background-color);
   color: var(--env-font-color);
}

.env-ui-section-05 {
   background-color: var(--env-section-background-color-05);
   color: var(--env-font-color);
}
