.@{prefix}-base {
   display: flex;
   flex-direction: row;
   position: relative;
   padding: 0 @space1;

   &--large {
      flex-grow: 1;
      align-self: center;
      margin: @space1 0;
   }

   &--left {
      align-self: center;
      margin: @space1 @space1 @space1 0;
   }

   &--right {
      align-self: center;
      margin-left: @space1;

      &--top {
         margin-top: @space1;
      }
   }

   &--box {
      background-color: @color-element-bg;
   }

   &--tab {
      padding: @space1 0 0 0;
      margin: 0;
   }

   &--active {
      border-left: @space0 solid @color-brand;
      padding-left: @space0;

      &.@{prefix}-base--indent {
         padding-left: @space7 - @space0;
      }
   }

   &--indent {
      padding-left: @space7;
   }

   &--menu {
      background-color: @color-element-bg;
      padding: 0;
   }
}
