.@{prefix}-base {
   display: flex;
   flex-direction: row;
   position: relative;
   padding: 0 @space1;

   &--lagre {
      flex-grow: 1;
      align-self: center;
      margin: @space1 0;
   }

   &--left {
      align-self: center;
      margin: @space1 @space1 @space1 0;
   }

   &--right {
      align-self: center;
      margin-left: @space1;
   }

   &--box {
      background-color: @color-element-bg;
   }

   &--tab {
      padding: @space1 0 0 0;
      margin: 0;
   }

   &--active {
      border-left: @space1 solid @color-brand;
      padding-left: @space0;
   }

   &--active {
      border-left: @space0 solid @color-brand;
      padding-left: @space0;
   }

   &--indent {
      padding-left: @space7;
   }
}
