.@{prefix}-button {
   appearance: none;
   background-color: rgba(0, 0, 0, .05);
   border: 1px solid transparent;
   border-radius: @radius1;
   box-sizing: border-box;
   color: @font-color;
   cursor: pointer;
   display: inline-block;
   font-size: @font-size-small;
   font-weight: @font-weight-regular;
   line-height: @line-height-small;
   margin: 0;
   padding: @space0 @space1;
   text-align: center;
   text-decoration: none;
   user-select: none;
   vertical-align: middle;
   white-space: nowrap;

   &:hover,
   &.btn--hover {
      background-color: rgba(0, 0, 0, .05);
      border-color: rgba(0, 0, 0, .1);
   }

   &:active,
   &.btn--active {
      background-color: rgba(0, 0, 0, .2);
      border: 1px solid rgba(0, 0, 0, .2);
      box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, .3);
   }

   &:focus,
   &.btn--focus {
      background-color: rgba(0, 0, 0, .2);
      border-color: rgba(0, 0, 0, .2);
   }

   &--primary {
      background-color: @color-brand;
      border-color: @color-brand;
      color: @font-color-invert;

      &:hover,
      &.btn--hover {
         background-color: @color-brand-dark;
         border-color: @color-brand-dark;
      }

      &:active,
      &.btn--active {
         background-color: @color-brand-dark;
         border-color: @color-brand-dark;
         box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, .3);
      }

      &:focus,
      &.btn--focus {
         background-color: @color-brand-dark;
         border-color: @color-brand-dark;
      }
   }

   &--danger {
      background-color: @color-danger;
      border-color: @color-danger;
      color: @font-color-invert;

      &:hover,
      &.btn--hover {
         background-color: @color-danger-dark;
         border-color: @color-danger-dark;
      }

      &:active,
      &.btn--active {
         background-color: @color-danger-dark;
         border-color: @color-danger-dark;
         box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, .3);
      }

      &:focus,
      &.btn--focus {
         background-color: @color-danger-dark;
         border-color: @color-danger-dark;
      }
   }

   &--link {
      background-color: transparent;
      border-color: transparent;
      color: @font-color;

      &:hover,
      &.btn--hover {
         background-color: @color-dark;
         border-color: @color-dark;
      }

      &:active,
      &.btn--active {
         background-color: @color-dark;
         border-color: @color-dark;
         box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, .3);
      }

      &:focus,
      &.btn--focus {
         background-color: @color-dark;
         border-color: @color-dark;
      }
   }

   &--dropdown {
      background-color: transparent;
      border-color: transparent;
      color: #1d1d1b;
      height: @space7;
      padding: 0;
      width: @space7;

      &:hover {
         background-color: rgba(0, 0, 0, .1);
         border-color: transparent;
      }

      &:focus,
      &.btn--focus {
         background-color: rgba(0, 0, 0, .2);
         border-color: transparent;
      }
   }

   &--large {
      font-size: @font-size-large;
      font-weight: @font-weight-regular;
      line-height: @line-height-large;
      padding: @space0 @space3;
   }

   &--small {
      font-size: @font-size-small;
      font-weight: @font-weight-regular;
      line-height: @line-height-small;
      padding: @space0 @space2;
   }

   &--tiny {
      font-size: @font-size-small;
      font-weight: @font-weight-regular;
      line-height: @line-height-small;
      padding: @space0 @space0;
   }

   &--disabled,
   &[disabled] {
      cursor: not-allowed;
      opacity: .55;
   }


   &__toolbar {
      align-self: center;
      flex-grow: 1;
   }

   &--tool {
      background-color: rgba(0, 0, 0, .05);
      border-color: transparent;
      border-radius: 0;
      float: left;
      margin-right: 1px;

      &:first-child {
         border-radius: @radius1 0 0 @radius1;
      }

      &:last-child {
         border-radius: 0 @radius1 @radius1 0;
         margin-right: 0;
      }

      &:hover,
      &.btn--hover {
         background-color: rgba(0, 0, 0, .1);
         border-color: transparent;
      }

      &:focus,
      &.btn--focus {
         background-color: rgba(0, 0, 0, .2);
         border-color: transparent;
      }

      &--active {
         background-color: @color-brand;
         border-color: @color-brand;
         color: @font-color-invert;

         &:hover,
         &.btn--hover {
            background-color: darken(@color-brand, 5%);
            border-color: darken(@color-brand, 5%);
         }

         &:active,
         &.btn--active {
            background-color: darken(@color-brand, 5%);
            border-color: darken(@color-brand, 5%);
         }

         &:focus,
         &.btn--focus {
            background-color: darken(@color-brand, 10%);
            border-color: darken(@color-brand, 10%);
         }
      }

      .clear-fix()
   }

   &--divider {
      background-color: transparent;
      cursor: default;

      &:hover,
      &:active,
      &:focus {
         background: transparent;
         box-shadow: initial;
      }
   }

   &__tabs {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
         display: inline-block;
      }
   }

   &--tab {
      background-color: rgba(0, 0, 0, .05);
      border-bottom-color: transparent;
      border-top-left-radius: @radius1;
      border-top-right-radius: @radius1;
      display: inline-block;
      line-height: @line-height-small;
      padding: @space0 @space1;

      &:hover {
         background-color: rgba(0, 0, 0, .1);
         border-color: transparent;
      }

      &:focus,
      &.btn--focus {
         background-color: rgba(0, 0, 0, .2);
         border-color: transparent;
      }

      &--active {
         background-color: @color-brand;
         border-bottom-left-radius: 0;
         border-bottom-right-radius: 0;
         border-color: @color-brand;
         color: @font-color-invert;

         &:hover,
         &.btn--hover {
            background-color: darken(@color-brand, 5%);
            border-color: darken(@color-brand, 5%);
         }

         &:active,
         &.btn--active {
            background-color: darken(@color-brand, 5%);
            border-color: darken(@color-brand, 5%);
         }

         &:focus,
         &.btn--focus {
            background-color: darken(@color-brand, 10%);
            border-color: darken(@color-brand, 10%);
         }
      }
   }

   &--group {
      position: relative;

      .@{prefix}-button {
         border-radius: 0;
         float: left;

         &:first-child {
            border-radius: @radius1 0 0 @radius1;
            margin-right: 1px;
         }

         &:nth-child(2) {
            border-radius: 0 @radius1 @radius1 0;
         }
      }

      .clear-fix()
   }
}
