body {
   background-color: @color-page-bg;
   font-family: @font-family;
}

.test-menu {
   position: fixed;
}

.test-menu li {
   list-style: none;
}

.test-menu li .menu-item {
   border-radius: 3px;
   cursor: pointer;
   display: inline-block;
   padding: 4px 8px;
}

.test-menu li.active .menu-item {
   background-color: @color-brand;
   color: @font-color-invert;
}

.row {
   box-sizing: content-box;
   padding: 0 @line-height-large @line-height-large 0;
}

[class^="col-"] {
   box-sizing: content-box;
   display: inline-block;
}

/* Loop though and build col */
.span-loop (@i) when (@i > 0) {
   .col-@{i} {
      float: left;
      width: ((100% / @grid-columns) * @i);
   }

   .span-loop(@i - 1);
}

.span-loop (@grid-columns);

.s {
   color: #d44950;
}

.na {
   color: #4f9fcf;
}

.nt {
    color: #2f6f9f;
}

.example {
   background-color: @font-color-invert;
   border-color: @color-element-bg;
   border-radius: @radius2 @radius2 0 0;
   border-style: solid;
   border-width: 1px 1px 0 1px;
   margin: 0 -@line-height-small @line-height-small;
   margin-left: 0;
   margin-right: 0;
   padding: @space8 @line-height-small @line-height-small;
   position: relative;
}

.figure {
   margin: -@line-height-small -@line-height-small @line-height-small;
}

.example:after {
   color: @color-light;
   content: "Example";
   font-size: @font-size-xtrasmall;
   font-weight: @font-weight-bold;
   left: 15px;
   letter-spacing: 1px;
   position: absolute;
   text-transform: uppercase;
   top: 15px;
}

.figure--highlight {
   background-color: #f7f7f9;
   border: 1px solid #e1e1e8;
   border-color: @color-element-bg;
   border-radius: 0 0 @radius2 @radius2;
   border-style: solid;
   border-width: 0 1px 1px 1px;
}

pre {
   border-radius: 4px;
   color: #333333;
   display: block;
   font-size: 13px;
   line-height: 1.42857143;
   margin: 0;
   padding: 9.5px;
   word-break: break-all;
   word-wrap: break-word;
}

pre code {
   background-color: transparent;
   border-radius: 0;
   color: inherit;
   font-size: inherit;
   padding: 0;
   white-space: pre-wrap;
}

.highlight pre {
   background-color: transparent;
   border: 0;
   margin-bottom: 0;
   margin-top: 0;
   padding: 0;
   white-space: nowrap;
   word-break: normal;
}

.wrapper {
   max-width: @page-width;
}

.wrapper--center {
   margin: 0 auto;
}

.wrapper--plate {
   background-color: @font-color-invert;
   padding: @line-height-extralarge;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   box-sizing: border-box;
   color: inherit;
   font-family: inherit;
   font-weight: 500;
   line-height: 1.1;
   margin-bottom: @space1;
   margin-top: @space3;
}

h1 {
   font-size: @font-size-super;
   line-height: @line-height-super;
}

h2 {
   font-size: @font-size-extralarge;
   line-height: @line-height-extralarge;
}

h3 {
   font-size: @font-size-large;
   line-height: @line-height-large;
}

h4 {
   font-size: @font-size-normal;
   line-height: @line-height-normal;
}

h5 {
   font-size: @font-size-small;
   line-height: @line-height-small;
}

h6 {
   font-size: @font-size-xtrasmall;
   line-height: @line-height-xtrasmall;
}

.h1--base-line {
   border-bottom: 1px solid @color-element-bg;
}
