.sv-font {
   font-family: 'Roboto', sans-serif;
   color: @typeC;
   line-height: 1.1;
   margin: 0;

   &--title {
      font-weight: @fontW2;
      font-size: @fontS2;

   }

   &--detail {
      font-weight: @fontW0;
      color: @typeLightC;
   }

   &--comments {
      font-weight: @fontW1;
   }

   &--detail-small {
      font-weight: @fontW0;
      font-size: @fontS1;
      color: @typeLightC;
   }

   &--tagline {
      font-weight: @fontW0;
      font-size: @fontS1;
      color: @typeLightC;
      margin-top: @space0;
   }

   &--empty {
      font-weight: @fontW0;
      font-size: @fontS1;
      color: @typeLightC;
      text-align: center;
      margin: @space8 0;
      font-style: italic;
   }
}
