.list {
   padding: 0;
   background-color: @lightC;
   margin: 0;

   li {
      display: flex;
      flex-direction: row;
      list-style: none;
   }

   &__item {
      padding: @space1 @space2;
   }

   &--image .list__image {
      margin-right: @space1;
   }

   &--gallery {
      display: flex;
      flex-wrap: wrap;
      padding: @space1 0 0 @space2;

      .list__item {
         padding: 0;
         margin: 0 @space1 @space1 0;
      }
   }

   &--empty {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100px;

      .item {
         max-width: 50%;
         font-style: italic;
         font-size: @fontS1;
      }
   }

   &--icon:before {
      font-family: 'icomoon' !important;
      content: "\e90d";
      font-size: @fontS5;
      display: flex;
      align-items: center;
      margin-right: @space1;
   }

   &--active {
      border-left: @space0 solid @brandC;
      padding-left: @space1;
   }


   &__image {
      align-self: center;
      width: 44px;
      height: 44px;
      overflow: hidden;
      border-radius: @radius1;

      img {
         width: 100%;
         height: auto;
      }
   }

   &__text {
      align-self: center;
   }

   &__headline {
      font-size: @fontS3;
   }

   &__subline {
      font-size: @fontS2;
      color: @typeLightC;
   }

   &__action {
      align-self: center;
      margin-left: auto;
   }
}
