.sv-social {
   margin-top: 2px;

   &__link {
      font-weight: @fontW0;
      font-size: @fontS1;
      color: @typeLightC;
      text-decoration: none;
      margin-right: -3px;
      padding: 2px @space0;
      border-radius: @radius1;
      cursor: pointer;

      &:hover {
         background-color: rgba(0,0,0,0.1);

      }

      &:focus {
         background-color: rgba(0, 0, 0, 0.2);
      }

      &:first-child {
         margin-left: -@space0;
      }
   }

   &__time {
      font-weight: @fontW0;
      font-size: @fontS1;
      color: @typeLightC;
      text-decoration: none;
      margin-right: -3px;
      padding: 2px @space0;
      border-radius: @radius1;

      &:first-child {
         margin-left: -@space0;
      }
   }

   &__between {
      font-size: @fontS1;
      color: @typeLightC;
      margin: 0 -6px 0 -4px;
   }

   &--sub {
      padding-left: @space7;
   }
}
