.#{$prefix}-badge {
   background-color: $color-brand;
   border-radius: $badge-radius;
   color: $badge-font-color;
   display: inline-block;
   font-family: $font-family;
   font-size: $badge-font-size;
   font-weight: $font-weight-bold;
   padding: $spacing-xx-small $spacing-x-small;
   vertical-align: baseline;

   &--success {
      background-color: $color-success;
   }

   &--warning {
      background-color: $color-warning;
   }

   &--danger {
      background-color: $color-danger;
   }

   &--info {
      background-color: $color-info;
   }
}
