.#{$prefix}-badge {
   border-radius: $badge-radius;
   color: $badge-font-color;
   display: inline-block;
   font-size: $badge-font-size;
   font-weight: $font-weight-bold;
   padding: $badge-padding;
   vertical-align: baseline;

   &--default {
      background-color: $color-brand;
   }
   &--success {
      background-color: $color-success;
   }
   &--warning {
      background-color: $color-warning;
   }
   &--danger {
      background-color: $color-danger;
   }
}
