.#{$prefix}-badge {
   border-radius: $badge-border-radius;
   display: inline-block;
   font-family: $badge-font-family;
   font-size: $badge-font-size;
   font-weight: $font-weight-bold;
   padding: $spacing-xx-small $spacing-x-small;
   vertical-align: baseline;

   @include badge-color-variant();

   &--success {
      @include badge-color-variant($badge-success-font-color, $badge-success-background-color);
   }

   &--warning {
      @include badge-color-variant($badge-warning-font-color, $badge-warning-background-color);
   }

   &--danger {
      @include badge-color-variant($badge-danger-font-color, $badge-danger-background-color);
   }

   &--info {
      @include badge-color-variant($badge-info-font-color, $badge-info-background-color);
   }
}
