.#{$prefix}-base {
   display: flex;
   flex-direction: row;
   list-style: none;
   padding: 0 $spacing-x-small;
   position: relative;

   &__item {
      margin: $spacing-x-small 0;
   }

   &--large {
      flex-grow: 1;
      margin: $spacing-x-small 0;
   }

   &--inside {
      flex-grow: 1;
      margin: $spacing-x-small #{-$spacing-x-small};
   }

   &--left {
      margin: $spacing-x-small $spacing-x-small $spacing-x-small 0;
   }

   &--right {
      margin: $spacing-x-small 0 $spacing-x-small $spacing-x-small;
   }

   &--action-dropdown {
      margin-left: $spacing-x-small;
      margin-right: #{-$spacing-x-small};
   }

   &--align-vertical {
      align-items: center;
      justify-content: center;
   }

   &--box {
      background-color: $color-element-bg;
      border-bottom: 1px solid #ffffff;
   }

   &--navbar {
      background-color: $color-brand;
   }

   &--tab {
      margin: 0;
      padding: $spacing-x-small 0 0;
   }

   &--active {
      border-left: $spacing-xx-small solid $color-brand;
      padding-left: $spacing-xx-small;

      &.#{$prefix}-base--indent {
         padding-left: $spacing-xxx-large - $spacing-xx-small;
      }
   }

   &--indent {
      padding-left: $spacing-xxx-large;
   }

   &--menu {
      background-color: $color-element-bg;
      padding: 0;
   }
}
