.#{$prefix}-breadcrumb {
   list-style: none;
   margin: 0;
   padding: 0;

   &__item {
      display: inline-block;

      &:nth-child(1n+2)::before {
         color: $breadcrumb-divider-color;
         content: "#{$breadcrumb-divider}";
         display: inline-block;
         padding-left: $spacing-x-small;
         padding-right: $spacing-x-small;
      }
   }
}
