.#{$prefix}-button {
   @include button-base($button-border-radius);

   // Variants
   &--primary {
      @include button-color-variant($font-color-invert, $color-brand, $color-brand);
   }

   &--invert {
      @include button-color-variant($color-brand, $font-color-invert, $font-color-invert);
   }

   &--danger {
      @include button-color-variant($font-color-invert, $color-danger, $color-danger);
   }

   &--link {
      @include button-color-variant($font-color, transparent, transparent);
   }

   // Sizes
   &--large {
      @include button-size($spacing-xx-small, $spacing-x-small, $font-size-large, $line-height-large);
   }

   &--small {
      @include button-size($spacing-xx-small, $spacing-xx-small, $font-size-small, $line-height-small);
   }

   &--block {
      display: block;
      width: 100%;
   }

   &--disabled,
   &[disabled] {
      cursor: not-allowed;
      opacity: .55;
   }

   &--dropdown {
      background-color: transparent;
      border-color: transparent;
      color: #1d1d1b;
      height: $spacing-xxx-large;
      padding: 0;
      width: $spacing-xxx-large;

      &:hover {
         background-color: rgba(0, 0, 0, .1);
         border-color: transparent;
      }

      &:focus {
         background-color: rgba(0, 0, 0, .2);
         border-color: transparent;
      }
   }

   &--divider {
      background-color: transparent;
      cursor: default;

      &:hover,
      &:active,
      &:focus {
         background: transparent;
         box-shadow: initial;
      }
   }
}
