.#{$prefix}-collapse {
   display: none;

   &--collapsing {
      display: block;
      height: 0;
      overflow: hidden;
      position: relative;
      transition: height $collapse-toggle-duration ease;
   }

   &--show {
      display: block;
   }
}

.#{$prefix}-collapse-header {
   text-align: left;
   width: 100%;
   padding: $spacing-x-small;
   margin-bottom: $spacing-xx-small;
   cursor: pointer;
   display: inline-block;
   box-sizing: border-box;
   border: $collapse-heading-border;
   background-color: $collapse-heading-bg-color;

   &.#{$prefix}-collapse--expanded {
      background-color: $collapse-heading-bg-color-expanded;
      border: $collapse-heading-border-expanded;
   }

   &.#{$prefix}-collapse-header--icons {
      min-height: $collapse-heading-min-height;
      position: relative;

      &::before,
      &::after {
         content: "";
         top: $collapse-icon-top;
         right: $collapse-icon-right;
         width: $collapse-icon-width;
         height: $collapse-icon-height;
         transition: transform $collapse-toggle-duration ease-out;
         position: absolute;
         background-color: $collapse-icon-color;
      }
      
      &:not(.#{$prefix}-collapse--expanded) {
         &::before {
            transform: rotate(-90deg);
         }
      }
    
      &:hover {
         background-color: $collapse-heading-bg-color-expanded;
         border: $collapse-heading-border-expanded;
      }
   }
}