.#{$prefix}-collapse {
   display: none;

   &--collapsing {
      display: block;
      height: 0;
      overflow: hidden;
      position: relative;
      transition: height $collapse-toggle-duration ease;
   }

   &--show {
      display: block;
   }

   :first-child {
      padding-top: $spacing-xx-small;
   }
}

.#{$prefix}-collapse-header {
   width: 100%;
   padding: $spacing-x-small;
   cursor: pointer;
   box-sizing: border-box;
   border: $collapse-heading-border;
   background-color: $collapse-heading-bg-color;

   &:focus {
      @include focus();
   }

   &:hover {
      background-color: $collapse-heading-bg-color-expanded;
      border: $collapse-heading-border-expanded;
   }

   &.#{$prefix}-collapse--expanded {
      background-color: $collapse-heading-bg-color-expanded;
      border: $collapse-heading-border-expanded;
   }
}

[data-#{$prefix}-collapse] {
   &:not(.#{$prefix}-collapse--expanded) {
      .#{$prefix}-collapse-header--icons {
         &::before {
            transform: rotate(-90deg);
         }
      }
   }
}

.#{$prefix}-collapse-header--icons {
   margin-left: $collapse-icon-width;
   min-height: $collapse-heading-min-height;
   position: relative;

   &::before,
   &::after {
      content: "";
      top: $collapse-icon-top;
      right: $collapse-icon-right;
      width: $collapse-icon-width;
      height: $collapse-icon-height;
      transition: transform $collapse-toggle-duration ease-out;
      position: absolute;
      background-color: $collapse-icon-color;
   }
}
