.#{$prefix}-dropdown {
   position: relative;

   &__menu {
      background-color: $font-color-invert;
      border: $border-light;
      border-radius: $radius-small;
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      display: none;
      font-family: $font-family;
      font-size: $font-size-medium;
      left: 0;
      list-style: none;
      max-width: 240px;
      min-width: 180px;
      padding-left: 0;
      padding-top: $spacing-xx-small;
      position: absolute;
      top: $spacing-medium;
      z-index: $zindex-dropdown;

      &--large {
         top: $spacing-xxx-large;
      }
   }

   &__item {
      display: block;
      padding: $spacing-x-small;
      @include truncate-text();

      &:hover {
         background-color: rgba(0, 0, 0, .1);
      }
   }

   &__item:last-child {
      margin-bottom: $spacing-xx-small;
   }

   &--divider {
      border-bottom: $border-light;
      margin: $spacing-xx-small 0;
   }

   &--toggle-split {
      margin-left: 1px;
      margin-right: 1px;
   }

   &--toggle-split::after {
      margin-left: 0;
      margin-right: 0;
   }

   &-icon {
      vertical-align: middle;
   }
}
.#{$prefix}-is-open {

   .#{$prefix}-dropdown__menu {
      display: block;
   }
}
