.#{$prefix}-embedded {
   background-color: rgba(0, 0, 0, .1);
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: relative;

   &--horizontal {
      display: flex;
      flex-direction: row;
   }

   &__img-container {
      flex: 1;
      order: 1;

      &--right {
         order: 3;

         .#{$prefix}-embedded__img {
            float: right;
         }
      }
   }

   &__title,
   &__text {
      padding-top: $spacing-x-small;
   }

   &__block {
      flex: 3;
      flex-grow: 2;
      order: 2;
      padding: $spacing-medium;

      button {
         margin-top: $spacing-medium;
         @include border-radius($radius-medium);
         @include button-size($spacing-x-small, $spacing-small, $font-size-medium, $button-line-height)
      }
   }

   &__block--overlay {
      left: 15%;
      position: absolute;
      text-align: center;
      top: 15%;
      width: 70%;

      @media screen and (max-width: 769px) {
         left: 5%;
         padding-bottom: $spacing-small;
         position: relative;
         width: 90%;
      }

      &--right {
         text-align: right;
      }

      &--left {
         text-align: left;
      }
   }

   &__img {
      display: block;
      height: auto;
      max-width: 100%;
   }
}
