.#{$prefix}-font {
   color: $font-color;
   font-family: $font-family;
   line-height: 1.1em;
   margin: 0;

   .#{$prefix}-link--title,
   &--title {
      font-size: $font-size-medium;
      font-weight: $font-weight-semibold;
   }

   &--detail {
      color: $font-color-lighter;
      font-weight: $font-weight-light;
   }

   &--comment {
      font-weight: $font-weight-regular;
   }

   &--detail-small {
      color: $font-color-lighter;
      font-size: $font-size-small;
      font-weight: $font-weight-light;
   }

   &--tagline {
      color: $font-color-lighter;
      font-size: $font-size-small;
      font-weight: $font-weight-light;
      margin-top: $spacing-xxx-small;
   }

   &--empty {
      color: $font-color-lighter;
      font-size: $font-size-small;
      font-style: italic;
      font-weight: $font-weight-light;
      margin: $spacing-xxx-large 0;
      text-align: center;
   }

   &--text {
      font-size: $font-size-small;
      font-weight: $font-weight-regular;
      line-height: $line-height-small;
      margin: $spacing-x-small 0;
   }
}
