.#{$prefix}-font {
   color: $font-color;
   font-family: $font-family;
   line-height: 1.1em;
   margin: 0;

   .#{$prefix}-link--title,
   &--title {
      font-size: $font-size-m;
      font-weight: $font-weight-semibold;
   }

   &--detail {
      color: $font-color-lighter;
      font-weight: $font-weight-light;
   }

   &--comment {
      font-weight: $font-weight-medium;
   }

   &--detail-small {
      color: $font-color-lighter;
      font-size: $font-size-s;
      font-weight: $font-weight-light;
   }

   &--tagline {
      color: $font-color-lighter;
      font-size: $font-size-s;
      font-weight: $font-weight-light;
      margin-top: $space;
   }

   &--empty {
      color: $font-color-lighter;
      font-size: $font-size-s;
      font-style: italic;
      font-weight: $font-weight-light;
      margin: $space8 0;
      text-align: center;
   }

   &--text {
      font-size: $font-size-s;
      font-weight: $font-weight-medium;
      line-height: $line-height-s;
      margin: $space1 0;
   }
}
