.#{$prefix}-form {
   input {
      margin: 0;
   }

   &-input {
      background-color: $font-color-invert;
      background-image: none;
      border: 1px solid $color-lighter;
      border-radius: $radius-small;
      box-sizing: border-box;
      color: $font-color;
      display: block;
      font-size: $font-size-small;
      line-height: $line-height-small;
      margin: 0;
      padding: $space0 $space2;
      transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
      width: 100%;

      &[disabled],
      &[readonly] {
         background-color: lighten($color-lighter, 10%);
         border-color: $color-lighter;
      }

      &[disabled] {
         cursor: not-allowed;
         user-select: none;
      }

      &:focus {
         @include focus();
      }

      &[type="search"] {
         appearance: none;
      }

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button {
         display: none;
      }
   }

   &-element {
      margin-bottom: $space3;

      &__label {
         display: inline-block;
         font-weight: $font-weight-semibold;
         margin-bottom: $space0;
      }

      &__help,
      &__feedback {
         display: block;
         margin-bottom: $space1;
         margin-top: $space1;
      }

      &__help {
         color: $font-color-lighter;
         font-size: $font-size-small;
      }

      &--success {
         @include input-validation-state($color-success);
      }

      &--warning {
         @include input-validation-state($color-warning);
      }

      &--danger {
         @include input-validation-state($color-danger);
      }

      &[type="file"] {
         display: block;
      }
   }

   //Radio button & checkbox handling
   &-radio,
   &-checkbox {
      display: block;
      margin-bottom: $space1;
      position: relative;

      &--disabled {
         label {
            color: lighten($font-color, 10%);
            cursor: not-allowed;
         }

         input {
            cursor: not-allowed;
         }
      }
   }


   $form-element: #{$prefix}-form-element;
   //Variants
   &--horizontal {
      .#{$form-element} {
         display: flex;
         flex-wrap: wrap;

         & > .#{$form-element}__label {
            flex-basis: 20%;
         }

         &__control {
            flex-basis: 80%;
         }

         &__help {
            margin-left: 20%;
         }
      }
   }

   &--inline {
      display: flex;

      .#{$form-element} {
         align-items: center;
         display: flex;
         margin-right: $space1;

         &__label {
            margin-right: $space1;
         }

         &__help {
            margin-left: $space0;
         }
      }

      .#{$prefix}-form-radio,
      .#{$prefix}-form-checkbox {
         margin-bottom: 0;
      }
   }

   &__row {
      display: flex;

      .#{$form-element} {
         flex: 1;

         @for $i from 1 through 6 {
            &--#{$i} {
               flex: $i;
            }
         }

         + .#{$form-element} {
            margin-left: $space0;
         }
      }
   }
}
