.#{$prefix}-form {
   font-family: $font-family;

   input {
      margin: 0;
   }

   &-input {
      background-color: $font-color-invert;
      background-image: none;
      border: 1px solid $color-lighter;
      border-radius: $radius-small;
      box-sizing: border-box;
      color: $font-color;
      display: block;
      font-size: $font-size-small;
      line-height: $line-height-small;
      margin: 0;
      padding: $spacing-xx-small $spacing-small;
      transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
      width: 100%;

      &[disabled],
      &[readonly] {
         background-color: lighten($color-lighter, 10%);
         border-color: $color-lighter;
      }

      &[disabled] {
         cursor: not-allowed;
         user-select: none;
      }

      &:focus {
         @include focus();
      }

      &[type="search"] {
         appearance: none;
      }

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button {
         display: none;
      }
   }

   &-element {
      margin-bottom: $spacing-medium;

      &__label {
         display: inline-block;
         font-weight: $font-weight-semibold;
         margin-bottom: $spacing-xx-small;
      }

      &__help,
      &__feedback {
         display: block;
         margin-bottom: $spacing-x-small;
         margin-top: $spacing-x-small;
      }

      &__help {
         color: $font-color-lighter;
         font-size: $font-size-small;
      }

      &--success {
         @include input-validation-state($color-success);
      }

      &--warning {
         @include input-validation-state($color-warning);
      }

      &--danger {
         @include input-validation-state($color-danger);
      }

      &[type="file"] {
         display: block;
      }
   }

   &-radio {
      display: block;
      margin-bottom: $spacing-x-small;
      position: relative;

      &--disabled {
         label {
            color: lighten($font-color, 10%);
            cursor: not-allowed;
         }

         input {
            cursor: not-allowed;
         }
      }
   }


   $form-element: #{$prefix}-form-element;
   //Variants
   &--horizontal {
      .#{$form-element} {
         display: flex;
         flex-wrap: wrap;

         & > .#{$form-element}__label {
            flex-basis: 20%;
         }

         &__control {
            flex-basis: 80%;
         }

         &__help {
            margin-left: 20%;
         }
      }
   }

   &--inline {
      display: flex;

      .#{$form-element} {
         align-items: center;
         display: flex;
         margin-bottom: 0;
         margin-right: $spacing-x-small;

         &__label {
            margin-bottom: 0;
            margin-right: $spacing-x-small;
         }

         &__help {
            margin-left: $spacing-xx-small;
         }
      }

      .#{$prefix}-form-radio,
      .#{$prefix}-checkbox {
         margin-bottom: 0;
      }
   }

   &__row {
      display: flex;

      .#{$form-element} {
         flex: 1;

         @for $i from 1 through 6 {
            &--#{$i} {
               flex: $i;
            }
         }

         + .#{$form-element} {
            margin-left: $spacing-xx-small;
         }
      }
   }
}

.#{$prefix}-checkbox {
   display: block;

   [type='checkbox'] {
      @include visually-hidden();
   }

   [type='checkbox']:checked + label &__fake::after {
      $tick-position: 50%;

      border-bottom: 2px solid $color-brand;
      border-left: 2px solid $color-brand;
      content: "";
      display: block;
      height: $spacing-small / 4;
      left: $tick-position;
      position: absolute;
      top: $tick-position;
      transform: translate3d(-$tick-position, -$tick-position, 0) rotate(-45deg);
      width: $spacing-small / 2;
   }

   [type='checkbox']:focus + label &__fake {
      @include focus();
   }

   &__fake {
      border: 1px solid $color-lighter;
      border-radius: $radius-small;
      display: inline-block;
      height: $spacing-small;
      margin-right: $spacing-xx-small;
      position: relative;
      transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
      vertical-align: middle;
      width: $spacing-small;
   }

   &__label {
      display: inline;
      vertical-align: middle;
   }

   &--disabled {
      label {
         color: lighten($font-color, 10%);
         cursor: not-allowed;
      }
   }
}
