@font-face {
   font-family: 'sitevision-icons';
   src:  url('fonts/sitevision-icons.eot?pyuqss');
   src:  url('fonts/sitevision-icons.eot?pyuqss#iefix') format('embedded-opentype'),
      url('fonts/sitevision-icons.woff2?pyuqss') format('woff2'),
      url('fonts/sitevision-icons.ttf?pyuqss') format('truetype'),
      url('fonts/sitevision-icons.woff?pyuqss') format('woff'),
      url('fonts/sitevision-icons.svg?pyuqss#sitevision-icons') format('svg');
   font-weight: normal;
   font-style: normal;
}

[class^="#{$prefix}-icon--"], [class*=" #{$prefix}-icon--"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'sitevision-icons' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}


.#{$prefix}-icon--list_breadcrumb:before {
  content: "\e916";
}
.#{$prefix}-icon--check-done:before {
  content: "\e914";
}
.#{$prefix}-icon--check:before {
  content: "\e915";
}
.#{$prefix}-icon--dot:before {
   content: "\e913";
}
.#{$prefix}-icon--search:before {
   content: "\e912";
}
.#{$prefix}-icon--chat-fill:before {
   content: "\e90e";
}
.#{$prefix}-icon--chat:before {
   content: "\e90f";
}
.#{$prefix}-icon--phone-fill:before {
   content: "\e910";
}
.#{$prefix}-icon--phone:before {
   content: "\e911";
}
.#{$prefix}-icon--history:before {
   content: "\e90d";
}
.#{$prefix}-icon--files:before {
   content: "\e908";
}
.#{$prefix}-icon--notis:before {
   content: "\e909";
}
.#{$prefix}-icon--photos:before {
   content: "\e90a";
}
.#{$prefix}-icon--user:before {
   content: "\e90b";
}
.#{$prefix}-icon--users:before {
   content: "\e90c";
}
.#{$prefix}-icon--app:before {
   content: "\e907";
}
.#{$prefix}-icon--photo-fill:before {
   content: "\e905";
}
.#{$prefix}-icon--photo:before {
   content: "\e906";
}
.#{$prefix}-icon--comment-fill:before {
   content: "\e903";
}
.#{$prefix}-icon--like-fill:before {
   content: "\e904";
}
.#{$prefix}-icon--comment:before {
   content: "\e901";
}
.#{$prefix}-icon--like:before {
   content: "\e902";
}
.#{$prefix}-icon--dropdown-menu:before {
   content: "\e900";
}
.#{$prefix}-icon--drag:before {
  content: "\e917";
}
.#{$prefix}-icon--list-big:before {
  content: "\e918";
}
.#{$prefix}-icon--list-small:before {
  content: "\e919";
}
.#{$prefix}-icon--list:before {
  content: "\e91a";
}
.#{$prefix}-icon--dot-big:before {
  content: "\e90e";
}
.#{$prefix}-icon--dot-big-selected:before {
  content: "\e925";
}
.#{$prefix}-icon--arrow-left:before {
  content: "\e91b";
}
.#{$prefix}-icon--arrow-right:before {
  content: "\e91c";
}
.#{$prefix}-icon--arrow-up:before {
  content: "\e91d";
}
.#{$prefix}-icon--arrow-down:before {
  content: "\e91e";
}

$sizes: (
   small: $spacing-medium,
   medium: $spacing-x-large,
   large: $spacing-xxx-large
);
@each $size, $value in $sizes {
   .#{$prefix}-icon--#{$size} {
      font-size: $value;
   }
}
