.#{$prefix}-image-viewer {
   position: relative;
   text-align: center;

   &__modal {
      display: block;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      opacity: 1;
      outline: 0;
      margin: 3% 0;
      position: fixed;
      right: 0;
      text-align: center;
      top: 0;
      z-index: $zindex-modal;
   }

   &__dialog {
      cursor: default;
      display: inline-block;
      position: relative;
   }

   &__modal-container {
      position: relative;
      text-align: center;
      margin: 0 auto;
   }

   &__backdrop {
      @include backdrop();

      &--in {
         @include backdrop-in();
      }
   }

   &__item--prev,
   &__item--next {
      display: flex;
      justify-content: center;
   }

   &--next,
   &--prev {
      align-items: center;
      bottom: 0;
      cursor: pointer;
      display: flex;
      font-size: 2em;
      position: absolute;
      text-align: center;
      text-decoration: none;
      top: 0;
      width: 33%;
      z-index: $zindex-imageslider-indicator;
   }

   &--next {
      justify-content: flex-end;
      right: 0;
   }

   &--prev {
      justify-content: flex-start;
      left: 0;
   }

   &__item--next,
   &__item--prev {
      position: absolute;
      top: 0;
   }

   &__prev-icon,
   &__next-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
   }

   &__prev-icon {
      background-image: $image-control-prev-icon-bg;
   }

   &__next-icon {
      background-image: $image-control-next-icon-bg;
   }

   &__next-icon {
      margin-right: $spacing-xxx-small;
   }

   &__prev-icon {
      margin-left: $spacing-xxx-small;
   }

   &__thumbnails {
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      list-style: none;
      margin-top: $spacing-x-small;
      overflow: hidden;
      padding-left: 0;
      right: 0;
      z-index: $zindex-imageslider-indicator;

      li {
         cursor: pointer;
         margin-right: $spacing-x-small;
         position: relative;
      }
   }

   &__thumbnail {
      border: $border-width $border-style transparent;
      max-width: 80px;
      opacity: .9;

      &:active {
         border: $border-width $border-style $focus-color;
         opacity: 1;
      }
   }

   &__indicators {
      @include slide-indicator;
   }

   &__img {   
      max-width: 100%;
      outline: none;
   }

   &--hidden {
      visibility: hidden;
   }
}
