.#{$prefix}-image-slider {
   position: relative;

   &__inner {
      overflow: hidden;
      position: relative;
      width: 100%;
   }

   &__item {
      align-items: center;
      backface-visibility: hidden;
      display: none;
      perspective: 1000px;
      position: relative;
      transition: transform .5s ease;
      width: 100%;
   }

   &__item--active,
   &__item--prev,
   &__item--next {
      display: flex;
   }

   &--next,
   &--prev {
      align-items: center;
      bottom: 0;
      display: flex;
      font-size: 2em;
      justify-content: center;
      opacity: .5;
      position: absolute;
      text-align: center;
      text-decoration: none;
      top: 0;
      width: 15%;
   }

   &--next {
      right: 0;
   }

   &--prev {
      left: 0;
   }

   &__item--next,
   &__item--prev {
      position: absolute;
      top: 0;
   }

   &__previous-icon,
   &__next-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
   }

   &__previous-icon {
      background-image: $image-control-prev-icon-bg;
   }

   &__next-icon {
      background-image: $image-control-next-icon-bg;
   }

   &__item--next.#{$prefix}-image-slider__item--left,
   &__item--prev.#{$prefix}-image-slider__item--right {
      transform: translate3d(0, 0, 0);
   }

   &__item--next,
   &__item--active.#{$prefix}-image-slider__item--right {
      transform: translate3d(100%, 0, 0);
   }

   &__item--prev,
   &__item--active.#{$prefix}-image-slider__item--left {
      transform: translate3d(-100%, 0, 0);
   }

   &__thumbnails {
      bottom: 0;
      display: flex;
      justify-content: flex-start;
      left: 0;
      list-style: none;
      margin-top: $spacing-x-small;
      overflow: auto;
      padding-left: 0;
      right: 0;
      z-index: $zindex-imageslider-indicator;

      li {
         cursor: pointer;
         margin-right: $spacing-x-small;
         position: relative;
      }

      .#{$prefix}-image-slider__thumbnail {
         max-width: 90px;
         opacity: .4;
      }

      .#{$prefix}-image-slider__item--active {
         opacity: 1;
      }
   }

   &__indicators {
      @include slide-indicator;
   }

   &__caption {
      bottom: $spacing-large;
      color: rgba(255, 255, 255, 1);
      left: ((100% - 70%) / 2);
      padding-bottom: $spacing-large;
      padding-top: $spacing-large;
      position: absolute;
      right: ((100% - 70%) / 2);
      text-align: center;
      z-index: $zindex-imageslider-indicator;
   }
}
