.#{$prefix}-image-viewer {
   position: relative;

   &__modal {
      bottom: 0;
      left: 0;
      opacity: 1;
      outline: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      z-index: $zindex-modal;
   }

   &__dialog {
      cursor: default;
      display: inline-block;
      margin: 0 auto;
      margin-top: 5%;
      max-height: 800px;
      max-width: 800px;
      position: relative;
   }

   &__modal-container {
      margin: 0 auto;
      position: relative;
      text-align: center;
   }

   &__item--prev,
   &__item--next {
      display: flex;
      justify-content: center;
   }

   &--next,
   &--prev {
      align-items: center;
      bottom: 0;
      cursor: pointer;
      display: flex;
      font-size: 2em;
      position: absolute;
      text-align: center;
      text-decoration: none;
      top: 0;
      width: 33%;
      z-index:  $zindex-imageslider-indicator;
   }

   &--next {
      justify-content: flex-end;
      right: 0;

      &:hover .#{$prefix}-image-viewer__next-icon {
         background-color: rgba(255, 255, 255, .9);
      }
   }

   &--prev {
      justify-content: flex-start;
      left: 0;

      &:hover .#{$prefix}-image-viewer__prev-icon {
         background-color: rgba(255, 255, 255, .9);
      }
   }

   &__item--next,
   &__item--prev {
      position: absolute;
      top: 0;
   }

   &__next-icon,
   &__prev-icon {
      background-color: rgba(255, 255, 255, .5);
      padding: $spacing-xxx-small;
      @include border-radius(50%);
   }

   &__next-icon {
      margin-right: $spacing-xxx-small;
   }

   &__prev-icon {
      margin-left: $spacing-xxx-small;
   }

   &__thumbnails {
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      list-style: none;
      margin-top: $spacing-x-small;
      overflow: hidden;
      padding-left: 0;
      right: 0;
      z-index: $zindex-imageslider-indicator;

      li {
         cursor: pointer;
         margin-right: $spacing-x-small;
         position: relative;
      }
   }

   .#{$prefix}-image-viewer__thumbnail {
      border: 1px solid transparent;
      max-width: 80px;
      opacity: .9;
   }

   .#{$prefix}-image-viewer__thumbnail:active {
      border: 1px solid $color-focus;
      opacity: 1;
   }

   &__indicators {
      bottom: 0;
      color: #ffffff;
      display: flex;
      justify-content: center;
      left: 0;
      list-style: none;
      margin-bottom: 0;
      margin-left: $spacing-x-large;
      margin-right: $spacing-x-large;
      overflow: hidden;
      padding-left: 0;
      position: absolute;
      right: 0;
      z-index: $zindex-imageslider-indicator;

      li span {
         cursor: pointer;
         opacity: .4;
      }

      &--active {
         color: $color-focus;
         opacity: 1;
      }
   }

   &__img {
      height: auto;
      max-width: 100%;
      outline: none;
   }

   &--hidden {
      visibility: hidden;
   }
}
