.#{$prefix}-link {
   border-radius: $radius-small;
   color: $font-color;
   margin-right: #{-$spacing-xx-small};
   padding: $spacing-xxx-small $spacing-xx-small;
   text-decoration: none;

   &--base {
      color: $font-color-lighter;
      font-size: $font-size-small;
      font-weight: $font-weight-light;
   }

   &--url {
      color: $font-color-lighter;
      font-size: $font-size-x-small;
      font-weight: $font-weight-light;
   }

   &--more {
      color: $font-color-lighter;
      font-size: $font-size-small;
      font-style: italic;
      font-weight: $font-weight-light;
   }

   &__between {
      color: $font-color-lighter;
      font-size: $font-size-small;
      margin: 0 #{-$spacing-x-small};
   }

   &:hover {
      background-color: rgba(0, 0, 0, .1);
   }

   &:focus {
      background-color: rgba(0, 0, 0, .2);
   }

   &:first-child {
      margin-left: #{-$spacing-xx-small};
   }

   &-base {
      display: inline-block;

      &--vertical {
         display: block;
      }
   }

   &__between {
      color: $font-color-lighter;
      font-size: $font-size-small;
      margin: 0 #{-$spacing-x-small};
   }

   &__nolink {
      border-radius: $radius-small;
      color: $font-color-lighter;
      font-size: $font-size-small;
      font-weight: $font-weight-light;
      padding: $spacing-xx-small;
      text-decoration: none;
   }
}
