.#{$prefix}-list {
   @include reset-list();

   $item: #{$prefix}-list__item;

   &--horizontal {
      display: flex;

      &.#{$prefix}-list-dividers {
         &--left > .#{$item},
         &--right > .#{$item} {
            align-items: center;
            display: flex;
         }
         &--left > .#{$item}:before {
            @include dot-divider();
         }
         &--left > .#{$item}:first-child:before {
            content: none;
         }
         &--right > .#{$item}:after {
            @include dot-divider();
         }
         &--right > .#{$item}:last-child:after {
            content: none;
         }
      }

      &--fixed {
         display: flex;
         flex-wrap: wrap;

         @for $i from 1 through 12 {
            &--#{$i} > .#{$item} {
               @include basis-value($i);
               box-sizing: border-box;
            }
         }
      }

      &--responsive {
         flex-flow: row wrap;
      }
   }

   &.#{$prefix}-list-dividers {
      &--top > .#{$item} {
         @include border-divider(border-top);
      }
      &--bottom > .#{$item} {
         @include border-divider(border-bottom);
      }
      &--around > .#{$item} {
         @include border-divider(border);
         + .#{$item} {
            margin-top: $spacing-xxx-small;
         }
      }
   }

   .#{$prefix}-list-item-divider {
      &--top {
         @include border-divider(border-top);
      }
      &--bottom {
         @include border-divider(border-bottom);
      }
      &--around {
         @include border-divider(border);
      }
   }
}

.#{$prefix}-definition-list {

   dd {
      margin: 0;
      padding: 0 0 $spacing-small;
   }

   &--horizontal {
      $dl-title-width: 9em;

      dt {
         clear: left;
         float: left;
         text-align: right;
         width: $dl-title-width;
      }

      dd {
         margin: 0 0 0 #{$dl-title-width + $spacing-medium};
         padding: 0 0 $spacing-small;
      }
   }
}
