.#{$prefix}-media {
   display: flex;

   &__body {
      display: flex;
      flex: 1;
      flex-wrap: wrap;

      &--inline {
         display: block;

         > * {
            display: inline;
         }

         .#{$prefix}-media__actions {
            float: right;
         }
      }
   }

   &__figure {
      margin-right: $space1;
   }

   &__actions {
      margin-left: auto;
   }

   &--column {
      flex-direction: column;

      .#{$prefix}-media__figure {
         margin-right: 0;
      }
   }

   &--center {
      align-items: center;
   }

   &--bottom {
      align-items: flex-end;
   }

   &--reverse {
      flex-direction: row-reverse;
   }

   & & { // Nested media
      margin-top: $space1;
   }
}
