.#{$prefix}-media {
   display: flex;

   > :not(:last-child) {
      margin: 0 $spacing-x-small 0 0;
   }

   &__body {
      flex: 1 1 auto;

      &--inline {
         display: inline;

         > * {
            display: inline;
         }
      }
   }

   &__figure {
      flex: 0 0 auto;
   }

   &__body,
   &__figure {
      &--center {
         align-self: center;
      }

      &--bottom {
         align-self: flex-end;
      }
   }

   &--column {
      flex-direction: column;

      > :not(:last-child) {
         margin: 0 0 $spacing-x-small;
      }
   }

   &--center {
      align-items: center;
   }

   &--bottom {
      align-items: flex-end;
   }

   &--reverse {
      flex-direction: row-reverse;

      > :not(:last-child) {
         margin: 0 0 0 $spacing-x-small;
      }
   }

   & & { // Nested media
      margin-top: $spacing-x-small;
   }
}
