.#{$prefix}-menu {

   &--horizontal {
      margin: 0;
      padding: 0;
   }

   &__item {
      float: left;
      list-style: none;
   }

   &__link {
      border-left: 1px solid $color-brand-light;
      color: $font-color-invert;
      display: inline-block;
      font-size: $font-size-large;
      font-weight: $font-weight-light;
      padding: $space2;
      text-decoration: none;

      &:hover {
         background-color: $color-brand-light;
      }
   }

   &__row:last-child .#{$prefix}-menu__item {
      border-right: 1px solid $color-brand-light;
   }

   @include clearfix();
}
