.#{$prefix}-modal {
   background-color: rgba(0, 0, 0, .7);
   bottom: 0;
   display: block;
   left: 0;
   outline: 0;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: auto;
   position: fixed;
   right: 0;
   top: 0;
   visibility: hidden;
   z-index: $zindex-modal;

   &__dialog {
      @media (min-width: 768px) {
         margin: 10% auto;
         max-width: $modal-medium;
      }
      position: relative;

      &--large {
         @media (min-width: 768px) {
            margin: 10% auto;
            max-width: $modal-large;
         }
      }

      &--small {
         @media (min-width: 768px) {
            margin: 10% auto;
            max-width: $modal-small;
         }
      }
   }

   &__content {
      background-clip: padding-box;
      background-color: $color-element-bg;
      border: 1px solid #999999;
      @include border-radius($radius-medium);
      @include box-shadow($modal-dialog-shadow);
      outline: 0;
      position: relative;
   }

   &--show {
      visibility: visible;
   }

   &__header {
      background-color: #cccccc;
      @include border-top-radius($radius-medium);
      display: block;
      padding: $space0 $space1;

      // ######### Ska bytas till text.scss
      &__title {
         display: inline-block;
         font-size: $font-size-medium;
         font-weight: $font-weight-semibold;
         line-height: $line-height-large;
         margin: 0;
      }
   }

   &__body {
      padding: $space1;
   }

   &__footer {
      background-color: $color-element-bg;
      @include border-bottom-radius($radius-medium $radius-medium);
      padding: $space1;
      text-align: left;

      &--right {
         text-align: right;
      }
   }
}

