.#{$prefix}-modal-dialog {
   bottom: 0;
   display: none;
   left: 0;
   opacity: 0;
   outline: 0;
   overflow: hidden;
   overflow-x: hidden;
   overflow-y: auto;
   position: fixed;
   right: 0;
   top: 0;
   transition: opacity .3s linear;
   z-index: $zindex-modal;

   &--show {
      display: block;
      opacity: 1;
   }

   &__dialog {
      @media (min-width: 768px) {
         margin: 10% auto;
         max-width: $modal-medium;
      }
      position: relative;

      &--large {
         @media (min-width: 768px) {
            margin: 10% auto;
            max-width: $modal-large;
         }
      }

      &--small {
         @media (min-width: 768px) {
            margin: 10% auto;
            max-width: $modal-small;
         }
      }
   }

   &__content {
      background-clip: padding-box;
      background-color: $color-element-bg;
      border: $default-border;
      @include border-radius($radius-medium);
      @include box-shadow($modal-dialog-shadow);
      outline: 0;
      position: relative;
   }

   &__header {
      background-color: $color-brand;
      @include border-top-radius($radius-medium);
      display: block;
      padding: $spacing-xx-small $spacing-x-small;

      &__title {
         color: $font-color-invert;
         margin-bottom: 0 !important;
         padding: $spacing-xx-small;
      }
   }

   &__backdrop {
      @include backdrop();

      &--in {
         @include backdrop-in();
      }
   }

   &__body {
      padding: $spacing-x-small;
   }

   &__footer {
      background-color: $color-element-bg;
      @include border-bottom-radius($radius-medium $radius-medium);
      padding: $spacing-small;
      text-align: left;

      &--right {
         text-align: right;
      }
   }
}

@keyframes #{$prefix}-fade {
   from { opacity: 0; }
   to { opacity: .5; }
}
