$nav-link-classname: #{$prefix}-nav__link;

.#{$prefix}-nav {
   @include reset-list();
   font-family: $font-family;

   &__link {
      @include nav-link();
   }
}

.#{$prefix}-nav--menubar {
   display: flex;

   .#{$nav-link-classname} {
      padding: $spacing-small;
   }

   &.#{$prefix}-nav--fill {
      .#{$nav-link-classname} {
         @include filled-nav-states();
      }
   }

   &.#{$prefix}-nav--border {
      .#{$nav-link-classname} {
         border-bottom: 1px solid transparent;

         &:hover {
            border-bottom-color: $color-brand-dark;
            color: $color-brand-dark;
         }

         &--active {
            border-bottom-color: $color-brand;
            color: $color-brand;
         }
      }
   }
}

.#{$prefix}-nav--sidenav {
   .#{$nav-link-classname} {
      border-bottom: 1px solid $color-lighter;
      color: $color-normal;
      padding: $spacing-small 0;

      &--active {
         border-left: 2px solid $color-brand;
         padding-left: $spacing-x-small;
      }

      &:hover {
         color: $color-brand;
      }
   }
}
