.#{$prefix}-navbar {
   background-color: $color-brand;

   &__wrapper {
      display: flex;
      flex-direction: row;
      margin: 0 auto;

      &--max {
         max-width: $inner-page-width;
      }
   }

   &--large {
      flex-grow: 1;
   }

   &--left {
      margin: 0;
   }

   &--right {
      margin: 0;
   }

   &--align-vertical {
      align-self: center;
   }

   &--push {
      margin-right: $spacing-x-small;
   }
}
