.#{$prefix}-news-item {
   display: flex;
   flex-direction: column;
   overflow-wrap: break-word;
   word-wrap: break-word;
   background-color: $color-element-bg;
   margin: $space;

   &__media {
      padding: $space1;
   }

   &__headline {
      padding: 0 $space1;
   }

   &__preamble {
      padding: $space1;
   }

   &__footer {
      padding: $space1;
   }
}
