.#{$prefix}-pagination {
   &__item:not(:last-child) {
      margin-right: $spacing-xxx-small;
   }

   &__link {
      @include button-base(0);

      &.#{$prefix}-is-active {
         @include is-active();
      }

      &.#{$prefix}-is-disabled {
         @include is-disabled();
      }
   }

   &--center {
      justify-content: center;
   }

   &--end {
      justify-content: flex-end;
   }

   [tabindex="-1"]:focus {
      border: $border-width $border-style transparent;
      box-shadow: none;
   }

   &--small {
      .#{$prefix}-pagination__link {
         padding: $spacing-xxx-small $spacing-x-small;
      }
   }

   &--large {
      .#{$prefix}-pagination__link {
         padding: $spacing-x-small $spacing-medium;
      }
   }

   &--x-large {
      .#{$prefix}-pagination__link {
         padding: $spacing-small $spacing-large;
      }
   }

   &--xx-large {
      .#{$prefix}-pagination__link {
         padding: $spacing-medium $spacing-x-large;
      }
   }

   &--xxx-large {
      .#{$prefix}-pagination__link {
         padding: $spacing-large $spacing-xx-large;
      }
   }
}
