.#{$prefix}-pagination {
   &__item:last-child a {
      border-right: $default-border;
   }

   &__link {
      @include button-base(0);
      background-color: $color-lightest;
      border: $default-border;
      border-right: $border-width $border-style transparent;

      &.#{$prefix}-is-active {
         @include is-active();
         border: $border-width $border-style $color-brand;
      }

      &.#{$prefix}-is-disabled {
         @include is-disabled();
      }
   }

   &__link:hover {
      background-color: $color-brand;
      border: $border-width $border-style $color-brand;
      border-right: $border-width $border-style transparent;
      color: $font-color-invert;
   }

   &--center {
      justify-content: center;
   }

   &--end {
      justify-content: flex-end;
   }

   [tabindex="-1"]:focus {
      border: $border-width $border-style transparent;
      box-shadow: none;
   }

   &--small {
      .#{$prefix}-pagination__link {
         padding: $spacing-xxx-small $spacing-x-small;
      }
   }

   &--large {
      .#{$prefix}-pagination__link {
         padding: $spacing-x-small $spacing-medium;
      }
   }

   &--x-large {
      .#{$prefix}-pagination__link {
         padding: $spacing-small $spacing-large;
      }
   }

   &--xx-large {
      .#{$prefix}-pagination__link {
         padding: $spacing-medium $spacing-x-large;
      }
   }

   &--xxx-large {
      .#{$prefix}-pagination__link {
         padding: $spacing-large $spacing-xx-large;
      }
   }
}
