.#{$prefix}-pagination {
   @include reset-list();
   display: flex;

   &__link {
      @include pagination-size($spacing-xx-small, $spacing-small, $font-size-medium);
      background-color: $pagination-bg-color;
      border: $pagination-border;
      color: $pagination-font-color;
      cursor: pointer;
      display: inline-block;
      font-family: $pagination-font;
      margin-top: -$pagination-border-width;
      margin-left: -$pagination-border-width;
      position: relative;
      text-decoration: none;

      &:focus {
         @include focus();
         z-index: 3;
      }

      &.#{$prefix}-is-active {
         @include is-active($pagination-bg-color-active, $pagination-font-color-active);
         border: $pagination-border-active;
      }

      &.#{$prefix}-is-disabled {
         @include is-disabled();
      }
   }

   &__link:hover {
      background-color: $pagination-bg-color-hover;
      border: $pagination-border-hover;
      color: $pagination-font-color-hover;
      z-index: 2;
   }

   &--center {
      justify-content: center;
   }

   &--end {
      justify-content: flex-end;
   }

   [tabindex="-1"]:focus {
      border: $pagination-border-width $pagination-border-style transparent;
      box-shadow: none;
   }

   &--small {
      .#{$prefix}-pagination__link {
         @include pagination-size($spacing-xxx-small, $spacing-x-small, $font-size-small);
      }
   }

   &--large {
      .#{$prefix}-pagination__link {
         @include pagination-size($spacing-x-small, $spacing-medium, $font-size-large);
      }
   }
}
