.#{$prefix}-range-slider {
   @include border-radius($radius-small);
   $range-height: $spacing-small;
   border: 1px solid $border-color;
   height: $range-height;
   position: relative;

   &__handle {
      @include border-radius($radius-small);

      background: $color-lighter;
      border: 1px solid $border-color;
      height: $spacing-medium;
      margin-left: -($spacing-medium / 2);
      position: absolute;
      top: calc(-1 * (((#{$spacing-medium} - #{$range-height}) / 2) + 1px));
      transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
      width: $spacing-medium;

      &:focus {
         @include focus();
      }
   }

   &__value {
      margin-left: -($spacing-medium / 2) !important;
      position: absolute;
      top: $spacing-large;
   }

   &__range {
      background: $color-brand;
      height: 100%;
      position: absolute;
   }

   &--touch {
      $slider: #{$prefix}-range-slider;

      .#{$slider}__handle {
         height: $spacing-large;
         margin-left: -($spacing-large / 2);
         top: calc(-1 * (((#{$spacing-large} - #{$range-height}) / 2) + 1px));
         width: $spacing-large;
      }

      .#{$slider}__value {
         margin-left: -($spacing-large / 2) !important;
         top: $spacing-x-large;
      }
   }
}
