.#{$prefix}-range-slider {
   @include border-radius($radius-small);
   $range-height: $spacing-small;
   $handle-size-desktop: $spacing-xx-large;
   $handle-size-touch: $spacing-x-large;
   border: $default-border;
   height: $range-height;
   position: relative;

   &__handle {
      @include border-radius($radius-small);
      background: $color-lighter;
      border: $default-border;
      height: $handle-size-desktop;
      margin-left: -($handle-size-desktop / 2);
      position: absolute;
      top: calc(-1 * (((#{$handle-size-desktop} - #{$range-height}) / 2) + 1px));
      transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
      width: $handle-size-desktop;

      &:focus {
         @include focus();
      }
   }

   &__values {
      display: flex;
      margin-top: $spacing-large;
      position: relative;

      &__value {
         flex-basis: 45%;

         &--from {
            display: flex;
            justify-content: flex-end;
         }
      }

      &__separator {
         display: flex;
         flex-basis: 10%;
         justify-content: center;
      }
   }

   &__range {
      background: $color-brand;
      height: 100%;
      position: absolute;
   }

   &--touch {
      $slider: #{$prefix}-range-slider;

      .#{$slider}__handle {
         height: $handle-size-touch;
         margin-left: -($handle-size-touch / 2);
         top: calc(-1 * (((#{$handle-size-touch} - #{$range-height}) / 2) + 1px));
         width: $handle-size-touch;
      }

      .#{$slider}__value {
         margin-left: -($handle-size-touch / 2) !important;
         top: $spacing-x-large;
      }
   }
}
