.#{$prefix}-spinner {
   font-size: 10px;
   height: 60px;
   left: 0;
   margin: 15% auto;
   position: relative;
   right: 0;
   text-align: center;
   width: 50px;

   &--hide {
      display: none;
   }

   > div {
      animation: #{$prefix}-stretchdelay 1.2s infinite ease-in-out;
      background-color: $spinner-color;
      display: inline-block;
      height: 100%;
      width: 6px;
   }

   .#{$prefix}-rect2 {
      animation-delay: -1.1s;
   }

   .#{$prefix}-rect3 {
      animation-delay: -1s;
   }

   .#{$prefix}-rect4 {
      animation-delay: -.9s;
   }

   .#{$prefix}-rect5 {
      animation-delay: -.8s;
   }
}

@keyframes #{$prefix}-stretchdelay {
   0%,
   40%,
   100% {
      transform: scaleY(.4);
   }  20% {
      transform: scaleY(1);
   }
}
