$link-classname: #{$prefix}-tabs__link;

.#{$prefix}-tabs {
   &__nav {
      background-color: $color-element-bg;
      display: flex;
      @include reset-list();
   }

   &__link {
      @include nav-link();
      padding: $spacing-x-small $spacing-medium;

      &--active {
         background-color: $color-brand;
         color: $color-element-bg;

         &:hover {
            color: $color-element-bg;
         }
      }
   }

   &--hover-fill {
      .#{$link-classname}  {
         @include nav-link();
         @include filled-nav-states();
      }
   }
}
