$link-classname: #{$prefix}-tabs__link;

.#{$prefix}-tabs {
   &__nav {
      @include reset-list();
      background-color: $color-element-bg;
      display: flex;

      &--border-bottom {
         border-bottom: $tab-bottom-width $border-style $color-brand;
      }

      :first-child > a {
         margin-left: 0;
      }

      :last-child > a {
         margin-right: 0;
      }
   }

   &__link {
      @include nav-link();
      @include border-top-radius($radius-medium);

      background-color: $default-button-color;
      color: $font-color;
      margin: 0 $spacing-xxx-small;
      padding: $spacing-x-small $spacing-medium;
      outline: 0;

      &--active {
         background-color: $color-brand;
         color: $color-element-bg;

         &:hover {
            color: $color-element-bg;
         }
      }

      &:focus {
         @include focus();
      }
   }

   &--simple {
      @include reset-list();
      background-color: $color-element-bg;
      display: flex;

      .#{$prefix}-tabs__link {
         background-color: $color-element-bg;
         border-color: transparent;
         color: $font-color;
         margin: 0 $spacing-xx-small;
         padding: $spacing-x-small $spacing-x-small;
         outline: 0;
         transition: border-color .5s ease;

         &--active {
            border-bottom: $tab-bottom-width $border-style $color-brand;
            color: $font-color;
         }

         &:hover {
            border-bottom: $tab-bottom-width $border-style $color-brand;
            color: $font-color;
         }
      }
   }

   &--hover-fill {
      .#{$link-classname}  {
         @include nav-link();
         @include filled-nav-states();
      }
   }

   &--column {
      display: block;
      width: 100%;
   }

   &--column > &__item {
      a {
         border-radius: 0;
         margin: 0;
      }
   }
}
