.#{$prefix}-text {
   color: $font-color;
   font-family: $font-family;
   font-weight: $font-weight-medium;
   line-height: 1.1em;
   margin: 0;

   &--uppercase {
      text-transform: uppercase;
   }

   &--lowercase {
      text-transform: lowercase;
   }

   &--capitalize {
      text-transform: capitalize;
   }

   &--truncate {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }

   .#{$prefix}-link--title,
   &--title {
      font-size: $font-size-m;
      font-weight: $font-weight-semibold;
   }

   &--detail {
      color: $font-color-lighter;
      font-weight: $font-weight-light;
   }

   &--comments {
      font-weight: $font-weight-medium;
   }

   &--detail-small {
      color: $font-color-lighter;
      font-size: $font-size-s;
      font-weight: $font-weight-light;
   }

   &--tagline {
      color: $font-color-lighter;
      font-size: $font-size-s;
      font-weight: $font-weight-light;
      margin-top: $space;
   }

   &--empty {
      color: $font-color-lighter;
      font-size: $font-size-s;
      font-style: italic;
      font-weight: $font-weight-light;
      margin: $space8 0;
      text-align: center;
   }

   &--medium {
      font-size: $font-size-s;
      font-weight: $font-weight-medium;
      line-height: $line-height-s;
      margin: $space1 0;
   }

   &--error-danger {
      color: $color-danger;
      font-size: $font-size-s;
   }

   // Heading sizes
   &-size-heading--small {
      font-size: $font-size-s;
      line-height: $line-height-s;
   }

   &-size-heading--medium {
      font-size: $font-size-m;
      font-weight: $font-weight-semibold;
      line-height: $line-height-m;
   }

   &-size-heading--large {
      font-size: $font-size-l;
      line-height: $line-height-l;
   }

   // Text sizes
   &-size--x-small {
      font-size: $font-size-xs;
      line-height: $line-height-xs;
   }

   &-size--small {
      font-size: $font-size-s;
      line-height: $line-height-s;
   }

   &-size--medium {
      font-size: $font-size-m;
   }

   &-size--large {
      font-size: $font-size-l;
   }

   &-size--x-large {
      font-size: $font-size-xl;
   }

   &-size--super {
      font-size: $font-size-xxl;
   }

   // Text alignment
   &-align--left {
      text-align: left;
   }

   &-align--center {
      text-align: center;
   }

   &-align--right {
      text-align: right;
   }

   // Text weight
   &--bold {
      font-weight: $font-weight-bold;
   }

   &--extra-bold {
      font-weight: $font-weight-extrabold;
   }

   &--uppercase {
      text-transform: uppercase;
   }
}
