.#{$prefix}-toolbar {
   align-self: center;
   flex-grow: 1;

   &--tool {
      background-color: rgba(0, 0, 0, .05);
      border-color: transparent;
      border-radius: 0;
      float: left;
      margin-right: 1px;

      &:first-child {
         border-radius: $radius1 0 0 $radius1;
      }

      &:last-child {
         border-radius: 0 $radius1 $radius1 0;
         margin-right: 0;
      }

      &:hover,
      &.btn--hover {
         background-color: rgba(0, 0, 0, .1);
         border-color: transparent;
      }

      &:focus,
      &.btn--focus {
         background-color: rgba(0, 0, 0, .2);
         border-color: transparent;
      }

      &--active {
         background-color: $color-brand;
         border-color: $color-brand;
         color: $font-color-invert;

         &:hover,
         &.btn--hover {
            background-color: darken($color-brand, 5%);
            border-color: darken($color-brand, 5%);
         }

         &:active,
         &.btn--active {
            background-color: darken($color-brand, 5%);
            border-color: darken($color-brand, 5%);
         }

         &:focus,
         &.btn--focus {
            background-color: darken($color-brand, 10%);
            border-color: darken($color-brand, 10%);
         }
      }

      @include clearfix();
   }
}
