.#{$prefix}-toolbar {
   background-color: $color-element-bg;
   padding: $space1;

   &__tool {
      @include button-base($button-border-radius);

      background-color: rgba(0, 0, 0, .05);
      border-color: transparent;
      border-radius: 0;
      margin-right: 1px;

      &:first-child {
         @include border-left-radius($button-border-radius);
      }

      &:last-child {
         @include border-right-radius($button-border-radius);
         margin-right: 0;
      }

      &.#{$prefix}-is-active {
         @include button-color-variant($font-color-invert, $color-brand, $color-brand)
      }
   }
}
