// Base
$prefix:                   env;
$grid-columns:             12;
$page-width:               700px;
$inner-page-width:         600px;
$popover-width:            300px;
$enable-rounded-corners:   true;
$enable-box-shadow:        true;

// Font family
$font-family:              "Roboto", sans-serif;

// Font Size
$font-size-base:           1em;
$font-size-x-small:        $font-size-base * .75;
$font-size-small:          $font-size-base * .875;
$font-size-medium:         $font-size-base;
$font-size-large:          $font-size-base * 1.25;
$font-size-x-large:        $font-size-base * 1.5;
$font-size-xx-large:       $font-size-base * 1.75;
$font-size-xxx-large:      $font-size-base * 2;
$font-size-xxxx-large:     $font-size-base * 2.5;

// Font weight
$font-weight-light:        300;
$font-weight-regular:      400;
$font-weight-semibold:     500;
$font-weight-bold:         600;
$font-weight-extrabold:    700;

// Line height
$line-height-small:        1.25;
$line-height-medium:       1.4;
$button-line-height:       $line-height-medium;
$form-input-line-height:   $line-height-medium;

// Size (Margin/Padding)
$spacing-base:             1em;
$spacing-xxx-small:        $spacing-base * .125;
$spacing-xx-small:         $spacing-base * .25;
$spacing-x-small:          $spacing-base * .5;
$spacing-small:            $spacing-base * .75;
$spacing-medium:           $spacing-base;
$spacing-large:            $spacing-base * 1.25;
$spacing-x-large:          $spacing-base * 1.5;
$spacing-xx-large:         $spacing-base * 1.75;
$spacing-xxx-large:        $spacing-base * 2;

// Radius
$radius-base:              .25em;
$radius-small:             $radius-base * .5;
$radius-medium:            $radius-base;
$radius-large:             $radius-base * 1.5;
$button-border-radius:     $radius-small;

// Shadow
$popover-shadow:            0 6px 12px rgba(0, 0, 0, .175);
$modal-shadow:              inset 0 3px 6px rgba(0, 0, 0, 1);
$modal-dialog-shadow:       0 3px 9px rgba(0, 0, 0, .5);

// Icon Size
$icon-size-x-small:        14px;
$icon-size-small:          20px;
$icon-size-medium:         30px;
$icon-size-large:          40px;
$icon-size-x-large:        50px;
$icon-size-xx-large:       60px;

// Color
$color-page-bg:            #ffffff;
$color-element-bg:         #ffffff;

$color-hover:              #f7f7f7;

$color-brand:              #6892d5;
$color-brand-light:        lighten($color-brand, 10%);
$color-brand-dark:         darken($color-brand, 10%);

$color-danger:             #e02525;
$color-success:            #79d179;
$color-info:               #67d3de;
$color-warning:            #e9bb4e;

$font-color:               #202330;
$font-color-light:         #333333;
$font-color-lighter:       #878787;
$font-color-invert:        #ffffff;

$color-base:               #000000;
$color-darker:             lighten($color-base, 5%);
$color-dark:               lighten($color-base, 20%);
$color-normal:             lighten($color-base, 40%);
$color-light:              lighten($color-base, 60%);
$color-lighter:            lighten($color-base, 80%);
$color-lightest:           lighten($color-base, 100%);

$default-button-color:     lighten($color-base, 95%);
$focus-background-color:   rgba(0, 0, 0, .2);
$color-focus:              #5cb3fd;
$default-spinner-color:    #5cb3fd;

// Border
$border-width:             1px;
$border-style:             solid;
$border-color:             $color-light;
$border-color-light:       $color-lighter;
$default-border:           $border-width $border-style $border-color;
$border-light:             $border-width $border-style $border-color-light;
$tab-bottom-width:         3px;

// Z-index value
$zindex-imageslider-indicator:   15;
$zindex-radio-button:            100;
$zindex-popover:                 1030;
$zindex-modal-backdrop:          1040;
$zindex-modal:                   1050;
$zindex-modal-close-btn:         1055;
$zindex-dropdown:                1060;
$zindex-tooltip:                 1080;
$zindex-alert:                   1090;

// Dialog Modal
$modal-small:              300px;
$modal-medium:             450px;
$modal-large:              900px;

// Table
$table-zebra-color:        $default-button-color;
$table-active-color:       $table-zebra-color;

// Breadcrumb
$breadcrumb-divider-color: $color-light;
$breadcrumb-divider:       '/';

// Animation
$toggle-duration:          .4s;

// Badge
$badge-radius:             .2em;
$badge-font-color:         $font-color-invert;
$badge-font-size:          75%;

$image-control-color: $color-element-bg;
$image-control-color-inactive: $font-color-lighter;
$image-control-prev-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$image-control-color}' viewBox='0 0 32 32'%3E%3Cpath d='M20.391 27.609l-11.61-11.609 11.61-11.609 1.884 1.884-9.723 9.724 9.723 9.724z'/%3E%3C/svg%3E"), "#", "%23") !default;
$image-control-next-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$image-control-color}' viewBox='0 0 32 32'%3E%3Cpath d='M11.609 27.609l-1.884-1.884 9.723-9.724-9.723-9.724 1.884-1.884 11.61 11.609z'/%3E%3C/svg%3E"), "#", "%23") !default;

// Radio button
$radiobutton-base:         .625em;
$radiobutton-checked-size: $radiobutton-base;
$radiobutton-size:         $radiobutton-base * 2;
$radiobutton-border:       6px solid $color-brand;

// Checkbox
$checkbox-size:            1.25em;
$checkbox-tick-height:     $checkbox-size * 0.4;
$checkbox-tick-width:      $checkbox-size * 0.7;

// Progress bar
$progress-bar-height:      1.25em;