// Base
$prefix:                   env !default;
$grid-columns:             12 !default;
$page-width:               700px !default;
$inner-page-width:         600px !default;
$popover-width:            300px !default;
$enable-rounded-corners:   true !default;
$enable-box-shadow:        true !default;

// Font family
$font-family:              inherit !default;

// Font Size
$font-size-base:           1em !default;
$font-size-x-small:        $font-size-base * .75 !default;
$font-size-small:          $font-size-base * .875 !default;
$font-size-medium:         $font-size-base !default;
$font-size-large:          $font-size-base * 1.25 !default;
$font-size-x-large:        $font-size-base * 1.5 !default;
$font-size-xx-large:       $font-size-base * 1.75 !default;
$font-size-xxx-large:      $font-size-base * 2 !default;
$font-size-xxxx-large:     $font-size-base * 2.5 !default;

// Font weight
$font-weight-light:        300 !default;
$font-weight-regular:      400 !default;
$font-weight-semibold:     500 !default;
$font-weight-bold:         600 !default;
$font-weight-extrabold:    700 !default;

// Line height
$line-height-small:        1.25 !default;
$line-height-medium:       1.4 !default;
$button-line-height:       $line-height-medium !default;
$form-input-line-height:   $line-height-medium !default;

// Size (Margin/Padding)
$spacing-base:             1em !default;
$spacing-xxx-small:        $spacing-base * .125 !default;
$spacing-xx-small:         $spacing-base * .25 !default;
$spacing-x-small:          $spacing-base * .5 !default;
$spacing-small:            $spacing-base * .75 !default;
$spacing-medium:           $spacing-base !default;
$spacing-large:            $spacing-base * 1.25 !default;
$spacing-x-large:          $spacing-base * 1.5 !default;
$spacing-xx-large:         $spacing-base * 1.75 !default;
$spacing-xxx-large:        $spacing-base * 2 !default;

// Radius
$radius-base:              .25em !default;
$radius-small:             $radius-base * .5 !default;
$radius-medium:            $radius-base !default;
$radius-large:             $radius-base * 1.5 !default;
$button-border-radius:     $radius-small !default;

// Shadow
$popover-shadow:            0 6px 12px rgba(0, 0, 0, .175) !default;
$modal-shadow:              inset 0 3px 6px rgba(0, 0, 0, 1) !default;
$modal-dialog-shadow:       0 3px 9px rgba(0, 0, 0, .5) !default;

// Icon Size
$icon-size-x-small:        14px !default;
$icon-size-small:          20px !default;
$icon-size-medium:         30px !default;
$icon-size-large:          40px !default;
$icon-size-x-large:        50px !default;
$icon-size-xx-large:       60px !default;

// Color
$color-page-bg:            #ffffff !default;
$color-element-bg:         #ffffff !default;

$color-brand:              #006DFF !default;
$color-brand-light:        lighten($color-brand, 10%) !default;
$color-brand-dark:         darken($color-brand, 10%) !default;

$color-warning:            #c59219 !default;
$color-warning-dark:       darken($color-warning, 10%) !default;

$color-danger:             #E22C2C !default;
$color-success:            #318731 !default;
$color-info:               #1D818B !default;
$color-hover:              #f7f7f7 !default;

$font-color:               #202330 !default;
$font-color-light:         lighten($font-color, 10%) !default;
$font-color-lighter:       lighten($font-color, 20%) !default;
$font-color-invert:        #ffffff !default;

$color-base:               #000000 !default;
$color-darker:             lighten($color-base, 5%) !default;
$color-dark:               lighten($color-base, 20%) !default;
$color-normal:             lighten($color-base, 40%) !default;
$color-light:              lighten($color-base, 60%) !default;
$color-lighter:            lighten($color-base, 80%) !default;
$color-lightest:           lighten($color-base, 100%) !default;

$default-button-color:     lighten($color-base, 95%) !default;
$focus-background-color:   rgba(0, 0, 0, .2) !default;
$focus-color:              #5cb3fd !default;
$spinner-color:            #5cb3fd !default;

// Border
$border-width:             1px !default;
$border-style:             solid !default;
$border-color:             $color-light !default;
$border-color-light:       $color-lighter !default;
$default-border:           $border-width $border-style $border-color !default;
$border-light:             $border-width $border-style $border-color-light !default;
$tab-bottom-width:         3px !default;

// Z-index value
$zindex-imageslider-indicator:   15 !default;
$zindex-radio-button:            100 !default;
$zindex-popover:                 1030 !default;
$zindex-modal-backdrop:          1040 !default;
$zindex-modal:                   1050 !default;
$zindex-modal-close-btn:         1055 !default;
$zindex-dropdown:                1060 !default;
$zindex-tooltip:                 1080 !default;
$zindex-alert:                   1090 !default;

// Dialog Modal
$modal-small:              300px !default;
$modal-medium:             450px !default;
$modal-large:              900px !default;

// Table
$table-zebra-color:        $default-button-color !default;
$table-active-color:       $table-zebra-color !default;

// Breadcrumb
$breadcrumb-divider-color: $color-light !default;
$breadcrumb-divider:       '/' !default;

//Animation
$toggle-duration:          .4s !default;

// Badge
$badge-border-radius:            .2em !default;
$badge-font-size:                75% !default;
$badge-font-family:              $font-family !default;

$badge-default-font-color:       $font-color-invert !default;
$badge-success-font-color:       $font-color-invert !default;
$badge-info-font-color:          $font-color-invert !default;
$badge-warning-font-color:       $font-color !default;
$badge-danger-font-color:        $font-color-invert !default;

$badge-default-background-color:    $color-brand !default;
$badge-success-background-color:    $color-success !default;
$badge-warning-background-color:    $color-warning !default;
$badge-danger-background-color:     $color-danger !default;
$badge-info-background-color:       $color-info !default;

$image-control-color: $color-element-bg !default;
$image-control-color-inactive: $font-color-lighter !default;
$image-control-prev-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$image-control-color}' viewBox='0 0 32 32'%3E%3Cpath d='M20.391 27.609l-11.61-11.609 11.61-11.609 1.884 1.884-9.723 9.724 9.723 9.724z'/%3E%3C/svg%3E"), "#", "%23") !default;
$image-control-next-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$image-control-color}' viewBox='0 0 32 32'%3E%3Cpath d='M11.609 27.609l-1.884-1.884 9.723-9.724-9.723-9.724 1.884-1.884 11.61 11.609z'/%3E%3C/svg%3E"), "#", "%23") !default;

// Radio button
$radiobutton-base:         .625em !default;
$radiobutton-checked-size: $radiobutton-base !default;
$radiobutton-size:         $radiobutton-base * 2 !default;
$radiobutton-border:       6px solid $color-brand !default;

// Checkbox
$checkbox-size:               1.25em !default;
$checkbox-tick-height:        $checkbox-size * 0.4 !default;
$checkbox-tick-width:         $checkbox-size * 0.7 !default;
$checkbox-disabled-color:     $color-lighter !default;

// Progress bar
$progress-bar-height:      1.25em !default;

//Button
$button-font-family:             $font-family !default;
$button-default-color:           $default-button-color !default;
$button-primary-color:           $color-brand !default;
$button-success-color:           $color-success !default;
$button-danger-color:            $color-danger !default;
$button-default-font-color:      $font-color !default;
$button-primary-font-color:      $font-color-invert !default;
$button-success-font-color:      $font-color-invert !default;
$button-danger-font-color:       $font-color-invert !default;
$button-link-font-color:         $font-color !default;

// Collapse
$collapse-icon-height:                 3px !default;
$collapse-icon-width:                  15px !default;
$collapse-icon-top:                    50% !default;
$collapse-icon-right:                  15px !default;
$collapse-heading-min-height:          30px !default;
$collapse-toggle-duration:             $toggle-duration !default;

// Collapse colors
$collapse-icon-color:                  $font-color !default;
$collapse-heading-bg-color:            lighten($color-lighter, 15%) !default;
$collapse-heading-bg-color-expanded:   lighten($color-lighter, 10%) !default;
$collapse-border-color:                lighten($color-lighter, 10%) !default;
$collapse-border-color-expanded:       lighten($color-light, 10%) !default;

// Collapse border
$collapse-heading-border-size:         $border-width !default;
$collapse-heading-border-style:        $border-style !default;
$collapse-heading-border:              $collapse-heading-border-size $collapse-heading-border-style $collapse-border-color !default;
$collapse-heading-border-expanded:     $collapse-heading-border-size $collapse-heading-border-style $collapse-border-color-expanded !default;

// Pagination
$pagination-font:                $font-family !default;

$pagination-font-color:          $font-color !default;
$pagination-font-color-active:   $font-color-invert !default;
$pagination-font-color-hover:    $font-color-invert !default;

$pagination-bg-color:            $color-lightest !default;
$pagination-bg-color-hover:      $color-brand !default;
$pagination-bg-color-active:     $color-brand !default;

$pagination-border-color:        $border-color !default;
$pagination-border-color-active: $color-brand !default;
$pagination-border-color-hover:  $color-brand !default;
$pagination-border-width:        $border-width !default;
$pagination-border-style:        $border-style !default;
$pagination-border:              $pagination-border-width $pagination-border-style $pagination-border-color !default;
$pagination-border-active:       $pagination-border-width $pagination-border-style $pagination-border-color-active !default;
$pagination-border-hover:        $pagination-border-width $pagination-border-style $pagination-border-color-hover !default;

// Alert
$alert-success-bg-color:      $color-success !default;
$alert-warning-bg-color:      $color-warning !default;
$alert-danger-bg-color:       $color-danger !default;
$alert-info-bg-color:         $color-info !default;

$alert-success-border-color:  $color-success !default;
$alert-warning-border-color:  $color-warning !default;
$alert-danger-border-color:   $color-danger !default;
$alert-info-border-color:     $color-info !default;

$alert-font-family:           $font-family !default;
$alert-success-font-color:    $font-color !default;
$alert-warning-font-color:    $font-color !default;
$alert-danger-font-color:     $font-color !default;
$alert-info-font-color:       $font-color !default;
