// Base
$prefix:                   env;
$grid-columns:             12;
$page-width:               700px;
$inner-page-width:         600px;
$popover-width:            300px;
$enable-rounded-corners:   true;
$enable-box-shadow:        true;
$base-font-size:           16; // Used to calculate px to em

@function em($pixels, $base: $base-font-size) {
   @return $pixels/$base + 0em;
}

// Font family
$font-family:              "Roboto", sans-serif;

// Font Size
$font-size-x-small:        em(12);
$font-size-small:          em(14);
$font-size-medium:         em(16);
$font-size-large:          em(20);
$font-size-x-large:        em(24);
$font-size-xx-large:       em(28);
$font-size-xxx-large:      em(32);
$font-size-xxxx-large:     em(40);

// Font weight
$font-weight-light:        300;
$font-weight-regular:      400;
$font-weight-semibold:     500;
$font-weight-bold:         600;
$font-weight-extrabold:    700;

// Font Line-height
$line-height-base:         6; // For text blocks and wrapping text
$line-height-x-small:      em($line-height-base) + $font-size-x-small;
$line-height-small:        em($line-height-base) + $font-size-small;
$line-height-medium:       em($line-height-base) + $font-size-medium;
$line-height-large:        em($line-height-base) + $font-size-large;
$line-height-x-large:      em($line-height-base) + $font-size-x-large;
$line-height-xx-large:     em($line-height-base) + $font-size-xx-large;

// Size (Margin/Padding)
$spacing-xxx-small:        em(2);
$spacing-xx-small:         em(4);
$spacing-x-small:          em(8);
$spacing-small:            em(12);
$spacing-medium:           em(16);
$spacing-large:            em(20);
$spacing-x-large:          em(24);
$spacing-xx-large:         em(28);
$spacing-xxx-large:        em(32);

// Radius
$button-border-radius:     em(2);
$radius-small:             em(2);
$radius-medium:            em(4);
$radius-large:             em(8);
$radius-rounded-corners:   em(50);
$radius-circle:            100%;

// Shadow
$popover-shadow:            0 6px 12px rgba(0, 0, 0, .175);
$modal-shadow:              inset 0 3px 6px rgba(0, 0, 0, 1);
$modal-dialog-shadow:       0 3px 9px rgba(0, 0, 0, .5);

// Icon Size
$icon-size-x-small:        14px;
$icon-size-small:          20px;
$icon-size-medium:         30px;
$icon-size-large:          40px;
$icon-size-x-large:        50px;
$icon-size-xx-large:       60px;

// Color
$color-page-bg:            #ffffff;
$color-element-bg:         #ffffff;

$color-hover:              #f7f7f7;

$color-brand:              #6892d5;
$color-brand-light:        lighten($color-brand, 10%);
$color-brand-dark:         darken($color-brand, 10%);

$color-danger:             #e02525;
$color-success:            #79d179;
$color-info:               #67d3de;
$color-warning:            #e9bb4e;

$font-color:               #202330;
$font-color-light:         #333333;
$font-color-lighter:       #878787;
$font-color-invert:        #ffffff;

$color-base:               #000000;
$color-darker:             lighten($color-base, 5%);
$color-dark:               lighten($color-base, 20%);
$color-normal:             lighten($color-base, 40%);
$color-light:              lighten($color-base, 60%);
$color-lighter:            lighten($color-base, 80%);
$color-lightest:           lighten($color-base, 100%);

$default-button-color:     lighten($color-base, 95%);
$focus-background-color:   rgba(0, 0, 0, .2);
$color-focus:              #5cb3fd;
$default-spinner-color:    #5cb3fd;

// Border
$border-width:             1px;
$border-style:             solid;
$border-color:             $color-light;
$border-color-light:       $color-lighter;
$default-border:           $border-width $border-style $border-color;
$border-light:             $border-width $border-style $border-color-light;
$tab-bottom-width:         3px;

// Z-index value
$zindex-imageslider-indicator:   15;
$zindex-modal-backdrop:          1040;
$zindex-modal:                   1050;
$zindex-modal-close-btn:         1055;
$zindex-dropdown:                1060;
$zindex-popover:                 1070;
$zindex-tooltip:                 1080;
$zindex-alert:                   1090;

// Dialog Modal
$modal-small:              300px;
$modal-medium:             450px;
$modal-large:              900px;

// Table
$table-zebra-color:        $default-button-color;
$table-active-color:       $table-zebra-color;

// Breadcrumb
$breadcrumb-divider-color: $color-light;
$breadcrumb-divider:       '/';

// Animation
$toggle-duration:          .4s;

// Badge
$badge-radius:             .2em;
$badge-font-color:         $font-color-invert;
$badge-font-size:          75%;

$image-control-color: $color-element-bg;
$image-control-color-inactive: $font-color-lighter;
$image-control-prev-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$image-control-color}' viewBox='0 0 32 32'%3E%3Cpath d='M20.391 27.609l-11.61-11.609 11.61-11.609 1.884 1.884-9.723 9.724 9.723 9.724z'/%3E%3C/svg%3E"), "#", "%23") !default;
$image-control-next-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$image-control-color}' viewBox='0 0 32 32'%3E%3Cpath d='M11.609 27.609l-1.884-1.884 9.723-9.724-9.723-9.724 1.884-1.884 11.61 11.609z'/%3E%3C/svg%3E"), "#", "%23") !default;
