
.#{$prefix}-alert {
   border: $border-width $border-style transparent;
   margin: css-var("spacing-medium");
   padding: css-var("spacing-medium");
   font-family: css-var("alert-font-family");
   border-radius: css-var("alert-border-radius");

   $variableNames: "success", "warning", "danger", "info";

   @each $name in $variableNames {
      &--#{$name} {
         background-color: css-var("alert-#{$name}-background-color");
         color: css-var("alert-#{$name}-font-color");
         border-left: 6px solid css-var("alert-#{$name}-border-color");

         //&:hover {
         //   border-color: lighten($border-color, 5%);
         //}

         .#{$prefix}-alert__close {
            color: css-var("alert-#{$name}-font-color");
         }
      }
   }

   &__link {
      color: css-var("font-color-lighter");
      font-weight: $font-weight-bold;
      text-decoration: none;

      &:hover {
         text-decoration: underline;
      }
   }

   &__close {
      appearance: none;
      background: 0 0;
      border: 0;
      float: right;
      font-family: css-var("alert-font-family");
      font-size: css-var("font-size-medium");
      font-weight: $font-weight-bold;
      padding: css-var("spacing-small") css-var("spacing-medium");
      position: relative;
      right: css-var("spacing-medium", -1);
      top: css-var("spacing-small", -1);
   }
}
