.#{$prefix}-alert {
   $alert-border-width: 6px;
   $alert-icon-size: 32px;

   box-sizing: border-box;
   font-family: css-var('alert-font-family');
   margin: css-var('spacing-medium');
   padding: css-var('spacing-medium');
   //border: none;
   border-left: $alert-border-width solid transparent;
   line-height: $line-height-medium;
   //box-shadow: css-var('box-shadow-small');

   &:not([class^='#{$prefix}-block']):not([class*=' #{$prefix}-block']) {
      background-color: css-var('alert-background-color');
      color: css-var('alert-font-color');
   }

   a:not([class^='#{$prefix}-']):not([class*=' #{$prefix}-']),
   a.env-text,
   .env-text a {
      color: css-var('alert-font-color');
      text-decoration: underline;
   }

   $variableNames: 'success', 'warning', 'danger', 'info';

   &__body {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: calc(#{css-var('spacing-small')} * -1) 0;

      .#{$prefix}-alert__close {
         top: auto;
      }
   }

   &__icon {
      flex: 0 0 32px;
   }

   &__close {
      flex: 0 0 44px;
   }

   &__text {
      flex: 1 1 100%;
      padding: css-var('spacing-small') 0;
   }

   &__heading {
      display: block;
      font-weight: bold;
   }

   @each $name in $variableNames {
      &--#{$name} {
         border-color: css-var('element-#{$name}-background-color');

         .#{$prefix}-alert__icon {
            background-color: css-var('element-#{$name}-background-color');

            * {
               color: css-var('element-#{$name}-font-color') !important;
            }
         }
      }
   }

   &__link {
      color: css-var('font-color');
      font-weight: $font-weight-bold;
      text-decoration: none;

      &:hover {
         text-decoration: underline;
      }
   }

   &__icon {
      position: relative;
      //right: css-var('spacing-medium', -1);
      //top: -8px;
      //float: left;
      width: 32px;
      height: 32px;
      border-radius: 22px;
      margin: 0 1em 0 0;

      .env-icon {
         width: 20px;
         height: 20px;
         position: absolute;
         top: 50%;
         left: 50%;
         margin: -10px 0 0 -10px;
      }
   }

   &__close {
      appearance: none;
      float: right;
      background: none;
      border: 0;
      color: css-var('alert-font-color');
      font-family: css-var('alert-font-family');
      font-size: css-var('font-size-medium');
      font-weight: $font-weight-bold;
      padding: css-var('spacing-small') css-var('spacing-medium');
      position: relative;
      right: css-var('spacing-medium', -1);
      top: css-var('spacing-small', -1);
      opacity: 0.65;

      &:hover,
      &:focus {
         opacity: 1;
      }

      @include focus-visible;
   }
}
