.#{$prefix}-alert {
   border: $border-width $border-style transparent;
   margin: $spacing-medium;
   padding: $spacing-medium;
   font-family: $alert-font-family;

   @include border-radius($radius-medium);


   //@mixin alert-color-variant($color, $border-color, $font-color) {
   @mixin alert-color-variant2($variableName) {
      //background-color: lighten($color, 20%);
      //color: $font-color;
      //border-left: 6px solid $border-color;
      background-color: var(--env-color-bg-#{$variableName});
      color: var(--env-text-color-#{$variableName});
      border-left: 6px solid var(--env-color-border-#{$variableName});

      &:hover {
         //border-color: lighten($border-color, 5%);
         border-color: var(--env-color-#{$variableName});
      }

      .#{$prefix}-alert__close {
         //color: $font-color;
         color: var(--env-color-#{$variableName});
      }
   }


   @include alert-color-variant2("secondary");

   &--success {
      //@include alert-color-variant($alert-success-bg-color, $alert-success-border-color, $alert-success-font-color);
      @include alert-color-variant2("success");
   }

   &--warning {
      //@include alert-color-variant($alert-warning-bg-color, $alert-warning-border-color, $alert-warning-font-color);
      @include alert-color-variant2("warning");
   }

   &--danger {
      //@include alert-color-variant($alert-danger-bg-color, $alert-danger-border-color, $alert-danger-font-color);
      @include alert-color-variant2("danger");
   }

   &--info {
      //@include alert-color-variant($alert-info-bg-color, $alert-info-border-color, $alert-info-font-color);
      @include alert-color-variant2("info");
   }

   &__link {
      color: $font-color-lighter;
      font-weight: $font-weight-bold;
      text-decoration: none;

      &:hover {
         text-decoration: underline;
      }
   }

   &__close {
      appearance: none;
      background: 0 0;
      border: 0;
      float: right;
      font-family: $alert-font-family;
      font-size: $font-size-medium;
      font-weight: $font-weight-bold;
      padding: $spacing-small $spacing-medium;
      position: relative;
      right: -$spacing-medium;
      top: -$spacing-small;
   }
}
