.env-badge {
   border-radius: css-var('badge-border-radius');
   display: inline-block;
   font-family: css-var('badge-font-family');
   font-size: css-var('badge-font-size');
   font-weight: $font-weight-bold;
   padding: css-var('spacing-xx-small') css-var('spacing-x-small');
   vertical-align: baseline;
   color: css-var('element-primary-font-color');
   background-color: css-var('element-primary-background-color');

   &--success {
      color: css-var('element-success-font-color');
      background-color: css-var('element-success-background-color');
   }

   &--warning {
      color: css-var('element-warning-font-color');
      background-color: css-var('element-warning-background-color');
   }

   &--danger {
      color: css-var('element-danger-font-color');
      background-color: css-var('element-danger-background-color');
   }

   &--info {
      color: css-var('element-info-font-color');
      background-color: css-var('element-info-background-color');
   }

   &--brand {
      color: css-var('ui-color-brand-contrast');
      background-color: css-var('ui-color-brand');
   }

   @each $key, $val in $BRAND_COLOR_VARIANTS {
      &--brand-#{$key} {
         color: css-var('ui-color-brand-#{$key}-contrast');
         background-color: css-var('ui-color-brand-#{$key}');
      }
   }
}
