.env-badge {
   display: inline-block;
   font-family: css-var('badge-font-family');
   font-size: css-var('badge-font-size');
   font-weight: css-var('badge-font-weight');
   text-decoration: none !important;
   text-transform: css-var('badge-text-transform');
   letter-spacing: css-var('badge-letter-spacing');
   color: css-var('element-primary-font-color');
   background-color: css-var('element-primary-background-color');
   padding: css-var('spacing-xx-small') css-var('spacing-x-small');
   border: none;
   border-radius: css-var('badge-border-radius');
   vertical-align: baseline;

   &:focus-visible {
      @include focus-outline;
   }

   &:not([class^='env-badge--']):not([class*=' env-badge--']):where(
         a,
         button
      ):hover,
   &:not([class^='env-badge--']):not([class*=' env-badge--']):where(
         a,
         button
      ):focus {
      background-color: css-var('element-primary-background-color-dark');
   }

   $badgeNames: 'success', 'danger', 'info', 'warning';

   @each $name in $badgeNames {
      // Element color variants will have hover state if button or link
      &--#{$name} {
         color: css-var('element-#{$name}-font-color');
         background-color: css-var('element-#{$name}-background-color');

         &:where(a, button):hover,
         &:where(a, button):focus {
            background-color: css-var('element-#{$name}-background-color-dark');
         }
      }
   }

   // ----- STATUS VARIANTS -----

   &--neutral {
      color: css-var('ui-color-status-neutral-contrast');
      background-color: css-var('ui-color-status-neutral');
   }

   &--active {
      color: css-var('ui-color-status-active-contrast');
      background-color: css-var('ui-color-status-active');
   }

   &--attention {
      color: css-var('ui-color-status-attention-contrast');
      background-color: css-var('ui-color-status-attention');
   }

   // ----- BRAND VARIANTS -----

   &--brand {
      color: css-var('ui-color-brand-contrast');
      background-color: css-var('ui-color-brand');
   }

   @each $key, $val in $BRAND_COLOR_VARIANTS {
      &--brand-#{$key} {
         color: css-var('ui-color-brand-#{$key}-contrast');
         background-color: css-var('ui-color-brand-#{$key}');
      }
   }
}

.env-status-badge {
   position: relative;
   padding: 0 0 0 1.375em;
   box-sizing: content-box;

   &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 0.8em;
      height: 0.8em;
      margin-top: -0.5em;
      border-radius: 50%;
      border: 0.125em solid css-var('font-color');
      background-color: css-var('section-background-color');
   }

   &--active:after {
      border-color: css-var('ui-color-status-active');
      background-color: css-var('ui-color-status-active');
   }
}
