.#{$prefix}-badge {
   border-radius: css-var('badge-border-radius');
   display: inline-block;
   font-family: css-var('badge-font-family');
   font-size: css-var('badge-font-size');
   font-weight: $font-weight-bold;
   padding: css-var('spacing-xx-small') css-var('spacing-x-small');
   vertical-align: baseline;
   color: css-var('atom-primary-font-color');
   background-color: css-var('atom-primary-background-color');

   &--success {
      color: css-var('atom-success-font-color');
      background-color: css-var('atom-success-background-color');
   }

   &--warning {
      color: css-var('atom-warning-font-color');
      background-color: css-var('atom-warning-background-color');
   }

   &--danger {
      color: css-var('atom-danger-font-color');
      background-color: css-var('atom-danger-background-color');
   }

   &--info {
      color: css-var('atom-info-font-color');
      background-color: css-var('atom-info-background-color');
   }
}
