@import "_functions";

@import "variable";

// Partials
@import "mixin/base";

// Utils
@import "util/base";

@import "accordion";
@import "alert";
@import "badge";
@import "breadcrumb";
@import "button";
@import "button-group";
@import "collapse";
@import "dropdown";
@import "embedded";
@import "feed";
@import "form";
@import "icons";
@import "image-slider";
@import "image-viewer";
@import "list";
@import "media";
@import "modal-dialog";
@import "nav";
@import "news-item";
@import "pagination";
@import "popover";
@import "progress";
@import "range-slider";
@import "spinner";
@import "tab";
@import "table";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media (prefers-color-scheme: dark) {

   body {
      background: var(--env-color-page-bg);
      color: var(--env-color-text);
   }

   a {
      color: var(--env-color-text);
   }

   :root {
      --env-color-page-bg: #161616;
      --env-color-element-bg: #555555;
      --env-color-text: #fff;
      --env-color-border: #ccc;
      --env-color-bg-primary: #666;
   }

}
