.#{$prefix}-button-group {
   position: relative;
   display: flex;

   .#{$prefix}-button {
      border-radius: 0;

      &:first-of-type {
         border-radius: css-var('button-border-radius') 0 0
            css-var('button-border-radius');
      }

      &:last-of-type {
         border-radius: 0 css-var('button-border-radius')
            css-var('button-border-radius') 0;
      }

      &--ghost:last-of-type {
         margin-left: -1px;
      }
   }
}
