.#{$prefix}-button {
   appearance: none;
   border: $border-width $border-style;
   box-sizing: border-box;
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-family: css-var('button-font-family');
   margin: 0;
   text-align: center;
   text-decoration: none;
   user-select: none;
   vertical-align: middle;
   border-radius: css-var('button-border-radius');
   line-height: $button-line-height;

   // Reset inner elements in apps
   > span:not([class]):not([style]),
   > div:not([class]):not([style]) {
      line-height: 1;
   }

   // ----- BUTTON COLORS & TYPES -----

   @include button-color-variant();

   &:focus {
      @include focus('element-background-color');
   }

   $buttonNames: 'primary', 'secondary', 'success', 'danger';

   @each $name in $buttonNames {
      &--#{$name} {
         @include button-color-variant($name);

         &:focus {
            @include focus('element-#{$name}-background-color-light');
         }
      }
   }

   &--invert {
      background-color: transparent;
      border-color: transparent;
      color: css-var('element-primary-background-color-dark');

      &:hover,
      &:active,
      &:focus {
         background-color: css-var('element-common-background-color');
         border-color: css-var('element-common-background-color');
      }

      &:active {
         box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
      }

      &:focus {
         @include focus('element-common-background-color');
      }
   }

   &--link {
      background-color: transparent;
      border-color: transparent;
      color: css-var('font-color');

      &:hover,
      &:active,
      &:focus {
         background-color: transparent;
         border-color: transparent;
      }

      &:active {
         box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
      }

      &:focus {
         @include focus-shadow('element-primary-background-color-light');
      }
   }

   &--block {
      display: block;
      width: 100%;
      white-space: normal;
   }

   &--icon {
      position: relative;

      .env-icon {
         position: absolute;
         top: 50%;
      }
   }

   @include squareIconButton {
      position: relative;
      display: inline-block;
      line-height: 1;
      overflow: hidden;

      .env-icon {
         left: 50%;
      }
   }

   &--disabled,
   &[disabled] {
      opacity: 0.55;
      pointer-events: none;
   }

   &--dropdown {
      background-color: transparent;
      border-color: transparent;
      color: #1d1d1b;
      height: css-var('font-size-xxx-large');
      padding: 0;
      width: css-var('font-size-xxx-large');

      &:hover {
         background-color: rgba(0, 0, 0, 0.1);
         border-color: transparent;
      }

      &:focus {
         background-color: rgba(0, 0, 0, 0.2);
         border-color: transparent;
      }
   }

   &--divider {
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
         background: transparent;
         box-shadow: initial;
      }
   }

   // ----- BUTTON & ICON SIZING -----

   @include button-size('medium');

   &--large {
      @include button-size('large');
   }

   &--small {
      @include button-size('small');
   }
}
