.env-button-group {
   position: relative;
   display: flex;

   .env-button {
      position: relative;
      z-index: 1;
      border-radius: 0;

      &:hover,
      &:focus,
      &:active {
         z-index: 2;
      }

      &:first-of-type {
         border-radius: var(--env-button-border-radius) 0 0
            var(--env-button-border-radius);
      }

      &:last-of-type {
         border-radius: 0 var(--env-button-border-radius)
            var(--env-button-border-radius) 0;
      }

      &--ghost:last-of-type {
         margin-left: -1px;
      }
   }
}
