.#{$prefix}-button-group {
   position: relative;

   .#{$prefix}-button {
      border-radius: 0;
      float: left;
   }

   &:first-child {
      border-radius: $radius-small 0 0 $radius-small;
      margin-right: 1px;
   }

   &:nth-child(2) {
      border-radius: 0 $radius-small $radius-small 0;
   }

   @include clearfix();
}
