.#{$prefix}-button {
   appearance: none;
   border: $border-width $border-style;
   box-sizing: border-box;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-family: css-var('button-font-family');
   margin: 0;
   text-align: center;
   text-decoration: none;
   user-select: none;
   vertical-align: middle;
   border-radius: css-var('button-border-radius');

   @include button-size(
      'spacing-xx-small',
      'spacing-small',
      'font-size-medium',
      $button-line-height
   );

   @include button-color-variant(
      'element-font-color',
      'element-background-color',
      'element-background-color-dark'
   );

   &:focus {
      @include focus('element-background-color');
   }

   // Variants

   $buttonNames: 'primary', 'success', 'danger';

   @each $name in $buttonNames {
      &--#{$name} {
         @include button-color-variant(
            'element-#{$name}-font-color',
            'element-#{$name}-background-color',
            'element-#{$name}-background-color-dark'
         );

         &:focus {
            @include focus('element-#{$name}-background-color-light');
         }
      }
   }

   &--invert,
   &--link {
      background-color: transparent;
      border-color: transparent;
   }

   &--invert {
      color: css-var('element-primary-background-color-dark');

      &:hover,
      &:active,
      &:focus {
         background-color: css-var('element-common-background-color');
         border-color: css-var('element-common-background-color');
      }

      &:active {
         box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
      }

      &:focus {
         @include focus('element-common-background-color');
      }
   }

   &--link {
      color: css-var('font-color');

      &:hover,
      &:active,
      &:focus {
         background-color: transparent;
         border-color: transparent;
      }

      &:active {
         box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
      }

      &:focus {
         @include focus-shadow('element-primary-background-color-light');
      }
   }

   // Sizes
   &--large {
      @include button-size(
         'spacing-x-small',
         'spacing-small',
         'font-size-large',
         $button-line-height
      );
   }

   &--small {
      @include button-size(
         'spacing-xx-small',
         'spacing-xx-small',
         'font-size-small',
         $button-line-height
      );
   }

   &--block {
      display: block;
      width: 100%;
      white-space: normal;
   }

   &--disabled,
   &[disabled] {
      opacity: 0.55;
   }

   &--dropdown {
      background-color: transparent;
      border-color: transparent;
      color: #1d1d1b;
      height: css-var('font-size-xxx-large');
      padding: 0;
      width: css-var('font-size-xxx-large');

      &:hover {
         background-color: rgba(0, 0, 0, 0.1);
         border-color: transparent;
      }

      &:focus {
         background-color: rgba(0, 0, 0, 0.2);
         border-color: transparent;
      }
   }

   &--divider {
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
         background: transparent;
         box-shadow: initial;
      }
   }
}
