.#{$prefix}-button {
   @include button-base($button-border-radius);

   // Variants
   &--primary {
      @include button-color-variant($button-primary-font-color, $button-primary-color, $button-primary-color);

      &:focus {
         @include focus(darken($button-primary-color, 12%), darken($button-primary-color, 10%))
      }
   }

   &--invert {
      @include button-color-variant($color-brand, $font-color-invert, $font-color-invert);

      &:focus {
         @include focus(darken($font-color-invert, 12%), darken($font-color-invert, 10%))
      }
   }

   &--success {
      @include button-color-variant($button-success-font-color, $button-success-color, $button-success-color);

      &:focus {
         @include focus(darken($button-success-color, 12%), darken($button-success-color, 10%))
      }
   }

   &--danger {
      @include button-color-variant($button-danger-font-color, $button-danger-color, $button-danger-color);

      &:focus {
         @include focus(darken($button-danger-color, 12%), darken($button-danger-color, 10%))
      }
   }

   &--link {
      @include button-color-variant($button-link-font-color, transparent, transparent);

      &:focus {
         @include focus();
      }
   }

   // Sizes
   &--large {
      @include button-size($spacing-x-small, $spacing-small, $font-size-large, $button-line-height);
   }

   &--small {
      @include button-size($spacing-xx-small, $spacing-xx-small, $font-size-small, $button-line-height);
   }

   &--block {
      display: block;
      width: 100%;
      white-space: normal;
   }

   &--disabled,
   &[disabled] {
      cursor: not-allowed;
      opacity: .55;
   }

   &--dropdown {
      background-color: transparent;
      border-color: transparent;
      color: #1d1d1b;
      height: $spacing-xxx-large;
      padding: 0;
      width: $spacing-xxx-large;

      &:hover {
         background-color: rgba(0, 0, 0, .1);
         border-color: transparent;
      }

      &:focus {
         background-color: rgba(0, 0, 0, .2);
         border-color: transparent;
      }
   }

   &--divider {
      background-color: transparent;
      cursor: default;

      &:hover,
      &:active,
      &:focus {
         background: transparent;
         box-shadow: initial;
      }
   }
}
