.#{$prefix}-button {
   appearance: none;
   border: $border-width $border-style;
   box-sizing: border-box;
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-family: css-var('button-font-family');
   margin: 0;
   text-align: center;
   text-decoration: none;
   user-select: none;
   vertical-align: middle;
   line-height: $button-line-height;

   // Reset inner elements in apps
   > span:not([class]):not([style]),
   > div:not([class]):not([style]) {
      line-height: 1;
   }

   // ----- BUTTON COLORS & TYPES -----

   @include button-color-variant();

   @include focus-visible;

   // Variants
   $buttonNames: 'primary', 'secondary', 'success', 'danger', 'info', 'warning';

   @each $name in $buttonNames {
      &--#{$name} {
         @include button-color-variant($name);
      }
   }

   &--invert {
      // DEPRECATED since 10.0
      background-color: transparent;
      border-color: transparent;
      color: css-var('element-primary-background-color-dark');

      &:hover,
      &:active,
      &:focus {
         background-color: css-var('element-common-background-color');
         border-color: css-var('element-common-background-color');
      }

      &:active {
         border-color: css-var('element-common-background-color-dark');
      }
   }

   &--link {
      &,
      &:hover,
      &:active,
      &:focus {
         background-color: transparent;
         border-color: transparent;
         color: css-var('font-color');
      }
   }

   &.#{$prefix}-link {
      // This is a combo of env-button and env-link
      background-color: transparent;
      border-color: transparent;

      &:hover,
      &:active,
      &:focus {
         background-color: transparent;
         border-color: transparent;
      }

      @include link(
         'link-font-color',
         'link-text-decoration',
         'link-hover-font-color',
         'link-hover-text-decoration'
      );
   }

   &--block {
      display: block;
      width: 100%;
      white-space: normal;
   }

   &--icon {
      position: relative;

      .#{$prefix}-icon {
         position: absolute;
         top: 50%;
      }
   }

   @include squareIconButton {
      position: relative;
      display: inline-block;
      line-height: 1;
      overflow: hidden;

      .#{$prefix}-icon {
         left: 50%;
      }
   }

   &--disabled,
   &[disabled] {
      opacity: 0.55;
      pointer-events: none;
   }

   // ----- BUTTON & ICON SIZING -----

   @include button-size('medium');

   &--large {
      @include button-size('large');
   }

   &--small {
      @include button-size('small');
   }

   &--slim {
      @include button-size('slim');
   }
}
