.env-card {
   $secondary-opacity: 0.75;

   position: relative;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   height: 100%;
   border-radius: css-var('border-radius-small');

   &__header {
      order: 1;
   }

   &__body {
      order: 2;
   }

   &__footer {
      order: 3;
   }

   &__header {
      padding: css-var('spacing-large') css-var('spacing-large')
         css-var('spacing-x-small');
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
   }

   &__body {
      flex: 1 1 100%;
      padding: css-var('spacing-large');

      .env-card__header ~ & {
         padding-top: 0;
      }

      a {
         word-break: break-all;
      }
   }

   &__footer {
      padding: css-var('spacing-x-small') css-var('spacing-large')
         css-var('spacing-large');

      .env-card__body ~ & {
         margin-top: calc(#{css-var('spacing-large')} * -1);
      }
   }

   &__text {
      margin: css-var('spacing-xx-small') 0;

      &--title {
         margin: 0;
         font: {
            size: css-var('font-size-large');
            weight: $font-weight-semibold;
         }
      }

      &--secondary {
         filter: opacity($secondary-opacity);
      }
   }

   &__image,
   .env-media {
      margin: css-var('spacing-medium') 0;

      &:first-child {
         margin-top: 0;
      }
   }
}

.env-cardholder {
   display: flex;
   flex-wrap: wrap;
   align-content: stretch;
   justify-content: center;
   align-items: stretch;
   justify-items: stretch;
   margin: 0 calc(#{css-var('cardholder-column-spacing')} / -2);

   &--start {
      justify-content: flex-start;
   }

   &__slot {
      box-sizing: border-box;
      padding: calc(#{css-var('cardholder-column-spacing')} / 2);
      flex: 1 1 100%;
      min-width: css-var('cardholder-column-min-width');

      .env-cardholder--8 & {
         flex: 1 1 12.5%;
      }

      .env-cardholder--6 & {
         flex: 1 1 16.6667%;
      }

      .env-cardholder--5 & {
         flex: 1 1 20%;
      }

      .env-cardholder--4 & {
         flex: 1 1 25%;
      }

      .env-cardholder--3 & {
         flex: 1 1 33.3333%;
      }

      .env-cardholder--2 & {
         flex: 1 1 50%;
      }

      .env-cardholder--max & {
         max-width: css-var('cardholder-column-max-width');
      }

      .env-cardholder--max.env-cardholder--8 & {
         max-width: 12.5%;
      }

      .env-cardholder--max.env-cardholder--6 & {
         max-width: 16.6667%;
      }

      .env-cardholder--max.env-cardholder--5 & {
         max-width: 20%;
      }

      .env-cardholder--max.env-cardholder--4 & {
         max-width: 25%;
      }

      .env-cardholder--max.env-cardholder--3 & {
         max-width: 33.3333%;
      }

      .env-cardholder--max.env-cardholder--2 & {
         max-width: 50%;
      }
   }
}

.env-cardholder-grid {
   --env-ch-col-w: #{css-var('cardholder-grid-column-width')};
   --env-ch-g: #{css-var('cardholder-grid-gap')};
   display: grid;
   grid-template-columns: repeat(
      auto-fill,
      minmax(#{css-var('ch-col-w')}, 1fr)
   );
   grid-auto-rows: 1fr;
   gap: #{css-var('ch-g')};
   margin: 0 auto;

   &--gap-none {
      --env-ch-g: 0;
   }

   &--gap-small {
      --env-ch-g: calc(0.5 * #{css-var('cardholder-grid-gap')});
   }

   &--gap-large {
      --env-ch-g: calc(2 * #{css-var('cardholder-grid-gap')});
   }

   &--column-small {
      --env-ch-col-w: calc(0.75 * #{css-var('cardholder-grid-column-width')});
   }

   &--column-large {
      --env-ch-col-w: calc(1.25 * #{css-var('cardholder-grid-column-width')});
   }

   $cols: 2, 3, 4, 5, 6, 8;

   @each $col in $cols {
      &--#{$col} {
         max-width: calc(
            #{css-var('ch-col-w')} *
               #{$col +
               1} +
               #{css-var('ch-g')} *
               #{$col} -
               1px
         );
      }
   }

   .env-cardholder__slot {
      min-width: 0;
      max-width: none;
      padding: 0;
   }
}
