.#{$prefix}-collapse {
   display: none;

   &--collapsing {
      display: block;
      height: 0;
      overflow: hidden;
      position: relative;
      transition: height css-var("collapse-toggle-duration") ease;
   }

   &--show {
      display: block;
   }

   > :first-child {
      padding-top: css-var("spacing-xx-small");
   }
}

.#{$prefix}-collapse-header {
   width: 100%;
   padding: css-var("spacing-x-small");
   cursor: pointer;
   box-sizing: border-box;
   border: css-var("collapse-border");
   background-color: css-var("collapse-background-color");
   word-break: break-all;

   &:focus {
      @include focus();
   }

   &:hover {
      background-color: css-var("collapse-expanded-background-color"); //$collapse-heading-bg-color-expanded;
      border: css-var("collapse-expanded-border");
   }

   &.#{$prefix}-collapse--expanded {
      background-color: css-var("collapse-expanded-background-color");
      border: css-var("collapse-expanded-border");
   }
}

[data-#{$prefix}-collapse] {
   &:not(.#{$prefix}-collapse--expanded) {
      .#{$prefix}-collapse-header--icons {
         &::before {
            transform: rotate(-90deg);
         }
      }
   }
}

.#{$prefix}-collapse-header--icons {
   margin-left: $collapse-icon-width;
   min-height: $collapse-heading-min-height;
   position: relative;

   &::before,
   &::after {
      content: "";
      top: $collapse-icon-top;
      right: $collapse-icon-right;
      width: css-var("collapse-icon-width");
      height: css-var("collapse-icon-height");
      transition: transform css-var("collapse-toggle-duration") ease-out;
      position: absolute;
      background-color: css-var("collapse-icon-color");
   }
}
