.env-text {
   @each $name in $CONTENT_TEXT_NAMES {
      &-#{$name} {
         font-family: var(--env-text-#{$name}-font-family);
         font-size: var(--env-text-#{$name}-font-size);
         font-weight: var(--env-text-#{$name}-font-weight);
         font-style: var(--env-text-#{$name}-font-style);
         line-height: var(--env-text-#{$name}-line-height);
         text-transform: var(--env-text-#{$name}-text-transform);
         letter-spacing: var(--env-text-#{$name}-letter-spacing);
         color: var(--env-text-#{$name}-font-color);
         margin-block-start: var(--env-text-#{$name}-margin-block-start);
         margin-block-end: var(--env-text-#{$name}-margin-block-end);

         @at-root a#{&},
            & a:not([class^='env-']):not([class*=' env-']) {
            color: var(--env-text-#{$name}-link-font-color);
            text-decoration: var(--env-text-#{$name}-link-text-decoration);

            &:hover {
               color: var(--env-text-#{$name}-link-hover-font-color);
               text-decoration: var(
                  --env-text-#{$name}-link-hover-text-decoration
               );
            }
         }
      }
   }
}
