.#{$prefix}-dropdown {
   position: relative;

   &__menu {
      background-color: css-var("element-background-color");
      border: $border-width $border-style css-var("border-color-light");
      border-radius: css-var("border-radius-small");
      box-shadow: css-var("popover-box-shadow");
      display: none;

      font-family: css-var("font-family");
      font-size: css-var("font-size-medium");
      left: 0;
      list-style: none;
      max-width: 240px;
      min-width: 180px;
      padding: css-var("spacing-xx-small") 0;
      position: absolute;
      top: css-var("spacing-medium");
      z-index: $zindex-dropdown;

      &--large {
         top: css-var("spacing-xxx-large");
      }
   }

   &__item {
      display: block;
      padding: css-var("spacing-x-small");
      @include truncate-text();
      text-decoration: none;

      &:hover {
         background-color: rgba(0, 0, 0, .1);
      }
   }

   &--divider {
      border-bottom: $border-width $border-style css-var("border-color-light");
      margin: css-var("spacing-xx-small") 0;
   }

   &--toggle-split {
      margin-left: 1px;
      margin-right: 1px;
   }

   &--toggle-split::after {
      margin-left: 0;
      margin-right: 0;
   }

   &-icon {
      vertical-align: middle;
   }
}
.#{$prefix}-is-open {

   .#{$prefix}-dropdown__menu {
      display: block;
   }
}
