.#{$prefix}-dropdown {
   position: relative;

   @include popout-menu;

   &__menu {
      background-color: css-var('section-background-color');
      border: $border-width $border-style css-var('border-color-light');
      border-radius: css-var('border-radius-small');
      box-shadow: css-var('box-shadow');
      display: none;
      left: 0;
      max-width: (240 / 16 * 1em);
      min-width: (180 / 16 * 1em);
      padding: css-var('spacing-xx-small') 0;
      margin: 0;
      position: fixed;
      top: 100%;
      z-index: $zindex-dropdown;

      &[data-env-dropdown] {
         display: block;
      }
   }

   &--toggle-split {
      margin-left: 1px;
      margin-right: 1px;
   }

   &--toggle-split::after {
      margin-left: 0;
      margin-right: 0;
   }

   &-icon {
      vertical-align: middle;
   }
}
