.#{$prefix}-dropdown {
   position: relative;

   @include popout-menu;

   &__menu {
      background-color: css-var('section-background-color');
      border: $border-width $border-style css-var('border-color-light');
      border-radius: css-var('border-radius-small');
      box-shadow: css-var('box-shadow');
      display: none;
      left: 0;
      max-width: (240 / 16 * 1em);
      min-width: (180 / 16 * 1em);
      padding: css-var('spacing-xx-small') 0;
      margin: 1em 0;
      position: absolute;
      top: css-var('spacing-medium');
      z-index: $zindex-dropdown;

      &--large {
         top: css-var('spacing-xxx-large');
      }
   }

   &--toggle-split {
      margin-left: 1px;
      margin-right: 1px;
   }

   &--toggle-split::after {
      margin-left: 0;
      margin-right: 0;
   }

   &-icon {
      vertical-align: middle;
   }
}

.#{$prefix}-is-open {
   .#{$prefix}-dropdown__menu {
      display: block;
   }
}
