.env-embedded {
   color: css-var('block-primary-font-color');
   background-color: css-var('block-primary-background-color');
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   border-radius: css-var('border-radius-medium');

   &--horizontal {
      display: flex;
      flex-direction: row;
   }

   &__img-container {
      flex: 1;
      order: 1;

      &--right {
         order: 3;

         .env-embedded__img {
            float: right;
         }
      }
   }

   &__title,
   &__text {
      // Todo: Set deprecated?
      padding-top: css-var('spacing-x-small');
   }

   &__block {
      flex: 3;
      flex-grow: 2;
      order: 2;
      padding: css-var('spacing-medium');

      button {
         margin-top: css-var('spacing-medium');
         border-radius: css-var('button-border-radius');
      }
   }

   &__block--overlay {
      left: 15%;
      position: absolute;
      text-align: center;
      top: 15%;
      width: 70%;

      @media screen and (max-width: 769px) {
         left: 5%;
         padding-bottom: css-var('spacing-small');
         position: relative;
         width: 90%;
      }

      &--right {
         text-align: right;
      }

      &--left {
         text-align: left;
      }
   }

   &__img {
      display: block;
      height: auto;
      max-width: 100%;
   }
}
