.env-post {
   word-wrap: break-word;
   overflow-wrap: anywhere;
   word-break: normal;
   border-radius: css-var('border-radius-medium');

   &__header,
   &__entry,
   &__attachment,
   &__shared {
      border-bottom: 1px solid transparent;
   }

   &__shared {
      .env-post {
         border-left: 3px solid css-var('element-primary-background-color');
         border-radius: 0;

         &__entry {
            padding: css-var('spacing-x-small');
         }
      }
   }

   > :not(:last-child) {
      padding: css-var('spacing-x-small');
   }
}

.env-comments {
   border-top: 1px solid transparent;

   &__wrapper {
      padding: css-var('spacing-x-small');
   }

   &__comment {
      align-items: center;
      padding-top: css-var('spacing-x-small');
   }
}

.env-comment {
   border-bottom: 1px solid transparent;
   padding: css-var('spacing-x-small') 0;
   border-radius: css-var('border-radius-medium');
}

.env-feed {
   &__item:not(:last-child) {
      padding-bottom: css-var('spacing-x-small');
   }
}
