.#{$prefix}-post {
   @include border-divider(border, 1px, $color-element-bg);

   &__header,
   &__entry,
   &__attachment,
   &__shared {
      @include border-divider(border-bottom, 1px, $color-element-bg);
   }

   &__shared {
      .#{$prefix}-post {
         @include border-divider(border-left, 3px, $color-brand);

         &__entry {
            padding: $spacing-x-small;
         }
      }
   }

   > :not(:last-child) {
      padding: $spacing-x-small;
   }
}

.#{$prefix}-comments {
   @include border-divider(border-top, 1px, $color-element-bg);
   background-color: $color-element-bg;

   &__wrapper {
      padding: $spacing-x-small;
   }

   &__comment {
      align-items: center;
      padding-top: $spacing-x-small;
   }
}

.#{$prefix}-comment {
   @include border-divider(border-bottom, 1px, $color-page-bg);
   padding: $spacing-x-small 0;
}

.#{$prefix}-feed {
   &__item:not(:last-child) {
      padding-bottom: $spacing-x-small;
   }
}
