.#{$prefix}-post {
   word-wrap: break-word;
   overflow-wrap: anywhere;
   word-break: normal;

   &__header,
   &__entry,
   &__attachment,
   &__shared {
      border-bottom: 1px solid transparent;
   }

   &__shared {
      .#{$prefix}-post {
         border-left: 3px solid css-var('element-primary-background-color');

         &__entry {
            padding: css-var('spacing-x-small');
         }
      }
   }

   > :not(:last-child) {
      padding: css-var('spacing-x-small');
   }
}

.#{$prefix}-comments {
   border-top: 1px solid transparent;

   &__wrapper {
      padding: css-var('spacing-x-small');
   }

   &__comment {
      align-items: center;
      padding-top: css-var('spacing-x-small');
   }
}

.#{$prefix}-comment {
   border-bottom: 1px solid transparent;
   padding: css-var('spacing-x-small') 0;
}

.#{$prefix}-feed {
   &__item:not(:last-child) {
      padding-bottom: css-var('spacing-x-small');
   }
}
