// ===== VARIANTS =====

// Deprecated since 2024.08.1.
.env-form--horizontal {
   .env-form-element {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;

      & > .env-form-element__label,
      & > .env-form-element__control {
         // align-items in Firefox needs inline children for baseline to work.
         // This fixes the issue without messing things up in Chrome et.al.
         display: inline-flex;
         flex-direction: column;
      }

      & > .env-form-element__label {
         flex-basis: 20%;
      }

      &__control {
         flex-basis: 80%;
      }

      &__help {
         margin-left: 20%;
      }
   }
}

// Deprecated since 2024.08.1.
.env-form--inline {
   display: flex;

   .env-form-element {
      align-items: center;
      display: flex;
      margin-bottom: 0;
      margin-right: css-var('spacing-x-small');

      &__label {
         margin-bottom: 0;
         margin-right: css-var('spacing-x-small');
      }

      &__help {
         margin-left: css-var('spacing-xx-small');
      }
   }

   .env-form-radio,
   .env-checkbox {
      margin-bottom: 0;
   }
}

// Deprecated since 2024.08.1.
.env-form__row {
   display: flex;
   gap: css-var('spacing-small');

   .env-form-element {
      flex: 1;

      @for $i from 1 through 6 {
         &--#{$i} {
            flex: $i;
         }
      }
   }
}

// Added in 2024.08.1.
.env-form:has(.env-form-row) {
   container-type: inline-size;
}

// Added in 2024.08.1.
.env-form-row {
   // Variants
   // --------
   // Row with form columns as children puts fields in columns
   // Use column on label/control to create inline label/control
   // Row with controls as children containing checkbox/radio creates inline controls with even spacing

   &:has(> [class*='env-form-column']:not(.env-form-control, .env-form-label)) {
      display: flex;
      gap: css-var('spacing-small');
      align-items: center;

      [class*='env-form-column'] {
         flex: 1;
      }

      &.env-form-row--stack-s {
         @container (max-width: 20em) {
            flex-direction: column !important;
            align-items: stretch !important;
            gap: css-var('spacing-medium') !important;
         }
      }
      &.env-form-row--stack-m {
         @container (max-width: 30em) {
            flex-direction: column !important;
            align-items: stretch !important;
            gap: css-var('spacing-medium') !important;
         }
      }
      &.env-form-row--stack-l {
         @container (max-width: 40em) {
            flex-direction: column !important;
            align-items: stretch !important;
            gap: css-var('spacing-medium') !important;
         }
      }
   }

   &:has(> [class*='env-form-column'].env-form-control):has(> [class*='env-form-column'].env-form-label) {
      display: flex;
      column-gap: css-var('spacing-small');
      align-items: center;

      [class*='env-form-column'] {
         flex: 1;
      }

      &.env-form-row--stack-s {
         @container (max-width: 20em) {
            display: block;
         }
      }
      &.env-form-row--stack-m {
         @container (max-width: 30em) {
            display: block;
         }
      }
      &.env-form-row--stack-l {
         @container (max-width: 40em) {
            display: block;
         }
      }
   }

   + .env-form-row {
      margin-top: css-var('spacing-medium');
   }

   &:has(> .env-form-control:not([class*='env-form-column'])
         > .env-radio, > .env-form-control:not([class*='env-form-column'])
         > .env-checkbox) {
      display: flex;
      column-gap: css-var('spacing-x-small');
      flex-wrap: wrap;
   }
}

// Added in 2024.08.1.
@for $i from 1 through 6 {
   .env-form-column-#{$i} {
      flex: $i !important;
   }
}
