.#{$prefix}-form {

   input,
   select,
   textarea {
      font-family: inherit;
   }

   input {
      margin: 0;
   }

   &-input {
      // background-color: $font-color-invert;
      background-color: css-var("element-background-color");
      background-image: none;
      border: css-var("border-light");
      border-radius: css-var("form-input-border-radius");
      box-sizing: border-box;
      color: css-var("font-color");
      display: block;
      font-size: css-var("font-size-medium");
      line-height: $form-input-line-height;
      margin: 0;
      padding: css-var("spacing-x-small");
      transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
      width: 100%;

      &[disabled],
      &[readonly] {
         //background-color: lighten($color-lighter, 10%);
         background-color: css-var("color-lightest");
         //border-color: $color-lighter;
         border-color: css-var("color-lighter");
      }

      &[disabled] {
         cursor: not-allowed;
         user-select: none;
      }

      &:focus {
         @include focus();
      }

      &[type="search"] {
         appearance: none;
      }

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button {
         display: none;
      }
   }

   select:not([multiple]) {
      // height: calc(#{$spacing-x-small + $spacing-x-small + $form-input-line-height} + #{$border-width * 2});
      height: calc(#{css-var("spacing-x-small")} * 2 + #{$form-input-line-height * 1em} + #{$border-width * 2});
   }

   &-element {
      margin-bottom: css-var("spacing-medium");

      &__label {
         display: inline-block;
         font-weight: $font-weight-semibold;
         margin-bottom: css-var("spacing-xx-small");
      }

      &__help,
      &__feedback {
         display: block;
         font-size: css-var("font-size-small");
         font-style: italic;
         margin-bottom: css-var("spacing-x-small");
         margin-top: css-var("spacing-x-small");
      }

      &__help {
         color: css-var("font-color-lighter");
         font-size: css-var("font-size-small");
      }

      &--success {
         @include input-validation-state("color-success", "border-success-color");
      }

      &--warning {
         @include input-validation-state("color-warning-dark", "border-warning-color");
      }

      &--danger {
         @include input-validation-state("color-danger", "border-danger-color");
      }


      &[type="file"] {
         display: block;
      }

      textarea {
         border-radius: css-var("form-input-border-radius");
         padding: css-var("spacing-x-small");
      }
   }

   &-multiple-select {

      select[multiple] {
         padding: css-var("spacing-xx-small");
      }

      select[multiple] > option {
         padding: css-var("spacing-x-small");
      }

      option:hover {
         background: linear-gradient($color-lighter, $color-lighter);
      }

      option:focus,
      option:checked {
         color: css-var("font-color-invert");
         // background: linear-gradient($color-brand, $color-brand);
         background: linear-gradient(#{css-var("color-primary")}, #{css-var("color-primary")});
      }
   }

   &-radio {
      display: block;
      margin-bottom: css-var("spacing-x-small");
      position: relative;

      &__fake {
         position: relative;
         padding-left: 20px;
         margin-right: css-var("spacing-x-small");
      }

      label &__fake:after {
         content:'';
         width: $radiobutton-size;
         height: $radiobutton-size;
         border: css-var("border-light");
         position: absolute;
         left: 0;
         top: 1px;
         border-radius: 100%;
         box-sizing: border-box;
      }

      [type="radio"] {
         cursor: pointer;
         position: absolute;
         width: 100%;
         height: 100%;
         z-index: 1;
         opacity: 0;
       }

      [type="radio"]:checked + label &__fake:before{
         border: $radiobutton-border;
         border-radius: 100%;
         content: '';
         height: $radiobutton-checked-size;
         left: -1px;
         position: absolute;
         width: $radiobutton-checked-size;
         z-index: $zindex-radio-button;
      }

      &__label {
         display: inline;
         vertical-align: sub;
      }

      // Workaround for Safari
      & [type="radio"] ~ label:hover &__fake {
         background-color: transparent;
      }

      &--disabled {
         label {
            color: css-var("font-color-light");
            cursor: not-allowed;
         }

         input {
            cursor: not-allowed;
         }
      }
   }

   $form-element: #{$prefix}-form-element;
   //Variants
   &--horizontal {
      .#{$form-element} {
         display: flex;
         flex-wrap: wrap;

         & > .#{$form-element}__label {
            flex-basis: 20%;
         }

         &__control {
            flex-basis: 80%;
         }

         &__help {
            margin-left: 20%;
         }
      }
   }

   &--inline {
      display: flex;

      .#{$form-element} {
         align-items: center;
         display: flex;
         margin-bottom: 0;
         margin-right: css-var("spacing-x-small");

         &__label {
            margin-bottom: 0;
            margin-right: css-var("spacing-x-small");
         }

         &__help {
            margin-left: css-var("spacing-xx-small");
         }
      }

      .#{$prefix}-form-radio,
      .#{$prefix}-checkbox {
         margin-bottom: 0;
      }
   }

   &__row {
      display: flex;

      .#{$form-element} {
         flex: 1;

         @for $i from 1 through 6 {
            &--#{$i} {
               flex: $i;
            }
         }

         + .#{$form-element} {
            margin-left: css-var("spacing-xx-small");
         }
      }
   }
}

.#{$prefix}-checkbox {
   display: block;

   [type='checkbox'] {
      @include visually-hidden();
   }

   [type='checkbox']:checked + label &__fake::after {
      $tick-position: 50%;

      border-bottom: 2px solid $font-color-invert;
      border-left: 2px solid $font-color-invert;
      content: "";
      display: block;
      height: $checkbox-tick-height;
      left: $tick-position;
      position: absolute;
      top: 40%;
      transform: translate3d(-$tick-position, -$tick-position, 0) rotate(-45deg);
      width: $checkbox-tick-width;
   }

   [type='checkbox']:disabled + label &__fake {
      background-color: css-var("color-lighter") !important;
   }

   [type='checkbox']:focus + label &__fake {
      @include focus();
   }

   &__fake {
      border: css-var("border-light");
      border-radius: css-var("border-radius-small");
      display: inline-block;
      height: $checkbox-size;
      margin-right: css-var("spacing-xx-small");
      position: relative;
      transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
      vertical-align: middle;
      width: $checkbox-size;
   }

   [type='checkbox']:checked + label &__fake {
      background-color: css-var("color-primary");
   }

   &__label {
      display: inline;
      vertical-align: bottom;
   }

   &--disabled {
      label {
         color: css-var("font-color-light");
         cursor: not-allowed;
      }
   }
}
