.#{$prefix}-icon {
   display: inline-block;
   width: $icon-size-x-small;
   height: $icon-size-x-small;
   stroke-width: 0;
   stroke: currentColor;
   fill: currentColor;
}

$sizes: (
   x-small: $icon-size-x-small,
   small: $icon-size-small,
   medium: $icon-size-medium,
   large: $icon-size-large,
   x-large: $icon-size-x-large,
   xx-large: $icon-size-xx-large
);
@each $size, $value in $sizes {
   .#{$prefix}-icon--#{$size} {
      width: $value;
      height: $value;
   }
}

.#{$prefix}-icon--inactive {
   opacity: .3;

   &:hover {
      opacity: .6;
   }
}
