.#{$prefix}-icon-2 {
   display: inline-block;
   width: calc(var(--env-font-size-base) * #{$icon-size-x-small});
   height: calc(var(--env-font-size-base) * #{$icon-size-x-small});
   stroke: currentColor;
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke-width: 1.5px;
   fill: none;

   //
   //.defaultStyles {
   //stroke: currentColor;
   //stroke-linecap: round;
   //stroke-linejoin: round;
   //stroke-width: 1.5px;
   //}
   //
   //.fillCurrentColor {
   //fill: currentColor;
   //}
   //
   //.fillNone {
   //fill: none;
   //}
   //
   //.fillEvenOdd {
   //fill-rule: evenodd;
   //}
   //
   //.strokeWidthZero {
   //stroke-width: 0;
   //}
   //
   //.strokeWidthOne {
   //stroke-width: 1px;
   //}
}
.#{$prefix}-icon {
   display: inline-block;
   width: calc(var(--env-font-size-base) * #{$icon-size-x-small});
   height: calc(var(--env-font-size-base) * #{$icon-size-x-small});
   stroke-width: 0;
   stroke: currentColor;
   fill: currentColor;
}

$sizes: (
   xx-small: calc(var(--env-font-size-base) * #{$icon-size-xx-small}),
   x-small: calc(var(--env-font-size-base) * #{$icon-size-x-small}),
   small: calc(var(--env-font-size-base) * #{$icon-size-small}),
   medium: calc(var(--env-font-size-base) * #{$icon-size-medium}),
   large: calc(var(--env-font-size-base) * #{$icon-size-large}),
   x-large: calc(var(--env-font-size-base) * #{$icon-size-x-large}),
   xx-large: calc(var(--env-font-size-base) * #{$icon-size-xx-large}),
);

@each $size, $value in $sizes {
   .#{$prefix}-icon--#{$size},
   .#{$prefix}-icon-2--#{$size} {
      width: $value;
      height: $value;
   }
}

.#{$prefix}-icon--inactive,
.#{$prefix}-icon-2--inactive {
   opacity: 0.3;

   &:hover {
      opacity: 0.6;
   }
}
