.#{$prefix}-icon {
   display: inline-block;
   width: calc(var(--env-font-size-base) * #{$icon-size-x-small});
   height: calc(var(--env-font-size-base) * #{$icon-size-x-small});
   stroke-width: 0;
   stroke: currentColor;
   fill: currentColor;

   &--2 {
      stroke: currentColor;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.5px;
      fill: none;
      // Todo: Add modifier for
      // fill: currentColor;
      // ??
      //&.#{$prefix}-icon--fill {
      //   fill: currentColor;
      //}
      // Todo: Add modifier for
      // stroke-width: 0;
   }
}

$sizes: (
   xx-small: calc(var(--env-font-size-base) * #{$icon-size-xx-small}),
   x-small: calc(var(--env-font-size-base) * #{$icon-size-x-small}),
   small: calc(var(--env-font-size-base) * #{$icon-size-small}),
   medium: calc(var(--env-font-size-base) * #{$icon-size-medium}),
   large: calc(var(--env-font-size-base) * #{$icon-size-large}),
   x-large: calc(var(--env-font-size-base) * #{$icon-size-x-large}),
   xx-large: calc(var(--env-font-size-base) * #{$icon-size-xx-large}),
);

@each $size, $value in $sizes {
   .#{$prefix}-icon--#{$size} {
      width: $value;
      height: $value;
   }
}

.#{$prefix}-icon--inactive {
   opacity: 0.3;

   &:hover {
      opacity: 0.6;
   }
}
