.env-image-slider {
   position: relative;

   &__inner {
      overflow: hidden;
      position: relative;
      width: 100%;
      border-radius: css-var('border-radius-medium');
   }

   &__item {
      align-items: center;
      backface-visibility: hidden;
      display: none;
      perspective: 1000px;
      position: relative;
      transition: transform 0.5s ease;
      width: 100%;
   }

   &__item--active,
   &__item--prev,
   &__item--next {
      display: flex;
   }

   &--next,
   &--prev {
      appearance: none;
      border: none;
      background: transparent;
      align-items: center;
      bottom: 0;
      display: flex;
      font-size: 2em;
      justify-content: center;
      opacity: 0.5;
      position: absolute;
      text-align: center;
      text-decoration: none;
      top: 0;
      width: 15%;

      @include focus-visible;
   }

   &--next {
      right: 0;
   }

   &--prev {
      left: 0;
   }

   &__item--next,
   &__item--prev {
      position: absolute;
      top: 0;

      @include focus-visible;
   }

   &__previous-icon,
   &__next-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
      color: css-var('image-control-color');
      fill: currentColor;
   }

   &__item--next.env-image-slider__item--left,
   &__item--prev.env-image-slider__item--right {
      transform: translate3d(0, 0, 0);
      z-index: 1;
   }

   &__item--next,
   &__item--active.env-image-slider__item--right {
      transform: translate3d(100%, 0, 0);
      z-index: 2;
   }

   &__item--prev,
   &__item--active.env-image-slider__item--left {
      transform: translate3d(-100%, 0, 0);
      z-index: 2;
   }

   &__thumbnails {
      bottom: 0;
      display: flex;
      justify-content: flex-start;
      left: 0;
      list-style: none;
      margin-top: css-var('spacing-x-small');
      overflow: auto;
      padding-left: 0;
      right: 0;
      z-index: $zindex-imageslider-indicator;

      li {
         cursor: pointer;
         margin-right: css-var('spacing-x-small');
         position: relative;
      }

      .env-image-slider__thumbnail {
         max-width: 90px;
         opacity: 0.4;
         border-radius: css-var('border-radius-medium');
      }

      .env-image-slider__item--active {
         opacity: 1;
      }
   }

   &__indicators {
      @include slide-indicator;
   }

   &__caption {
      bottom: css-var('spacing-large');
      color: rgba(255, 255, 255, 1);
      left: ((100% - 70%) * 0.5);
      padding-bottom: css-var('spacing-large');
      padding-top: css-var('spacing-large');
      position: absolute;
      right: ((100% - 70%) * 0.5);
      text-align: center;
      z-index: $zindex-imageslider-indicator;
   }
}
