.env-image-viewer {
   position: relative;
   text-align: center;

   &__modal {
      display: block;
      bottom: 0;
      left: 0;
      opacity: 1;
      margin: 3% 0;
      position: fixed;
      right: 0;
      text-align: center;
      top: 0;
      z-index: $zindex-modal;
   }

   &__dialog {
      cursor: default;
      display: inline-block;
      position: relative;
   }

   &__modal-container {
      position: relative;
      text-align: center;
      margin: 0 auto;
   }

   &__backdrop {
      @include backdrop();

      &--in {
         @include backdrop-in();
      }
   }

   &__item--prev,
   &__item--next {
      display: flex;
      justify-content: center;
   }

   &--next,
   &--prev {
      appearance: none;
      align-items: center;
      bottom: 0;
      cursor: pointer;
      display: flex;
      font-size: 2em;
      position: absolute;
      top: 0;
      width: 33%;
      z-index: $zindex-imageslider-indicator;
      border: none;
      background: transparent;

      @include focus-visible;
   }

   &--next {
      justify-content: flex-end;
      right: 0;
   }

   &--prev {
      justify-content: flex-start;
      left: 0;
   }

   &__item--next,
   &__item--prev {
      position: absolute;
      top: 0;
   }

   &__prev-icon,
   &__next-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
      color: css-var('image-control-color');
      fill: currentColor;
   }

   &__next-icon {
      margin-right: css-var('spacing-xxx-small');
   }

   &__prev-icon {
      margin-left: css-var('spacing-xxx-small');
   }

   &__thumbnails {
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      list-style: none;
      margin-top: css-var('spacing-x-small');
      padding-left: 0;
      right: 0;
      z-index: $zindex-imageslider-indicator;

      li {
         cursor: pointer;
         margin-right: css-var('spacing-x-small');
         position: relative;
      }
   }

   &__thumbnail {
      display: block;
      object-fit: cover;
      border: $border-width $border-style transparent;
      max-width: 80px;
      opacity: 0.9;
      border-radius: css-var('border-radius-medium');

      &:active {
         border: $border-width $border-style
            css-var('element-primary-background-color-light');
         opacity: 1;
      }
   }

   &__indicators {
      @include slide-indicator;
   }

   &__images {
      display: block;
      @include focus-visible;
   }

   &__img {
      max-width: 100%;
      @include focus-visible;
      border-radius: css-var('border-radius-medium');
   }

   &--hidden {
      visibility: hidden;
   }
}
