@keyframes env-fade {
   from {
      opacity: 0;
   }
   to {
      opacity: 0.5;
   }
}

.env-modal-dialog,
.env-modal-alert {
   position: fixed;
   display: none;
   opacity: 0;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow-x: hidden;
   transition: opacity 0.3s linear;
   z-index: $zindex-modal;
   white-space: nowrap;
   text-align: center;

   &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
   }

   &--show {
      display: block;
      opacity: 1;
   }

   &__dialog {
      position: relative;
      text-align: left;
      vertical-align: middle;
      display: inline-block;
      overflow-wrap: anywhere;
      word-break: normal;
      // Inline-block styling needs some left/right margin compensation.
      // Optimized for Chrome, shoudn't matter too much in other browsers.
      margin: 1em 14px 1em 10px;
      white-space: normal;
      width: css-var('modal-medium-width');
      max-width: calc(100% - 30px);
   }

   &__content {
      position: relative;
      background-color: css-var('section-background-color');
      box-shadow: css-var('box-shadow');
      color: css-var('font-color');
   }
}

.env-modal-dialog {
   &--inner-scroll {
      overflow-y: hidden;
   }

   &__dialog {
      &--large {
         width: css-var('modal-large-width');
      }

      &--small {
         width: css-var('modal-small-width');
      }
   }

   &__content {
      border: $border-width $border-style css-var('border-color');
      border-radius: css-var('border-radius-medium');
   }

   &__header {
      display: block;
      padding: css-var('spacing-small') css-var('spacing-x-large');
      border-bottom: $border-width $border-style css-var('border-color-light'); // border-color-05
      border-radius: css-var('border-radius-medium')
         css-var('border-radius-medium') 0 0;

      &__title {
         margin-bottom: 0 !important;
         padding: 0;
      }
   }

   &__backdrop {
      @include backdrop();

      &--in {
         @include backdrop-in();
      }
   }

   &__body {
      padding: css-var('spacing-small') css-var('spacing-x-large');

      .env-modal-dialog--inner-scroll & {
         // Margin + header + footer height = 180px = 11.25em
         max-height: min(calc(100vh - 11.25em), 50vh);
         min-height: 3em;
         overflow-y: auto;
      }
   }

   &__footer {
      padding: css-var('spacing-small') css-var('spacing-x-large');
      border-top: $border-width $border-style css-var('border-color-light'); // border-color-05
      border-radius: 0 0 css-var('border-radius-medium')
         css-var('border-radius-medium');
      text-align: left;

      &--right {
         text-align: right;
      }
   }
}

.env-modal-alert {
   &__content {
      border-top: 6px $border-style css-var('element-primary-background-color');
      padding: css-var('spacing-large') css-var('spacing-xx-large')
         css-var('spacing-xx-large');
   }

   &__icon {
      color: css-var('element-primary-background-color');
      margin: 0 0 1em;
      padding: 0.5em 0;
      text-align: center;
   }

   &__body {
      margin: css-var('spacing-large') 0 css-var('spacing-xxx-large');
   }

   &__footer {
      &--right {
         text-align: right;
      }
   }

   $variableNames: 'secondary', 'success', 'warning', 'danger', 'info';

   @each $name in $variableNames {
      &.env-modal-alert--#{$name} {
         .env-modal-alert__content {
            border-top-color: css-var('element-#{$name}-background-color');
         }

         .env-modal-alert__icon {
            color: css-var('element-#{$name}-background-color');
         }
      }
   }
}
