.#{$prefix}-modal-dialog {
   position: fixed;
   display: none;
   opacity: 0;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   outline: 0;
   overflow-x: hidden;
   transition: opacity 0.3s linear;
   z-index: $zindex-modal;
   white-space: nowrap;
   text-align: center;

   &--inner-scroll {
      overflow-y: hidden;
   }

   &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
   }

   &--show {
      display: block;
      opacity: 1;
   }

   &__dialog {
      position: relative;
      text-align: left;
      vertical-align: middle;
      display: inline-block;
      word-wrap: break-word;
      overflow-wrap: anywhere;
      word-break: normal;
      // Inline-block styling needs some left/right margin compensation.
      // Optimized for Chrome, shoudn't matter too much in other browsers.
      margin: 1em 14px 1em 10px;
      white-space: normal;
      width: css-var('modal-medium-width');
      max-width: calc(100% - 30px);

      &--large {
         width: css-var('modal-large-width');
      }

      &--small {
         width: css-var('modal-small-width');
      }
   }

   &__content {
      position: relative;
      background-color: css-var('section-background-color');
      border: $border-width $border-style css-var('border-color');
      border-radius: css-var('border-radius-medium');
      box-shadow: css-var('box-shadow');
      outline: 0;
   }

   &__header {
      display: block;
      padding: css-var('spacing-xx-small') css-var('spacing-small');
      border-bottom: $border-width $border-style css-var('border-color-light');
      border-radius: css-var('border-radius-medium')
         css-var('border-radius-medium') 0 0;

      &__title {
         margin-bottom: 0 !important;
         padding: css-var('spacing-xx-small') 0;
      }
   }

   &__backdrop {
      @include backdrop();

      &--in {
         @include backdrop-in();
      }
   }

   &__body {
      padding: css-var('spacing-x-small') css-var('spacing-small');

      .#{$prefix}-modal-dialog--inner-scroll & {
         max-height: 50vh;
         overflow-y: auto;
      }
   }

   &__footer {
      padding: css-var('spacing-small');
      border-top: $border-width $border-style css-var('border-color-light');
      border-radius: 0 0 css-var('border-radius-medium')
         css-var('border-radius-medium');
      text-align: left;

      &--right {
         text-align: right;
      }
   }
}

@keyframes #{$prefix}-fade {
   from {
      opacity: 0;
   }
   to {
      opacity: 0.5;
   }
}
