$nav-link-classname: #{$prefix}-nav__link;

.#{$prefix}-nav {
   @include reset-list();
   font-family: css-var("font-family");
   font-size: css-var("font-size-medium");
   font-weight: $font-weight-regular;

   &__link {
      @include nav-link();
   }
}

.#{$prefix}-nav--menubar {
   display: flex;

   .#{$nav-link-classname} {
      padding: css-var("spacing-small");
   }

   &.#{$prefix}-nav--fill {
      .#{$nav-link-classname} {
         @include filled-nav-states();
      }
   }

   &.#{$prefix}-nav--border {
      .#{$nav-link-classname} {
         border-bottom: $border-width $border-style transparent;

         &:hover {
            border-bottom-color: css-var("color-primary-dark");
            color: css-var("color-primary-dark");
         }

         &--active {
            border-bottom-color: css-var("color-primary");
            color: css-var("color-primary");
         }
      }
   }
}

.#{$prefix}-nav--sidenav {
   .#{$nav-link-classname} {
      border-bottom: css-var("border-light");
      color: css-var("color-normal");
      padding: css-var("spacing-small") 0;

      &--active {
         border-left: 2px $border-style css-var("color-primary");
         padding-left: css-var("spacing-x-small");
      }

      &:hover {
         color: css-var("color-primary");
      }
   }
}
