.env-nav {
   @include reset-list();
   font-family: css-var('font-family');
   font-size: css-var('font-size-medium');
   font-weight: $font-weight-regular;

   &__link {
      @include nav-link();
   }
}

.env-nav--menubar {
   display: flex;

   .env-nav__link {
      padding: css-var('spacing-small');
   }

   &.env-nav--fill {
      .env-nav__link {
         @include filled-nav-states();
         border-radius: css-var('border-radius-medium');
      }
   }

   &.env-nav--border {
      .env-nav__link {
         border-bottom: $border-width $border-style transparent;

         &:hover {
            border-bottom-color: css-var('link-hover-font-color');
            color: css-var('link-hover-font-color');
         }

         &[aria-current='page'],
         &--active {
            border-bottom-color: css-var('link-hover-font-color');
            color: css-var('link-hover-font-color');
         }
      }
   }
}

.env-nav--sidenav {
   .env-nav__link {
      border-bottom: $border-width $border-style css-var('border-color-05');
      color: css-var('link-secondary-font-color');
      padding: css-var('spacing-small') 0;

      &[aria-current='page'],
      &--active {
         border-left: 2px $border-style
            css-var('link-secondary-hover-font-color');
         padding-left: css-var('spacing-x-small');
      }

      &:hover {
         color: css-var('link-secondary-hover-font-color');
      }
   }
}
