.env-news-item {
   background-color: css-var('section-background-color');
   color: css-var('font-color');
   display: flex;
   flex-direction: column;
   margin: css-var('spacing-xxx-small');
   overflow-wrap: break-word;
   border-radius: css-var('border-radius-medium');

   &__headline {
      padding: 0 css-var('spacing-x-small');
   }

   &__media,
   &__preamble,
   &__footer {
      padding: css-var('spacing-x-small');
   }
}
