.#{$prefix}-news-item {
   background-color: css-var("element-background-color");
   display: flex;
   flex-direction: column;
   margin: css-var("spacing-xxx-small");
   overflow-wrap: break-word;
   word-wrap: break-word;

   &__headline {
      padding: 0 css-var("spacing-x-small");
   }

   &__media,
   &__preamble,
   &__footer {
      padding: css-var("spacing-x-small");
   }
}
