.#{$prefix}-pagination {
   @include reset-list();
   display: flex;

   &__link {
      @include pagination-size(
         'spacing-xx-small',
         'spacing-small',
         'font-size-medium'
      );
      background-color: transparent;
      border: {
         style: css-var('pagination-border-style');
         width: css-var('pagination-border-width');
         color: css-var('element-secondary-background-color-dark');
      }
      color: css-var('font-color');
      cursor: pointer;
      display: inline-block;
      font-family: css-var('pagination-font-family');
      margin-top: css-var('pagination-border-width', -1);
      margin-left: css-var('pagination-border-width', -1);
      position: relative;
      text-decoration: none;

      &:focus {
         @include focus();
         z-index: 3;
      }

      &.#{$prefix}-is-active {
         background-color: css-var('element-primary-background-color');
         color: css-var('element-primary-font-color');
         border-color: css-var('element-primary-background-color');
      }

      &.#{$prefix}-is-disabled {
         @include is-disabled();
      }
   }

   &__link:hover {
      background-color: css-var('element-primary-background-color');
      border-color: css-var('element-primary-background-color');
      color: css-var('element-primary-font-color');
      z-index: 2;
   }

   &--center {
      justify-content: center;
   }

   &--end {
      justify-content: flex-end;
   }

   [tabindex='-1']:focus {
      border-color: transparent;
      box-shadow: none;
   }

   &--small {
      .#{$prefix}-pagination__link {
         @include pagination-size(
            'spacing-xxx-small',
            'spacing-x-small',
            'font-size-small'
         );
      }
   }

   &--large {
      .#{$prefix}-pagination__link {
         @include pagination-size(
            'spacing-x-small',
            'spacing-medium',
            'font-size-large'
         );
      }
   }
}
