.#{$prefix}-pagination {
   @include reset-list();
   display: flex;

   &__link {
      @include pagination-size("spacing-xx-small", "spacing-small", "font-size-medium");
      background-color: css-var("pagination-background-color");
      border: {
         style: css-var("pagination-border-style");
         width: css-var("pagination-border-width");
         color: css-var("pagination-border-color");
      }
      color: css-var("pagination-font-color");
      cursor: pointer;
      display: inline-block;
      font-family: css-var("pagination-font-family");
      margin-top: css-var("pagination-border-width", -1);
      margin-left: css-var("pagination-border-width", -1);
      position: relative;
      text-decoration: none;

      &:focus {
         @include focus();
         z-index: 3;
      }

      &.#{$prefix}-is-active {
         background-color: css-var("pagination-active-background-color");
         color: css-var("pagination-active-font-color");
         border-color: css-var("pagination-active-border-color");
      }

      &.#{$prefix}-is-disabled {
         @include is-disabled();
      }
   }

   &__link:hover {
      background-color: css-var("pagination-hover-background-color");
      border-color: css-var("pagination-hover-border-color");
      color: css-var("pagination-hover-font-color");
      z-index: 2;
   }

   &--center {
      justify-content: center;
   }

   &--end {
      justify-content: flex-end;
   }

   [tabindex="-1"]:focus {
      border-color: transparent;
      box-shadow: none;
   }

   &--small {
      .#{$prefix}-pagination__link {
         @include pagination-size("spacing-xxx-small", "spacing-x-small", "font-size-small");
      }
   }

   &--large {
      .#{$prefix}-pagination__link {
         @include pagination-size("spacing-x-small", "spacing-medium", "font-size-large");
      }
   }
}
