// Arrow Size
$arrow-position: -22px;
$arrow-border-size: 10px;

.#{$prefix}-popover {
   background-color: $color-element-bg;
   border: $border-light;
   border-radius: $radius-medium;
   box-shadow: $popover-shadow;
   margin: $arrow-border-size;
   max-width: $popover-width;
   position: relative;
   z-index: $zindex-popover;

   &__header {
      background-color: $color-brand;
      border-radius: $radius-medium $radius-medium 0 0;
      display: block;
      padding: $spacing-xx-small $spacing-x-small;

      &__title {
         color: $font-color-invert;
         margin-bottom: 0 !important;
      }
   }

   &__content {
      display: block;
   }

   &__arrow {
      border-color: transparent;
      border-style: $border-style;
      border-width: $arrow-border-size + 1;
      display: block;
      height: 0;
      position: absolute;
      width: 0;

      &::after {
         border-color: transparent;
         border-style: $border-style;
         border-width: $arrow-border-size;
         content: "";
         display: block;
         height: 0;
         position: absolute;
         width: 0;
      }

      &--top,
      &--bottom {
         left: 50%;
         margin-left: -$arrow-border-size;

         &::after {
            margin-left: -$arrow-border-size;
         }
      }

      &--bottom {
         border-bottom-color: $color-brand;
         top: $arrow-position;

         &::after {
            border-bottom-color: $color-brand;
            border-top-width: 0;
            top: 1px;
         }
      }

      &--top {
         border-top-color: $color-lighter;
         bottom: $arrow-position;

         &::after {
            border-bottom-width: 0;
            border-top-color: $color-element-bg;
            bottom: 1px;
         }
      }

      &--right,
      &--left {
         margin-top: -$arrow-border-size;
         top: 50%;

         &::after {
            margin-top: -$arrow-border-size;
         }
      }

      &--left {
         border-left-color: $color-lighter;
         right: $arrow-position;

         &::after {
            border-left-color: $color-element-bg;
            border-right-width: 0;
            right: 1px;
         }
      }

      &--right {
         border-right-color: $color-lighter;
         left: $arrow-position;

         &::after {
            border-left-width: 0;
            border-right-color: $color-element-bg;
            left: 1px;
         }
      }
   }
}
