@use 'sass:math';

.env-popover {
   $arrow-size: 11px;

   background-color: css-var('section-background-color');
   border: $border-width $border-style css-var('border-color-light');
   border-radius: css-var('border-radius-medium');
   box-shadow: css-var('box-shadow');
   color: css-var('font-color');
   margin: 0;
   max-width: css-var('popover-width');
   position: relative;
   text-align: left;
   z-index: $zindex-popover;
   overflow-wrap: anywhere;
   word-break: normal;

   &__header {
      border-radius: css-var('border-radius-medium')
         css-var('border-radius-medium') 0 0;
      display: block;
      padding: css-var('spacing-large') css-var('spacing-x-large')
         css-var('spacing-small');

      &__title {
         margin-bottom: 0 !important;
      }
   }

   &__content {
      display: block;
      padding: css-var('spacing-x-large');

      .env-popover__header + & {
         padding-top: css-var('spacing-small');
      }
   }

   @include popout-menu(#{css-var('spacing-x-large')});

   &__menu {
      min-width: (math.div(180, $BROWSER_FONT_SIZE) * 1em);
   }

   &__arrow {
      @include arrowBase($arrow-size);
   }

   $arrowLocations: 'top', 'right', 'bottom', 'left';
   $branded-border-width: 4px;

   @each $location in $arrowLocations {
      @include arrow($location, $arrow-size, $branded-border-width);
   }

   &--tooltip {
      // Override theme colors for tooltip class
      @at-root {
         @include to-css-custom-property(
            (
               'font-color': var(--env-tooltip-font-color),
               'link-font-color': var(--env-tooltip-font-color),
               'link-hover-font-color': var(--env-tooltip-font-color),
               'link-text-decoration': underline,
               'link-hover-text-decoration': underline,
            ),
            '.env-popover--tooltip'
         );
      }

      color: var(--env-tooltip-font-color);
      background-color: var(--env-tooltip-background-color);
      border: none !important;

      [class^='env-ui-text-'],
      [class*=' env-ui-text-'] {
         color: var(--env-tooltip-font-color);
      }

      .env-text--muted,
      .env-ui-text-caption {
         color: var(--env-tooltip-font-color);
         filter: opacity(0.65);
      }

      @each $location in $arrowLocations {
         @include arrow(
            $location,
            $arrow-size,
            0,
            var(--env-tooltip-background-color)
         );
      }
   }
}
