// Arrow Size
$arrow-position: -22px;
$arrow-border-size: 10px;

.#{$prefix}-popover {
   position: relative;

   //@extend %popout-menu;
}

.#{$prefix}-popover {
   background-color: css-var('section-background-color');
   border: $border-width $border-style css-var('border-color-light');
   border-radius: css-var('border-radius-medium');
   box-shadow: css-var('box-shadow');
   margin: $arrow-border-size;
   max-width: css-var('popover-width');
   position: relative;
   z-index: $zindex-popover;
   word-wrap: break-word;
   overflow-wrap: anywhere;
   word-break: normal;

   &__header {
      border-radius: css-var('border-radius-medium')
         css-var('border-radius-medium') 0 0;
      display: block;
      padding: css-var('spacing-x-small') css-var('spacing-small');
      border-bottom: $border-width $border-style css-var('border-color-light');

      &__title {
         margin-bottom: 0 !important;
      }
   }

   &__content {
      display: block;
      padding: css-var('spacing-small');
   }

   @include popout-menu;

   &__menu {
      padding: css-var('spacing-x-small') 0;
   }

   &__arrow {
      border-color: transparent;
      border-style: $border-style;
      border-width: $arrow-border-size + 1;
      display: block;
      height: 0;
      position: absolute;
      width: 0;

      &::after {
         border-color: transparent;
         border-style: $border-style;
         border-width: $arrow-border-size;
         content: '';
         display: block;
         height: 0;
         position: absolute;
         width: 0;
      }

      &--top,
      &--bottom {
         left: 50%;
         margin-left: -$arrow-border-size;

         &::after {
            margin-left: -$arrow-border-size;
         }
      }

      &--bottom {
         border-bottom-color: css-var('border-color-light');
         top: $arrow-position;

         &::after {
            border-bottom-color: css-var('section-background-color');
            border-top-width: 0;
            top: 1px;
         }
      }

      &--top {
         border-top-color: css-var('border-color-light');
         bottom: $arrow-position;

         &::after {
            border-bottom-width: 0;
            border-top-color: css-var('section-background-color');
            bottom: 1px;
         }
      }

      &--right,
      &--left {
         margin-top: -$arrow-border-size;
         top: 50%;

         &::after {
            margin-top: -$arrow-border-size;
         }
      }

      &--left {
         border-left-color: css-var('border-color-light');
         right: $arrow-position;

         &::after {
            border-left-color: css-var('section-background-color');
            border-right-width: 0;
            right: 1px;
         }
      }

      &--right {
         border-right-color: css-var('border-color-light');
         left: $arrow-position;

         &::after {
            border-left-width: 0;
            border-right-color: css-var('section-background-color');
            left: 1px;
         }
      }
   }
}
