.#{$prefix}-progress {
   background-color: css-var('element-common-background-color');
   border-radius: css-var('border-radius-small');
   display: flex;
   font-family: css-var('font-family');
   font-size: css-var('font-size-small');
   overflow: hidden;
   text-align: center;

   &__bar {
      background-color: css-var('element-primary-background-color');
      color: css-var('element-primary-font-color');
      height: $progress-bar-height;

      &--success {
         background-color: css-var('color-success');
      }

      &--warning {
         background-color: css-var('color-warning');
      }

      &--danger {
         background-color: css-var('color-danger');
      }

      &--striped {
         background-image: linear-gradient(
            -45deg,
            transparent 33%,
            rgba($font-color-invert, 0.15) 33%,
            rgba($font-color-invert, 0.15) 66%,
            transparent 66%
         );
         background-size: $spacing-xx-large $spacing-large; // Keep

         &--flip {
            background-image: linear-gradient(
               45deg,
               transparent 33%,
               rgba($font-color-invert, 0.15) 33%,
               rgba($font-color-invert, 0.15) 66%,
               transparent 66%
            );
         }

         &--animated {
            animation: #{$prefix}-progress-animation 1s linear infinite;
         }
      }
   }

   &-poll {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 3.25em;
      margin-bottom: css-var('spacing-x-small');
      line-height: 1;
      background-color: css-var('element-background-color-light');
      color: css-var('element-font-color');
      padding: 0 css-var('spacing-x-small');

      &,
      * {
         box-sizing: border-box;
      }

      &__bar {
         position: absolute;
         z-index: 1;
         top: 0;
         bottom: 0;
         left: 0;
         background-color: css-var('element-background-color-dark');
         border-radius: css-var('border-radius-small');
      }

      &--highlighted .#{$prefix}-progress-poll__bar {
         background-color: css-var('progress-bar-poll-highlight-color');
      }

      &__label,
      &__value {
         position: relative;
         z-index: 2;
         box-sizing: border-box;
         padding: 0 css-var('spacing-x-small');
      }

      &__label {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         text-align: left;
      }

      &__value {
         text-align: right;
         white-space: nowrap;
      }

      &__icon {
         flex: 0 0 1.25em;
         width: 1.25em;
         height: 1.25em;
         margin: 0 css-var('spacing-xx-small');
         stroke-width: 0;
         stroke: currentColor;
         fill: currentColor;
      }
   }
}

@keyframes #{$prefix}-progress-animation {
   0% {
      background-position: $spacing-xx-large 0; // Keep
   }
   100% {
      background-position: 0 0;
   }
}
