.#{$prefix}-progress {
   background-color: css-var('atom-secondary-background-color');
   border-radius: css-var('border-radius-small');
   display: flex;
   font-family: css-var('font-family');
   font-size: css-var('font-size-small');
   overflow: hidden;
   text-align: center;

   &__bar {
      background-color: css-var('atom-primary-background-color');
      color: css-var('atom-primary-font-color');
      height: $progress-bar-height;

      &--success {
         background-color: css-var('color-success');
      }

      &--warning {
         background-color: css-var('color-warning');
      }

      &--danger {
         background-color: css-var('color-danger');
      }

      &--striped {
         background-image: linear-gradient(
            -45deg,
            transparent 33%,
            rgba($font-color-invert, 0.15) 33%,
            rgba($font-color-invert, 0.15) 66%,
            transparent 66%
         );
         background-size: $spacing-xx-large $spacing-large; // Keep

         &--flip {
            background-image: linear-gradient(
               45deg,
               transparent 33%,
               rgba($font-color-invert, 0.15) 33%,
               rgba($font-color-invert, 0.15) 66%,
               transparent 66%
            );
         }

         &--animated {
            animation: #{$prefix}-progress-animation 1s linear infinite;
         }
      }
   }
}

@keyframes #{$prefix}-progress-animation {
   0% {
      background-position: $spacing-xx-large 0; // Keep
   }
   100% {
      background-position: 0 0;
   }
}
