.#{$prefix}-range-slider {
   $range-height: $spacing-small;
   $handle-size-desktop: $spacing-xx-large;
   $handle-size-touch: $spacing-x-large;
   border: $border-width $border-style css-var('border-color');
   border-radius: css-var('border-radius-small');
   height: $range-height;
   position: relative;

   &__handle {
      border-radius: css-var('border-radius-small');
      background: $color-lighter;
      border: $border-width $border-style css-var('border-color');
      height: $handle-size-desktop;
      margin-left: -($handle-size-desktop / 2);
      position: absolute;
      top: calc(
         -1 * (((#{$handle-size-desktop} - #{$range-height}) / 2) + 1px)
      );
      transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      width: $handle-size-desktop;

      &:focus {
         @include focus();
      }
   }

   &__values {
      display: flex;
      margin-top: $spacing-large; // Keep
      position: relative;

      &__value {
         flex-basis: 45%;

         &--from {
            display: flex;
            justify-content: flex-end;
         }
      }

      &__separator {
         display: flex;
         flex-basis: 10%;
         justify-content: center;
      }
   }

   &__range {
      background: css-var('color-primary');
      height: 100%;
      position: absolute;
   }

   &--touch {
      $slider: #{$prefix}-range-slider;

      .#{$slider}__handle {
         height: $handle-size-touch;
         margin-left: -($handle-size-touch / 2);
         top: calc(
            -1 * (((#{$handle-size-touch} - #{$range-height}) / 2) + 1px)
         );
         width: $handle-size-touch;
      }

      .#{$slider}__value {
         margin-left: -($handle-size-touch / 2) !important;
         top: $spacing-x-large; // Keep
      }
   }
}
