@use 'mixin/focus';
@use 'variable';

.env-range-slider {
   $range-height: variable.$spacing-small;
   $handle-size-desktop: variable.$spacing-xx-large;
   $handle-size-touch: variable.$spacing-x-large;
   border: variable.$border-width variable.$border-style var(--env-border-color);
   border-radius: var(--env-border-radius-medium);
   height: $range-height;
   position: relative;

   &__handle {
      border-radius: var(--env-border-radius-medium);
      background-color: var(--env-element-background-color);
      border: variable.$border-width variable.$border-style
         var(--env-element-background-color-dark);
      height: $handle-size-desktop;
      margin-left: -($handle-size-desktop * 0.5);
      position: absolute;
      top: calc(
         -1 * (((#{$handle-size-desktop} - #{$range-height}) / 2) + 1px)
      );
      transition:
         border-color 0.2s ease-in-out,
         box-shadow 0.2s ease-in-out;
      width: $handle-size-desktop;

      @include focus.focus-visible;
   }

   &__values {
      display: flex;
      margin-top: variable.$spacing-large; // Keep
      position: relative;

      &__value {
         flex-basis: 45%;

         &--from {
            display: flex;
            justify-content: flex-end;
         }
      }

      &__separator {
         display: flex;
         flex-basis: 10%;
         justify-content: center;
      }
   }

   &__range {
      background: var(--env-element-primary-background-color);
      height: 100%;
      position: absolute;
   }

   @media (hover: none) {
      .env-range-slider__handle {
         height: $handle-size-touch;
         margin-left: -($handle-size-touch * 0.5);
         top: calc(
            -1 * (((#{$handle-size-touch} - #{$range-height}) / 2) + 1px)
         );
         width: $handle-size-touch;
      }

      .env-range-slider__value {
         margin-left: -($handle-size-touch * 0.5) !important;
         top: variable.$spacing-x-large; // Keep
      }
   }
}
