.env-range-slider {
   $range-height: $spacing-small;
   $handle-size-desktop: $spacing-xx-large;
   $handle-size-touch: $spacing-x-large;
   border: $border-width $border-style css-var('border-color');
   border-radius: css-var('border-radius-medium');
   height: $range-height;
   position: relative;

   &__handle {
      border-radius: css-var('border-radius-medium');
      background-color: css-var('element-common-background-color');
      border: $border-width $border-style css-var('border-color');
      height: $handle-size-desktop;
      margin-left: -($handle-size-desktop * 0.5);
      position: absolute;
      top: calc(
         -1 * (((#{$handle-size-desktop} - #{$range-height}) / 2) + 1px)
      );
      transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      width: $handle-size-desktop;

      @include focus-visible;
   }

   &__values {
      display: flex;
      margin-top: $spacing-large; // Keep
      position: relative;

      &__value {
         flex-basis: 45%;

         &--from {
            display: flex;
            justify-content: flex-end;
         }
      }

      &__separator {
         display: flex;
         flex-basis: 10%;
         justify-content: center;
      }
   }

   &__range {
      background: css-var('element-primary-background-color');
      height: 100%;
      position: absolute;
   }

   &--touch {
      .env-range-slider__handle {
         height: $handle-size-touch;
         margin-left: -($handle-size-touch * 0.5);
         top: calc(
            -1 * (((#{$handle-size-touch} - #{$range-height}) / 2) + 1px)
         );
         width: $handle-size-touch;
      }

      .env-range-slider__value {
         margin-left: -($handle-size-touch * 0.5) !important;
         top: $spacing-x-large; // Keep
      }
   }
}
