.#{$prefix}-spinner {
   font-size: 10px;
   height: 60px;
   text-align: center;

   &--hide {
      display: none;
   }

   > div {
      animation: #{$prefix}-stretchdelay 1.2s infinite ease-in-out;
      background-color: $spinner-color;
      display: inline-block;
      height: 100%;
      width: 6px;
   }

   .#{$prefix}-rect2 {
      animation-delay: -1.1s;
   }

   .#{$prefix}-rect3 {
      animation-delay: -1s;
   }

   .#{$prefix}-rect4 {
      animation-delay: -0.9s;
   }

   .#{$prefix}-rect5 {
      animation-delay: -0.8s;
   }
}

@keyframes #{$prefix}-stretchdelay {
   0%,
   40%,
   100% {
      transform: scaleY(0.4);
   }
   20% {
      transform: scaleY(1);
   }
}

.#{$prefix}-spinner-bounce {
   text-align: center;

   &--hide {
      display: none;
   }

   > div {
      padding: 9px;
      background-color: $spinner-color;
      border-radius: 100%;
      display: inline-block;
      animation: env-loader 1.4s infinite ease-in-out both;
   }

   .#{$prefix}-bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
   }

   .#{$prefix}-bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
   }
}

@keyframes #{$prefix}-loader {
   0%,
   80%,
   100% {
      transform: scale(0);
   }

   40% {
      transform: scale(1);
   }
}
