$link-classname: #{$prefix}-tabs__link;

.#{$prefix}-tabs {
   &__nav {
      @include reset-list();
      display: flex;

      &--border-bottom {
         border-bottom: $tab-bottom-width $border-style
            css-var('element-primary-background-color');
      }

      :first-child > a {
         margin-left: 0;
      }

      :last-child > a {
         margin-right: 0;
      }
   }

   &__link {
      display: block;
      text-decoration: none;
      transition: background-color 0.25s ease, color 0.25s ease;
      border-radius: css-var('border-radius-medium')
         css-var('border-radius-medium') 0 0;
      background-color: transparent;
      color: css-var('font-color');
      margin: 0 css-var('spacing-xxx-small');
      padding: css-var('spacing-x-small') css-var('spacing-medium');
      outline: 0;

      &--active {
         background-color: css-var('element-primary-background-color');
         color: css-var('element-primary-font-color');
      }

      &:focus {
         @include focus-shadow();
      }
   }

   &--simple {
      @include reset-list();
      display: flex;

      .#{$prefix}-tabs__link {
         background-color: transparent;
         border-color: transparent;
         color: css-var('font-color');
         margin: 0 css-var('spacing-xx-small');
         padding: css-var('spacing-x-small') css-var('spacing-x-small');
         outline: 0;
         transition: border-color 0.5s ease;

         &--active {
            border-bottom: $tab-bottom-width $border-style
               css-var('element-primary-background-color');
         }

         &:hover {
            border-bottom: $tab-bottom-width $border-style
               css-var('element-primary-background-color');
         }
      }
   }

   &--hover-fill {
      .#{$link-classname} {
         @include nav-link();
         @include filled-nav-states();
      }
   }

   &--column {
      display: block;
      width: 100%;
   }

   &--column > &__item {
      a {
         border-radius: 0;
         margin: 0;
      }
   }

   &--scroll {
      overflow: auto;
   }

   &--scroll > &__item {
      white-space: nowrap;
   }
}
