.env-tabs {
   &__nav {
      @include reset-list();
      display: flex;

      &--border-bottom {
         border-bottom: $tab-bottom-width $border-style
            css-var('element-primary-background-color');
      }

      :first-child > a {
         margin-left: 0;
      }

      :last-child > a {
         margin-right: 0;
      }
   }

   &__link,
   [role='tab'] {
      display: block;
      align-items: center;
      box-sizing: border-box;
      appearance: none;
      font-family: css-var('font-family');
      font-size: css-var('font-size-medium');
      line-height: 1;
      text-align: left;
      color: css-var('font-color');
      background-color: transparent;
      border: {
         style: none;
         width: 0;
         radius: 0;
      }
      box-shadow: none;
      text-shadow: none;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.25s ease, color 0.25s ease;
      border-radius: css-var('border-radius-medium')
         css-var('border-radius-medium') 0 0;
      margin: 0 css-var('spacing-xxx-small');
      padding: css-var('spacing-x-small') css-var('spacing-medium');

      &[aria-selected='true'] {
         background-color: css-var('element-primary-background-color');
         color: css-var('element-primary-font-color');
      }

      @include focus-visible;
   }

   &__panel[role='tabpanel'] {
      @include focus-visible;
   }

   &--simple {
      @include reset-list();
      display: flex;

      .env-tabs__link,
      [role='tab'] {
         background-color: transparent;
         border-color: transparent;
         border-radius: 0;
         color: css-var('font-color');
         margin: 0 css-var('spacing-xx-small');
         padding: css-var('spacing-x-small') css-var('spacing-x-small');
         transition: border-color 0.5s ease;

         &[aria-selected='true'] {
            border-bottom: $tab-bottom-width $border-style
               css-var('element-primary-background-color');
         }

         &:hover {
            border-bottom: $tab-bottom-width $border-style
               css-var('element-primary-background-color');
         }

         @include focus-visible;
      }
   }

   &--hover-fill {
      .env-tabs__link {
         @include nav-link();
         @include filled-nav-states();
      }
   }

   &--column {
      display: block;
      width: 100%;
   }

   &--column [role='tab'] {
      border-radius: 0;
      margin: 0;
   }
}
