$link-classname: #{$prefix}-tabs__link;

.#{$prefix}-tabs {
   &__nav {
      @include reset-list();
      display: flex;

      &--border-bottom {
         border-bottom: $tab-bottom-width $border-style css-var('color-primary');
      }

      :first-child > a {
         margin-left: 0;
      }

      :last-child > a {
         margin-right: 0;
      }
   }

   &__link {
      @include nav-link();
      border-radius: css-var('border-radius-medium')
         css-var('border-radius-medium') 0 0;
      background-color: css-var('element-background-color');
      color: css-var('font-color');
      margin: 0 css-var('spacing-xxx-small');
      padding: css-var('spacing-x-small') css-var('spacing-medium');
      outline: 0;

      &--active {
         background-color: css-var('button-primary-background-color');
         color: css-var('button-primary-font-color');

         &:hover {
            color: css-var('element-background-color');
         }
      }

      &:focus {
         @include focus();
      }
   }

   &--simple {
      @include reset-list();
      display: flex;

      .#{$prefix}-tabs__link {
         background-color: css-var('element-background-color');
         border-color: transparent;
         color: css-var('font-color');
         margin: 0 css-var('spacing-xx-small');
         padding: css-var('spacing-x-small') css-var('spacing-x-small');
         outline: 0;
         transition: border-color 0.5s ease;

         &--active {
            border-bottom: $tab-bottom-width $border-style
               css-var('color-primary');
            color: css-var('font-color');
         }

         &:hover {
            border-bottom: $tab-bottom-width $border-style
               css-var('color-primary');
            color: css-var('font-color');
         }
      }
   }

   &--hover-fill {
      .#{$link-classname} {
         @include nav-link();
         @include filled-nav-states();
      }
   }

   &--column {
      display: block;
      width: 100%;
   }

   &--column > &__item {
      a {
         border-radius: 0;
         margin: 0;
      }
   }
}
