.env-table {
   border-collapse: collapse;

   caption {
      font-size: css-var('font-size-large');
      font-weight: $font-weight-bold;
      text-align: left;
      margin: 0 0 css-var('spacing-x-small');
      padding: 0 calc(#{css-var('font-size-base')} / 1.25 * 0.5);
   }

   thead th {
      vertical-align: bottom;
   }
   th {
      text-align: left;
   }

   th,
   td {
      border-top: $border-width $border-style css-var('border-color');
      padding: css-var('spacing-x-small');
      vertical-align: top;
   }

   &--zebra {
      tbody tr:nth-of-type(odd) {
         color: css-var('block-primary-font-color');
         background-color: css-var('block-primary-background-color');
      }
   }

   &--borders-around {
      th,
      td {
         border: $border-width $border-style css-var('border-color');
      }
   }

   $border-directions: right bottom left;
   @each $direction in $border-directions {
      &--borders-#{$direction} {
         th,
         td {
            border-top: 0;
            border-#{$direction}: $border-width
               $border-style
               css-var('border-color');
         }
      }
   }

   &--small {
      caption {
         margin: 0 0 css-var('spacing-xx-small');
         padding: 0 calc(#{css-var('font-size-base')} / 1.25 * 0.25);
      }

      th,
      td {
         padding: css-var('spacing-xx-small');
      }
   }

   &--large {
      caption {
         margin: 0 0 css-var('spacing-small');
         padding: 0 calc(#{css-var('font-size-base')} / 1.25 * 0.75);
      }

      th,
      td {
         padding: css-var('spacing-small');
      }
   }

   &--hover {
      tbody tr:hover {
         color: css-var('block-primary-font-color');
         background-color: css-var('block-primary-background-color');
      }
   }

   // Deprecated 2024.02.1
   $colors: (
      active: 'block-primary-background-color',
      info: 'color-brand',
      success: 'color-success',
      warning: 'color-warning',
      danger: 'color-danger',
   );
   $blocks: row cell;
   @each $state, $color in $colors {
      @each $block in $blocks {
         .env-table__#{$block}--#{$state} {
            background-color: css-var($color);
         }
      }
   }
}
