.#{$prefix}-table {
   border-collapse: collapse;

   thead th {
      vertical-align: bottom;
   }
   th {
      text-align: left;
   }

   th,
   td {
      border-top: $border-width $border-style css-var('border-color');
      padding: css-var('spacing-x-small');
      vertical-align: top;
   }

   &--zebra {
      tbody tr:nth-of-type(odd) {
         color: css-var('block-primary-font-color');
         background-color: css-var('block-primary-background-color');
      }
   }

   &--borders-around {
      th,
      td {
         border: $border-width $border-style css-var('border-color');
      }
   }

   $border-directions: right bottom left;
   @each $direction in $border-directions {
      &--borders-#{$direction} {
         th,
         td {
            border-top: 0;
            border-#{$direction}: $border-width
               $border-style
               css-var('border-color');
         }
      }
   }

   &--small {
      th,
      td {
         padding: css-var('spacing-xx-small');
      }
   }

   &--large {
      th,
      td {
         padding: css-var('spacing-small');
      }
   }

   &--hover {
      tbody tr:hover {
         color: css-var('block-primary-font-color');
         background-color: css-var('block-primary-background-color');
      }
   }

   $colors: (
      active: 'block-primary-background-color',
      info: 'color-brand',
      success: 'color-success',
      warning: 'color-warning',
      danger: 'color-danger',
   );
   $blocks: row cell;
   @each $state, $color in $colors {
      @each $block in $blocks {
         .#{$prefix}-table__#{$block}--#{$state} {
            background-color: css-var($color);
         }
      }
   }
}
