// ----- CONTENT TEXT -----

$CONTENT_TEXT: (
   'headline': (
      '01',
      '02',
      '03',
      '04',
      '05',
      '06',
   ),
   'display': (
      '01',
      '02',
      '03',
   ),
   'preamble': (),
   'body': (
      '01',
      '02',
      '03',
      '04',
   ),
   'quotation': (
      '01',
      '02',
   ),
   'table': (
      'caption',
      'heading',
      'data',
   ),
);

@include to-css-custom-property(
   (
      'text-headline-font-family': var(--env-font-family),
      'text-headline-font-color': var(--env-font-color),
      'text-headline-font-weight': 800,
      'text-headline-text-transform': none,
      'text-headline-letter-spacing': 0,
      'text-headline-line-height': 1.2,

      'text-headline-font-size': 3.8125em,
      'text-headline-margin-block-start': 1.5em,
      'text-headline-margin-block-end': 0.5em,

      'text-headline-01-font-size': var(--env-text-headline-font-size),
      'text-headline-02-font-size':
         calc(var(--env-text-headline-font-size) / pow(1.25, 1)),
      'text-headline-03-font-size':
         calc(var(--env-text-headline-font-size) / pow(1.25, 2)),
      'text-headline-04-font-size':
         calc(var(--env-text-headline-font-size) / pow(1.25, 3)),
      'text-headline-05-font-size':
         calc(var(--env-text-headline-font-size) / pow(1.25, 4)),
      'text-headline-06-font-size':
         calc(var(--env-text-headline-font-size) / pow(1.25, 5)),
      'text-headline-01-margin-block-start': 0,
      'text-headline-01-margin-block-end':
         var(--env-text-headline-margin-block-end),
      'text-headline-02-margin-block-start':
         var(--env-text-headline-margin-block-start),
      'text-headline-02-margin-block-end':
         var(--env-text-headline-margin-block-end),
      'text-headline-03-margin-block-start':
         var(--env-text-headline-margin-block-start),
      'text-headline-03-margin-block-end':
         var(--env-text-headline-margin-block-end),
      'text-headline-04-margin-block-start':
         var(--env-text-headline-margin-block-start),
      'text-headline-04-margin-block-end':
         var(--env-text-headline-margin-block-end),
      'text-headline-05-margin-block-start':
         var(--env-text-headline-margin-block-start),
      'text-headline-05-margin-block-end':
         var(--env-text-headline-margin-block-end),
      'text-headline-06-margin-block-start':
         var(--env-text-headline-margin-block-start),
      'text-headline-06-margin-block-end':
         var(--env-text-headline-margin-block-end),
      'text-headline-01-font-weight': var(--env-text-headline-font-weight),
      'text-headline-02-font-weight': var(--env-text-headline-font-weight),
      'text-headline-03-font-weight': var(--env-text-headline-font-weight),
      'text-headline-04-font-weight': var(--env-text-headline-font-weight),
      'text-headline-05-font-weight': var(--env-text-headline-font-weight),
      'text-headline-06-font-weight': var(--env-text-headline-font-weight),
   )
);

@include to-css-custom-property(
   (
      'text-display-font-family': var(--env-font-family),
      'text-display-font-color': var(--env-font-color),
      'text-display-font-weight': 400,
      'text-display-text-transform': none,
      'text-display-letter-spacing': 0,
      'text-display-line-height': 1.2,

      'text-display-font-size': 3.0625em,
      'text-display-margin-block-start': 1em,
      'text-display-margin-block-end': 0.25em,

      'text-display-01-font-size': var(--env-text-display-font-size),
      'text-display-02-font-size':
         calc(var(--env-text-display-font-size) / pow(1.25, 2)),
      'text-display-03-font-size':
         calc(var(--env-text-display-font-size) / pow(1.25, 4)),
      'text-display-01-margin-block-start':
         var(--env-text-display-margin-block-start),
      'text-display-01-margin-block-end':
         var(--env-text-display-margin-block-end),
      'text-display-02-margin-block-start':
         var(--env-text-display-margin-block-start),
      'text-display-02-margin-block-end':
         var(--env-text-display-margin-block-end),
      'text-display-03-margin-block-start':
         var(--env-text-display-margin-block-start),
      'text-display-03-margin-block-end':
         var(--env-text-display-margin-block-end),
      'text-display-01-font-weight': var(--env-text-display-font-weight),
      'text-display-02-font-weight': var(--env-text-display-font-weight),
      'text-display-03-font-weight': var(--env-text-display-font-weight),
   )
);

@include to-css-custom-property(
   (
      'text-preamble-font-family': var(--env-font-family),
      'text-preamble-font-color': var(--env-font-color),
      'text-preamble-font-weight': 400,
      'text-preamble-text-transform': none,
      'text-preamble-letter-spacing': 0,
      'text-preamble-line-height': 1.5,

      'text-preamble-font-size': 1.125em,
      'text-preamble-margin-block-start': 1em,
      'text-preamble-margin-block-end': 1em,
   )
);

@include to-css-custom-property(
   (
      'text-body-font-family': var(--env-font-family),
      'text-body-font-color': var(--env-font-color),
      'text-body-font-weight': 400,
      'text-body-text-transform': none,
      'text-body-letter-spacing': 0,
      'text-body-line-height': 1.75,

      'text-body-font-size': 1.25em,
      'text-body-margin-block-start': 0,
      'text-body-margin-block-end': 1em,

      'text-body-01-font-size': var(--env-text-body-font-size),
      'text-body-02-font-size':
         calc(var(--env-text-body-font-size) / pow(1.25, 1)),
      'text-body-03-font-size':
         calc(var(--env-text-body-font-size) / pow(1.25, 2)),
      'text-body-04-font-size':
         calc(var(--env-text-body-font-size) / pow(1.25, 3)),
   )
);

@include to-css-custom-property(
   (
      'text-quotation-font-family': var(--env-font-family),
      'text-quotation-font-color': var(--env-font-color),
      'text-quotation-font-weight': 300,
      'text-quotation-text-transform': none,
      'text-quotation-letter-spacing': 0,
      'text-quotation-line-height': 1.5,

      'text-quotation-font-size': 2.625em,
      'text-quotation-margin-block-start': 1em,
      'text-quotation-margin-block-end': 1em,

      'text-quotation-01-font-size': var(--env-text-quotation-font-size),
      'text-quotation-02-font-size':
         calc(var(--env-text-quotation-font-size) / 1.75),
   )
);

@include to-css-custom-property(
   (
      'text-table-font-family': var(--env-font-family),
      'text-table-font-color': var(--env-font-color),
      'text-table-text-transform': none,
      'text-table-letter-spacing': 0,
      'text-table-line-height': 1.2,

      'text-table-font-size': 1em,
      'text-table-margin-block-start': 0,
      'text-table-margin-block-end': 0,

      'text-table-caption-font-size':
         calc(var(--env-text-table-font-size) * 1.25),
      'text-table-caption-font-weight': 700,
      'text-table-caption-font-family': var(--env-text-table-font-family),
      'text-table-caption-margin-block-start': 1em,
      'text-table-caption-margin-block-end': 0.25em,

      'text-table-data-font-size': var(--env-text-table-font-size),
      'text-table-data-font-weight': 400,
      'text-table-heading-font-size': var(--env-text-table-font-size),
      'text-table-heading-font-weight': 700,
   )
);

%text-headline-common {
   @include content-text-common('headline');
}

%text-display-common {
   @include content-text-common('display');
}

%text-preamble-common {
   @include content-text-common('preamble');
}

%text-body-common {
   @include content-text-common('body');
}

%text-quotation-common {
   @include content-text-common('quotation');
}

%text-table-common {
   font-family: var(--env-text-table-font-family);
   font-size: var(--env-text-table-font-size);
   font-style: normal;
   text-transform: var(--env-text-table-text-transform);
   letter-spacing: var(--env-text-table-letter-spacing);
   line-height: var(--env-text-table-line-height);
   color: var(--env-text-table-font-color);
}

.env-text {
   @each $name, $variants in $CONTENT_TEXT {
      @if (length($variants) == 0) {
         &-#{$name} {
            @extend %text-#{$name}-common;
            @if ($name == 'heading' or $name == 'display') {
               @include content-text-link-secondary;
            } @else {
               @include content-text-link;
            }
         }
      } @else {
         @each $variant in $variants {
            &-#{$name}#{'-'}#{$variant} {
               @extend %text-#{$name}-common;
               @if ($name == 'headline' or $name == 'display') {
                  @include content-text-link-secondary;
               } @else {
                  @include content-text-link;
               }
               font-size: var(--env-text-#{$name}-#{$variant}-font-size);

               @if ($name == 'headline' or $name == 'display') {
                  font-weight: var(--env-text-#{$name}-#{$variant}-font-weight);
                  margin-block-start: css-var(
                     'text-#{$name}-#{$variant}-margin-block-start'
                  );
                  margin-block-end: css-var(
                     'text-#{$name}-#{$variant}-margin-block-end'
                  );
               }
               @if ($name == 'table' and $variant == 'data') {
                  font-weight: var(--env-text-#{$name}-#{$variant}-font-weight);
               }
               @if ($name == 'table' and $variant == 'heading') {
                  font-weight: var(--env-text-#{$name}-#{$variant}-font-weight);
               }
               @if ($name == 'table' and $variant == 'caption') {
                  font-weight: var(--env-text-#{$name}-#{$variant}-font-weight);
                  font-family: var(--env-text-#{$name}-#{$variant}-font-family);
                  margin-block-start: css-var(
                     'text-#{$name}-#{$variant}-margin-block-start'
                  );
                  margin-block-end: css-var(
                     'text-#{$name}-#{$variant}-margin-block-end'
                  );
               }
            }
         }
      }
   }
}
