@mixin toast-color($colorName: 'secondary') {
   background-color: css-var('element-#{$colorName}-background-color');
   box-shadow: 0px 5px 10px -8px css-var('element-#{$colorName}-background-color');
   color: css-var('element-#{$colorName}-font-color');

   a:not([class^='#{$prefix}-']):not([class*=' #{$prefix}-']),
   a.env-text,
   .env-text a {
      color: css-var('element-#{$colorName}-font-color');
      text-decoration: underline;
   }

   .#{$prefix}-toast__close {
      color: css-var('element-#{$colorName}-font-color');
   }
}

.#{$prefix}-toast {
   @include toast-color();
   align-items: center;
   align-self: flex-start;
   border-radius: 5px;
   display: flex;
   margin: 0;
   min-width: 300px;
   max-height: 0;
   max-width: 600px;
   opacity: 0;
   padding: 0;
   position: relative;
   transform: translate3d(0, 0, 0);
   transition-duration: 300ms;
   transition-timing-function: ease;

   &__check {
      display: flex;
      margin: 0 0 0 css-var('spacing-medium');
   }

   &__content {
      flex: 1 1 100%;
      margin-right: css-var('spacing-medium');
      overflow-wrap: anywhere;
      padding: css-var('spacing-medium');
      word-break: normal;
   }

   &__content a {
      word-break: break-all;
   }

   &__close {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      display: flex;
      margin-left: auto;
      margin-right: css-var('spacing-medium');
   }

   &--success {
      @include toast-color('success');
   }

   &--primary {
      @include toast-color('primary');
   }

   &--visible {
      bottom: 0;
      margin-top: css-var('spacing-small');
      max-height: 100%;
      opacity: 1;
      transition-duration: 200ms;
      transition-timing-function: ease;
   }

   &--hide {
      margin: 0;
      max-height: 0;
      transition-duration: 200ms;
      transition-timing-function: ease;
   }
}
