.#{$prefix}-toast {
   align-items: center;
   align-self: flex-start;
   background: css-var('element-secondary-background-color');
   border-radius: 5px;
   box-shadow: 0px 5px 10px -8px css-var('element-secondary-background-color');
   color: css-var('element-secondary-font-color');
   display: flex;
   margin: 0;
   min-width: 300px;
   max-height: 0;
   opacity: 0;
   padding: 0;
   position: relative;
   transform: translate3d(0, 0, 0);
   transition-duration: 300ms;
   transition-timing-function: ease;

   button {
      color: css-var('color-lightest');
   }

   &__check {
      display: flex;
   }

   &__content {
      margin-right: 1em;
      overflow-wrap: anywhere;
      padding: 1em;
      word-break: normal;
   }

   &__content a {
      word-break: break-all;
   }

   &__close-button {
      background: transparent;
      border: 0;
      cursor: pointer;
      display: flex;
      margin-left: auto;
      margin-right: 1em;
   }

   &--success {
      background: css-var('element-success-background-color');
      box-shadow: 0px 5px 10px -8px css-var('element-success-background-color');
      color: css-var('element-success-font-color');

      button {
         color: css-var('element-success-font-color');
      }
   }

   &--primary {
      background: css-var('element-primary-background-color');
      box-shadow: 0px 5px 10px -8px css-var('element-primary-background-color');
      color: css-var('element-primary-font-color');

      button {
         color: css-var('element-primary-font-color');
      }
   }

   &--invert {
      background: css-var('element-secondary-font-color');
      box-shadow: 0px 5px 10px -8px css-var('color-normal');
      color: css-var('element-secondary-background-color');

      button {
         color: css-var('element-secondary-background-color');
      }
   }

   &--visible {
      bottom: 0;
      margin-top: 10px;
      max-height: 100%;
      max-width: 600px;
      opacity: 1;
      transition-duration: 200ms;
      transition-timing-function: ease;
   }

   &--hide {
      margin: 0;
      max-height: 0;
      transition-duration: 200ms;
      transition-timing-function: ease;
   }
}
