.env-ui-text {
   @each $name in $UI_TEXT_NAMES {
      &-#{$name} {
         font-family: css-var('ui-text-#{$name}-font-family');
         font-size: css-var('ui-text-#{$name}-font-size');
         font-weight: css-var('ui-text-#{$name}-font-weight');
         font-style: normal;
         text-transform: css-var('ui-text-#{$name}-text-transform');
         letter-spacing: css-var('ui-text-#{$name}-letter-spacing');
         line-height: $line-height-medium;
         color: css-var('ui-text-#{$name}-font-color');
         margin: 0 !important;
      }
   }
}

@each $name in $UI_TEXT_NAMES {
   a.env-ui-text-#{$name},
   .env-ui-text-#{$name} a:not([class^='env-']):not([class*=' env-']) {
      @extend %ui-text-link;
   }
}

%ui-text-link {
   color: inherit;
   text-decoration: none;

   &:hover {
      text-decoration: underline;
   }
}
