@use 'variable';

.env-ui-text {
   @each $name in variable.$UI_TEXT_NAMES {
      &-#{$name} {
         font-family: var(--env-ui-text-#{$name}-font-family);
         font-size: var(--env-ui-text-#{$name}-font-size);
         font-weight: var(--env-ui-text-#{$name}-font-weight);
         font-style: normal;
         text-transform: var(--env-ui-text-#{$name}-text-transform);
         letter-spacing: var(--env-ui-text-#{$name}-letter-spacing);
         line-height: variable.$line-height-medium;
         color: var(--env-ui-text-#{$name}-font-color);
         margin: 0 !important;
      }
   }
}

@each $name in variable.$UI_TEXT_NAMES {
   a.env-ui-text-#{$name},
   .env-ui-text-#{$name} a:not([class^='env-']):not([class*=' env-']) {
      @extend %ui-text-link;
   }
}

%ui-text-link {
   color: inherit;
   text-decoration: none;

   &:hover {
      text-decoration: underline;
   }
}
