@import 'mixin/css-variables';

// ===================
// SASS ONLY VARIABLES
// ===================

// Base
$prefix: env !default;

// z-index value
$zindex-imageslider-indicator: 15 !default;
$zindex-radio-button: 100 !default;
$zindex-popover: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-modal-close-btn: 1055 !default;
$zindex-dropdown: 1060 !default;
$zindex-tooltip: 1080 !default;
$zindex-alert: 1090 !default;

//Animation
$toggle-duration: 0.3s !default;

// Font weight
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-semibold: 500 !default;
$font-weight-bold: 600 !default;
$font-weight-extrabold: 700 !default;

// Line height
$line-height-small: 1.25 !default;
$line-height-medium: 1.4 !default;
$button-line-height: $line-height-medium !default;
$form-input-line-height: $line-height-medium !default;

// Icon Size
// Decimal value used to calculate size relative to font-size-base
$icon-size-xx-small: (11 / 16) !default;
$icon-size-x-small: (14 / 16) !default;
$icon-size-small: (20 / 16) !default;
$icon-size-medium: (30 / 16) !default;
$icon-size-large: (40 / 16) !default;
$icon-size-x-large: (50 / 16) !default;
$icon-size-xx-large: (60 / 16) !default;

// =============================
// CSS CUSTOM PROPERTY VARIABLES
// =============================

// ----- TEXT -----

// Font family
$font-family: inherit !default;

@include to-css-custom-property(
   (
      'font-family': $font-family,
   )
);

// Font Size
$font-size-base: 1em !default;

@include to-css-custom-property(
   (
      'font-size-base': $font-size-base,
      'font-size-x-small': calc(var(--env-font-size-base) * 0.75),
      'font-size-small': calc(var(--env-font-size-base) * 0.875),
      'font-size-medium': var(--env-font-size-base),
      'font-size-large': calc(var(--env-font-size-base) * 1.25),
      'font-size-x-large': calc(var(--env-font-size-base) * 1.5),
      'font-size-xx-large': calc(var(--env-font-size-base) * 1.75),
      'font-size-xxx-large': calc(var(--env-font-size-base) * 2),
      'font-size-xxxx-large': calc(var(--env-font-size-base) * 2.5),
   )
);

$font-color: #202330 !default;
$font-color-light: lighten($font-color, 10%) !default;
$font-color-lighter: lighten($font-color, 20%) !default;
$font-color-invert: #ffffff !default;

@include to-css-custom-property(
   (
      'font-color': $font-color,
   )
);

// ----- GENERAL COLORS -----

// Color
$color-page-bg: #ffffff !default;
$color-section-bg: #ffffff !default;

@include to-css-custom-property(
   (
      'page-background-color': $color-page-bg,
      'section-background-color': $color-section-bg,
   )
);

$color-primary: #006dff !default;
$color-primary-light: lighten($color-primary, 10%) !default;
$color-primary-dark: darken($color-primary, 10%) !default;
$color-warning: #c59219 !default;
$color-warning-dark: darken($color-warning, 10%) !default;
$color-danger: #e22c2c !default;
$color-success: #318731 !default;
$color-info: #1d818b !default;
$color-hover: #f7f7f7 !default;

$color-base: #000000 !default;
$color-darker: lighten($color-base, 5%) !default;
$color-dark: lighten($color-base, 20%) !default;
$color-normal: lighten($color-base, 40%) !default;
$color-light: lighten($color-base, 60%) !default;
$color-lighter: lighten($color-base, 80%) !default;
$color-lightest: lighten($color-lighter, 10%) !default;

// ----- COLOR COMBO BLOCKS & ELEMENT COLORS -----

$background-color-primary: #e5f1ff;
$background-color-secondary: #f4f4f4;
$background-color-tertiary: #00214d;

$border-color-primary: #a7bed0;
$border-color-secondary: #bfbfbf;
$border-color-tertiary: #000b1a;

$element-default-background-color: #f2f2f2;

$element-secondary-font-color: #fff;
$element-secondary-background-color: #4f5153;

$element-common-background-color: #f2f2f2;

@include to-css-custom-property(
   (
      'font-color-primary': $font-color,
      'background-color-primary': $background-color-primary,
      'background-color-primary-light': lighten($background-color-primary, 3%),
      'background-color-primary-dark': darken($background-color-primary, 3%),
      'border-color-primary': $border-color-primary,
      'font-color-secondary': $font-color,
      'background-color-secondary': $background-color-secondary,
      'background-color-secondary-light':
         lighten($background-color-secondary, 3%),
      'background-color-secondary-dark': darken($background-color-secondary, 3%),
      'border-color-secondary': $border-color-secondary,
      'font-color-tertiary': $font-color-invert,
      'background-color-tertiary': $background-color-tertiary,
      'background-color-tertiary-light': lighten($background-color-tertiary, 3%),
      'background-color-tertiary-dark': darken($background-color-tertiary, 3%),
      'border-color-tertiary': $border-color-tertiary,
      'element-font-color': $font-color,
      'element-background-color': $element-default-background-color,
      'element-background-color-dark':
         darken($element-default-background-color, 5%),
      'element-background-color-light':
         lighten($element-default-background-color, 3%),
      'element-primary-font-color': $font-color-invert,
      'element-primary-background-color': $color-primary,
      'element-primary-background-color-dark': darken($color-primary, 5%),
      'element-primary-background-color-light': lighten($color-primary, 3%),
      'element-secondary-font-color': $element-secondary-font-color,
      'element-secondary-background-color': $element-secondary-background-color,
      'element-secondary-background-color-dark':
         darken($element-secondary-background-color, 5%),
      'element-secondary-background-color-light':
         lighten($element-secondary-background-color, 3%),
      'element-success-font-color': $font-color-invert,
      'element-success-background-color': $color-success,
      'element-success-background-color-dark': darken($color-success, 5%),
      'element-success-background-color-light': lighten($color-success, 3%),
      'element-warning-font-color': $font-color,
      'element-warning-background-color': $color-warning,
      'element-warning-background-color-dark': darken($color-warning, 5%),
      'element-warning-background-color-light': lighten($color-warning, 3%),
      'element-danger-font-color': $font-color-invert,
      'element-danger-background-color': $color-danger,
      'element-danger-background-color-dark': darken($color-danger, 5%),
      'element-danger-background-color-light': lighten($color-danger, 3%),
      'element-info-font-color': $font-color-invert,
      'element-info-background-color': $color-info,
      'element-info-background-color-dark': darken($color-info, 5%),
      'element-info-background-color-light': lighten($color-info, 3%),
      'element-common-background-color': $element-common-background-color,
   )
);

// ----- SPACING -----

// Size (Margin/Padding)
$spacing-base: 1rem !default;
$spacing-xxx-small: $spacing-base * 0.125 !default;
$spacing-xx-small: $spacing-base * 0.25 !default;
$spacing-x-small: $spacing-base * 0.5 !default;
$spacing-small: $spacing-base * 0.75 !default;
$spacing-medium: $spacing-base !default;
$spacing-large: $spacing-base * 1.25 !default;
$spacing-x-large: $spacing-base * 1.5 !default;
$spacing-xx-large: $spacing-base * 1.75 !default;
$spacing-xxx-large: $spacing-base * 2 !default;

@include to-css-custom-property(
   (
      'spacing-xxx-small': $spacing-xxx-small,
      'spacing-xx-small': $spacing-xx-small,
      'spacing-x-small': $spacing-x-small,
      'spacing-small': $spacing-small,
      'spacing-medium': $spacing-medium,
      'spacing-large': $spacing-large,
      'spacing-x-large': $spacing-x-large,
      'spacing-xx-large': $spacing-xx-large,
      'spacing-xxx-large': $spacing-xxx-large,
   )
);

// ----- SHADOWS -----

$box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15) !default;
$box-shadow-small: 0 0.125em 0.25em rgba(0, 0, 0, 0.075) !default;
$box-shadow-large: 0 1em 3em rgba(0, 0, 0, 0.175) !default;

@include to-css-custom-property(
   (
      'box-shadow': $box-shadow,
      'box-shadow-large': $box-shadow-large,
      'box-shadow-small': $box-shadow-small,
   )
);

// ----- BORDERS -----

// Radius
$radius-base: 0.25em !default;
$radius-small: $radius-base * 0.5 !default;
$radius-medium: $radius-base !default;
$radius-large: $radius-base * 1.5 !default;

@include to-css-custom-property(
   (
      'border-radius': $radius-base,
      'border-radius-small': calc(#{css-var('border-radius')} * 0.5),
      'border-radius-medium': #{css-var('border-radius')},
      'border-radius-large': calc(#{css-var('border-radius')} * 1.5),
   )
);

$border-width: 1px !default;
$border-style: solid !default;
$border-color: $color-light !default;
$border-color-light: $color-lighter !default;
$tab-bottom-width: 3px !default;

@include to-css-custom-property(
   (
      'border-color': $border-color,
      'border-color-light': $border-color-light,
      'border-success-color': $color-success,
      'border-warning-color': $color-warning-dark,
      'border-danger-color': $color-danger,
   )
);

// ==================
// COMPONENT SPECIFIC
// ==================

// ----- SPINNER -----

$spinner-color: #5cb3fd !default;

@include to-css-custom-property(
   (
      'spinner-color': $spinner-color,
   )
);

// ----- POPOVER -----

// Popover
$popover-width: 300px !default;

@include to-css-custom-property(
   (
      'popover-width': $popover-width,
   )
);

// ----- MODAL DIALOG -----

$modal-small: 300px !default;
$modal-medium: 450px !default;
$modal-large: 900px !default;

@include to-css-custom-property(
   (
      'modal-small-width': $modal-small,
      'modal-medium-width': $modal-medium,
      'modal-large-width': $modal-large,
   )
);

// ----- BREADCRUMB -----

$breadcrumb-divider-color: $color-light !default;
$breadcrumb-divider: '/' !default;

@include to-css-custom-property(
   (
      'breadcrumb-divider-color': $breadcrumb-divider-color,
   )
);

// ----- BADGE -----

$badge-border-radius: 0.2em !default;
$badge-font-size: 75% !default;
$badge-font-family: $font-family !default;

@include to-css-custom-property(
   (
      'badge-font-family': css-var('font-family'),
      'badge-font-size': $badge-font-size,
      'badge-border-radius': $badge-border-radius,
   )
);

// ----- IMAGE CONTROL -----

$image-control-color: $color-section-bg !default;
$image-control-color-inactive: $font-color-lighter !default;

@include to-css-custom-property(
   (
      'image-control-color': $image-control-color,
      'image-control-inactive-color': $image-control-color,
   )
);

// ----- BUTTONS -----

@include to-css-custom-property(
   (
      'button-font-family': css-var('font-family'),
      'button-border-radius': $radius-small,
   )
);

// ----- FORM ELEMENTS -----

// Radio button
$radiobutton-base: 0.625em !default;
$radiobutton-checked-size: $radiobutton-base !default;
$radiobutton-size: $radiobutton-base * 2 !default;

// Checkbox
$checkbox-size: 1.25em !default;
$checkbox-tick-height: $checkbox-size * 0.4 !default;
$checkbox-tick-width: $checkbox-size * 0.7 !default;
$checkbox-disabled-color: $color-lighter !default;

@include to-css-custom-property(
   (
      'form-font-family': css-var('font-family'),
      'form-input-border-radius': $radius-medium,
      'form-input-font-color': css-var('font-color'),
      'form-input-border-color': css-var('border-color-light'),
      'form-input-background-color': #fff,
   )
);

// ----- PROGRESS BAR -----

// Progress bar
$progress-bar-height: 1.25em !default;

// ----- COLLAPSE -----

// Collapse
$collapse-icon-height: 3px !default;
$collapse-icon-width: 15px !default;
$collapse-icon-top: 50% !default;
$collapse-icon-right: 15px !default;
$collapse-heading-min-height: 30px !default;
$collapse-toggle-duration: $toggle-duration !default;

// Collapse border
$collapse-border-width: $border-width !default;
$collapse-border-style: $border-style !default;

@include to-css-custom-property(
   (
      'collapse-border-style': $collapse-border-style,
      'collapse-border-width': $collapse-border-width,
      'collapse-icon-width': $collapse-icon-width,
      'collapse-icon-height': $collapse-icon-height,
      'collapse-toggle-duration': $collapse-toggle-duration,
   )
);

// ----- PAGINATION -----

// Pagination
$pagination-font: $font-family !default;
$pagination-border-width: $border-width !default;
$pagination-border-style: $border-style !default;

@include to-css-custom-property(
   (
      'pagination-font-family': css-var('font-family'),
      'pagination-border-width': $pagination-border-width,
      'pagination-border-style': $pagination-border-style,
   )
);

// ----- ALERT -----

// Alert
$alert-font-family: $font-family !default;
$alert-border-radius: 0;

// Todo: Discuss if we want this in config
$alert-background-color: #fff;

@include to-css-custom-property(
   (
      'alert-font-family': css-var('font-family'),
      'alert-border-radius': $alert-border-radius,
      'alert-background-color': $alert-background-color,
   )
);

// ----- PROFILE IMAGE -----

$profile-image-radius: 50% !default;

@include to-css-custom-property(
   (
      'profile-image-border-radius': $profile-image-radius,
   )
);

// ----- DEPRECATED -----

// All variables below this line are deprecated. To be removed later.
// ------------------------------------------------------------------

@include to-css-custom-property(
   (
      'font-color-light': $font-color-light,
      'font-color-lighter': $font-color-lighter,
      'font-color-invert': $font-color-invert,
   )
);

@include to-css-custom-property(
   (
      'color-page-bg': $color-page-bg,
      'color-element-bg': $color-section-bg,
   )
);

$color-brand: $color-primary;
$color-brand-light: $color-primary-light;
$color-brand-dark: $color-primary-dark;

$color-secondary: #6c757d !default;
$color-secondary-light: lighten($color-secondary, 10%) !default;
$color-secondary-dark: darken($color-secondary, 10%) !default;

$focus-color: #5cb3fd !default;

@include to-css-custom-property(
   (
      'color-primary': $color-primary,
      'color-primary-light': $color-primary-light,
      'color-primary-dark': $color-primary-dark,
      'color-secondary': $color-secondary,
      'color-secondary-light': $color-secondary-light,
      'color-secondary-dark': $color-secondary-dark,
      'color-brand': css-var('color-primary'),
      'color-brand-light': css-var('color-primary-light'),
      'color-brand-dark': css-var('color-primary-dark'),
      'color-warning': $color-warning,
      'color-warning-dark': $color-warning-dark,
      'color-danger': $color-danger,
      'color-success': $color-success,
      'color-info': $color-info,
      'color-hover': $color-hover,
      'color-base': $color-base,
      'color-darker': $color-darker,
      'color-dark': $color-dark,
      'color-normal': $color-normal,
      'color-light': $color-light,
      'color-lighter': $color-lighter,
      'color-lightest': $color-lightest,
      'focus-color': $focus-color,
   )
);

$focus-background-color: rgba(0, 0, 0, 0.2) !default;

@include to-css-custom-property(
   (
      'focus-background-color': $focus-background-color,
   )
);
