@use 'sass:math';

@import 'mixin/css-variables';

// ===================
// SASS ONLY VARIABLES
// ===================

// Helpers
$BROWSER_FONT_SIZE: 16;

// z-index value
$zindex-imageslider-indicator: 15 !default;
$zindex-radio-button: 100 !default;
$zindex-popover: 1030 !default;
$zindex-dropdown: 1060 !default;
$zindex-tagselect: 1070 !default;
$zindex-tooltip: 1080 !default;
$zindex-alert: 1090 !default;
// Docs Site Header z-index: 10000;
$zindex-modal-backdrop: 10010 !default;
$zindex-modal: 10020 !default;
$zindex-modal-close-btn: 10030 !default;

// Animation
$toggle-duration: 300ms !default;

// Font weight
$font-weight-regular: 400 !default;
$font-weight-semibold: 500 !default;
$font-weight-bold: 600 !default;

// Line height
$line-height-medium: 1.4 !default;
$line-height-wcag-min: 1.5 !default;

// Buttons and inputs
$button-line-height: 1 !default;

// Icon Size
// Decimal value used to calculate size relative to font-size-base
$icon-size-xx-small: math.div(11, $BROWSER_FONT_SIZE) !default;
$icon-size-x-small: math.div(14, $BROWSER_FONT_SIZE) !default;
$icon-size-small: math.div(20, $BROWSER_FONT_SIZE) !default;
$icon-size-medium: math.div(30, $BROWSER_FONT_SIZE) !default;
$icon-size-large: math.div(40, $BROWSER_FONT_SIZE) !default;
$icon-size-x-large: math.div(50, $BROWSER_FONT_SIZE) !default;
$icon-size-xx-large: math.div(60, $BROWSER_FONT_SIZE) !default;

// =============================
// CSS CUSTOM PROPERTY VARIABLES
// =============================

// ----- TEXT -----

// Font family
$font-family: inherit !default;

@include to-css-custom-property(
   (
      'font-family': $font-family,
   )
);

// Font Size
$font-size-base: 1em !default;

@include to-css-custom-property(
   (
      'font-size-base': $font-size-base,
      'font-size-x-small': calc(var(--env-font-size-base) * 0.75),
      'font-size-small': calc(var(--env-font-size-base) * 0.875),
      'font-size-medium': var(--env-font-size-base),
      'font-size-large': calc(var(--env-font-size-base) * 1.25),
      'font-size-x-large': calc(var(--env-font-size-base) * 1.5),
      'font-size-xx-large': calc(var(--env-font-size-base) * 1.75),
      'font-size-xxx-large': calc(var(--env-font-size-base) * 2),
      'font-size-xxxx-large': calc(var(--env-font-size-base) * 2.5),
   )
);

$font-color: #202330 !default;
$font-color-muted: rgba($font-color, 0.65);

@include to-css-custom-property(
   (
      'font-color': $font-color,
      'font-color-muted': $font-color-muted,
   )
);

$link-color: #3a71aa !default;
$link-text-decoration: none !default;
$link-hover-text-decoration: underline !default;

@include to-css-custom-property(
   (
      'link-font-color': $link-color,
      'link-text-decoration': $link-text-decoration,
      'link-hover-font-color': css-var('link-font-color'),
      'link-hover-text-decoration': $link-hover-text-decoration,
      'link-secondary-font-color': css-var('font-color'),
      'link-secondary-text-decoration': css-var('link-text-decoration'),
      'link-secondary-hover-font-color': css-var('link-font-color'),
      'link-secondary-hover-text-decoration':
         css-var('link-hover-text-decoration'),
   )
);

// ----- GENERAL COLORS -----

$background-color: initial !default;
$section-background-color: #ffffff !default;

@include to-css-custom-property(
   (
      'background-color': $background-color,
      'section-background-color': $section-background-color,
   )
);

// ----- UI STATUS COLORS -----

$ui-color-status-neutral: #393939;
$ui-color-status-neutral-contrast: #ffffff;
$ui-color-status-active: #58a978;
$ui-color-status-active-contrast: #202330;
$ui-color-status-attention: #ce2e7e;
$ui-color-status-attention-contrast: #ffffff;

@include to-css-custom-property(
   (
      'ui-color-status-neutral': $ui-color-status-neutral,
      'ui-color-status-neutral-contrast': $ui-color-status-neutral-contrast,
      'ui-color-status-active': $ui-color-status-active,
      'ui-color-status-active-contrast': $ui-color-status-active-contrast,
      'ui-color-status-attention': $ui-color-status-attention,
      'ui-color-status-attention-contrast': $ui-color-status-attention-contrast,
   )
);

// ----- UI BRAND COLORS -----

$BRAND_COLOR_VARIANTS: '05', '10', '15', '20', '25', '30', '35', '40', '45',
   '50', '55', '60', '65', '70', '75', '80', '85', '90', '95', '100';

@include to-css-custom-property(
   (
      'ui-color-brand': #767676,
      'ui-color-brand-dark': #626262,
      'ui-color-brand-contrast': #ffffff,
      'ui-color-brand-05': #fafafa,
      'ui-color-brand-05-contrast': #6e6e6e,
      'ui-color-brand-10': #f5f5f5,
      'ui-color-brand-10-contrast': #6e6e6e,
      'ui-color-brand-15': #ebebeb,
      'ui-color-brand-15-contrast': #616161,
      'ui-color-brand-20': #dedede,
      'ui-color-brand-20-contrast': #616161,
      'ui-color-brand-25': #d1d1d1,
      'ui-color-brand-25-contrast': #545454,
      'ui-color-brand-30': #c4c4c4,
      'ui-color-brand-30-contrast': #474747,
      'ui-color-brand-35': #b8b8b8,
      'ui-color-brand-35-contrast': #474747,
      'ui-color-brand-40': #ababab,
      'ui-color-brand-40-contrast': #3d3d3d,
      'ui-color-brand-45': #9e9e9e,
      'ui-color-brand-45-contrast': #363636,
      'ui-color-brand-50': #919191,
      'ui-color-brand-50-contrast': #262626,
      'ui-color-brand-55': #7a7a7a,
      'ui-color-brand-55-contrast': #000000,
      'ui-color-brand-60': #6e6e6e,
      'ui-color-brand-60-contrast': #f5f5f5,
      'ui-color-brand-65': #616161,
      'ui-color-brand-65-contrast': #dedede,
      'ui-color-brand-70': #545454,
      'ui-color-brand-70-contrast': #d1d1d1,
      'ui-color-brand-75': #474747,
      'ui-color-brand-75-contrast': #b8b8b8,
      'ui-color-brand-80': #3d3d3d,
      'ui-color-brand-80-contrast': #ababab,
      'ui-color-brand-85': #363636,
      'ui-color-brand-85-contrast': #9e9e9e,
      'ui-color-brand-90': #2b2b2b,
      'ui-color-brand-90-contrast': #9e9e9e,
      'ui-color-brand-95': #262626,
      'ui-color-brand-95-contrast': #919191,
      'ui-color-brand-100': #212121,
      'ui-color-brand-100-contrast': #919191,
   )
);

// ----- UI TEXT -----

$UI_TEXT_NAMES: 'overline', 'heading', 'sectionheading', 'subheading', 'caption';

@include to-css-custom-property(
   (
      'ui-text-overline-font-family': css-var('font-family'),
      'ui-text-overline-font-color': css-var('font-color'),
      'ui-text-overline-font-size': 0.75em,
      'ui-text-overline-font-weight': 600,
      'ui-text-overline-text-transform': uppercase,
      'ui-text-overline-letter-spacing': 0.15em,
      'ui-text-heading-font-family': css-var('font-family'),
      'ui-text-heading-font-color': css-var('font-color'),
      'ui-text-heading-font-size': 1.82em,
      'ui-text-heading-font-weight': 600,
      'ui-text-heading-text-transform': none,
      'ui-text-heading-letter-spacing': normal,
      'ui-text-sectionheading-font-family': css-var('font-family'),
      'ui-text-sectionheading-font-color': css-var('font-color'),
      'ui-text-sectionheading-font-size': 1.25em,
      'ui-text-sectionheading-font-weight': 600,
      'ui-text-sectionheading-text-transform': none,
      'ui-text-sectionheading-letter-spacing': normal,
      'ui-text-subheading-font-family': css-var('font-family'),
      'ui-text-subheading-font-color': css-var('font-color'),
      'ui-text-subheading-font-size': 1em,
      'ui-text-subheading-font-weight': 600,
      'ui-text-subheading-text-transform': none,
      'ui-text-subheading-letter-spacing': normal,
      'ui-text-caption-font-family': css-var('font-family'),
      'ui-text-caption-font-color': css-var('font-color-muted'),
      'ui-text-caption-font-size': 0.875em,
      'ui-text-caption-font-weight': 400,
      'ui-text-caption-text-transform': none,
      'ui-text-caption-letter-spacing': normal,
   )
);

// ----- FOCUS -----

// Color
$focus-size: 2px;

@include to-css-custom-property(
   (
      'focus-size': $focus-size,
      'focus-offset': css-var('focus-size'),
      'focus-outline-color': css-var('font-color'),
      'focus-inner-color': css-var('section-background-color'),
      'focus-box-shadow': 0 0 0 css-var('focus-offset')
         css-var('focus-inner-color'),
      'focus-outline': css-var('focus-size') solid
         css-var('focus-outline-color'),
   )
);

$color-primary: #3a71aa !default;
$color-primary-light: lighten($color-primary, 10%) !default;
$color-primary-dark: darken($color-primary, 10%) !default;
$color-warning: #ffcd45 !default;
$color-warning-dark: darken($color-warning, 10%) !default;
$color-danger: #c15252 !default;
$color-success: #358156 !default;
$color-info: #29818d !default;
$color-hover: #f7f7f7 !default;

$color-base: #000000 !default;
$color-darker: lighten($color-base, 5%) !default;
$color-dark: lighten($color-base, 20%) !default;
$color-normal: lighten($color-base, 40%) !default;
$color-light: lighten($color-base, 60%) !default;
$color-lighter: lighten($color-base, 80%) !default;
$color-lightest: lighten($color-lighter, 10%) !default;

// ----- COLOR COMBO BLOCKS & ELEMENT COLORS -----

$block-default-background-color: #ffffff;
$block-default-border-color: #e7e7e7;

$block-primary-background-color: #f7f7f7;
$block-primary-border-color: #ccc;

$block-secondary-background-color: #ebf2ff;
$block-secondary-border-color: #a7bed0;
$block-secondary-link-font-color: #3a71aa;

$element-default-background-color: #f0f1f2;

$element-secondary-background-color: #4f5153;
$element-secondary-font-color: #ffffff;

$element-common-background-color: darken(#ffffff, 5%); // => #f2f2f2;

@include to-css-custom-property(
   (
      'block-font-color': $font-color,
      'block-link-font-color': css-var('link-font-color'),
      'block-link-hover-font-color': css-var('link-hover-font-color'),
      'block-link-text-decoration': css-var('link-text-decoration'),
      'block-link-hover-text-decoration': css-var('link-hover-text-decoration'),
      'block-background-color': $block-default-background-color,
      'block-border-color': $block-default-border-color,
      'block-primary-font-color': $font-color,
      'block-primary-link-font-color': css-var('link-font-color'),
      'block-primary-link-hover-font-color': css-var('link-hover-font-color'),
      'block-primary-link-text-decoration': css-var('link-text-decoration'),
      'block-primary-link-hover-text-decoration':
         css-var('link-hover-text-decoration'),
      'block-primary-background-color': $block-primary-background-color,
      'block-primary-border-color': $block-primary-border-color,
      'block-secondary-font-color': $font-color,
      'block-secondary-link-font-color': css-var('link-font-color'),
      'block-secondary-link-hover-font-color': css-var('link-hover-font-color'),
      'block-secondary-link-text-decoration': css-var('link-text-decoration'),
      'block-secondary-link-hover-text-decoration':
         css-var('link-hover-text-decoration'),
      'block-secondary-background-color': $block-secondary-background-color,
      'block-secondary-border-color': $block-secondary-border-color,
   )
);

@include to-css-custom-property(
   (
      'element-font-color': $font-color,
      'element-background-color': $element-default-background-color,
      'element-background-color-dark':
         darken($element-default-background-color, 8%),
      'element-background-color-light':
         lighten($element-default-background-color, 3%),
      'element-primary-font-color': #ffffff,
      'element-primary-background-color': $color-primary,
      'element-primary-background-color-dark': darken($color-primary, 8%),
      'element-primary-background-color-light': lighten($color-primary, 3%),
      'element-secondary-font-color': $element-secondary-font-color,
      'element-secondary-background-color': $element-secondary-background-color,
      'element-secondary-background-color-dark':
         darken($element-secondary-background-color, 8%),
      'element-secondary-background-color-light':
         lighten($element-secondary-background-color, 3%),
      'element-success-font-color': #ffffff,
      'element-success-background-color': $color-success,
      'element-success-background-color-dark': darken($color-success, 8%),
      'element-success-background-color-light': lighten($color-success, 3%),
      'element-warning-font-color': $font-color,
      'element-warning-background-color': $color-warning,
      'element-warning-background-color-dark': darken($color-warning, 8%),
      'element-warning-background-color-light': lighten($color-warning, 3%),
      'element-danger-font-color': #ffffff,
      'element-danger-background-color': $color-danger,
      'element-danger-background-color-dark': darken($color-danger, 8%),
      'element-danger-background-color-light': lighten($color-danger, 3%),
      'element-info-font-color': #ffffff,
      'element-info-background-color': $color-info,
      'element-info-background-color-dark': darken($color-info, 8%),
      'element-info-background-color-light': lighten($color-info, 3%),
      'element-common-background-color': $element-common-background-color,
   )
);

// ----- SPACING -----

// Size (Margin/Padding)
$spacing-base: 1em !default;
$spacing-xxx-small: $spacing-base * 0.125 !default;
$spacing-xx-small: $spacing-base * 0.25 !default;
$spacing-x-small: $spacing-base * 0.5 !default;
$spacing-small: $spacing-base * 0.75 !default;
$spacing-medium: $spacing-base !default;
$spacing-large: $spacing-base * 1.25 !default;
$spacing-x-large: $spacing-base * 1.5 !default;
$spacing-xx-large: $spacing-base * 1.75 !default;
$spacing-xxx-large: $spacing-base * 2 !default;

@include to-css-custom-property(
   (
      'spacing-xxx-small': $spacing-xxx-small,
      'spacing-xx-small': $spacing-xx-small,
      'spacing-x-small': $spacing-x-small,
      'spacing-small': $spacing-small,
      'spacing-medium': $spacing-medium,
      'spacing-large': $spacing-large,
      'spacing-x-large': $spacing-x-large,
      'spacing-xx-large': $spacing-xx-large,
      'spacing-xxx-large': $spacing-xxx-large,
   )
);

// ----- SHADOWS -----

$box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15) !default;
$box-shadow-small: 0 0.125em 0.25em rgba(0, 0, 0, 0.075) !default;
$box-shadow-large: 0 1em 3em rgba(0, 0, 0, 0.175) !default;

@include to-css-custom-property(
   (
      'box-shadow': $box-shadow,
      'box-shadow-large': $box-shadow-large,
      'box-shadow-small': $box-shadow-small,
   )
);

// ----- BORDERS -----

// Radius
$radius-base: 0.25em !default;
$radius-small: $radius-base * 0.5 !default;
$radius-medium: $radius-base !default;
$radius-large: $radius-base * 1.5 !default;

@include to-css-custom-property(
   (
      'border-radius': $radius-base,
      'border-radius-small': calc(#{css-var('border-radius')} * 0.5),
      'border-radius-medium': #{css-var('border-radius')},
      'border-radius-large': calc(#{css-var('border-radius')} * 1.5),
   )
);

$border-width: 1px !default;
$border-style: solid !default;
$border-color: #ccc !default;
$border-color-light: lighten($border-color, 10%) !default;
$tab-bottom-width: 3px !default;

@include to-css-custom-property(
   (
      'border-color': $border-color,
      'border-color-light': $border-color-light,
      'border-success-color': $color-success,
      'border-warning-color': $color-warning-dark,
      'border-danger-color': $color-danger,
   )
);

// ==================
// COMPONENT SPECIFIC
// ==================

// ----- SPINNER -----

$spinner-color: #5cb3fd !default;

@include to-css-custom-property(
   (
      'spinner-color': $spinner-color,
   )
);

// ----- TOOLTIP -----

$tooltip-background-color: #000;
$tooltip-font-color: #eeeeee;

@include to-css-custom-property(
   (
      'tooltip-font-family': css-var('font-family'),
      'tooltip-font-size': css-var('font-size-small'),
      'tooltip-font-color': $tooltip-font-color,
      'tooltip-font-weight': $font-weight-regular,
      'tooltip-background-color': $tooltip-background-color,
      'tooltip-border-radius': css-var('border-radius'),
   )
);

// ----- POPOVER -----

// Popover
$popover-width: 360px !default;

@include to-css-custom-property(
   (
      'popover-width': $popover-width,
   )
);

// ----- MODAL DIALOG -----

$modal-small: 300px !default;
$modal-medium: 450px !default;
$modal-large: 900px !default;

@include to-css-custom-property(
   (
      'modal-small-width': $modal-small,
      'modal-medium-width': $modal-medium,
      'modal-large-width': $modal-large,
      'modal-backdrop-background-color': #000,
      'modal-backdrop-opacity': 0.5,
   )
);

// ----- BREADCRUMB -----

$breadcrumb-divider-color: $color-light !default;
$breadcrumb-divider: '/' !default;

@include to-css-custom-property(
   (
      'breadcrumb-divider-color': $breadcrumb-divider-color,
   )
);

// ----- BADGE -----

$badge-font-size: 75% !default;
$badge-font-family: $font-family !default;

@include to-css-custom-property(
   (
      'badge-font-family': css-var('font-family'),
      'badge-font-size': $badge-font-size,
      'badge-border-radius': css-var('border-radius-medium'),
   )
);

// ----- IMAGE CONTROL -----

$image-control-color: #ffffff !default;

@include to-css-custom-property(
   (
      'image-control-color': $image-control-color,
   )
);

// ----- BUTTONS -----

$button-border-radius: 0.375em !default;

@include to-css-custom-property(
   (
      'button-font-family': css-var('font-family'),
      'button-border-radius': $button-border-radius,
   )
);

// ----- FORM ELEMENTS -----

// Radio button

$native-radiobutton-size: 1.375em !default;
$native-radiobutton-checked-size: 0.75em !default;

// Legacy radio button

$radiobutton-size: 1.25em !default;
$radiobutton-checked-size: 60% !default;

// Checkbox
$checkbox-size: 1.25em !default;
$checkbox-tick-height: $checkbox-size * 0.4 !default;
$checkbox-tick-width: $checkbox-size * 0.7 !default;
$checkbox-disabled-color: $color-lighter !default;

$form-input-height: 44;
$form-input-font-size: 16;
$form-input-line-height: 1.375; // 22px @ 16px font size
$form-input-border-color: #949494 !default;
$form-padding-x: 0.75em;
$form-padding-y: 0.625em;

@include to-css-custom-property(
   (
      'form-font-family': css-var('font-family'),
      'form-label-font-family': css-var('font-family'),
      'form-label-font-weight': $font-weight-semibold,
      'form-input-border-radius': css-var('border-radius-medium'),
      'form-input-font-color': css-var('font-color'),
      'form-input-border-color': $form-input-border-color,
      'form-input-background-color': css-var('section-background-color'),
   )
);

// ----- PROGRESS BAR -----

// Progress bar
$progress-bar-height: 1.25em !default;

// Poll
$progress-bar-poll-highlight-color: #4bc5f5 !default;
@include to-css-custom-property(
   (
      'progress-bar-poll-highlight-color': $progress-bar-poll-highlight-color,
   )
);

// ----- COLLAPSE -----

// Collapse
$collapse-icon-height: 3px !default;
$collapse-icon-width: 15px !default;
$collapse-icon-top: 50% !default;
$collapse-icon-right: 15px !default;
$collapse-heading-min-height: 30px !default;
$collapse-toggle-duration: $toggle-duration !default;

// Collapse border
$collapse-border-width: $border-width !default;
$collapse-border-style: $border-style !default;

@include to-css-custom-property(
   (
      'collapse-border-style': $collapse-border-style,
      'collapse-border-width': $collapse-border-width,
      'collapse-icon-color': css-var('font-color'),
      'collapse-icon-width': $collapse-icon-width,
      'collapse-icon-height': $collapse-icon-height,
      'collapse-toggle-duration': $collapse-toggle-duration,
      'collapse-background-color': css-var('element-background-color-light'),
      'collapse-border-color': css-var('element-background-color'),
      'collapse-expanded-background-color': css-var('element-background-color'),
      'collapse-expanded-border-color': css-var('element-background-color-dark'),
   )
);

// ----- PAGINATION -----

// Pagination
$pagination-font: $font-family !default;
$pagination-border-width: $border-width !default;
$pagination-border-style: $border-style !default;

@include to-css-custom-property(
   (
      'pagination-font-family': css-var('font-family'),
      'pagination-border-width': $pagination-border-width,
      'pagination-border-style': $pagination-border-style,
   )
);

// ----- ALERT -----

// Alert
@include to-css-custom-property(
   (
      'alert-font-family': css-var('font-family'),
      'alert-border-radius': css-var('border-radius-medium'),
      'alert-background-color': css-var('section-background-color'),
      'alert-font-color': css-var('font-color'),
   )
);

// ----- PROFILE IMAGE -----

$profile-image-radius: 50% !default;

@include to-css-custom-property(
   (
      'profile-image-border-radius': $profile-image-radius,
   )
);

// ----- CARDHOLDER -----

@include to-css-custom-property(
   (
      'cardholder-column-min-width': 240px,
      'cardholder-column-max-width': 400px,
      'cardholder-column-spacing': css-var('spacing-medium'),
      'cardholder-grid-column-width': 20em,
      'cardholder-grid-gap': css-var('spacing-medium'),
   )
);

// ----- DEPRECATED -----

// All variables below this line are deprecated. To be removed later.
// ------------------------------------------------------------------

$font-color-light: lighten($font-color, 10%) !default;
$font-color-lighter: lighten($font-color, 20%) !default;
$font-color-invert: #ffffff !default;

@include to-css-custom-property(
   (
      'font-color-light': $font-color-light,
      'font-color-lighter': $font-color-lighter,
      'font-color-invert': $font-color-invert,
   )
);

$color-page-bg: #ffffff !default;
$color-section-bg: #ffffff !default;

@include to-css-custom-property(
   (
      'color-page-bg': $color-page-bg,
      'color-element-bg': $color-section-bg,
   )
);

$color-brand: $color-primary;
$color-brand-light: $color-primary-light;
$color-brand-dark: $color-primary-dark;

$color-secondary: #6c757d !default;
$color-secondary-light: lighten($color-secondary, 10%) !default;
$color-secondary-dark: darken($color-secondary, 10%) !default;

$focus-color: #5cb3fd !default;

@include to-css-custom-property(
   (
      'color-brand': css-var('element-primary-background-color'),
      'color-brand-light': css-var('element-primary-background-color-light'),
      'color-brand-dark': css-var('element-primary-background-color-dark'),
      'color-warning': css-var('element-warning-background-color'),
      'color-warning-dark': css-var('element-warning-background-color-dark'),
      'color-danger': css-var('element-danger-background-color'),
      'color-success': css-var('element-success-background-color'),
      'color-info': css-var('element-info-background-color'),
      'color-hover': $color-hover,
      'color-base': $color-base,
      'color-darker': $color-darker,
      'color-dark': $color-dark,
      'color-normal': $color-normal,
      'color-light': $color-light,
      'color-lighter': $color-lighter,
      'color-lightest': $color-lightest,
      'focus-color': $focus-color,
   )
);

$focus-background-color: rgba(0, 0, 0, 0.2) !default;

@include to-css-custom-property(
   (
      'focus-background-color': $focus-background-color,
   )
);
